USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_spRDLPOEvalutionLocal]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_spRDLPOEvalutionLocal]
@FromDate DATETIME,
@ToDate DATETIME
AS
BEGIN
	--SELECT H.CardCode,H.CardName,H.DocNum,Y.DocTotal ValidPOVal---,H.DocTotal POTotal,H.DocEntry,H.DocNum 
	--FROM OPOR H
	--INNER JOIN(
	--select DISTINCT T0.BaseEntry,SUM(T0.LineTotal)DocTotal from PDN1 T0,OPDN T1
	--WHERE ShipDate BETWEEN @FromDate AND @ToDate AND T0.DocEntry=T1.DocEntry AND T1.CANCELED='N' AND T0.BaseEntry IS NOT NULL
	--GROUP BY T0.BaseEntry)
	--Y ON Y.BaseEntry=H.DocEntry 
	--WHERE LEFT(H.CardCode,2)='LV' 
	SELECT * FROM 
	(
	SELECT H.CardCode,H.CardName,H.DocNum,Y.DocTotal-Y.TotalExpns ValidPOVal ---,H.DocTotal POTotal,H.DocEntry,H.DocNum 
	FROM OPDN H
	INNER JOIN(
		SELECT OC.BaseEntry,OP.DocTotal,OP.TotalExpns FROM OPDN OP
		INNER JOIN
		(
			SELECT DISTINCT T0.BaseEntry,T1.DocEntry from PDN1 T0,OPDN T1
			WHERE ShipDate  BETWEEN @FromDate AND @ToDate AND T0.DocEntry=T1.DocEntry AND T1.CANCELED='N' AND T0.BaseEntry IS NOT NULL
		)OC ON OC.DocEntry=OP.DocEntry
	)
	Y ON Y.BaseEntry=H.DocEntry 
	WHERE LEFT(H.CardCode,2)='LV' AND H.DocType='I' AND H.DocDate BETWEEN @FromDate AND @ToDate

	UNION ALL

	--SELECT H.CardCode,H.CardName,H.DocNum,Y.DocTotal-Y.TotalExpns ValidPOVal ---,H.DocTotal POTotal,H.DocEntry,H.DocNum 
	--FROM OPOR H
	--INNER JOIN(
	--	SELECT OC.BaseRef,OP.DocTotal,OP.TotalExpns FROM OPCH OP
	--	INNER JOIN
	--	(
	--		SELECT DISTINCT T0.BaseRef,T1.DocEntry from PCH1 T0,OPCH T1
	--		WHERE ShipDate  BETWEEN @FromDate AND @ToDate AND T0.DocEntry=T1.DocEntry AND T1.CANCELED='N' AND T0.BaseRef IS NOT NULL
	--	)OC ON OC.DocEntry=OP.DocEntry
	--)
	--Y ON Y.BaseRef=H.DocNum 
	--WHERE LEFT(H.CardCode,2)='LV' AND H.DocType='S'


	SELECT H.CardCode,H.CardName,H.DocNum,Y.DocTotal-Y.TotalExpns ValidPOVal
	FROM OPOR H
	INNER JOIN(
		SELECT OC.BaseRef,OP.DocTotal,OP.TotalExpns FROM OPCH OP
		INNER JOIN
		(
			SELECT DISTINCT T0.BaseRef,T1.DocEntry from PCH1 T0,OPCH T1
			WHERE T1.DocDate  BETWEEN @FromDate AND @ToDate AND T0.DocEntry=T1.DocEntry AND T1.CANCELED='N' AND T0.BaseRef IS NOT NULL
		)OC ON OC.DocEntry=OP.DocEntry
	)
	Y ON Y.BaseRef=H.DocNum 
	WHERE LEFT(H.CardCode,2)='LV' AND H.DocType='S' AND H.DocDate BETWEEN @FromDate AND @ToDate

	)T0
	ORDER BY T0.CardCode,T0.DocNum
END
GO
