USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_DelCustomer1_SQL]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<15 SEP 2010>

-- =============================================
---  [dbo].[@BGWL_DelCustomer1_SQL] '20180601','20180630','500ml Round Amber Glass Bottles'

CREATE PROCEDURE [dbo].[@BGWL_DelCustomer1_SQL]
	(@FROMDATE DATETIME,@TODATE DATETIME,@Itemname varchar(50))
	with RECOMPILE
AS
BEGIN
--DECLARE @Cardcode varchar(12)
--DECLARE @Cardname	varchar(50)
--DECLARE @CardFName	varchar(100)
--DECLARE @Itemcode	Varchar (8)
--DECLARE @Dscription	varchar(100)
--DECLARE @Quantity	FLOAT

SELECT ROW_NUMBER()OVER (ORDER BY T0.ItemCode ASC,T0.UpdateDate)SI,
T0.ItemCode,T1.ItemName,T0.Price,T0.UpdateDate,T0.LogInstanc,
ROW_NUMBER()OVER (PARTITION BY T0.ItemCode ORDER BY T0.ItemCode ASC,T0.UpdateDate)LogInstance_2,
CASE WHEN T0.LogInstanc=0 THEN 'Current Price' ELSE 'Old Price' END PriceStatus INTO #temPriceHist FROM
(
SELECT T0.ItemCode,T1.PriceList,T1.Currency,T1.Price,T0.UpdateDate,T1.LogInstanc FROM AITM T0, AIT1 T1
WHERE T0.ItemCode=T1.ItemCode AND T0.LogInstanc=T1.LogInstanc AND T1.Price<>0
AND T0.ItemCode LIKE '16%' AND PriceList=1

UNION ALL

select t0.itemcode, t0.pricelist,T0.Currency, T0.Price,
CASE WHEN T2.UpdateDate IS NULL THEN T2.CreateDate ELSE T2.UpdateDate END UpdateDate, T0.LogInstanc
from
OITM T2
Inner Join ITM1 T0 on T0.Itemcode = T2.itemcode
LEFT join OPLN T7 on T0.PriceList = T7.ListNum
Where
T0.PriceList=1 AND
T0.ItemCode LIKE '16%'
AND Price>0
)T0
INNER JOIN OITM T1 ON T0.ItemCode=T1.ItemCode
ORDER BY T0.ItemCode

----==================================



	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_DelCustomer1')
	BEGIN
		Drop table Temp_DelCustomer1
	END
	
CREATE TABLE Temp_DelCustomer1 (DOCDATE DATETIME,Itemcode varchar(10),Itemname varchar(50),carcode Varchar (10),Cardname varchar(100),
Address varchar(250),RegNo varchar(20),DocNum int, Del_QTY Float, Del_Val DECIMAL(18,5),VAT Float,
DTime varchar(5), Price DECIMAL(18,5) )

INSERT INTO Temp_DelCustomer1 
 
select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,N3.Taxid2,N1.Docnum,Sum(N2.Quantity) as QTY ,
/*sum(N2.linetotal)as*/
---- Total value was changed 20230304
sum(N2.Quantity)*(SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N4.Itemcode AND UpdateDate<=N1.DocDate 
AND LogInstance_2=(SELECT MAX(LogInstance_2) FROM #temPriceHist WHERE ItemCode=N4.Itemcode AND UpdateDate<=N1.DocDate)) TotalVal, sum(N2.VatSum) as VAT, 
N1.U_rmvTime,---N2.price
(SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N4.Itemcode AND UpdateDate<=N1.DocDate 
AND LogInstance_2=(SELECT MAX(LogInstance_2) FROM #temPriceHist WHERE ItemCode=N4.Itemcode AND UpdateDate<=N1.DocDate))Price
from ODLN N1,DLN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@FROMDATE
and  N1.docdate<=@TODATE and N2.Itemcode=N4.Itemcode
and N4.ItemName=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N1.Docnum,N2.price

union all
-- add 30-10-2011----- Delivery Return data ------------

select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,
N3.Taxid2,N2.Baseref,-Sum(N2.Quantity) as QTY ,-sum(N2.linetotal) 
as TotalVal, -sum(N2.VatSum) as VAT, 
N1.U_rmvTime,N2.price
from ORDN N1,RDN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@FROMDATE
and  N1.docdate<=@TODATE and N2.Itemcode=N4.Itemcode
and N4.ItemName=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N2.baseref,N2.price

-- add 30-10-2011----- A/P Credit Memo data ------------
union all

select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,
N3.Taxid2,N2.Baseref,-Sum(N2.Quantity) as QTY ,-sum(N2.linetotal) 
as TotalVal, -sum(N2.VatSum) as VAT, 
N1.U_rmvTime,N2.price
from ORIN N1,RIN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@FROMDATE
and  N1.docdate<=@TODATE and N2.Itemcode=N4.Itemcode
and N4.ItemName=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N2.baseref,N2.price


--SELECT  DOCDATE ,Itemcode,Itemname,carcode ,Cardname ,
--Address ,RegNo ,Docnum, Del_QTY , Del_Val ,VAT ,DTime, Price
--  SELECT *  FROM Temp_DelCustomer1 order by Docnum


END

GO
