USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Today_del]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<01 Feb 2015>
-- =============================================

CREATE PROCEDURE [dbo].[@BGWL_Today_del]
	(@From DATETIME)

AS
BEGIN

SET NOCOUNT ON;
	
IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Todays_Delivery')
BEGIN
 Drop table Temp_Todays_Delivery
END
 	
CREATE TABLE Temp_Todays_Delivery ([Customer Code] varchar(25),[Customer Name] varchar(250),Document int, [Posting Date] DATETIME,
DocStatus varchar(50),[Item No.] varchar(100),[Item Description] varchar(100),ItmsGrpNam varchar(50),Quantity numeric(12,0), Total numeric(12,2))

INSERT INTO Temp_Todays_Delivery 

SELECT T1.[CardCode] AS 'Customer Code', T1.[CardName] AS 'Customer Name', T1.[DocNum] 
AS 'Document', T1.[DocDate] AS 'Posting Date',  T1.[DocStatus] AS 'Status', 
T0.[ItemCode] AS 'Item No.', T0.[Dscription] AS 'Item Description',T2.ItmsGrpNam  , sum(T0.[Quantity]) AS 'Quantity', 
 Sum(T0.[Quantity] * T0.[Price]) AS 'Total' FROM  [DLN1] T0 ,[ODLN] T1 ,OITB T2,OITM T3
 where T1.[DocEntry] = T0.[DocEntry]   and   T2.Itmsgrpcod=T3.Itmsgrpcod and T0.ItemCode=T3.ItemCode and
 T0.[TargetType] <> (16 )  and T1.[DocDate] = @From
group by T1.[CardCode],T1.[CardName],T1.[DocNum] ,T1.[DocDate],T1.[DocStatus],T0.[ItemCode],T0.[Dscription], T2.ItmsGrpNam

union all

SELECT T1.[CardCode] AS 'Customer Code', T1.[CardName] AS 'Customer Name', T1.[DocNum] 
AS 'Document', T1.[DocDate] AS 'Posting Date',  T1.[DocStatus] AS 'Status', T0.[ItemCode] 
AS 'Item No.', T0.[Dscription] AS 'Item Description', T2.ItmsGrpNam,Sum(-T0.[Quantity]) AS 'Quantity',  
Sum(-T0.[Quantity] * T0.[Price]) AS 'Total' FROM  [RIN1] T0 , [dbo].[ORIN] T1 , OITB T2,OITM T3
 where T1.[DocEntry] = T0.[DocEntry]   and   T2.Itmsgrpcod=T3.Itmsgrpcod and T0.ItemCode=T3.ItemCode and
 T0.[TargetType] <> (16 )  and T1.[DocDate] = @From
group by T1.[CardCode],T1.[CardName],T1.[DocNum] ,T1.[DocDate],T1.[DocStatus],T0.[ItemCode],T0.[Dscription], T2.ItmsGrpNam

select [Customer Code],CASE WHEN ISNULL(T1.U_SubUnit,'')='' THEN [Customer Name]
ELSE [Customer Name]+'('+T1.U_SubUnit+')' END  [Customer Name]
,Document,[Posting Date],DocStatus,[Item No.],[Item Description],ItmsGrpNam,Quantity,Total from Temp_Todays_Delivery T0,OCRD T1
WHERE T0.[Customer Code]=T1.CardCode

end
GO
