USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Purchase_Ranking_Details_Local]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Purchase_Ranking_Details_Local] 
(@FromDate DATETIME,@ToDate DATETIME,@DocumentType INT)
AS
BEGIN
IF @DocumentType=1
	BEGIN
		SELECT COUNT(DocNum) [Doc. Local],T0.CardCode,T0.CardName,DocType,T3.ItmsGrpNam,T1.ItemCode,dbo.fn_BGWL_GetFirstValidWord(T2.ItemName)[Sub_Group],
		T2.ItemName,T1.unitMsr,1 TotalCount,
		SUM(T1.Quantity) Quantity,SUM(ISNULL(LineTotal,0))DocTotal
		FROM OPOR T0 
		JOIN POR1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%LV%' AND DocType='I'
		GROUP BY T0.CardCode,T0.CardName,DocType,T3.ItmsGrpNam,T1.ItemCode,dbo.fn_BGWL_GetFirstValidWord(T2.ItemName),
		T2.ItemName,T1.unitMsr

	END
	ELSE IF @DocumentType=2
	BEGIN
		SELECT COUNT(DocNum) [Doc. Local],T0.CardCode,T0.CardName,DocType,T3.ItmsGrpNam,T1.ItemCode,dbo.fn_BGWL_GetFirstValidWord(T2.ItemName)[Sub_Group],
		T2.ItemName,T1.unitMsr,1 TotalCount,
		SUM(T1.Quantity) Quantity,SUM(ISNULL(LineTotal,0))DocTotal
		FROM OPDN T0 
		JOIN PDN1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%LV%' AND DocType='I'
		GROUP BY T0.CardCode,T0.CardName,DocType,T3.ItmsGrpNam,T1.ItemCode,dbo.fn_BGWL_GetFirstValidWord(T2.ItemName),
		T2.ItemName,T1.unitMsr

	END
	ELSE IF @DocumentType=3
	BEGIN
		SELECT COUNT(DocNum) [Doc. Local],T0.CardCode,T0.CardName,DocType,T3.ItmsGrpNam,T1.ItemCode,dbo.fn_BGWL_GetFirstValidWord(T2.ItemName)[Sub_Group],
		T2.ItemName,T1.unitMsr,1 TotalCount,
		SUM(T1.Quantity) Quantity,SUM(ISNULL(LineTotal,0))DocTotal
		FROM OPCH T0 
		JOIN PCH1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%LV%' AND DocType='I'
		GROUP BY T0.CardCode,T0.CardName,DocType,T3.ItmsGrpNam,T1.ItemCode,dbo.fn_BGWL_GetFirstValidWord(T2.ItemName),
		T2.ItemName,T1.unitMsr

	END

END
GO
