USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_FA_Schedule]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[@BGW_FA_Schedule] 
	(@FY Varchar(8))
	with RECOMPILE--- encryption --
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_FA_Schedule')
	BEGIN
		Drop table Temp_FA_Schedule 
	END
CREATE TABLE Temp_FA_Schedule (FY varchar (8),Itemcode Varchar (8),Dscription varchar(100),DocDate DATETIME,
LOpQty numeric(20,6), LOpValue  numeric(20,6),LAdditionPeriod numeric(20,6),LSale_Adjustment numeric(20,6), LTotal numeric(20,6), 
DepRate float, OpValue  numeric(20,6),AdditionPeriod numeric(20,6),Sale_Adjustment numeric(20,6), Total numeric(20,6),
Closing numeric(20,6),ItemGroup varchar(30))

---==========================================================
DECLARE @FromDate DATETIME,@ToDate DATETIME
SELECT @FromDate=F_RefDate,@ToDate=T_RefDate FROM OACP WHERE PeriodName=@FY

DECLARE @temAsset TABLE
(
	ItemCode VARCHAR(8),
	Dscription VARCHAR(100),
	ItemType VARCHAR(1),
	RetDate DATETIME
)
INSERT INTO @temAsset
SELECT ItemCode,ItemName,ItemType,RetDate FROM OITM WHERE ItemType='F' AND (RetDate>=@FromDate OR RetDate IS NULL)


----=================================================================
INSERT INTO Temp_FA_Schedule
	 
--============Main Query=====================

Select  @fy as FY, a.Itemcode,
 --max(a.Dscription) as [Itemname],
 max(a.ItemName) as [Dscription],
 max(a.CapDate) as [DocDate],
 sum(a.LOpQty) as [LOpQty],
 sum(a.LOpValue) as [LOpValue],
  sum(a.[LAdditionPeriod]) as [LAdditionPeriod],
  sum(a.LSale_Adjustment) as [LSale_Adjustment],
((sum(a.LOpValue) + sum(a.[LAdditionPeriod]))) - (Sum(a.[LSale_Adjustment])) as [LTotal],
   max(a.deprate)  as [deprate],
   sum(a.OpValue) as [OpValue],
   sum(a.[AdditionPeriod]) as [AdditionPeriod],
   sum(a.Sale_Adjustment) as [Sale_Adjustment],
 ((sum(a.OpValue) + sum(a.[AdditionPeriod]))) - (Sum(a.[Sale_Adjustment])) as [Total],
 0 as Closing,
 
max(a.ItemGroup) as [ItemGroup] 
from dbo.OITM I1 

JOIN (

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,sum(T2.Quantity) [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate] ,
 0 [OpValue],
 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, ACQ1 T2, ITM7 T3,DTP1 T4,OACQ T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode 
  and T5.PostDate< T6.F_RefDate and T5.DocEntry =T2.DocEntry 
   and T6.Name =@fy and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code 
   and T3.PeriodCat =t5.PIndicator 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity ,T7.Name 
  
  
  union all

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,Sum(T2.LineTotal) [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate] ,
 0 [OpValue],
 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, ACQ1 T2, ITM7 T3,DTP1 T4,OACQ T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode 
  and T5.PostDate< T6.F_RefDate and T5.DocEntry =T2.DocEntry 
   and T6.Name =@fy and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code 
   and T3.PeriodCat =t5.PIndicator 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity ,T7.Name 
  
  
  union all

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],T4.Percentage [deprate],
 0 [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],T7.Name  [ItemGroup]

  from OITM T1,  ITM7 T3,DTP1 T4,OFPR T6, OACS T7
  where T1.ItemCode =T3.ItemCode   and  T3.DprType =T4.code   and T3.ItemCode =T1.ItemCode    and T1.AssetClass =T7.Code
        and T6.Name =@fy and T3.PeriodCat =T6.Indicator  
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T4.Percentage  ,T7.Name
  
  union all

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity [LopQty] ,-Sum(T2.LineTotal) [LOpValue],
  0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
  0 [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, ACQ1 T2, ITM7 T3,DTP1 T4,OACQ T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and  T1.retDate < T6.F_RefDate and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy  and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PIndicator 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity ,T7.Name 
  
   union all
  
  --=============== add last year opp 26112015
    select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,sum(T2.APC) [LOpValue],
  0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
  0 [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, Fix1 T2, ITM7 T3,DTP1 T4,OFIX T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T2.retirDate < T6.F_RefDate  and T5.AbsEntry  =T2.AbsEntry  and T2.TransType =230 
  and  T6.Name =@fy  and T1.AssetClass =T7.Code   and T3.PeriodCat =t2.PeriodCat  

  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.QTY ,T7.Name 



  --========= End
  union all

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity [LopQty] ,0 [LOpValue],
  Sum(T2.LineTotal)  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
  0 [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, ACQ1 T2, ITM7 T3,DTP1 T4,OACQ T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T5.PostDate between T6.F_RefDate and T6.T_RefDate and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy  and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PIndicator 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity  ,T7.Name 

  union all

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
  0 [LAdditionPeriod], Sum(T2.LineTotal) as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
  0 [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, ACQ1 T2, ITM7 T3,DTP1 T4,OACQ T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T1.retDate between T6.F_RefDate and T6.T_RefDate and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy  and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PIndicator 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity ,T7.Name 

  -- For last year adjustment
  union all

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
  0 [LAdditionPeriod], -sum(T2.APC) as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
  0 [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, Fix1 T2, ITM7 T3,DTP1 T4,OFIX T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T2.retirDate between T6.F_RefDate and T6.T_RefDate and T5.AbsEntry  =T2.AbsEntry  and T2.TransType =230 
  and  T6.Name =@fy  and T1.AssetClass =T7.Code   and T3.PeriodCat =t2.PeriodCat 

  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.QTY ,T7.Name 
 
  --=========== End========
  union all
  
  --================For Dep
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 Sum(T2.LineTotal) [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name 
  
  union all
  
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,isnull(T2.Quantity,0) [LopQty] ,0[LOpValue],
 0  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
-Sum(T2.LineTotal)  [OpValue],0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
  T1.retDate < T6.F_RefDate  and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PIndicator 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity ,T7.Name 
    
  


    union all
 --============== Additional Depreciation 261120015
   select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
Sum(T2.OrdDprAmt )  [OpValue],0[AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, DRN2 T2, ITM7 T3,DTP1 T4,ODRN T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T5.RefDate  < T6.F_RefDate and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy and t5.Status not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PeriodCat 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T7.Name 
 
 --================== Hard Code for half portion sale of goods on 22112016
 union all
 select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
-Sum(T2.OrdDprAmt )/2  [OpValue],0[AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, DRN2 T2, ITM7 T3,DTP1 T4,ODRN T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T5.RefDate  < T6.F_RefDate and T5.DocEntry =T2.DocEntry  and T1.ItemCode ='200148'
  and  T6.Name =@fy and t5.Status not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PeriodCat 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T7.Name 


 --===================== End
 ----===================end
 union all
 --=========== for sales adusment 24112015
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 -Sum(T2.OrdDprAmt ) [OpValue],0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, DRN2 T2, ITM7 T3,DTP1 T4,ODRN T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   --update on 10012016
   --T5.RefDate  < T6.F_RefDate 
   T1.RetDate  < T6.F_RefDate 
   ---end
   and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy and t5.Status not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PeriodCat and T1.AsstStatus='I'
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T7.Name 

  
  ---- end 
  union all
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
  0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
  sum(T2.SpDpr1) [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, Fix1 T2, ITM7 T3,DTP1 T4,OFIX T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T2.retirDate <T6.F_RefDate  and T5.AbsEntry  =T2.AbsEntry  and T2.TransType =230 
  and  T6.Name =@fy and T1.AssetClass =T7.Code   and T3.PeriodCat =t2.PeriodCat 

  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.QTY ,T7.Name 

  -- For Current year adjustment
  union all
 

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,isnull(T2.Quantity,0) [LopQty] ,0 [LOpValue],
 0  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 0 [OpValue],Sum(T2.LineTotal) [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T5.PostDate between T6.F_RefDate and T6.T_RefDate and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PIndicator 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity ,T7.Name 

  union all
 --============== Additional Depreciation 241120015
   select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 0 [OpValue],Sum(T2.OrdDprAmt ) [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, DRN2 T2, ITM7 T3,DTP1 T4,ODRN T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T5.RefDate  between T6.F_RefDate and T6.T_RefDate and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy and t5.Status not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PeriodCat 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T7.Name 
 
 ----===================end


 
  union all

   select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,isnull(T2.Quantity,0) [LopQty] ,0 [LOpValue],
 0  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 0 [OpValue],0 [AdditionPeriod], Sum(T2.LineTotal) as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
  T1.retDate between T6.F_RefDate and T6.T_RefDate and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PIndicator 
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity ,T7.Name 
  
  Union all
  --=========== for sales adusment 24112015
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0  [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 0 [OpValue],0 [AdditionPeriod], Sum(T2.OrdDprAmt ) as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, DRN2 T2, ITM7 T3,DTP1 T4,ODRN T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
      --update on 10012016
   --T5.RefDate  between T6.F_RefDate    and T6.T_RefDate
   T1.RetDate  between T6.F_RefDate    and T6.T_RefDate
   ---end
   

    and T5.DocEntry =T2.DocEntry 
  and  T6.Name =@fy and t5.Status not in ('C') and T1.AssetClass =T7.Code   and T3.PeriodCat =t5.PeriodCat and T1.AsstStatus='I'
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T7.Name 



  
  ---- end 

  -- For Current year adjustment
  union all

  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
  0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
  0 [OpValue], 0 [AdditionPeriod], -sum(T2.SpDpr1) as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, Fix1 T2, ITM7 T3,DTP1 T4,OFIX T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T2.retirDate between T6.F_RefDate and T6.T_RefDate and T5.AbsEntry  =T2.AbsEntry  and T2.TransType =230 
  and  T6.Name =@fy  and T1.AssetClass =T7.Code   and T3.PeriodCat =t2.PeriodCat 

  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.QTY ,T7.Name 

  union all
  --- update on 05122015
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
  0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
  0 [OpValue], 0 [AdditionPeriod], -sum(T2.OrdDpr ) as [Sale_Adjustment], 0 [total], 0 [Closing], T7.Name [ItemGroup]

  from OITM T1, Fix1 T2, ITM7 T3,DTP1 T4,OFIX T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode and 
   T2.retirDate between T6.F_RefDate and T6.T_RefDate and T5.AbsEntry  =T2.AbsEntry  and T2.TransType =230 
  and  T6.Name =@fy  and T1.AssetClass =T7.Code   and T3.PeriodCat =t2.PeriodCat 

  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.QTY ,T7.Name 

  ----end 05122015
  UNION ALL
  ---Updated in 29 Sept 2018(Arup)-----
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 CASE WHEN RIGHT(T6.Name,2)>=RIGHT('2017-18',2) AND t5.DocStatus not in ('C')  THEN  82739.29 ELSE 0 END [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy AND T1.ItemCode=200148
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name,t5.DocStatus,T6.Name 



  UNION ALL
  ---Updated in 13 Oct 2019(Arup)-----
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 CASE WHEN RIGHT(T6.Name,2)>=RIGHT('2018-19',2) AND t5.DocStatus not in ('C')  THEN  66191.25 ELSE 0 END [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy AND T1.ItemCode=200148
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name,t5.DocStatus,T6.Name 

   UNION ALL
  ---Updated in 01 Oct 2020(Arup)-----
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 CASE WHEN RIGHT(T6.Name,2)>=RIGHT('2019-20',2) AND t5.DocStatus not in ('C')  THEN  52953 ELSE 0 END [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy AND T1.ItemCode=200148
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name,t5.DocStatus,T6.Name 


    UNION ALL
  ---Updated in 13 Oct 2021(Arup)-----
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 CASE WHEN RIGHT(T6.Name,2)>=RIGHT('2020-21',2) AND t5.DocStatus not in ('C')  THEN  42362.5 ELSE 0 END [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy AND T1.ItemCode=200148
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name,t5.DocStatus,T6.Name 

  --================ End


     UNION ALL
  ---Updated in 24 Sep 2022(Arup)-----
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 CASE WHEN RIGHT(T6.Name,2)>=RIGHT('2021-22',2) AND t5.DocStatus not in ('C')  THEN  33890 ELSE 0 END [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy AND T1.ItemCode=200148
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name,t5.DocStatus,T6.Name 

  --================ End

       UNION ALL
  ---Updated in 22 Oct 2023(Arup)-----
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 CASE WHEN RIGHT(T6.Name,2)>=RIGHT('2022-23',2) AND t5.DocStatus not in ('C')  THEN  27112 ELSE 0 END [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy AND T1.ItemCode=200148
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name,t5.DocStatus,T6.Name 


         UNION ALL
  ---Updated in 05 Nov 2024(Arup)-----
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 CASE WHEN RIGHT(T6.Name,2)>=RIGHT('2023-24',2) AND t5.DocStatus not in ('C')  THEN  21689.5 ELSE 0 END [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy AND T1.ItemCode=200148
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name,t5.DocStatus,T6.Name 
  --================ End

    UNION ALL
  ---Updated in 30 Sept. 2025(Arup)-----
  select t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,0 [LopQty] ,0 [LOpValue],
 0 [LAdditionPeriod], 0 as [LSale_Adjustment], 0 [Ltotal],0 [deprate],
 CASE WHEN RIGHT(T6.Name,2)>=RIGHT('2024-25',2) AND t5.DocStatus not in ('C')  THEN  17351.50 ELSE 0 END [OpValue], 0 [AdditionPeriod], 0 as [Sale_Adjustment], 0 [total], 0 [Closing],  T7.Name [ItemGroup]

  from OITM T1, MDP1 T2, ITM7 T3,DTP1 T4,OMDP T5,OFPR T6, OACS T7
  where T1.ItemCode =T2.ItemCode  and  T3.DprType =T4.code and T3.ItemCode =T1.ItemCode   and T5.PostDate< T6.F_RefDate 
     and t5.DocStatus not in ('C') and T1.AssetClass =T7.Code    and T3.PeriodCat =t5.PIndicator   and T5.DocEntry =T2.DocEntry 
     and T6.Name =@fy AND T1.ItemCode=200148
  group by t1.ItemCode ,t1.ItemClass ,t1.ItemName,t1.ItemType ,t1.CapDate,T2.Quantity , T7.Name,t5.DocStatus,T6.Name 
  --================ End


)

a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode
--Order By a.Itemcode
--delete from Temp_FA_Schedule where 

SELECT  FY,T0.Itemcode,T0.Dscription,DocDate,LOpQty, LOpValue,[LAdditionPeriod],LSale_Adjustment,
(LOpValue+[LAdditionPeriod]-LSale_Adjustment) LTotal, DepRate ,
 OpValue,[AdditionPeriod],Sale_Adjustment,(OpValue+[AdditionPeriod]-Sale_Adjustment)Total,
 ((LOpValue+[LAdditionPeriod]-LSale_Adjustment)- (OpValue+[AdditionPeriod]-Sale_Adjustment))
 Closing,ItemGroup FROM Temp_FA_Schedule T0,@temAsset T1 
 WHERE T0.Itemcode=T1.ItemCode
 group by FY,T0.Itemcode,T0.Dscription,DocDate,LOpQty, LOpValue,[LAdditionPeriod],LSale_Adjustment, LTotal, DepRate ,
 OpValue,[AdditionPeriod],Sale_Adjustment,Total,Closing,ItemGroup
 order by Itemcode ,ItemGroup
 SET NOCOUNT off

END



--SELECT frozenFrom,ItemType,frozenFor,RetDate,* FROM OITM WHERE ItemType='F'---ItemCode='450027'



--SELECT frozenFrom,ItemType,frozenFor,RetDate,* FROM OITM WHERE ItemType='F' AND ((RetDate BETWEEN '20190701' AND '20200630') OR(RetDate>='20190701' OR RetDate IS NULL))
---SELECT frozenFrom,ItemType,frozenFor,RetDate,* FROM OITM WHERE ItemType='F' AND (RetDate>='20190701' OR RetDate IS NULL)

GO
