USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@Net_Dues]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE PROCEDURE [dbo].[@Net_Dues]
 as set nocount on begin DECLARE @Day_no varchar(2) 
DECLARE @Month_no varchar(2) DECLARE @Year_no varchar(4)
 DECLARE @Start_Date Datetime SET @Day_no = DAY(GetDate()) 
SET @Month_no = MONTH(GetDate()) SET @Year_no = YEAR(GetDate())
 SET @Start_Date = @Year_No + '/' + @Month_no + '/' + @Day_no 
-- + '/' + @Year_No IF OBJECT_ID(N'tempdb..#CRDAGEING', N'U') 
--drop table #CRDAGEING
 SELECT T0.[CardCode] AS [CardCode],
 T0.[CardName] AS [CardName], -T0.[Balance] AS [Balance], 
CAST(0 AS MONEY) AS [Current], CAST(0 AS MONEY) AS [1Week], 
CAST(0 AS MONEY) AS [2Weeks], CAST(0 AS MONEY) AS [3Weeks], 
CAST(0 AS MONEY) AS [4Weeks], CAST(0 AS MONEY) AS [5Weeks], 
CAST(0 AS MONEY) AS [6Weeks], CAST(0 AS MONEY) AS [Over6Weeks],
 CAST(0 AS MONEY) AS [Avg3Months], CAST (0 AS MONEY) AS [Onhand] INTO #CRDAGEING 
FROM OCRD T0 WHERE T0.[CardType] = 'S' -- and T0.[CardCode] ''
 --and T0.[DocDate] >= @FromDate AND T0.[DocDate] <= @ToDate INSERT dbo.#CRDAGEING
 SELECT T1.[ShortName], NULL, 0, -SUM(T1.[BalDueDeb] 
- T1.[BalDueCred]), 0, 0, 0, 0, 0, 0, 0, 0, 0 FROM JDT1 T1, OCRD T2 
WHERE T2.[CardType] = 'S' and T2.[CardCode] = T1.[ShortName] and 
T1.[DueDate] <= @Start_Date GROUP BY T1.[ShortName] 
INSERT dbo.#CRDAGEING 
SELECT T1.[ShortName], NULL, 0, 0, -SUM(T1.[BalDueDeb] - 
T1.[BalDueCred]), 0, 0, 0, 0, 0, 0, 0, 0 FROM JDT1 T1, OCRD T2 WHERE 
T2.[CardType] = 'S' and T2.[CardCode] = T1.[ShortName] and T1.[DueDate] 
>= DATEADD(DAY,1,@Start_Date) and T1.[DueDate] <= DATEADD(DAY,8,@Start_Date) 
GROUP BY T1.[ShortName] 
INSERT dbo.#CRDAGEING 
SELECT T1.[ShortName], 
NULL, 0, 0, 0, -SUM(T1.[BalDueDeb] - T1.[BalDueCred]), 0, 0, 0, 0, 0, 0, 0 
FROM JDT1 T1, OCRD T2 WHERE T2.[CardType] = 'S' and T2.[CardCode] = T1.[ShortName] 
and T1.[DueDate] > DATEADD(DAY,8,@Start_Date) and T1.[DueDate] 
<= DATEADD(DAY,15,@Start_Date) GROUP BY T1.[ShortName] 
INSERT dbo.#CRDAGEING 
SELECT T1.[ShortName], NULL, 0, 0, 0, 0, -SUM(T1.[BalDueDeb] - 
T1.[BalDueCred]), 0, 0, 0, 0, 0, 0 FROM JDT1 T1, OCRD T2 WHERE T2.[CardType] = 'S' and 
T2.[CardCode] = T1.[ShortName] and T1.[DueDate] > DATEADD(DAY,15,@Start_Date) and 
T1.[DueDate] <= DATEADD(DAY,22,@Start_Date) GROUP BY T1.[ShortName] 
INSERT dbo.#CRDAGEING 
SELECT T1.[ShortName], NULL, 0, 0, 0, 0, 0, -SUM(T1.[BalDueDeb] - 
T1.[BalDueCred]), 0, 0, 0, 0, 0 FROM JDT1 T1, OCRD T2 WHERE T2.[CardType] = 'S' and 
T2.[CardCode] = T1.[ShortName] and T1.[DueDate] > DATEADD(DAY,22,@Start_Date) and 
T1.[DueDate] <= DATEADD(DAY,29,@Start_Date) GROUP BY T1.[ShortName] INSERT 
dbo.#CRDAGEING SELECT T1.[ShortName], NULL, 0, 0, 0, 0, 0, 0, -SUM(T1.[BalDueDeb] - 
T1.[BalDueCred]), 0, 0, 0, 0 FROM JDT1 T1, OCRD T2 WHERE T2.[CardType] = 'S' and 
T2.[CardCode] = T1.[ShortName] and T1.[DueDate] > DATEADD(DAY,29,@Start_Date) and 
T1.[DueDate] <= DATEADD(DAY,36,@Start_Date) GROUP BY T1.[ShortName] 
INSERT 
dbo.#CRDAGEING SELECT T1.[ShortName], NULL, 0, 0, 0, 0, 0, 0, 0, -SUM(T1.[BalDueDeb] - 
T1.[BalDueCred]), 0, 0, 0 FROM JDT1 T1, OCRD T2 WHERE T2.[CardType] = 'S' and 
T2.[CardCode] = T1.[ShortName] and T1.[DueDate] > DATEADD(DAY,36,@Start_Date) and 
T1.[DueDate] <= DATEADD(DAY,43,@Start_Date) GROUP BY T1.[ShortName] 
INSERT dbo.#CRDAGEING 
SELECT T1.[ShortName], NULL, 0, 0, 0, 0, 0, 0, 0, 0, 
-SUM(T1.[BalDueDeb] - T1.[BalDueCred]), 0, 0 FROM JDT1 T1, OCRD T2 WHERE 
T2.[CardType] = 'S' and T2.[CardCode] = T1.[ShortName] and T1.[DueDate] > 
DATEADD(DAY,43,@Start_Date) GROUP BY T1.[ShortName] 
SELECT SR.[CardCode], 
MAX(SR.[CardName]), SUM(SR.[Balance]) AS [BalanceOwing], SUM(SR.[Current]) 
AS [Current], SUM(SR.[1Week]) AS [1Week], SUM(SR.[2Weeks]) AS [2Weeks], 
SUM(SR.[3Weeks]) AS [3Weeks], SUM(SR.[4Weeks]) AS [4Weeks], SUM(SR.[5Weeks])
 AS [5Weeks], SUM(SR.[6Weeks]) AS [6Weeks], SUM(SR.[Over6Weeks]) AS [Over6Weeks]
 FROM dbo.#CRDAGEING SR GROUP BY SR.[CardCode] ORDER BY SR.[CardCode] END


GO
