USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Monthly_Customerwise]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Mizan>

-- Create date: 	<05 Oct 2010>



-- =============================================

CREATE PROCEDURE [dbo].[@BGW_Monthly_Customerwise]

	(@Fromdate DATETIME, @todate datetime,@customername varchar(50))

AS

BEGIN



	SET NOCOUNT ON;

	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Monthly_Customerwise')
	BEGIN
	 Drop table Temp_Monthly_Customerwise
	END



	

--CREATE TABLE Temp_Monthly_Customerwise (Itemcode Varchar (8),Dscription varchar(100),

--Sep Float,Oct Float,Nov Float,Dec Float,Jan Float,

--Feb Float,Mar Float,Apr Float,May Float,Jun Float,

--Jul Float,Aug Float)



DECLARE @Temp_Monthly_Customerwise TABLE  (Itemcode Varchar (8),Dscription varchar(100),

Sep Float,Oct Float,Nov Float,Dec Float,Jan Float,

Feb Float,Mar Float,Apr Float,May Float,Jun Float,

Jul Float,Aug Float)



INSERT INTO @Temp_Monthly_Customerwise

	 

--============Main Query=====================

Select a.Itemcode, max(a.Dscription) as [Itemname],

max(a.[Sep]) as [Sep],

max(a.[Oct]) as [Oct],

max(a.[Nov]) as [Nov],

Max(a.[Dec]) as [Dec],

Max(a.[Jan]) as [Jan],

Max(a.[Feb]) as [Feb],

Max(a.[Mar]) as [Mar],

Max(a.[Apr]) as [Apr],

Max(a.[May]) as [May],

Max(a.[Jun]) as [Jun],

Max(a.[Jul]) as [Jul],

Max(a.[Aug]) as [Aug]



from dbo.DLN1 I1

Join( 

--1

select N1.Itemcode,N1.Dscription,





sum(Case DATENAME(month,N1.Docdate) when 'September' then (N1.outqty-N1.inqty) else 0 end) as Sep,0 as Oct,

0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam

union all



--2

select N1.Itemcode,N1.Dscription,





0 as Sep,sum(Case DATENAME(month,N1.Docdate) when 'October' then (N1.outqty-N1.inqty) else 0 end) Oct,

0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--3

select N1.Itemcode,N1.Dscription,





0 as Sep,

0 as Oct,

sum(Case DATENAME(month,N1.Docdate) when 'November' then (N1.outqty-N1.inqty) else 0 end) as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--4

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,sum(Case DATENAME(month,N1.Docdate) when 'December' then (N1.outqty-N1.inqty) else 0 end) as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--5

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,0 as Dec,sum(Case DATENAME(month,N1.Docdate) when 'January' then (N1.outqty-N1.inqty) else 0 end) as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--6

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,0 as Dec,0 as Jan,sum(Case DATENAME(month,N1.Docdate) when 'February' then (N1.outqty-N1.inqty) else 0 end) as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--7

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,0 as Dec,0 as Jan,0 as Feb,sum(Case DATENAME(month,N1.Docdate) when 'March' then (N1.outqty-N1.inqty) else 0 end) as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--8

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,sum(Case DATENAME(month,N1.Docdate) when 'April' then (N1.outqty-N1.inqty) else 0 end) as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--9

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,sum(Case DATENAME(month,N1.Docdate) when 'May' then (N1.outqty-N1.inqty) else 0 end) as May,0 as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--10

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,sum(Case DATENAME(month,N1.Docdate) when 'June' then (N1.outqty-N1.inqty) else 0 end) as Jun,0 as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--11

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,sum(Case DATENAME(month,N1.Docdate) when 'July' then (N1.outqty-N1.inqty) else 0 end) as Jul,0 as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



union all



--12

select N1.Itemcode,N1.Dscription,





0 as Sep,0 as Oct,

0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,sum(Case DATENAME(month,N1.Docdate) when 'August' then (N1.outqty-N1.inqty) else 0 end) as Aug  

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod

and N1.DocDate between @Fromdate and @Todate

and  n1.cardname=@CustomerName and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 

group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,n3.Itmsgrpnam



)





a 

ON a.ItemCode=I1.ItemCode 



Group By a.Itemcode ,I1.ItemCode

Order By a.Itemcode





delete from @Temp_Monthly_Customerwise where [Sep] =0 and [Oct]=0 and [Nov]=0 and [Dec] =0 and 

[Jan] =0 and [Feb] =0 and [Mar] =0 and [Apr] =0 and [May] =0 and [Jun] =0 and [Jul] =0 and [Aug] =0 





SELECT   [ItemCode],[Dscription],

[Sep], [Oct], [Nov], [Dec],[Jan] , [Feb] , 

[Mar], [Apr], [May] ,[Jun] , [Jul] , [Aug],

([Sep]+ [Oct]+ [Nov]+[Dec]+[Jan] + [Feb]+ 

[Mar]+ [Apr]+ [May] +[Jun] + [Jul]+ [Aug]) [Total]



FROM @Temp_Monthly_Customerwise 



Group by [ItemCode],[Dscription],

[Sep] , [Oct], [Nov], [Dec],[Jan] , [Feb] , 

[Mar], [Apr], [May] ,[Jun] , [Jul] , [Aug]



order by [Itemcode]asc



END
GO
