USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Monthly_itemwise_forSQL]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- =============================================  
-- Author:  <Mizan>  
-- Create date:  <30 Oct 2010>  
  
-- =============================================  
  
CREATE PROCEDURE [dbo].[@BGW_Monthly_itemwise_forSQL]  
 (@Fromdate DATETIME, @todate datetime)  
AS  
BEGIN  
  
 SET NOCOUNT ON;  
 IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Monthly_itemwise_forSQL')  
 Drop table Temp_Monthly_itemwise_forSQL  
  
update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)  
  
   
CREATE TABLE Temp_Monthly_itemwise_forSQL (Itemcode Varchar (8),Dscription varchar(100),ItmsGrpNam varchar(30),  
Sep Float,Oct Float,Nov Float,Dec Float,Jan Float,  
Feb Float,Mar Float,Apr Float,May Float,Jun Float,  
Jul Float,Aug Float)  
  
INSERT INTO Temp_Monthly_itemwise_forSQL  
    
--============Main Query=====================  
--Select a.Itemcode, max(a.Dscription) as [Itemname], a.itmsGrpNam,  
--max(a.[Sep]) as [Sep],  
--max(a.[Oct]) as [Oct],  
--max(a.[Nov]) as [Nov],  
--Max(a.[Dec]) as [Dec],  
--Max(a.[Jan]) as [Jan],  
--Max(a.[Feb]) as [Feb],  
--Max(a.[Mar]) as [Mar],  
--Max(a.[Apr]) as [Apr],  
--Max(a.[May]) as [May],  
--Max(a.[Jun]) as [Jun],  
--Max(a.[Jul]) as [Jul],  
--Max(a.[Aug]) as [Aug]  
  
--from dbo.DLN1 I1  
--Join(   
--1  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
sum(Case DATENAME(month,N1.Docdate) when 'September' then (N1.outqty-N1.InQty) else 0 end) as Sep,0 as Oct,  
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
union all  
  
--2  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,sum(Case DATENAME(month,N1.Docdate) when 'October' then (N1.outqty-N1.InQty) else 0 end) Oct,  
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--3  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,  
0 as Oct,  
sum(Case DATENAME(month,N1.Docdate) when 'November' then (N1.outqty-N1.InQty) else 0 end) as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--4  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,sum(Case DATENAME(month,N1.Docdate) when 'December' then (N1.outqty-N1.InQty) else 0 end) as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--5  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,0 as Dec,sum(Case DATENAME(month,N1.Docdate) when 'January' then (N1.outqty-N1.InQty) else 0 end) as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--6  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,0 as Dec,0 as Jan,sum(Case DATENAME(month,N1.Docdate) when 'February' then (N1.outqty-N1.InQty) else 0 end) as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--7  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,0 as Dec,0 as Jan,0 as Feb,sum(Case DATENAME(month,N1.Docdate) when 'March' then (N1.outqty-N1.InQty) else 0 end) as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--8  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,sum(Case DATENAME(month,N1.Docdate) when 'April' then (N1.outqty-N1.InQty) else 0 end) as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--9  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,sum(Case DATENAME(month,N1.Docdate) when 'May' then (N1.outqty-N1.InQty) else 0 end) as May,0 as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--10  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,sum(Case DATENAME(month,N1.Docdate) when 'June' then (N1.outqty-N1.InQty) else 0 end) as Jun,0 as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--11  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,sum(Case DATENAME(month,N1.Docdate) when 'July' then (N1.outqty-N1.InQty) else 0 end) as Jul,0 as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
union all  
  
--12  
select N1.Itemcode,N1.Dscription,n3.Itmsgrpnam,  
  
  
0 as Sep,0 as Oct,  
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,sum(Case DATENAME(month,N1.Docdate) when 'August' then (N1.outqty-N1.InQty) else 0 end) as Aug    
From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod  
and N1.DocDate between @Fromdate and @Todate and N1.TransType in (15,14)  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode   
group by N1.ItemCode,N1.Dscription,n3.Itmsgrpnam  
  
--)  
  
--a   
--ON a.ItemCode=I1.ItemCode   
  
--Group By a.Itemcode ,I1.ItemCode,a.Dscription  
--Order By a.Itemcode  
  
delete from Temp_Monthly_itemwise_forSQL where [Sep] =0 and [Oct]=0 and [Nov]=0 and [Dec] =0 and   
[Jan] =0 and [Feb] =0 and [Mar] =0 and [Apr] =0 and [May] =0 and [Jun] =0 and [Jul] =0 and [Aug] =0   
  
SELECT   T0.[ItemCode],/*[Dscription]*/T1.ItemName [Itemname],[ItmsGrpNam],  
Sum([Sep]) [Sep], sum([Oct])[OCT], Sum([Nov]) [Nov], sum([Dec]) [Dec],Sum([Jan]) [Jan] , sum([Feb]) [Feb] ,   
Sum([Mar]) [Mar], Sum([Apr]) [Apr], Sum([May]) [May] ,Sum([Jun]) [Jun] , Sum([Jul]) [Jul] , Sum([Aug]) [Aug],   
--convert(numeric,dbo.udf_GetNumeric([Dscription]))
convert(numeric,dbo.udf_GetNumeric(
---CASE WHEN Dscription='Alanya Glass Tumbler' THEN 'Alanya 01 Glass Tumbler' ELSE [Dscription] END
CASE WHEN T1.ItemName='Alanya Glass Tumbler' THEN 'Alanya 01 Glass Tumbler' 
WHEN T1.ItemName='Alanya Glass Tumbler(Corp.)' THEN 'Alanya 05 Glass Tumbler (Corp.)' 
WHEN T1.ItemName='Long Cool Glass Tumbler' THEN 'Long Cool 06 Glass Tumbler'
WHEN T1.ItemName='Topaz Glass Tumbler' THEN 'Topaz 07 Glass Tumbler'
WHEN T1.ItemName='Alanya Glass Tumbler (Single Pack)' THEN 'Alanya 08 Glass Tumbler (Single Pack)'
WHEN T1.ItemName='Long Cool Glass Tumbler (Corp.)' THEN 'Long Cool 09 Glass Tumbler (Corp.)'
END
))[abc] FROM Temp_Monthly_itemwise_forSQL T0,OITM T1
WHERE T0.Itemcode=T1.ItemCode
  
--SELECT   [ItemCode],[Dscription][Itemname],  
--[Sep], [Oct], [Nov], [Dec],[Jan] , [Feb] ,   
--[Mar], [Apr], [May] ,[Jun] , [Jul] , [Aug]   
--FROM Temp_Monthly_itemwise_forSQL   
  
Group by T0.[ItemCode],/*[Dscription]*/T1.ItemName,[ItmsGrpNam]   
 order by [ItmsGrpNam]asc ,[abc]ASc 
--order by [abc]asc  
  
END 
GO
