USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Purchase_Ranking_Item]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Purchase_Ranking_Item] 
(@FromDate DATETIME,@ToDate DATETIME,@DocumentType INT)
AS
BEGIN
IF @DocumentType=1
	BEGIN
	SELECT T0.DocType,T0.ItmsGrpNam,T0.ItemCode,T0.Dscription,T0.unitMsr,COUNT(DISTINCT T0.[Doc. Local])[Doc. Local],COUNT(DISTINCT T0.[Doc. Imp.])[Doc. Imp.],SUM(T0.TotalCount)TotalCount,SUM(T0.TotalCount_IMP)TotalCount_IMP,
	SUM(T0.Quantity)Quantity,SUM(T0.Quantity_IMP)Quantity_IMP,SUM(DocTotal)DocTotal,SUM(T0.DocTotal_IMP)DocTotal_IMP,SUM(T0.Quantity+T0.Quantity_IMP)[Total Quantity],SUM(T0.DocTotal+T0.DocTotal_IMP)[Total Amount] FROM
	(
		SELECT DocNum [Doc. Local],NULL [Doc. Imp.],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,1 TotalCount,0 TotalCount_IMP,
		T1.Quantity Quantity,ISNULL(LineTotal,0)/*+ISNULL(LineVat,0)*/ DocTotal,0 Quantity_IMP,0 DocTotal_IMP 
		FROM OPOR T0 
		JOIN POR1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%LV%'
		
		UNION ALL

		SELECT NULL [Doc. Local],DocNum [Doc. Imp.],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,0 TotalCount,1 TotalCount_IMP,
		0 Quantity,0 DocTotal,T1.Quantity Quantity_IMP,ISNULL(LineTotal,0)/*+ISNULL(LineVat,0)*/ DocTotal_IMP 
		FROM OPOR T0 
		JOIN POR1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%IMP%'
	)T0
	GROUP BY T0.DocType,T0.ItmsGrpNam,T0.ItemCode,T0.Dscription,T0.unitMsr
	END
	ELSE IF @DocumentType=2
	BEGIN
	SELECT T0.DocType,T0.ItmsGrpNam,T0.ItemCode,T0.Dscription,T0.unitMsr,COUNT(DISTINCT T0.[Doc. Local])[Doc. Local],COUNT(DISTINCT T0.[Doc. Imp.])[Doc. Imp.],SUM(T0.TotalCount)TotalCount,SUM(T0.TotalCount_IMP)TotalCount_IMP,
	SUM(T0.Quantity)Quantity,SUM(T0.Quantity_IMP)Quantity_IMP,SUM(DocTotal)DocTotal,SUM(T0.DocTotal_IMP)DocTotal_IMP,SUM(T0.Quantity+T0.Quantity_IMP)[Total Quantity],SUM(T0.DocTotal+T0.DocTotal_IMP)[Total Amount] FROM
	(
		SELECT DocNum [Doc. Local],NULL [Doc. Imp.],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,1 TotalCount,0 TotalCount_IMP,
		T1.Quantity Quantity,ISNULL(LineTotal,0)/*+ISNULL(LineVat,0)*/ DocTotal,0 [TotalCount IMP],0 Quantity_IMP,0 DocTotal_IMP 
		FROM OPDN T0 
		JOIN PDN1 T1 ON T1.DocEntry=T0.DocEntry 
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode 
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%LV%'
		
		UNION ALL

		SELECT NULL [Doc. Local],DocNum [Doc. Imp.],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,T1.unitMsr,0 TotalCount,1 TotalCount_IMP,
		0 Quantity,0 DocTotal,T1.Quantity Quantity_IMP,ISNULL(LineTotal,0)/*+ISNULL(LineVat,0)*/ DocTotal_IMP 
		FROM OPDN T0 
		JOIN PDN1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%IMP%'
	)T0
		GROUP BY T0.DocType,T0.ItmsGrpNam,T0.ItemCode,T0.Dscription,T0.unitMsr
	END
	ELSE IF @DocumentType=3
	BEGIN
	SELECT T0.DocType,T0.ItmsGrpNam,T0.ItemCode,T0.Dscription,T0.unitMsr,COUNT(DISTINCT T0.[Doc. Local])[Doc. Local],COUNT(DISTINCT T0.[Doc. Imp.])[Doc. Imp.],SUM(T0.TotalCount)TotalCount,SUM(T0.TotalCount_IMP)TotalCount_IMP,
	SUM(T0.Quantity)Quantity,SUM(T0.Quantity_IMP)Quantity_IMP,SUM(DocTotal)DocTotal,SUM(T0.DocTotal_IMP)DocTotal_IMP,SUM(T0.Quantity+T0.Quantity_IMP)[Total Quantity],SUM(T0.DocTotal+T0.DocTotal_IMP)[Total Amount] FROM
	(
		SELECT DocNum [Doc. Local],NULL [Doc. Imp.],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,1 TotalCount,0 TotalCount_IMP,
		T1.Quantity Quantity,ISNULL(LineTotal,0)/*+ISNULL(LineVat,0)*/ DocTotal,0 Quantity_IMP,0 DocTotal_IMP 
		FROM OPCH T0 
		JOIN PCH1 T1 ON T1.DocEntry=T0.DocEntry 
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode 
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%LV%'
		
		UNION ALL

		SELECT NULL [Doc. Local],DocNum [Doc. Imp.],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,0 TotalCount,1 TotalCount_IMP,
		0 Quantity,0 DocTotal,T1.Quantity Quantity_IMP,ISNULL(LineTotal,0)/*+ISNULL(LineVat,0)*/ DocTotal_IMP 
		FROM OPCH T0 
		JOIN PCH1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%IMP%'
	)T0
	GROUP BY T0.DocType,T0.ItmsGrpNam,T0.ItemCode,T0.Dscription,T0.unitMsr
	END

END



--BEGIN
--		SELECT DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,COUNT(CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T1.ItemCode END)[TotalCount LV],
--		SUM(T1.Quantity)Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0))DocTotal,0 [TotalCount IMP],0 Quantity_IMP,0 DocTotal_IMP 
--		FROM OPOR T0 
--		JOIN POR1 T1 ON T1.DocEntry=T0.DocEntry
--		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
--		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
--		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
--		AND T0.CANCELED NOT IN ('Y') AND T0.CardCode LIKE '%LV%'		
--		GROUP BY DocType,T1.ItemCode,T2.ItemName,T1.unitMsr,T3.ItmsGrpNam,LEFT(T0.CardCode,2),T1.Dscription
--	END
--	ELSE IF @DocumentType=2
--	BEGIN
--		SELECT DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,COUNT(CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T1.ItemCode END)TotalCount,
--		SUM(T1.Quantity)Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0))DocTotal 
--		FROM OPDN T0 
--		JOIN PDN1 T1 ON T1.DocEntry=T0.DocEntry 
--		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode 
--		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
--		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
--		AND T0.CANCELED NOT IN ('Y')		
--		GROUP BY DocType,T1.ItemCode,T2.ItemName,T1.unitMsr,T3.ItmsGrpNam,LEFT(T0.CardCode,2),T1.Dscription
--	END
--	ELSE IF @DocumentType=3
--	BEGIN
--		SELECT DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T1.unitMsr,COUNT(CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T1.ItemCode END)TotalCount,
--		SUM(T1.Quantity)Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0))DocTotal 
--		FROM OPCH T0 
--		JOIN PCH1 T1 ON T1.DocEntry=T0.DocEntry
--		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
--		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod 
--		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
--		AND T0.CANCELED NOT IN ('Y')		
--		GROUP BY DocType,T1.ItemCode,T2.ItemName,T1.unitMsr,T3.ItmsGrpNam,LEFT(T0.CardCode,2),T1.Dscription
--	END
GO
