USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_StockSalesDComparison]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_StockSalesDComparison]
(@fy VARCHAR(20),@Group VARCHAR(30),@ItemCode VARCHAR(30))
AS
BEGIN
DECLARE @id INT,@ItemGroup VARCHAR(30)
SELECT @id=AbsEntry FROM OFPR WHERE Code=@fy

DECLARE @FromDate DATETIME,@ToDate DATETIME
DECLARE @Fy1 VARCHAR(10),@Fy2 VARCHAR(10)

SELECT @ItemGroup=ItmsGrpCod FROM OITB WHERE ItmsGrpNam=@Group

SELECT @FromDate=F_RefDate,@ToDate=T_RefDate,@Fy1=Name FROM OFPR WHERE AbsEntry=@id


IF EXISTS(SELECT name FROM sys.tables WHERE name='@FG_Inventory')
BEGIN
	DROP TABLE [@FG_Inventory]
END

CREATE TABLE [@FG_Inventory]
(
	SI INT,
	ItemCode VARCHAR(20),
	ItemName VARCHAR(100),
	ItmsGrpCod VARCHAR(10),
	ItmsGrpNam VARCHAR(50),
	FY VARCHAR(10),
	[Year] INT,
	MonthNo INT,
	[MonthName] VARCHAR(50),
	OB DECIMAL(18,0),
	StockQty DECIMAL(18,0),
	DelQty DECIMAL(18,0),
	TotalStock DECIMAL(18,0),
	CB DECIMAL(18,0)
)

;WITH CTE_ITEM AS
(
SELECT T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,@Fy1 [FY],T0.[Year],CAST(T0.[Month]AS INT)[Month],T0.[Month Name],SUM(T0.Opening)[Opening Qty.],SUM(T0.[Receipt Qty.])[Receipt Qty.],SUM(T0.[Issued Qty.])[Issued Qty.],0 Total,0 CB FROM
(
	SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,YEAR(@FromDate)[Year],MONTH(@FromDate)[Month],DATENAME(MM,@FromDate)[Month Name],SUM(T0.InQty-T0.OutQty) Opening,0 [Receipt Qty.],0 [Issued Qty.],
	0 Closing 

	FROM OINM T0,OITM T1, OITB T2 WHERE T0.ItemCode=T1.ItemCode AND T1.ItmsGrpCod=T2.ItmsGrpCod AND T0.DocDate<@FromDate AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL)
	GROUP BY T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam
	UNION ALL
	SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,YEAR(T0.DocDate)[Year],MONTH(T0.DocDate)[Month],DATENAME(MM,T0.DocDate)[Month Name],0 Opening,SUM(T0.InQty-T0.OutQty)[Receipt Qty.],0 [Issued Qty.],
	0 Closing 
	FROM OINM T0,OITM T1, OITB T2 WHERE T0.ItemCode=T1.ItemCode AND T1.ItmsGrpCod=T2.ItmsGrpCod AND T0.DocDate BETWEEN @FromDate AND @ToDate AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL)
	AND TransType NOT IN (15)
	GROUP BY T0.ItemCode,T1.ItemName,DATENAME(M,T0.DocDate),CAST(YEAR(T0.DocDate)AS VARCHAR(4)), T1.ItmsGrpCod,T2.ItmsGrpNam,YEAR(T0.DocDate),MONTH(T0.DocDate)
	UNION ALL
	SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,YEAR(T0.DocDate)[Year],MONTH(T0.DocDate)[Month],DATENAME(MM,T0.DocDate)[Month Name],0 Opening,0 [Receipt Qty.],SUM(T0.OutQty) [Issued Qty.],
	0 Closing 
	FROM OINM T0,OITM T1, OITB T2 WHERE T0.ItemCode=T1.ItemCode AND T1.ItmsGrpCod=T2.ItmsGrpCod AND T0.DocDate BETWEEN @FromDate AND @ToDate AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL)
	AND TransType IN (15)
	GROUP BY T0.ItemCode,T1.ItemName,DATENAME(M,T0.DocDate),CAST(YEAR(T0.DocDate)AS VARCHAR(4)), T1.ItmsGrpCod,T2.ItmsGrpNam,YEAR(T0.DocDate),MONTH(T0.DocDate)
)T0
GROUP BY T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.[Year],T0.[Month],T0.[Month Name]
----ORDER BY T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.[Year],T0.[Month]
)

INSERT INTO  [@FG_Inventory]
SELECT ROW_NUMBER()OVER(ORDER BY [Year],[Month])SI, * FROM CTE_ITEM T0 ORDER BY T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.[Year],T0.[Month]

DECLARE
	@SI INT,
	@ItemCode1 VARCHAR(20),
	@ItemName VARCHAR(100),
	@ItmsGrpCod VARCHAR(10),
	@ItmsGrpNam VARCHAR(50),
	@FY11 VARCHAR(10),
	@Year INT,
	@MonthNo1 INT,
	@MonthName VARCHAR(50),
	@OBQ DECIMAL(18,0),
	@StockQty DECIMAL(18,0),
	@DelQty DECIMAL(18,0),
	@TotalStock DECIMAL(18,0),
	@CB DECIMAL(18,0)

DECLARE Stock_Cur CURSOR
FOR SELECT SI,ItemCode,ItemName,ItmsGrpCod,ItmsGrpNam,FY,[Year],MonthNo,[MonthName],OB,StockQty,DelQty,TotalStock,CB FROM [@FG_Inventory] T0
OPEN Stock_Cur
FETCH NEXT FROM Stock_Cur INTO @SI,@ItemCode1,@ItemName,@ItmsGrpCod,@ItmsGrpNam,@FY11,@Year,@MonthNo1,@MonthName,@OBQ,@StockQty,@DelQty,@TotalStock,@CB
WHILE @@FETCH_STATUS=0
BEGIN
	
	UPDATE [@FG_Inventory]
	SET CB=@OBQ+@StockQty-@DelQty,TotalStock=@OBQ+@StockQty
	WHERE SI=@SI

	UPDATE [@FG_Inventory]
	SET OB=@OBQ+@StockQty-@DelQty
	WHERE SI=@SI+1

	FETCH NEXT FROM Stock_Cur INTO @SI,@ItemCode1,@ItemName,@ItmsGrpCod,@ItmsGrpNam,@FY11,@Year,@MonthNo1,@MonthName,@OBQ,@StockQty,@DelQty,@TotalStock,@CB
END
CLOSE Stock_Cur
DEALLOCATE Stock_Cur


SELECT * FROM [@FG_Inventory]

END

GO
