USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_FG_Statement]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<08 Mar 2011>

-- =============================================

CREATE PROCEDURE [dbo].[@BGW_FG_Statement]
	(@Fromdate DATETIME,@Todate DATETIME,@WareHs varchar(15))
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_FG_Statement')
 Drop table Temp_FG_Statement 

update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)
	
CREATE TABLE Temp_FG_Statement (Itemcode Varchar (8),Dscription varchar(100),Rate Float,
Opening Float,OpVal Float, Production Float,ProVal Float,
Delivery_Others Float,DelVal Float, VatSum Float, Closing Float,ClosVal Float)

INSERT INTO Temp_FG_Statement
	 
--============Main Query=====================

Select a.Itemcode,
 max(a.Dscription) as [Itemname],
 a.Rate,  
sum(a.[Opening]) as [Opening],
sum(a.[OpVal]) as [OpVal],
 sum(a.[Production]) as [Production],
sum(a.[ProVal]) as [ProVal],
  sum(a.[Delivery_Others]) as [Delivery_Others],
sum(a.[DelVal]) as [DelVal],
sum(a.[VatSum]) as [VatSum],
((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a.[Delivery_Others])) as Closing,
((sum(a.[OpVal]) + sum(a.[ProVal]))) - (Sum(a.[DelVal])) as ClosVal  
from dbo.OITM I1 
JOIN (Select  N1.Itemcode, N1.Dscription,(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,0 as transvalue,

(sum(N1.inqty-n1.outqty)) as [Opening],
(sum(N1.inqty- n1.outqty)*
(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode )) as [OPVal],
 0 as [Production],0 as [Proval],

0 as [Delivery_Others] , 0 As [DelVal], 0 As [VatSum]
From dbo.OINM N1 , dbo.OITM N2
Where N1.DocDate < @fromdate
  and N2.itemcode like '16%'  and N1.Itemcode=N2.Itemcode and N1.Warehouse=@warehs
 
Group By N1.ItemCode,N1.Dscription,N1.Price,n1.transvalue,N2.itemcode

Union All

select    N1.Itemcode, N1.Dscription,(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,0 as transvalue,
0 as [Opening],0 as [OpVal],
sum(N1.inqty) as [Production],
((sum(N1.inqty))* (select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode )) as [Proval],
0 as [Delivery_Others], 0 As [DelVal], 0 As [VatSum]
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @Fromdate  and N1.DocDate <= @Todate
and  N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=@warehs

Group By N1.ItemCode,N1.Dscription,N1.price ,n1.transvalue,N2.itemcode
union all

select    N1.Itemcode, N1.Dscription,(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,0 as transvalue,
0 as [Opening],0 as [OpVal],
 -sum(N1.outqty)   as [Production],
((-sum(N1.outqty))* (select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode )) as [Proval],
0 as [Delivery_Others], 0 As [DelVal], 0 As [VatSum]
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @Fromdate  and N1.DocDate <= @Todate
and  N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=@warehs

Group By N1.ItemCode,N1.Dscription,N1.price ,n1.transvalue,N2.itemcode

Union All

select    N1.Itemcode, N1.Dscription,(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
sum(N1.outqty) as [Delivery_Others],
 (sum(N1.outqty)*(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode )) As [Delval], 0 As [VatSum]
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @Fromdate  and 
N1.DocDate <=@ToDate  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10) and N1.Warehouse=@warehs
 and N1.transtype=15
Group By N1.ItemCode,N1.Dscription,N1.price, n1.transvalue,N2.itemcode

--(select Max(price) from OINM where OINM.itemcode=N2.itemcode and transtype=15)
--======================

Union All

select    N1.Itemcode, N1.Dscription,(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
-sum(N1.inqty) as [Delivery_Others],
 -(sum(N1.Inqty)*(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode )) As [Delval], 0 As [VatSum]
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @Fromdate  and 
N1.DocDate <=@ToDate  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10) and N1.Warehouse=@warehs
 and N1.transtype=16
Group By N1.ItemCode,N1.Dscription,N1.price, n1.transvalue,N2.itemcode

Union All

select    N1.Itemcode, N1.Dscription,(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
-sum(N1.inqty) as [Delivery_Others],
 -(sum(N1.Inqty)*(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode )) As [Delval], 0 As [VatSum]
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @Fromdate  and 
N1.DocDate <=@ToDate  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10) and N1.Warehouse=@warehs
 and N1.transtype=14
Group By N1.ItemCode,N1.Dscription,N1.price, n1.transvalue,N2.itemcode

--================
Union All

select    N1.Itemcode, N1.Dscription,
(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
0 as [Delivery_Others],
0 As [Delval], Sum(N1.VatSum) As [VatSum]
From dbo.DLN1 N1, dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and 
N1.DocDate <=CONVERT(VARCHAR(10), @Todate, 101)
and N1.Itemcode=N2.Itemcode  and N1.Whscode=@warehs and N1.Whscode=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
Group By N1.ItemCode,N1.Dscription,N1.price, N2.itemcode,N1.whscode,n4.Itmsgrpnam

--=============
)

a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode, a.rate
Order By a.Itemcode

--==========End Main====================

--delete from Temp_FG_Statement where [Opening] =0 and [Production]=0 and
 --[Delivery_Others]=0 
--select * from ODLN where docdate='20120201'where groupcode=108

SELECT  [ItemCode],[Dscription],max([Rate]) as RATE,sum([Opening]) [Opening],
(max([Rate]) * sum([Opening]))[OpVal],Sum([Production]) [Production],
(max([Rate]) * sum([Production]))[ProVal],
Sum([Delivery_Others]) [Delivery],(max([Rate]) * sum([Delivery_Others]))[DelVal],Sum([VatSum])[VAT],
Sum([Closing]) [Closing],(max([Rate]) * sum([Closing]))[ClosVal] FROM Temp_FG_Statement 
group by [ItemCode],[Dscription]
order by [Rate] Asc

END














GO
