USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Recocilation_New]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--  This is Old reconcilation report for the year 2010-11 only

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<18 Apr 2011>
-- this is very hard query for making the report.
-- =============================================


CREATE PROCEDURE [dbo].[@BGW_Recocilation_New]
	(@Fromdate DATETIME, @todate datetime, @ITEMGROUP varchar(20))
AS
BEGIN
SET NOCOUNT ON;

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Recon')
 Drop table Temp_Recon 
	
CREATE TABLE Temp_Recon (Itemcode Varchar (8),Dscription varchar(100),UoM Char(6), 
Opening Numeric(18,6),OpVal Numeric(18,6), Purchase Numeric(18,6),PurVal Numeric(18,6), 
Furnace1QTY Numeric(18,6),Furnace1Val Numeric(18,6),Furnace2QTY Numeric(18,6),Furnace2Val Numeric(18,6), Furnace3QTY Numeric(18,6),
Furnace3Val Numeric(18,6),Furnace4QTY Numeric(18,6),Furnace4Val Numeric(18,6),
  Closing Numeric(18,6),ClosVal Numeric(18,6))


INSERT INTO Temp_Recon



Select
T2.ITEMCODE [Itemcode],T2.Itemname [Item Name], T2.InvntryUom [UoM],
(select isnull(sum(inqty),0)-isnull(sum(outqty),0) from OINM where 
Docdate <  @FromDate and Itemcode=T2.ITEMCODE )[OB Qty] 
,(select isnull(SUm(Transvalue),0) from OINM where Docdate <  @FromDate and 
Itemcode=T2.ITEMCODE ) [OB Value] 
/*,(select isnull(SUm(CalcPrice),0) from OINM where Docdate <  @FromDate and Itemcode=T2.ITEMCODE) [OB Value] */
,(select isnull(sum(inqty),0)  from OINM where Docdate >=  @FromDate AND 
DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=20  )
-((select isnull(sum(Outqty),0)  from OINM where Docdate >=  @FromDate AND 
DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=19 )
+(select isnull(sum(OUTqty),0)  from OINM where Docdate >=  @FromDate AND 
DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=21 )
)
 [Purchase Qty]
,(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=20 ),0)
)
+(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=19 ),0)
)
-- + (
-- new landed cost will be added in here
+(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=69 ),0)
)
-- )
-- Good Receipt
+(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=59 ),0)
)


 [Purchase Value]

,(Select isnull(SUM(QUANTITY),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F1' and docdate between @fromdate and @Todate )
[Furnace-1 Qty]
,(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F1' and docdate between @fromdate and @Todate )
[Furnace-1 Value]
,(Select isnull(SUM(QUANTITY),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F2' and docdate between @fromdate and @Todate )
[Furnace-2 Qty]
,(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F2'  and docdate between @fromdate and @Todate)
[Furnace-2 Value]
,(Select isnull(SUM(QUANTITY),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F3' and docdate between @fromdate and @Todate )
[Furnace-3 Qty]
,

(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F3' and docdate between @fromdate and @Todate)
[Furnace-3 Value]
,
(Select isnull(SUM(QUANTITY),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F4' and docdate between @fromdate and @Todate)
[Furnace-4 Qty]
,

(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F4' and docdate between @fromdate and @Todate)
[Furnace-4 Value],


(
(select isnull(sum(inqty),0)-isnull(sum(outqty),0) from OINM where 
Docdate <  @FromDate and Itemcode=T2.ITEMCODE )
+
(select isnull(sum(inqty),0)  from OINM where Docdate >=  @FromDate AND 
DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=20  )
)
-
(select isnull(sum(Outqty),0)  from OINM where Docdate >=  @FromDate AND 
DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=19 )
-
(select isnull(sum(OUTqty),0)  from OINM where Docdate >=  @FromDate AND 
DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=21 )
-
(
(Select isnull(SUM(QUANTITY),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F1' and docdate between @fromdate and @Todate )
+
(Select isnull(SUM(QUANTITY),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F2' and docdate between @fromdate and @Todate )
+
(Select isnull(SUM(QUANTITY),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F3' and docdate between @fromdate and @Todate)
+
(Select isnull(SUM(QUANTITY),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F4' and docdate between @fromdate and @Todate )
)

[Closing Qty],
(
(select isnull(SUm(Transvalue),0) from OINM where Docdate <  @FromDate and 
Itemcode=T2.ITEMCODE )
+
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=20 ),0)
)
+
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=19 ),0)
)
+
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=69 ),0)
)
-
--(Select isnull(Sum(Linetotal),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F1' and docdate between @fromdate and @Todate)
-- -
--(Select isnull(Sum(Linetotal),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F2' and docdate between @fromdate and @Todate )
--  -
--(Select isnull(Sum(Linetotal),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F3' and docdate between @fromdate and @Todate )
--  -
--(Select isnull(Sum(Linetotal),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F4' and docdate between @fromdate and @Todate)
--)
--(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F1'  and docdate between @fromdate and @Todate)
-- -(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F2'  and docdate between @fromdate and @Todate)
-- -(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F3'  and docdate between @fromdate and @Todate)
-- -(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F4'  and docdate between @fromdate and @Todate)





(IsnULL((select sum(isnull(- transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=60 ),0)
)
+
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and Itemcode=T2.ITEMCODE AND TRANSTYPE=21 ),0)
)


-- - (
-- new landed cost will be added in here

-- )


)

[Closing Value]


FROM 
OITM T2,OITB T3,OINM T4 where  T2.ITEMCODE=T2.ITEMCODE
and T3.ITMSGRPCOD=T2.ITMSGRPCOD

and T4.DOCDATE >= @FromDate AND T4.DOCDATE <= @ToDate 
AND T3.ITMSGRPNAM=@ITEMGROUP
GROUP BY
T2.ITEMCODE,T2.Itemname,T2.InvntryUom
ORDER BY T2.ITEMCODE

delete from Temp_Recon where Opening=0 and purchase=0
select * from Temp_Recon

end










GO
