USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Purchase_Analysis_Customer_Details]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Purchase_Analysis_Customer_Details] 
(@FromDate DATETIME,@ToDate DATETIME,@DocumentType INT,@VendorCode VARCHAR(30),@DocType VARCHAR(1))
AS
BEGIN
	--DECLARE @VendorList TABLE
	--(
	--	CardCode VARCHAR(20),
	--	CardName VARCHAR(100)
	--)
	--IF @VendorCode IS NOT NULL
	--BEGIN
	--	INSERT INTO @VendorList
	--	SELECT CardCode,CardName FROM OCRD WHERE CardCode =@VendorCode
	--END
	--ELSE IF @VendorType='LV' AND @VendorCode IS NULL
	--BEGIN
	--	INSERT INTO @VendorList
	--	SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'LV%'
	--END
	--ELSE IF @VendorType='IMP' AND @VendorCode IS NULL
	--BEGIN
	--	INSERT INTO @VendorList
	--	SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'IMP%'
	--END
	--ELSE
	--BEGIN
	--	INSERT INTO @VendorList
	--	SELECT CardCode,CardName FROM OCRD WHERE CardCode NOT LIKE 'CT%'
	--END

	IF @DocumentType=1
	BEGIN
		SELECT DocNum,DocEntry,DocDate,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,ISNULL(DocTotal,0)DocTotal FROM OPOR WHERE DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode =@VendorCode AND (DocType=@DocType OR @DocType IS NULL) AND CANCELED NOT IN ('Y')		
	END
	ELSE IF @DocumentType=2
	BEGIN
		SELECT DocNum,DocEntry,DocDate,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,ISNULL(DocTotal,0)DocTotal FROM OPDN WHERE DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode =@VendorCode AND CANCELED NOT IN ('Y')		
	END
	ELSE IF @DocumentType=3
	BEGIN
		SELECT DocNum,DocEntry,DocDate,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,ISNULL(DocTotal,0)DocTotal FROM OPCH WHERE DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode =@VendorCode AND (DocType=@DocType OR @DocType IS NULL) AND CANCELED NOT IN ('Y')		
	END
END
GO
