USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Purchas_Analysis_Item_Details]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[@BGWL_Purchas_Analysis_Item_Details]  
(@FromDate DATETIME,@ToDate DATETIME,@DocumentType INT,@ItemCode VARCHAR(30)=NULL,@VendorType VARCHAR(10)=NULL,@VendorCode VARCHAR(30)=NULL)

AS
BEGIN
DECLARE @VendorList TABLE
	(
		CardCode VARCHAR(20),
		CardName VARCHAR(100)
	)

	IF @VendorCode='0'
	BEGIN
		SET @VendorCode=NULL
	END

	IF @VendorCode IS NOT NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode =@VendorCode
	END
	ELSE IF @VendorType='LV' AND @VendorCode IS NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'LV%'
	END
	ELSE IF @VendorType='IMP' AND @VendorCode IS NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'IMP%'
	END
	ELSE
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode NOT LIKE 'CT%'
	END
	


IF @DocumentType=1
	BEGIN
		SELECT T2.ItmsGrpCod,T0.DocNum,T0.DocDate,T0.CardCode,T0.CardName,T0.DocType,T1.ItemCode,T1.Dscription,T1.unitMsr,T1.Quantity Quantity,ISNULL(LineTotal,0)+ISNULL(LineVat,0) DocTotal 
		FROM OPOR T0 JOIN POR1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode		
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList)  AND T0.CANCELED NOT IN ('Y') AND (T1.ItemCode=@ItemCode OR T1.Dscription=@ItemCode)
		
	END
	ELSE IF @DocumentType=2
	BEGIN
		SELECT T2.ItmsGrpCod,T0.DocNum,T0.DocDate,T0.CardCode,T0.CardName,T0.DocType,T1.ItemCode,T1.Dscription,T1.unitMsr,T1.Quantity Quantity,ISNULL(LineTotal,0)+ISNULL(LineVat,0) DocTotal 
		FROM OPDN T0 JOIN PDN1 T1 ON T1.DocEntry=T0.DocEntry 
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode		
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList) AND T0.CANCELED NOT IN ('Y') AND (T1.ItemCode=@ItemCode OR T1.Dscription=@ItemCode)
		
	END
	ELSE IF @DocumentType=3
	BEGIN
		SELECT T2.ItmsGrpCod,T0.DocNum,T0.DocDate,T0.CardCode,T0.CardName,T0.DocType,T1.ItemCode,T1.Dscription,T1.unitMsr,T1.Quantity Quantity, ISNULL(LineTotal,0) +ISNULL(LineVat,0)DocTotal 
		FROM OPCH T0
		JOIN PCH1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList)AND T0.CANCELED NOT IN ('Y') AND (T1.ItemCode=@ItemCode OR T1.Dscription=@ItemCode)
		
	END

	END
GO
