USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Purchase_Analysis_Customer_Doc_Details]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Purchase_Analysis_Customer_Doc_Details] 
(@FromDate DATETIME,@ToDate DATETIME,@DocumentType INT,@VendorCode VARCHAR(30),@DocType VARCHAR(1),@DocNum VARCHAR(30))
AS
BEGIN	

	IF @DocumentType=1
	BEGIN
		SELECT DocNum,T0.DocEntry,T0.DocDate,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,T1.ItemCode,T1.Dscription,T1.Quantity,T1.unitMsr,T1.Price,ISNULL(T1.LineTotal,0)DocTotal,ISNULL(T1.LineVat,0)LineVat FROM OPOR T0, POR1 T1 WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode =@VendorCode AND (DocType=@DocType OR @DocType IS NULL) AND CANCELED NOT IN ('Y') AND T0.DocEntry=T1.DocEntry AND T0.DocNum=@DocNum
		ORDER BY T1.LineNum
	END
	ELSE IF @DocumentType=2
	BEGIN
		SELECT DocNum,T0.DocEntry,T0.DocDate,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,T1.ItemCode,T1.Dscription,T1.Quantity,T1.unitMsr,T1.Price,ISNULL(T1.LineTotal,0)DocTotal,ISNULL(T1.LineVat,0)LineVat FROM OPDN T0, PDN1 T1 WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode =@VendorCode AND CANCELED NOT IN ('Y')	AND T0.DocEntry=T1.DocEntry AND T0.DocNum=@DocNum
		ORDER BY T1.LineNum
	END
	ELSE IF @DocumentType=3
	BEGIN
		SELECT DocNum,T0.DocEntry,T0.DocDate,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,T1.ItemCode,T1.Dscription,T1.Quantity,T1.unitMsr,T1.Price,ISNULL(T1.LineTotal,0)DocTotal,ISNULL(T1.LineVat,0)LineVat FROM OPCH T0,PCH1 T1 WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode =@VendorCode AND (DocType=@DocType OR @DocType IS NULL) AND CANCELED NOT IN ('Y') AND T0.DocEntry=T1.DocEntry AND T0.DocNum=@DocNum
		ORDER BY T1.LineNum
	END
END






GO
