USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@Musak-18.1.2]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<05 December 2010>  ---102003012
-- Description:	<TEST CURRENT REGISTER>   [dbo].[@Musak-18.1.2] '11/27/2016','11/27/2016'
-- =============================================

CREATE PROCEDURE [dbo].[@Musak-18.1.2]
	-- Add the parameters for the stored procedure here
	 (@Fromdate DATETIME, @Todate Datetime)

AS
BEGIN
	
DECLARE @ID INT
DECLARE @OP FLOAT
DECLARE @DEPOSIT FLOAT
DECLARE @Debit FLOAT
DECLARE @Rebet FLOAT
DECLARE @Credit FLOAT
DECLARE @Other_adj FLOAT
DECLARE @CLOSINGBALANCE  FLOAT
DECLARE @LASTCLOSINGBALANCE FLOAT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	    -- Insert statements for procedure here
IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME='TESTCURREG_Final') 
BEGIN
DROP TABLE TESTCURREG_Final
END
--===== update ODLN docdate and DLN1 docdate as same
update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)
--====
	CREATE TABLE TESTCURREG_Final (SLNo Int,DATE DATETIME,OP FLOAT,
[NARRATION OF TRANSACTION] VARCHAR(100),
DEPOSIT FLOAT,DEBIT FLOAT,REBET Float,
CREDIT FLOAT,Other_adj float,[CLOSING_BALANCE] FLOAT,Remarks varchar(50)  )
	
INSERT INTO TESTCURREG_Final
SELECT ROW_NUMBER() OVER (ORDER BY A.DATE ,A. [NARRATION OF TRANSACTION]),

/*CASE WHEN (---For 20180215--)
A.[NARRATION OF TRANSACTION] LIKE 'Sales C.P. NO%' THEN ROW_NUMBER() OVER (ORDER BY A.DATE,CAST(REPLACE([dbo].udf_GetNumeric(A. [NARRATION OF TRANSACTION]),'.','') AS BIGINT) ASC) 
WHEN A.[NARRATION OF TRANSACTION] NOT LIKE 'Sales C.P. NO%' THEN ROW_NUMBER() OVER (ORDER BY A.DATE,A. [NARRATION OF TRANSACTION])ELSE 1 END,*/


 A.* FROM 
(
SELECT  top 1 CONVERT(VARCHAR(10), @Fromdate, 101) [DATE], 
(
--==================== update 12-10-2011============

Select (Sum(J1.[DEBIT])- Sum(J1.[Credit]))
from JDT1 j1 where account='102003012' 
 and J1.refdate <@fromdate 
and J1.transtype not in (14,13) ) 
-
---==========Update 03012015=== VAT Amount Shorted Company:EDCL date 02122014 amount 719.58
(
Select isnull((Sum(J1.[DEBIT])- Sum(J1.[Credit])),0)
from JDT1 j1 where account='102003012' 
 and J1.refdate <@fromdate 
and J1.linememo  like 'Debit No%' and J1.credit=0


)
---============End===========================
-
---==========Update 15112016 Debit Note Issue on 14082016
(
Select  isnull((Sum(J1.[DEBIT])- Sum(J1.[Credit])),0)
from JDT1 j1 where account='102003012' 
 and J1.refdate <@fromdate 
and J1.Debit=0  and j1.Linememo   like '%Canceled%'

)
---============End===========================
-
(select sum(Vatsum) from DLN1 where docdate<CONVERT(VARCHAR(10), @Fromdate, 101))
+
(SELECT  
SUM(T0.VATSUM) 	from 
RDN1 T0,ORDN T1  Where	T1.docentry=T0.docentry
 and T1.DocDATE < CONVERT(VARCHAR(10), @Fromdate, 101) )
+
(
SELECT  
SUM(T0.VATSUM) 	from 
RIN1 T0,ORIN T1  Where	T1.docentry=T0.docentry
 and T1.DocDATE < CONVERT(VARCHAR(10), @Fromdate, 101)
 )
[OP],

 '--' [NARRATION OF TRANSACTION],  0 [DEPOSIT],

 0[Debit],0 [REBET],0[CREDIT],0 [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012' 
		and OJ.REFDATE < CONVERT(VARCHAR(10), @Fromdate, 101) 
		UNION ALL

SELECT OJ.REFDATE [DATE], 0 [OP],(' Deposit ' + Oj.ref2 )[NARRATION OF TRANSACTION],sum(J1.[DEBIT])[Deposit], 0 [Debit],
0 [REBET],0[CREDIT],0 [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101)
 --and  LINE_ID % 2!=0  
-- ======= update 09032015
 and  j1.DebCred ='D' and j1.TransType =46
  --====================
--=================== update for 09082012==last update17082016====================---
and J1.transid not in (74906,74922)
--===============================================================
group by OJ.REFDATE,J1.[DEBIT],oj.ref2

	UNION ALL
--==================== update 05-10-2011============

SELECT OJ.REFDATE [DATE], 0 [OP],

-----Updated on 18062016 for this month printout
('Deposit VAT Receivables '  + J1.linememo)

 [NARRATION OF TRANSACTION],0[Deposit], 0 [Debit],0 [REBET],
sum(J1.[CredIT])[CREDIT],0 [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and
 OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) and  j1.DebCred ='C' and J1.transtype =30 and J1.credit>0
--=================== update for 09082012======================---
and J1.transid not in (74906,189593,159467)  -- update on 08092015 transid 189593 and 17082016
 and J1.Ref3Line is null 
 -- ==========Updated on 17082016
 and J1.linememo  like 'Debit No%' and Oj.memo  like '%Canceled%'
 --========= End=================
--====================
group by OJ.REFDATE,J1.[CredIT],J1.linememo


UNION ALL
--===============================Update 29 April 2017--============================


SELECT OJ.REFDATE [DATE], 0 [OP],

-----Updated on 18062016 for this month printout
('Deposit VAT Receivables '  + J1.linememo)

 [NARRATION OF TRANSACTION],0[Deposit], 0 [Debit],0 [REBET],
sum(J1.[CredIT])[CREDIT],0 [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and
 OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) and  j1.DebCred ='C' and J1.transtype =30 and J1.credit>0
--=================== update for 09082012======================---
and J1.transid not in (74906,189593,159467)  -- update on 08092015 transid 189593 and 17082016
and J1.TransId in(156749) ---Added 30 april 2017
 and J1.Ref3Line is null 
 -- ==========Updated on 17082016  (Comment on memo and linememo)
 ---and J1.linememo  like 'Debit No%' and Oj.memo  like '%Canceled%'
 --========= End=================
--====================
group by OJ.REFDATE,J1.[CredIT],J1.linememo

--==========================================================================






UNION ALL
--==================== update 05-10-2011============

SELECT OJ.REFDATE [DATE], 0 [OP],

-----Updated on 18062016 for this month printout
(  J1.linememo)

 [NARRATION OF TRANSACTION],0[Deposit], 0 [Debit],0 [REBET],
0[CREDIT],sum(J1.[CredIT]) [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and
 OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) and  j1.DebCred ='C' and J1.transtype =30 and J1.credit>0
--=================== update for 09082012======================---

and J1.ref3line='Other Adj.' -- update on 08092015 transid 189593
--====================
group by OJ.REFDATE,J1.[CredIT],J1.linememo
		UNION ALL
SELECT OJ.REFDATE [DATE], 0 [OP],('Rebate - ' + J1.linememo) [NARRATION OF TRANSACTION],0 [Deposit], 0 [Debit],
sum(J1.[DEBIT]) [REBET],0[CREDIT],0 [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012' ---AND J1.ContraAct!='102003013' -- J1.ContraAct!='102003013' this part is added at 20230112
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
--and LINE_ID %2=0 
and    j1.DebCred ='D' and J1.transtype=30 

---update 31122014 for debit not
and  J1.linememo not like 'Debit No%'
-----End-----
--=================== update for 09082012====================={Update for Id (243448,243450) date:'27/11/2016' =---}
--====================={Update for 30012018==========Update for Trans Id-(299640,299614)}========= {Update for Trans Id(318527,318605) in(07/01/2018)}

and J1.transid not in (74906,199973,199976,243448,243450,299640,299614,318527,318605,624342,624343)
----========================================
group by OJ.REFDATE,J1.[DEBIT],J1.linememo
		UNION ALL
--======================= add 29-10-2011===============
SELECT OJ.REFDATE [DATE], 0 [OP],substring(J1.linememo,5,50) [NARRATION OF TRANSACTION],
-- update rebate to deposit 041112--
sum(-J1.[CredIT])[Deposit],

0 [Debit],
0 [REBET],
--- stop this on 041112
--sum(-J1.[CredIT])[REBET],
--=========================
0[CREDIT],0 [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and
 OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) and   
 --===========Update 11032015
 -- j1.DebCred ='D' and J1.transtype!=13 and J1.credit<0
   j1.DebCred ='C' and j1.TransType =14 and J1.credit<0  
   --============END  
group by OJ.REFDATE,J1.[CredIT],J1.linememo
UNION ALL
--================= update on 16-03-2013 for Manually AR Credit Memo
SELECT OJ.REFDATE [DATE], 0 [OP],substring(J1.linememo,5,50) [NARRATION OF TRANSACTION],
sum(-J1.[CredIT])[Deposit],0 [Debit],0 [REBET],
0[CREDIT],0 [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and
 OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
 -- Update 11032015
--and  LINE_ID =1 and J1.transtype=14 and J1.credit=0  
--===================
and  j1.DebCred ='C' and j1.TransType =14 and J1.credit=0  
group by OJ.REFDATE,J1.[CredIT],J1.linememo
UNION ALL
--======= End Manual entry ==========
--================= update on 31-12-2014 for Debit Note
SELECT OJ.REFDATE [DATE], 0 [OP],(''  + J1.linememo) [NARRATION OF TRANSACTION],
0[Deposit],0 [Debit],0 [REBET],
sum(J1.[CredIT])[CREDIT],0 [Other_adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and
 OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) and  LINE_ID =0 and J1.transtype=30  and J1.credit!=0   
group by OJ.REFDATE,J1.[CredIT],J1.linememo
UNION ALL
--=====================
--SELECT CONVERT(VARCHAR(10), @Fromdate, 101) [DATE],0 [OP],'--' [NARRATION OF TRANSACTION],
--0 [DEPOSIT], 0 [Debit], 0 [REBET],Sum([VATSUM]) [Credit],
--0 [Closing_Balance]	from DLN1 Where	DocDATE < CONVERT(VARCHAR(10), @Fromdate, 101) 
--union all
--====================28-03-2011
SELECT T1.DocDATE [DATE], 0 OP,
 ('Sales C.P. NO    ' + CONVert(varchar,T1.DOCNum))
  [NARRATION OF TRANSACTION], 
0 [DEPOSIT], 0 [Debit], 0 [REBET],SUM(T0.VATSUM) [Credit],0 [Other_adj],
 0 [Closing Balance],'' Remarks 	from 
		DLN1 T0,ODLN T1  Where	T1.docentry=T0.docentry and 
T1.DocDATE  >=CONVERT(VARCHAR(10), @Fromdate, 101) and T1.DocDATE <=CONVERT(VARCHAR(10), @Todate, 101) group by T1.DOCnum,T1.DocDATE
union all
--=====================Special code for 31-03-12
SELECT T1.DocDATE [DATE], 0 OP,
 ('Sales C.P. NO    ' + CONVert(varchar,T0.BaseRef)+ ' Wrong/Return')
  [NARRATION OF TRANSACTION], 
0 [DEPOSIT], 0 [Debit], 0 [REBET],SUM(-T0.VATSUM) [Credit],0 [Other_adj],
 0 [Closing Balance],'' Remarks 	from 
		RDN1 T0,ORDN T1  Where	T1.docentry=T0.docentry and 
T1.DocDATE  >=CONVERT(VARCHAR(10), @Fromdate, 101) and T1.DocDATE <=CONVERT(VARCHAR(10), @Todate, 101) 
  and T1.DocDATE!='20120331' group by T1.DOCnum,T1.DocDATE,T0.baseref
--===============Special code for 31-03-12--- updated 01-04-12
union all
SELECT T1.DocDATE [DATE], 0 OP,
 ('Sales C.P. NO    ' + CONVert(varchar,T0.BaseRef)+ ' Wrong/Return')
  [NARRATION OF TRANSACTION], 
SUM(T0.VATSUM) [DEPOSIT], 0 [Debit], 0 [REBET],0 [Credit],0 [Other_adj],
 0 [Closing Balance],'' Remarks 	from 
		RDN1 T0,ORDN T1  Where	T1.docentry=T0.docentry 
and T1.DocDATE  >=CONVERT(VARCHAR(10), @Fromdate, 101) and T1.DocDATE <=CONVERT(VARCHAR(10), @Todate, 101)
and 
 T1.DocDATE='20120331'  and convert(varchar(2),Month(@fromdate))=03
group by T1.DOCnum,T1.DocDATE,T0.baseref
--===========================================

UNION ALL 
--====================================01/23/2017- Arup Start--====================
SELECT OJ.REFDATE [DDATE], 0 [OP],( J1.linememo) [NARRATION OF TRANSACTION],0[Deposit], 0 [Debit],0 [REBET],
sum(J1.[CredIT]) [CREDIT],0 [Other_Adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and
 OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) and  j1.DebCred ='C' and J1.transtype =30 and J1.credit>0
--=================== update for 09082012======================---
--and J1.Ref3Line ='Other Adj.' 
AND OJ.DueDate>='01/23/2017'  AND J1.transid not in (325333,545544,545545)--------Updated Date 04 Sept 2018  [,545544,545545 updated date 02-12-2023]
--and J1.transid not in (74906,189593,159467)  -- update on 08092015 transid 189593 update 25012016 transaction id= 159467
--====================
AND J1.ref3line NOT LIKE '%Other Adj.%'
group by OJ.REFDATE,J1.[CredIT],J1.linememo
--End===========================================

---============================ Update 20230112
UNION ALL
SELECT OJ.REFDATE [DDATE], 0 [OP],( J1.linememo) [NARRATION OF TRANSACTION],SUM(J1.Debit) [Deposit], 0 [Debit],0 [REBET],
0 [CREDIT],0 [Other_Adj],0 [Closing_Balance],'' Remarks from 
		OJDT OJ INNER JOIN JDT1 J1 ON J1.TRANSID=OJ.TRANSID where J1.account='102003012' AND J1.ContraAct='102003013'
		and OJ.REFDATE >= CONVERT(VARCHAR(10), @Fromdate, 101)  and
 OJ.REFDATE <= CONVERT(VARCHAR(10), @Todate, 101) and  j1.DebCred ='D' and J1.transtype =30 and J1.Debit>0 
--=================== update for 09082012======================---
--and J1.Ref3Line ='Other Adj.' 
AND OJ.DueDate>='01/23/2017'  ---AND J1.transid not in (325333)--------Updated Date 04 Sept 2018
--and J1.transid not in (74906,189593,159467)  -- update on 08092015 transid 189593 update 25012016 transaction id= 159467
--====================
and J1.Ref3Line NOT LIKE '%Other Adj.%'
group by OJ.REFDATE,J1.[CredIT],J1.linememo

	)  A 
	-- This is for NULL value update 05022013---=
   -- WHERE ( A.[OP]<>0 or A.[DEPOSIT]<>0 or A.[DEBIT]<>0 or A.[REBET]<>0 
--or A.[CREDIT]<>0 
 --OR A.[Closing_Balance]<>0)
   -- ==================== End===========================	
ORDER BY A.DATE,A. [NARRATION OF TRANSACTION]


--*************************FOR 20180215*******************************
/*
IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME='ACCR_TESTCURREG_1')
	BEGIN 
	DROP TABLE ACCR_TESTCURREG_1
	END

CREATE TABLE ACCR_TESTCURREG_1 (SLNo Int,DATE DATETIME,OP FLOAT,
[NARRATION OF TRANSACTION] VARCHAR(100),
DEPOSIT FLOAT,DEBIT FLOAT,REBET Float,
CREDIT FLOAT,Other_adj float,[CLOSING_BALANCE] FLOAT,Remarks varchar(50)  )

--******************************************************
INSERT INTO ACCR_TESTCURREG_1
SELECT * FROM TESTCURREG_Final ORDER BY SlNo
*/


--=======================
DECLARE CUR_Pur CURSOR
	FOR SELECT SlNo,[OP],[Deposit],[Debit],[Rebet],[Credit],[Other_adj],[Closing_Balance]
 FROM TESTCURREG_Final 	
OPEN CUR_PUR 
	FETCH NEXT FROM CUR_PUR INTO @ID,@OP,@Deposit,@Debit,@Rebet,@Credit,@Other_adj,@ClosingBalance 
	WHILE @@FETCH_STATUS=0
	BEGIN
		--print @ID
		--UPDATEING CURRENT CLOSING BALANCE QTY & AMOUNT COLUMN
		UPDATE	TESTCURREG_Final	SET [Closing_Balance]=@OP+@Deposit+@Debit+@Rebet-@Credit-@Other_adj  
		WHERE SlNo=@ID
		--UPDATING NEXT OPENING BALANCE QTY & VALUE COLUMN
 		UPDATE	TESTCURREG_Final	SET [OP]=@OP+@Deposit+@Debit+@Rebet-@Credit-@Other_adj  
WHERE SlNo=@ID+1
FETCH NEXT FROM CUR_PUR INTO @ID,@OP,@Deposit,@Debit,@Rebet,@Credit,@Other_adj ,@ClosingBalance 	
	END 
	CLOSE CUR_PUR
	DEALLOCATE CUR_PUR
--===============
END
--delete from TESTCURREG_Final where op=0 and deposit=0 and Rebet=0 and credit=0 and [NARRATION OF TRANSACTION]like 'Deposit%'
---- update on 06022013
--delete from TESTCURREG_Final where deposit=0 and Rebet=0 and credit=0 and [NARRATION OF TRANSACTION]like 'Deposit%'
--===============
--Select * from TESTCURREG_Final


/*
--=======================
DECLARE CUR_Pur CURSOR
	FOR SELECT SlNo,[OP],[Deposit],[Debit],[Rebet],[Credit],[Other_adj],[Closing_Balance]
 FROM ACCR_TESTCURREG_1 	
OPEN CUR_PUR 
	FETCH NEXT FROM CUR_PUR INTO @ID,@OP,@Deposit,@Debit,@Rebet,@Credit,@Other_adj,@ClosingBalance 
	WHILE @@FETCH_STATUS=0
	BEGIN
		--print @ID
		--UPDATEING CURRENT CLOSING BALANCE QTY & AMOUNT COLUMN
		UPDATE	ACCR_TESTCURREG_1	SET [Closing_Balance]=@OP+@Deposit+@Debit+@Rebet-@Credit-@Other_adj  
		WHERE SlNo=@ID
		--UPDATING NEXT OPENING BALANCE QTY & VALUE COLUMN
 		UPDATE	ACCR_TESTCURREG_1	SET [OP]=@OP+@Deposit+@Debit+@Rebet-@Credit-@Other_adj  
WHERE SlNo=@ID+1
FETCH NEXT FROM CUR_PUR INTO @ID,@OP,@Deposit,@Debit,@Rebet,@Credit,@Other_adj ,@ClosingBalance 	
	END 
	CLOSE CUR_PUR
	DEALLOCATE CUR_PUR
--===============
END
*/



select SLNO,Date,OP [Opening Balance],[Narration Of Transaction],[Date],Deposit,
Rebet [Rebate],Credit [Payable],[Other_adj],  Closing_Balance [Closing Balance],
CASE WHEN [Narration Of Transaction] LIKE 'Sales C.P. NO%' THEN Credit ELSE 0 END Remarks  from TESTCURREG_Final  
GO
