USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_spRDLPOCancealLocal]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_spRDLPOCancealLocal]
@FromDate DATETIME,
@ToDate DATETIME
AS
BEGIN
	SELECT T0.CardCode,T0.CardName,
	--CASE WHEN T0.CANCELED<>'Y' THEN 1 ELSE 0 END ValidPO,
	--CASE WHEN T0.CANCELED<>'Y' THEN T0.DocTotal ELSE 0 END ValidPOVal,
	CASE WHEN T0.CANCELED='Y' THEN 1 ELSE 0 END CanceledPO,
	CASE WHEN T0.CANCELED='Y' THEN T0.DocTotal ELSE 0 END CanceledPOVal FROM OPOR T0
	WHERE T0.DocDate BETWEEN @FromDate AND @ToDate AND Left(T0.CardCode ,2)='LV' 
	AND T0.CANCELED ='Y'
END
GO
