USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Inventory_Audit_Report_Summary]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Inventory_Audit_Report_Summary] 
(@FromDate DATETIME,@ToDate DATETIME,@ItemGCode VARCHAR(20)=NULL,@ItemCode VARCHAR(20)=NULL)
AS
BEGIN
DECLARE @DocumentTable TABLE
(	
	
	DetailsName VARCHAR(50),
	ShortName VARCHAR(10),
	Code VARCHAR(10)
)

INSERT INTO @DocumentTable
	SELECT 'Opening Balance','OB','-2'
	UNION ALL
	SELECT'A/R Invoices','IN', '13'
	UNION ALL
	SELECT'A/R Credit Memos','CN', '14'
	UNION ALL
	SELECT'Delivery','DN', '15'
	UNION ALL
	SELECT'Return','RE','16'
	UNION ALL
	SELECT'A/P Invoice','PU','18'
	UNION ALL
	SELECT'A/P Credit Memo','PC','19'
	UNION ALL
	SELECT'Goods Receipt PO','PD','20'
	UNION ALL
	SELECT'Goods Return','PR','21'
	UNION ALL
	SELECT'Goods Receipt','SI','59'
	UNION ALL
	SELECT'Goods Issue','SO','60'
	UNION ALL
	SELECT'Inventory Transfers','IT','67'
	UNION ALL
	SELECT'Landed Costs','IF','69'
	UNION ALL
	SELECT'Inventory Revaluations','IR','162'

SELECT ItemCode,T0.ItemName,ItmsGrpCod,ItmsGrpNam,SUM(OB)OB,SUM(OBV)OBV,SUM(InQty)ReceiptQty,SUM(InVal)ReceiptVal,SUM(OutQty)IssuedQty,ABS(SUM(OutVal))IssuedVal,SUM(OB+InQty-OutQty)CB,SUM(OBV+InVal+OutVal)CBV FROM
(
SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,InQty-OutQty OB,TransValue OBV,0 InQty,0 InVal,0 OutQty,0 OutVal,0 CB FROM OINM T0,OITM T1, OITB T2 WHERE DocDate<@FromDate AND T0.ItemCode=T1.ItemCode 
AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR @ItemGCode IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL)
UNION ALL
SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,0 OB,0 OBV,InQty InQty, TransValue InVal,0 OutQty,0 OutVal,0 CB FROM OINM T0,OITM T1, OITB T2 WHERE DocDate BETWEEN @FromDate AND @ToDate AND T0.ItemCode=T1.ItemCode 
AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR @ItemGCode IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL) AND InQty>0
UNION ALL
SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,0 OB,0 OBV,0 InQty, 0 InVal,OutQty OutQty,TransValue OutVal,0 CB FROM OINM T0,OITM T1, OITB T2 WHERE DocDate BETWEEN @FromDate AND @ToDate AND T0.ItemCode=T1.ItemCode 
AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR @ItemGCode IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL) AND OutQty>0
--UNION ALL
--SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,0 OB,0 OBV,0 InQty, 0 InVal,OutQty OutQty,TransValue OutVal,0 CB FROM OINM T0,OITM T1, OITB T2 WHERE DocDate BETWEEN @FromDate AND @ToDate AND T0.ItemCode=T1.ItemCode 
--AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR @ItemGCode IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL) AND (InQty=0 AND OutQty=0)
)T0
GROUP BY ItemCode,T0.ItemName,ItmsGrpCod,ItmsGrpNam
END
GO
