USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Monthly_itemwise_Stock]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[@BGW_Monthly_itemwise_Stock]
	(@FYear varchar(5))
AS
BEGIN

DECLARE  @Temp_Monthly_itemwise_Stock TABLE (Itemcode Varchar (8),ItemName varchar(100),
Sep Float,Oct Float,Nov Float,Dec Float,Jan Float,
Feb Float,Mar Float,Apr Float,May Float,Jun Float,
Jul Float,Aug Float,ItemGroup varchar(30))

SET NOCOUNT ON
--===============Sept--=====================
select N1.Itemcode,N1.ItemName,
sum(Case DATENAME(month,N1.InDate) when 'September' then N1.Quantity else 0 end) as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug ,n3.Itmsgrpnam as [ItemGroup] INTO #tempSept
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear  
and N1.Itemcode=N2.Itemcode
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam

--===============Oct--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,sum(Case DATENAME(month,N1.InDate) when 'October' then N1.Quantity else 0 end) as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempOct
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode 
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam

--===============Nov--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
sum(Case DATENAME(month,N1.InDate) when 'November' then N1.Quantity else 0 end)as Nov,
0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempNov
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam

--===============Dec--=====================

select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,sum(Case DATENAME(month,N1.InDate) when 'December' then N1.Quantity else 0 end) as Dec,
0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempDec
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode 
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam

--===============Jan--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,0 as Dec,sum(Case DATENAME(month,N1.InDate) when 'January' then N1.Quantity else 0 end) as Jan,
0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempJan
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode 
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam


--===============Feb--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,sum(Case DATENAME(month,N1.InDate) when 'February' then N1.Quantity else 0 end) as Feb,
0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempFeb
From OIBT N1,dbo.OITM N2,OITB N3 
where 
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam


--===============Mar--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,sum(Case DATENAME(month,N1.InDate) when 'March' then N1.Quantity else 0 end) as Mar,
0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempMar
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam



--===============Apr--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,sum(Case DATENAME(month,N1.InDate) when 'April' then N1.Quantity else 0 end) as Apr,
0 as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempApr
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam


--===============May--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,sum(Case DATENAME(month,N1.InDate) when 'May' then N1.Quantity else 0 end) as May,
0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempMay
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode 
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam


--===============Jun--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,sum(Case DATENAME(month,N1.InDate) when 'June' then N1.Quantity else 0 end) as Jun,
0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempJun
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode 
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam


--===============Jul--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,sum(Case DATENAME(month,N1.InDate) when 'July' then N1.Quantity else 0 end) as Jul,
0 as Aug  ,n3.Itmsgrpnam as [ItemGroup] INTO #tempJul
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode 
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam


--===============Aug--=====================
select N1.Itemcode,N1.ItemName,
0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,sum(Case DATENAME(month,N1.InDate) when 'August' then N1.Quantity else 0 end) as Aug,
n3.Itmsgrpnam as [ItemGroup] INTO #tempAug  
From OIBT N1,dbo.OITM N2,OITB N3 
where  
Datename(Year,N1.Indate) =@FYear 
and N1.Itemcode=N2.Itemcode 
and N2.Itmsgrpcod=N3.Itmsgrpcod
group by DATENAME(month,N1.Indate),N1.ItemCode,N1.ItemName,n3.Itmsgrpnam

SET NOCOUNT OFF

SET NOCOUNT ON
--============Main Query=====================
INSERT INTO @Temp_Monthly_itemwise_Stock
Select a.Itemcode, max(a.ItemName) as [Itemname],
max(a.[Sep]) as [Sep],
max(a.[Oct]) as [Oct],
max(a.[Nov]) as [Nov],
Max(a.[Dec]) as [Dec],
Max(a.[Jan]) as [Jan],
Max(a.[Feb]) as [Feb],
Max(a.[Mar]) as [Mar],
Max(a.[Apr]) as [Apr],
Max(a.[May]) as [May],
Max(a.[Jun]) as [Jun],
Max(a.[Jul]) as [Jul],
Max(a.[Aug]) as [Aug],
max(a.ItemGroup) as [ItemGroup] 
from dbo.OIBT I1
JOIN
(
	SELECT * FROM #tempSept
	UNION ALL
	SELECT * FROM #tempOct
	UNION ALL
	SELECT * FROM #tempNov
	UNION ALL
	SELECT * FROM #tempDec
	UNION ALL
	SELECT * FROM #tempJan
	UNION ALL
	SELECT * FROM #tempFeb
	UNION ALL
	SELECT * FROM #tempMar
	UNION ALL
	SELECT * FROM #tempApr
	UNION ALL
	SELECT * FROM #tempMay
	UNION ALL
	SELECT * FROM #tempJun
	UNION ALL
	SELECT * FROM #tempJul
	UNION ALL
	SELECT * FROM #tempAug
)a 
ON a.ItemCode=I1.ItemCode 
Group By a.Itemcode ,I1.ItemCode
Order By a.Itemcode

SET NOCOUNT OFF

--CASE WHEN Dscription='Alanya Glass Tumbler' THEN 'Alanya 01 Glass Tumbler' 
--WHEN Dscription='Alanya Glass Tumbler(Corp.)' THEN 'Alanya 05 Glass Tumbler (Corp.)' 
--ELSE [Dscription] END


SELECT * FROM
(
SELECT   [ItemCode],[Itemname][Itemname],
Sum([Jan]) [Jan] , sum([Feb]) [Feb] , 
Sum([Mar]) [Mar], Sum([Apr]) [Apr], Sum([May]) [May] ,Sum([Jun]) [Jun] ,
 Sum([Jul]) [Jul] , Sum([Aug]) [Aug],Sum([Sep]) [Sep], sum([Oct])[Oct], Sum([Nov]) [Nov], sum([Dec]) [Dec],[ItemGroup],
 ----convert(numeric,dbo.udf_GetNumeric([Itemname]))[abc]
 convert(numeric,dbo.udf_GetNumeric(CASE WHEN [Itemname]='Alanya Glass Tumbler' THEN 'Alanya 01 Glass Tumbler'
 WHEN [Itemname]='Alanya Glass Tumbler(Corp.)' THEN 'Alanya 05 Glass Tumbler (Corp.)'
 WHEN [Itemname]='Long Cool Glass Tumbler' THEN 'Long Cool 06 Glass Tumbler'
 WHEN [Itemname]='Topaz Glass Tumbler' THEN 'Topaz 07 Glass Tumbler'
 WHEN [Itemname]='Alanya Glass Tumbler (Single Pack)' THEN 'Alanya 08 Glass Tumbler (Single Pack)' ELSE [Itemname] END 
 ))[abc] 
FROM @Temp_Monthly_itemwise_Stock 
where (Sep + Oct+ Nov+ Dec +Jan+Feb + Mar+ Apr+ May + Jun+ Jul + Aug) >0 AND Itemcode NOT IN (1698001)

Group by [ItemCode],[ItemName],[ItemGroup]

UNION

SELECT   [ItemCode],[Itemname][Itemname],
Sum([Jan]) [Jan] , sum([Feb]) [Feb] , 
Sum([Mar]) [Mar], Sum([Apr]) [Apr], Sum([May]) [May] ,Sum([Jun]) [Jun] ,
 Sum([Jul]) [Jul] , Sum([Aug]) [Aug],Sum([Sep]) [Sep], sum([Oct])[Oct], Sum([Nov]) [Nov], sum([Dec]) [Dec],[ItemGroup],54 [abc] 
FROM @Temp_Monthly_itemwise_Stock 
where (Sep + Oct+ Nov+ Dec +Jan+Feb + Mar+ Apr+ May + Jun+ Jul + Aug) >0 AND Itemcode IN (1698001)

Group by [ItemCode],[ItemName],[ItemGroup]
)A
ORDER BY A.ItemGroup ASC,A.abc DESC

END
GO
