USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_spRDLPOSummaryIMP]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_spRDLPOSummaryIMP]
@FroDate DATETIME,
@ToDate DATETIME
AS
BEGIN
	SELECT T0.CardCode,T0.CardName,T1.ItemCode,T1.Dscription,T1.Quantity Qty,T1.LineTotal Value FROM OPOR T0,POR1 T1 
	WHERE T0.DocEntry=T1.DocEntry
	AND T1.DocDate BETWEEN @FroDate AND @ToDate AND Left(T0.CardCode ,3)='IMP' AND T0.CANCELED<>'Y'
	--GROUP BY T0.CardCode,T0.CardName,T1.ItemCode,T1.Dscription
END
GO
