USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Two_Year_Group_Sales_Comparison]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Two_Year_Group_Sales_Comparison]
(@fy NVARCHAR(20))
AS
BEGIN
DECLARE @id INT
SELECT @id=AbsEntry FROM OFPR WHERE Code=@fy

DECLARE @FromDate_1 DATETIME,@FromDate_2 DATETIME,@ToDate_1 DATETIME,@ToDate_2 DATETIME
DECLARE @Fy1 VARCHAR(10),@Fy2 VARCHAR(10)

SELECT @FromDate_1=F_RefDate,@ToDate_1=T_RefDate,@Fy1=Name FROM OFPR WHERE AbsEntry=@id
SELECT @FromDate_2=F_RefDate,@ToDate_2=T_RefDate,@Fy2=Name FROM OFPR WHERE AbsEntry=@id-1

SELECT T0.ItmsGrpCod,T0.ItmsGrpNam,SUM(T0.Fy1Qty)Fy1Qty,SUM(T0.Fy2Qty)Fy2Qty,SUM(T0.Fy1Value)Fy1Value,SUM(T0.Fy2Value)Fy2Value,T0.FY1,T0.FY2 FROM
(
SELECT T1.ItmsGrpCod,T2.ItmsGrpNam,T0.ItemCode,T1.ItemName,T0.Quantity [Fy1Qty],T0.LineTotal [Fy1Value],(SELECT Name FROM OFPR WHERE AbsEntry=@id)[FY1],0 [Fy2Qty],0 [Fy2Value],(SELECT Name FROM OFPR WHERE AbsEntry=@id-1)[Fy2] FROM INV1 T0, OITM T1,OITB T2
WHERE T0.ItemCode=T1.ItemCode AND T1.ItmsGrpCod=T2.ItmsGrpCod AND T0.DocDate BETWEEN @FromDate_1 AND @ToDate_1
UNION ALL
SELECT T1.ItmsGrpCod,T2.ItmsGrpNam,T0.ItemCode,T1.ItemName,0 Quantity,0 LineTotal,(SELECT Name FROM OFPR WHERE AbsEntry=@id)[FY],T0.Quantity [Fy2Qty],T0.LineTotal [Fy2Value],(SELECT Name FROM OFPR WHERE AbsEntry=@id-1)[Fy2] FROM INV1 T0, OITM T1,OITB T2
WHERE T0.ItemCode=T1.ItemCode AND T1.ItmsGrpCod=T2.ItmsGrpCod AND T0.DocDate BETWEEN @FromDate_2 AND @ToDate_2
)T0
GROUP BY T0.ItmsGrpCod,T0.ItmsGrpNam,T0.FY1,T0.FY2
ORDER BY T0.ItmsGrpCod
END

GO
