USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_DailyPL_Grade]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[@BGW_DailyPL_Grade_######] [@BGW_DailyPL_Grade]  '20210825'
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<02 Nov 2010>
-- Last updated - 13-01-2016 
-- =============================================

--Create procedure dbo.SearchProducts 
--    @Keyword varchar(100)  
--As
--Declare @Keyworddummy as varchar(100)
--Set @Keyworddummy = @Keyword
--select * from Products where Keyword like @Keyworddummy


CREATE  PROCEDURE [dbo].[@BGW_DailyPL_Grade] 
	(@Fromdate DATETIME)
	with RECOMPILE
	--OPTIMIZE FOR 
AS
Declare @Fromdatedummy as datetime
Set @Fromdatedummy = @Fromdate

BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_dailyPL_Grade')
	BEGIN
		Drop table Temp_dailyPL_Grade
	END 
--update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)




----==================================================================

Select  N1.Itemcode, N2.ItemName, -- update all N1.Dscription to N2.Itemname on 21-03-13

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup] into #temTab1
From dbo.OINM N1 , dbo.OITM N2,OITB N3
Where N1.DocDate < CONVERT(VARCHAR(10), @Fromdatedummy, 101)  and N2.itemcode like '16%'  and N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

---union all
--============== add 310 ml pack 53 Opening =========270613

Select  N4.Itemcode, N1.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

-sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab2
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10), @Fromdatedummy, 101) 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'  and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---union all

Select  N4.Itemcode, N1.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

-sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab3
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'  and N4.DocType   =59
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---UNION ALL

--=================================Update (04/05/2017)<Arup> Update for Production Disassembly-==================================

Select  N4.Itemcode, N1.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

-sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup] into #temTab4
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'  and N4.DocType   =60
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--======================================================================================================================

----union all


--==========

Select  N4.Itemcode, N1.ItemName + '  **'ItemName, -- update all N1.Dscription to N2.Itemname on 21-03-13

sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab5
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'  and N4.DocType   =59
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---union all
Select  N4.Itemcode, N1.ItemName + '  **'ItemName, -- update all N1.Dscription to N2.Itemname on 21-03-13

sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab6
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'  and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

----UNION ALL
---================Update 04/05/2017<Arup> Update For Disassembly Production=====================--

Select  N4.Itemcode, N1.ItemName + '  **'ItemName, -- update all N1.Dscription to N2.Itemname on 21-03-13

sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab7
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'  and N4.DocType   =60
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---===========================================================================================

---UNION ALL
--=================Update 04/05/2017 <---Arup--> Update for Production Disassembly 900** ml===============-----
Select  N4.Itemcode, N1.ItemName + '  **'ItemName, -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], SUM(N5.quantity) [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup] into #temTab8
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy , 101) 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001' 
  ---- =====update on 26012016
  and  n4.DocType =60
  ---===== End
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--============== End  310 ml pack 53 Opening =========270613

---union all

select  N1.Itemcode, N2.ItemName, 0 as [Opening],
sum(N1.inqty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]into #temTab9
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101) 
 and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
and  N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
 and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

--Add 14092014
--select  N1.Itemcode, N2.ItemName, 0 as [Opening],
--sum(N1.OutQty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
--0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
--From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101) 
-- and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
--and  N1.jrnlmemo='Issue for Production' 
--and N1.OutQTy >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
-- and N2.Itmsgrpcod=N3.Itmsgrpcod 
--Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam
--Union All
--------------------end

--============== add 310 ml pack 53 =========270613
----union all

Select  N4.Itemcode, N1.ItemName + '  **'ItemName, -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], sum(N5.quantity) as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab10
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001' 
  ---- =====update on 26012016
  and  n4.DocType =59
  ---===== End
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---Union All

Select  N4.Itemcode, N1.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], -sum(N5.quantity) as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab11
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E')
 ---- =====update on 26012016
  and  n4.DocType =59
  ---===== End
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---UNION ALL

---======================Update (04/05/2017)<Arup> Update for Production Disassembly 900 ml======================
Select  N4.Itemcode, N1.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], -sum(N5.quantity) as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab12
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E')
 ---- =====update on 26012016
  and  n4.DocType =60
  ---===== End
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---==================================================================================================

----union all
--============== End 310 ml pack 53 =========270613

select  N1.Itemcode, N2.ItemName, 0 as [Opening],
-sum(N1.outqty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]into #temTab13
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
  and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
and  N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
 and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam
---Union All

--========================================

select  N1.Itemcode, N2.ItemName,
0 as [Opening], 0 as [Production],sum(N1.outqty-N1.inqty) as [Delivery_Others],
 0 As [Total],0 as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]into #temTab14
From dbo.OINM N1, dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101)  and 
N1.DocDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10)   
and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam


--============== Add 310 ml pack 53 =========270613--190114

--===========END Credit Memo
---union all

--close 14092014
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],-sum(N5.quantity) as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab15
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in  (' D',' E',' F')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1617001' and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


---union all


select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],sum(N5.quantity) as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab16
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E',' F')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001' and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

----union all


select  N4.Itemcode, N1.ItemName+ '  **'ItemName, 0 as [Opening],
0 as [Production],-sum(N5.quantity) as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab17
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E',' F')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001' and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--============== End 310 ml pack 53 =========270613
---union all

select  N1.Itemcode, N2.ItemName, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
sum(N1.inqty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup] into #temTab18
From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @Fromdatedummy  and N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam



---- close this on 09022015 for dissamble order date 05122014

--select  N1.Itemcode, N2.ItemName, 0 as [Opening], 
--0 as [Production],0 as [Delivery_Others], 0 As [Total],
--sum(N1.Outqty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
--From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
--convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
--and N2.Itmsgrpcod=N3.Itmsgrpcod
--and N1.DocDate <= @Fromdatedummy  and N1.jrnlmemo='Issue for Production'
--and N1.Outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
--Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

---union all

--============== add 310 ml pack 53 =========270613


Select  N4.Itemcode, N1.ItemName + '  **'ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], sum(N5.quantity) as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab19
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate >=   Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
 and N4.DocDate <= @Fromdatedummy
 and right(n3.DistNumber,2) in (' D',' E')
 ---- =====update on 26012016
  and  n4.DocType =59
  ---===== End
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


----union all

---========== Updated (20210105)Arup(Issue for Production)
Select  N4.Itemcode, N1.ItemName ItemName, -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], -sum(N5.quantity) as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab20
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate >=   Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
 and N4.DocDate <= @Fromdatedummy
 and right(n3.DistNumber,2) in (' D',' E')
 ---- =====update on 26012016
  and  n4.DocType =59
  ---===== End
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--============== End 310 ml pack 53 =========270613

---Union all
--======================update 13-08-2012 for diassemble Production Order=========

select  N1.Itemcode, N2.ItemName, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
-sum(N1.outqty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]into #temTab21
From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @Fromdatedummy  and N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

--==================================================================================
---Union All

select  N1.Itemcode, N2.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],
0 as [ProdCumulative] ,sum(N1.outqty-N1.inqty) as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup] into #temTab22
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @Fromdatedummy 
 --170115
--and  n1.cardname!='' 

and  n1.cardcode like 'CT%'
--end



and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

----union all

 select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
sum(N5.quantity) as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab23
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5 Where 
  N4.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and Right(n3.DistNumber,2) in (' D',' E',' F')  and N4.doctype=15
and N4.DocDate <= @Fromdatedummy 
 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam
----union all

 select  N4.Itemcode,N1.ItemName + '  **'ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
-sum(N5.quantity) as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab24
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5 Where 
  N4.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and Right(n3.DistNumber,2) in (' D',' E',' F')  and N4.doctype=15
and N4.DocDate <= @Fromdatedummy 
 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1660001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---------------===End===============
--===================================================================================
----union all


-- Quality - A
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab25
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 ------change for new batch 20220528
 (right(N3.DistNumber ,2)=' A' OR right(N3.DistNumber ,1)='A') and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--============== add 310 ml pack 53 =========270613
----union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab26
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


---union all
select  N4.Itemcode, N1.ItemName + '  **'ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab27
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1660001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam
--============== End 310 ml pack 53 =========270613
---union all

select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab28
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
  ------change for new batch 20220528
 (right(N3.DistNumber ,2)=' A' OR right(N3.DistNumber ,1)='A') and N4.DocType  not in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


----union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab29
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


----union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab30
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
   ------change for new batch 20220528
 (right(N3.DistNumber ,2)=' A' OR right(N3.DistNumber ,1)='A') and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab31
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---union all
select  N4.Itemcode, N1.ItemName+ '  **'ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup] into #temTab32
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1660001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


--===================================================================================
---union all


-- Quality - B
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab33
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and

    ------change for new batch 20220528

 (right(N3.DistNumber ,2)=' B' OR right(N3.DistNumber ,1)='B') and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--============== add 310 ml pack 53 =========270613
---union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab34
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


---union all
select  N4.Itemcode, N1.ItemName + '  **'ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab35
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1660001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam
--============== End 310 ml pack 53 =========270613
----union all

select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab36
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  not in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


---union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab37
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


----union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab38
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
     ------change for new batch 20220528

 (right(N3.DistNumber ,2)=' B' OR right(N3.DistNumber ,1)='B') and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam
---union all
----=== ------ update on 25052016 for code 1616001 Credit Memo item

select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab39
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101) and N4.DocDate >CONVERT(VARCHAR(10), '20160510', 101)
 and N1.Itemcode=N4.Itemcode and
------change for new batch 20220528

 (right(N3.DistNumber ,2)=' B' OR right(N3.DistNumber ,1)='B') and N4.DocType  in (14)
 
  and N4.itemcode like '16%'
 and N3.itemcode = N4.ItemCode 
  and N4.ItemCode = N5.ItemCode
  and N3.SysNumber  = N5.SysNumber
  and N4.LogEntry = N5.LogEntry 
  and N1.Itmsgrpcod = N2.Itmsgrpcod --and N4.ItemCode ='1616001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


------===========end update 1616001 ==================
----union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup] into #temTab40
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---union all
select  N4.Itemcode, N1.ItemName+ '  **'ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup] into #temTab41
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1660001'
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--- end B

---union all

-- Quality - C
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],0 as [Quality_B],Sum(N5.Quantity) as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab42
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' C' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam


---union all

select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],0 as [Quality_B],Sum(N5.Quantity) as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab43
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' F' and N4.DocType  not in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

---union all
select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],0 as [Quality_B],Sum(N5.Quantity) as [Quality_C],n2.Itmsgrpnam as [ItemGroup] into #temTab44
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' C' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--=================Updated Arup(12072017)-====================
---UNION ALL

select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,CASE WHEN @Fromdatedummy>='12/04/2017' THEN 33966 ELSE 0 END as [Quality_A],
CASE WHEN @Fromdatedummy>='12/04/2017' THEN -33966 ELSE 0 END as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab45
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  --N4.docDate >=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 --and 
 N1.Itemcode=N4.Itemcode and
 ------change for new batch 20220528
 (right(N3.DistNumber ,2)IN(' B',' A') OR right(N3.DistNumber ,1)IN('B','A')) and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  and N4.ItemCode='1622001'
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

--========================================Updated by Arup(31072018)--==========================
---UNION ALL

select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,CASE WHEN @Fromdatedummy>='07/28/2018' AND @Fromdatedummy<'08/08/2018' THEN 104340 ELSE 0 END as [Quality_A],
CASE WHEN @Fromdatedummy>='07/28/2018' THEN 0 ELSE 0 END as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab46
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  --N4.docDate >=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 --and 
 N1.Itemcode=N4.Itemcode and
  ------change for new batch 20220528

 (right(N3.DistNumber ,2)IN(' B',' A') OR right(N3.DistNumber ,1)IN('B','A')) and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  and N4.ItemCode='1675001'
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam



--========================================Updated by Arup(23092018)--==========================
----UNION ALL

select  N4.Itemcode, N1.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,CASE WHEN @Fromdatedummy>='08/01/2018' AND @Fromdatedummy<='08/07/2018'  THEN -35964 ELSE 0 END as [Quality_A],
CASE WHEN @Fromdatedummy>='08/01/2018' THEN 0 ELSE 0 END as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]into #temTab47
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  --N4.docDate >=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 --and 
 N1.Itemcode=N4.Itemcode and

   ------change for new batch 20220528
 (right(N3.DistNumber ,2)IN(' B',' A') OR right(N3.DistNumber ,1)IN('B','A')) and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  and N4.ItemCode='1675001'
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam
----  1698003,  1698011
---============================Alanya Glass Tumbler Transfer Adjusmtment (Negative Production),Classic 08, Diamond 32 Glass Tumbler===========
select  N1.Itemcode, N2.ItemName, 0 as [Opening],
sum(-N1.OutQty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup] INTO #temTab48
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101) 
 and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
and  N1.jrnlmemo='Goods Issue'
and N1.OutQty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
 and N2.Itmsgrpcod=N3.Itmsgrpcod AND N1.ItemCode IN ('1698001','1698003','1698004')
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam
----================================================================
---=======================Alanya Glass Tumbler(Corp) & Alanya Glass Tumbler (Single Pack) Transfer Adjustment (Production),Classic 08 (Corp.),Diamond 32 Glass Tumbler (Corp.)====================
select  N1.Itemcode, N2.ItemName, 0 as [Opening],
sum(N1.InQty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup] INTO #temTab49
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101) 
 and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
and  N1.jrnlmemo='Goods Receipt'
and N1.InQty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
 and N2.Itmsgrpcod=N3.Itmsgrpcod AND N1.ItemCode IN('1698005','1698008','1698010','1698011','1698012','1698013')
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam
---===============================================================
-----==========================Alanya Glass Tumbler, Classic 08 Transfer Adjusmtment (Negative Production),Diamond 32 Glass Tumbler Cum Production====================================

select  N1.Itemcode, N2.ItemName, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
sum(-N1.OutQty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup] INTO #temTab50
From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @Fromdatedummy  and N1.jrnlmemo='Goods Issue'
and N1.OutQty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode AND N1.ItemCode IN ('1698001','1698003','1698004')
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

---==============================================================

---=========================Alanya Glass Tumbler(Corp) & Alanya Glass Tumbler (Single Pack),Classic 08(Corp.) 
-----       Diamond 32 Glass Tumbler (Corp.) receive Cum Production============================================
select  N1.Itemcode, N2.ItemName, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
sum(N1.InQty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup] INTO #temTab51
From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @Fromdatedummy  and N1.jrnlmemo='Goods Receipt'
and N1.InQty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode AND N1.ItemCode IN('1698005','1698008','1698010','1698011','1698012','1698013')
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam
------============================================================================

---====================================300 ml Round Flint Glass Jars (202210411)==========================================

select  N4.Itemcode, /*'300 ml Round Flint Glass Jars'*/N1.ItemName ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , /*Sum(N5.Quantity)*/0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup] INTO #temTab52
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate<'20210101'
 and N1.Itemcode=N4.Itemcode 

------change for new batch 20220528
 and  (right(N3.DistNumber ,2)=' A' OR right(N3.DistNumber ,1)='A') and N4.DocType in (59,15)
 
  and N4.itemcode like '1647001%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N1.ItemName,n2.Itmsgrpnam

----=========================================================================
	

CREATE TABLE Temp_dailyPL_Grade (DOCDATE DATETIME,Itemcode Varchar (8),Dscription varchar(100),
Opening numeric(10,0), Production numeric(10,0),Delivery_Others numeric(10,0), Total numeric(10,0), Closing numeric(10,0),
ProdCumulative numeric(10,0), DelCumulative numeric(10,0), Quality_A numeric(10,0),Quality_B numeric(10,0),Quality_C numeric(10,0),ItemGroup varchar(30))



INSERT INTO [Temp_dailyPL_Grade]
	 
--============Main Query=====================

Select  @Fromdatedummy as Date,a.Itemcode,
 max(a.ItemName) as [Itemname],
 --I1.ItemName as [Itemname],
 sum(a.[Opening]) as [Opening],
 sum(a.[Production]) as [Production],
  sum(a.[Delivery_Others]) as [Delivery_Others],
sum(a.[Delivery_Others]) as [Total],
((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a.[Delivery_Others])) as Closing,
 sum(a.ProdCumulative) as [ProdCumulative],
sum(a.DelCumulative) as [DelCumulative],  
 Sum(ISNULL(a.Quality_A,0)) as [Quality_A],
Sum(ISNULL(a.Quality_B,0)) as [Quality_B],
Sum(a.Quality_C) as [Quality_C],
a.ItemGroup as [ItemGroup] 
from dbo.OITM I1 
JOIN (

SELECT * FROM #temTab1
UNION ALL
SELECT * FROM #temTab2
UNION ALL
SELECT * FROM #temTab3
UNION ALL
SELECT * FROM #temTab4
UNION ALL
SELECT * FROM #temTab5
UNION ALL
SELECT * FROM #temTab6
UNION ALL
SELECT * FROM #temTab7
UNION ALL
SELECT * FROM #temTab8
UNION ALL
SELECT * FROM #temTab9
UNION ALL
SELECT * FROM #temTab10
UNION ALL
SELECT * FROM #temTab11
UNION ALL
SELECT * FROM #temTab12
UNION ALL
SELECT * FROM #temTab13
UNION ALL
SELECT * FROM #temTab14
UNION ALL
SELECT * FROM #temTab15
UNION ALL
SELECT * FROM #temTab16
UNION ALL
SELECT * FROM #temTab17
UNION ALL
SELECT * FROM #temTab18
UNION ALL
SELECT * FROM #temTab19
UNION ALL
SELECT * FROM #temTab20
UNION ALL
SELECT * FROM #temTab21
UNION ALL
SELECT * FROM #temTab22
UNION ALL
SELECT * FROM #temTab23
UNION ALL
SELECT * FROM #temTab24
UNION ALL
SELECT * FROM #temTab25
UNION ALL
SELECT * FROM #temTab26
UNION ALL
SELECT * FROM #temTab27
UNION ALL
SELECT * FROM #temTab28
UNION ALL
SELECT * FROM #temTab29
UNION ALL
SELECT * FROM #temTab30
UNION ALL
SELECT * FROM #temTab31
UNION ALL
SELECT * FROM #temTab32
UNION ALL
SELECT * FROM #temTab33
UNION ALL
SELECT * FROM #temTab34
UNION ALL
SELECT * FROM #temTab35
UNION ALL
SELECT * FROM #temTab36
UNION ALL
SELECT * FROM #temTab37
UNION ALL
SELECT * FROM #temTab38
UNION ALL
SELECT * FROM #temTab39
UNION ALL
SELECT * FROM #temTab40
UNION ALL
SELECT * FROM #temTab41
UNION ALL
SELECT * FROM #temTab42
UNION ALL
SELECT * FROM #temTab43
UNION ALL
SELECT * FROM #temTab44
UNION ALL
SELECT * FROM #temTab45
UNION ALL
SELECT * FROM #temTab46
UNION ALL
SELECT * FROM #temTab47
UNION ALL
SELECT * FROM #temTab48
UNION ALL
SELECT * FROM #temTab49
UNION ALL
SELECT * FROM #temTab50
UNION ALL
SELECT * FROM #temTab51
UNION ALL
SELECT * FROM #temTab52

)

a 
ON a.ItemCode=I1.ItemCode 
Group By a.Itemcode ,I1.ItemCode,A.Total, 
a.itemname,a.ItemGroup
Order By a.Itemcode

delete from [Temp_dailyPL_Grade] where [Opening] =0 and [Production]=0 and
 [Delivery_Others]=0 and [ProdCumulative] =0 and [DelCumulative] =0 AND Closing=0

 --- select * from Temp_dailyPL_Grade

SELECT  [DocDate],[Dscription][Description],[Opening],[Production],[ProdCumulative],
[Delivery_Others] [Delivery],
[DelCumulative],
--CASE WHEN Itemcode='1698005' AND DOCDATE='20200319' THEN 0 ELSE [Closing] END 
[Closing],
[Quality_A][Quality - A] 
,[Quality_B][Quality - B],[Quality_C][Quality - C],
([Closing]-[Quality_A]-[Quality_B]-[Quality_C]) [BalanceError],
[ItemGroup],convert(numeric,dbo.udf_GetNumeric(
CASE WHEN Dscription='Alanya Glass Tumbler' THEN 'Alanya 01 Glass Tumbler' 
WHEN Dscription='Alanya Glass Tumbler(Corp.)' THEN 'Alanya 05 Glass Tumbler (Corp.)' 
WHEN Dscription='Long Cool Glass Tumbler' THEN 'Long Cool 06 Glass Tumbler'
WHEN Dscription='Topaz Glass Tumbler' THEN 'Topaz 07 Glass Tumbler'
WHEN Dscription='Alanya Glass Tumbler (Single Pack)' THEN 'Alanya 08 Glass Tumbler (Single Pack)'
WHEN Dscription='Long Cool Glass Tumbler (Corp.)' THEN 'Long Cool 09 Glass Tumbler (Corp.)'
ELSE [Dscription] END
))[abc]-- Problem in varchar to numeric
--dbo.udf_GetNumeric([Dscription])[abc]
FROM [Temp_dailyPL_Grade]
 ---where Closing>0 OR DelCumulative>0
 order by [ItemGroup]asc ,[abc]ASc



 ----Long Cool Glass Tumbler (Corp.)

SET NOCOUNT off

END



GO
