USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_VAT_RM]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Create date: 	<02 Nov 2010>

-- =============================================
-- AP invoice , Inventory Revaluation Value 162

CREATE PROCEDURE [dbo].[@BGW_VAT_RM]
	(@Fromdate DATETIME,@Todate datetime)
AS
BEGIN

	SET NOCOUNT ON;
(
select 
OINM.Docdate[Post Date],OINM.Base_ref[Doc Num],OINM.CardName[Name of Supplier],
CRD1.Building[Address of Supplier],OINM.Dscription[Description of Goods],
 OINM.inqty[Quantity],OINM.transvalue[Value]

from OINM , CRD1  where OINM.cardcode=CRD1.Cardcode
and
OINM.docdate between @Fromdate and @TODATE
and OINM.transtype in (20,69,18) and warehouse='RM' 

-- update 09112012 - add Inventory revaluation data
union all
select 
OINM.Docdate[Post Date],OINM.Base_ref[Doc Num],OINM.jrnlmemo[Name of Supplier],
''[Address of Supplier],OINM.Dscription[Description of Goods],
 OINM.inqty[Quantity],OINM.transvalue[Value]

from OINM,OITM  where 
OINM.docdate between  @Fromdate and @TODATE
and OINM.transtype = 162 and warehouse='RM' 
--update 03032013---
and OINM.itemcode=OITM.itemcode
--=============================

)
order by OINM.Docdate
END

/*

SET NOCOUNT ON;
SELECT * FROM 
(
select OINM.Docdate[Post Date],OINM.Base_ref[Doc Num],OINM.CardName[Name of Supplier],
CRD1.Building[Address of Supplier],T1.TaxId2 [VAT/BIN],T1.U_BE [Bill of Entry],OINM.Dscription[Description of Goods],
OINM.inqty[Quantity],OINM.transvalue[Value],T1.VatSum [Vat amount],'GRPO' Remark

from OINM INNER JOIN CRD1 ON OINM.cardcode=CRD1.Cardcode
LEFT JOIN
(
	SELECT T0.DocNum,T0.DocEntry,T1.LineNum,T0.U_BE,T2.TaxId2,T1.VatSum,T0.ObjType FROM OPDN T0,PDN1 T1,PDN12 T2
	WHERE T0.DocEntry=T1.DocEntry AND T0.DocEntry=T2.DocEntry AND T1.WhsCode='RM' AND T0.DocDate BETWEEN @Fromdate AND @TODATE
)T1 ON T1.DocNum=OINM.BASE_REF AND T1.LineNum=OINM.BaseLine

where 

OINM.docdate between @Fromdate and @TODATE
and OINM.transtype in (20) and warehouse='RM' 

UNION ALL

select OINM.Docdate[Post Date],OINM.Base_ref[Doc Num],OINM.CardName[Name of Supplier],
CRD1.Building[Address of Supplier],T1.TaxId2 [VAT/BIN],T1.U_BE [Bill of Entry],OINM.Dscription[Description of Goods],
OINM.inqty[Quantity],OINM.transvalue[Value],T1.VatSum [Vat amount],'A/P INVOICE' Remark

from OINM INNER JOIN CRD1 ON OINM.cardcode=CRD1.Cardcode
LEFT JOIN
(
	SELECT T0.DocNum,T0.DocEntry,T1.LineNum,T0.U_BE,T2.TaxId2,CAST(T1.U_AssV AS DECIMAL(18,2))*CAST(U_VatP AS DECIMAL(18,2))/100 VatSum,T0.ObjType FROM OPCH T0,PCH1 T1,PCH12 T2
WHERE T0.DocEntry=T1.DocEntry AND T0.DocEntry=T2.DocEntry AND T1.WhsCode='RM' AND T0.DocDate BETWEEN @Fromdate AND @TODATE
)T1 ON T1.DocNum=OINM.BASE_REF AND T1.LineNum=OINM.BaseLine

where 

OINM.docdate between @Fromdate and @TODATE
and OINM.transtype in (18) and warehouse='RM' 

UNION ALL

select OINM.Docdate[Post Date],OINM.Base_ref[Doc Num],OINM.CardName[Name of Supplier],
CRD1.Building[Address of Supplier],''[VAT/BIN],'' [Bill of Entry],OINM.Dscription[Description of Goods],
OINM.inqty[Quantity],OINM.transvalue[Value],0 [Vat amount],'LC' Remark

from OINM INNER JOIN CRD1 ON OINM.cardcode=CRD1.Cardcode

where 

OINM.docdate between @Fromdate and @TODATE
and OINM.transtype in (69) and warehouse='RM'

UNION ALL

SELECT OINM.Docdate[Post Date],OINM.Base_ref[Doc Num],OINM.jrnlmemo[Name of Supplier],
''[Address of Supplier],''[VAT/BIN],'' [Bill of Entry],OINM.Dscription[Description of Goods],
 OINM.inqty[Quantity],OINM.transvalue[Value],0 [Vat amount],'Iventory Revalueation' Remark

from OINM,OITM  where 
OINM.docdate between  @Fromdate and @TODATE
and OINM.transtype = 162 and warehouse='RM' 
--update 03032013---
and OINM.itemcode=OITM.itemcode
)T0
ORDER BY T0.[Name of Supplier],T0.[Post Date]

SET NOCOUNT OFF;

end
*/

--SELECT * FROM OCRD
--SELECT CardCode,TaxId2 FROM CRD7 WHERE (Address IS NULL OR Address='') AND CardCode NOT LIKE '%CT%' AND (TaxId2 IS NOT NULL AND TaxId2<>'')
GO
