USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Goods_Trans_details]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Department wise consumption report for inventory module
-- Create date: 	<26 Oct 2011>
-- =============================================


CREATE PROCEDURE [dbo].[@BGW_Goods_Trans_details]
	( @Fromdate DATETIME, @todate datetime, @ItemName varchar(100))
AS
BEGIN
SET NOCOUNT ON;

SELECT ROW_NUMBER() OVER (ORDER BY A.DocDATE,Docnum ), A.* FROM
(
Select  convert(varchar(15),'**Op') Docnum ,'' GRPONum,@Fromdate  as docdate,'' ItemCode,'Opening Balance' Dscription , (Sum(InQty)-Sum(OutQty)) [OPQty] 
,0.00 [Pur.Qty],0.00 [Pur.Amount],0.00 [Iss.Qty],0.00 [Iss.Amount ]  from OINM
where DocDate between @Fromdate and @todate  and Dscription  =@ItemName 

union all
Select +'AP-'+ convert(varchar(15),T1.DocNum) Docnum ,T2.BaseRef  GRPONum,T1.DocDate as docdate,t2.itemcode,t2.Dscription ,'0.00' OPQty,
t2.Quantity [Pur.Qty] ,T2.LineTotal [Pur.amount],0.00 [Iss.Qty],0.00 [Iss.Amout ]  from OPCH T1, PCH1 T2
where T1.DocEntry=T2.DocEntry and T1.DocDate between @Fromdate and @todate  and T2.Dscription  =@ItemName 

union all

Select +'GI-'+convert(varchar(15),T1.DocNum) Docnum,'' GRPONum,T1.DocDate as docdate,t2.itemcode,t2.Dscription ,'0.00' OPQty,
0.00 [Pur.Qty],0.00 [Pur.Amount ],t2.Quantity ,T2.LineTotal   from OIGE T1, IGE1 T2
where T1.DocEntry=T2.DocEntry and T1.DocDate between @Fromdate and @todate  and T2.Dscription  =@ItemName 




)
A 

order by a.DocNum,A.Docdate

end
GO
