USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_DelCustomer]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Mizan>
-- Create date: 	<15 SEP 2010>

-- =============================================


CREATE PROCEDURE [dbo].[@BGWL_DelCustomer]
	(@FromDATE DATETIME,@Itemname varchar(50))
AS
BEGIN
--DECLARE @Cardcode varchar(12)
--DECLARE @Cardname	varchar(50)
--DECLARE @CardFName	varchar(100)
--DECLARE @Itemcode	Varchar (8)
--DECLARE @Dscription	varchar(100)
--DECLARE @Quantity	FLOAT
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_DelCustomer')
 Drop table Temp_DelCustomer
	
CREATE TABLE Temp_DelCustomer (DOCDATE DATETIME,Itemcode varchar(10),Itemname varchar(50),carcode Varchar (10),Cardname varchar(100),
Address varchar(100),RegNo varchar(20),DocNum int, Del_QTY Float, Del_Val FLOAT,VAT Float,
DTime varchar(5), Price Float )

INSERT INTO Temp_DelCustomer 
	 
select N1.Docdate,N2.Itemcode,N2.Dscription,N1.cardcode,N1.Cardname,N1.address,N3.Taxid2,N1.Docnum,Sum(N2.Quantity) as QTY ,sum(N2.linetotal) 
as TotalVal, sum(N2.linetotal)* 0.15 as VAT, 
N1.U_rmvTime,N2.price
from ODLN N1,DLN1 N2, DLN12 N3
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate=@Fromdate
 and  n1.comments !='Returned' and N2.dscription=@itemname
group by N1.Docdate,N2.Itemcode,N2.Dscription,N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N1.Docnum,N2.price
Order by N1.docnum

SELECT  DOCDATE ,Itemcode,Itemname,carcode ,Cardname ,
Address ,RegNo ,Docnum, Del_QTY , Del_Val ,VAT ,DTime, Price
  FROM Temp_DelCustomer 


END









GO
