USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Monthly_Inventory_Status]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Monthly_Inventory_Status] 	
(@FromDate DATETIME,@ToDate DATETIME,@ItemGroup VARCHAR(30)=NULL,@ItemCode VARCHAR(30)=NULL)
AS
BEGIN

SELECT T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.[Year],CAST(T0.[Month]AS INT)[Month],T0.[Month Name],SUM(T0.Opening)[Opening Qty.],SUM(T0.[Receipt Qty.])[Receipt Qty.],SUM(T0.[Issued Qty.])[Issued Qty.] FROM
(
	SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,YEAR(@FromDate)[Year],MONTH(@FromDate)[Month],DATENAME(M,@FromDate)+','+ CAST(YEAR(@FromDate)AS VARCHAR(4))[Month Name],SUM(T0.InQty-T0.OutQty) Opening,0 [Receipt Qty.],0 [Issued Qty.],0 Closing 
	FROM OINM T0,OITM T1, OITB T2 WHERE T0.ItemCode=T1.ItemCode AND T1.ItmsGrpCod=T2.ItmsGrpCod AND T0.DocDate<@FromDate AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL)
	GROUP BY T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam
	UNION ALL
	SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,YEAR(T0.DocDate)[Year],MONTH(T0.DocDate)[Month],DATENAME(MM,T0.DocDate)+','+ CAST(YEAR(T0.DocDate)AS VARCHAR(4))[Month Name],0 Opening,SUM(T0.InQty)[Receipt Qty.],SUM(T0.OutQty) [Issued Qty.],0 Closing 
	FROM OINM T0,OITM T1, OITB T2 WHERE T0.ItemCode=T1.ItemCode AND T1.ItmsGrpCod=T2.ItmsGrpCod AND T0.DocDate BETWEEN @FromDate AND @ToDate AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL) AND (T0.ItemCode=@ItemCode OR @ItemCode IS NULL)
	GROUP BY T0.ItemCode,T1.ItemName,DATENAME(M,T0.DocDate),CAST(YEAR(T0.DocDate)AS VARCHAR(4)), T1.ItmsGrpCod,T2.ItmsGrpNam,YEAR(T0.DocDate),MONTH(T0.DocDate)
)T0
GROUP BY T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.[Year],T0.[Month],T0.[Month Name]
ORDER BY T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.[Year],T0.[Month]


END

---SELECT * FROM OITB

GO
