USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Whs_Del]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[@BGWL_Whs_Del]
	(@FromDATE DATETIME, @TODATE datetime)
AS
BEGIN


	SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='WHS_DEL')
 Drop table WHS_DEL

CREATE TABLE WHS_DEL (ItemName varchar(150),Furnace1 Float,
Furnace2 Float,Furnace3 Float, Price FLOAT, TotalValue Float,VAT Float,NetSale Float)

INSERT INTO WHS_DEL 

Select N1.Dscription as [Item Name]
,Sum(N1.Quantity) as [Furnace -1]
,0 as [Furnace -2]
,0 as [Furnace -3]
, N1.Price as Price
,sum(N1.Quantity*N1.price) as Total,
sum(N1.Quantity*N1.price)* 0.15 as VAT
,sum((N1.Quantity*N1.price)* 0.15) + sum(N1.Quantity*N1.price) as NetSale
from DLN1 N1 where  
    
N1.Docdate  between  @fromdate and @Todate
and N1.whscode='Bottles' and N1.targettype=13
group by N1.Dscription,N1.price
union all


Select N1.Dscription as [Item Name]
,0 as [Furnace-1]
,sum(N1.Quantity) as [Furnace-2]
,0 as [Furnace-3]
,  N1.Price as Price
,sum(N1.Quantity*N1.price) as Total,
sum(N1.Quantity*N1.price)* 0.15 as VAT
,sum((N1.Quantity*N1.price)* 0.15) + sum(N1.Quantity*N1.price) as NetSale
from DLN1 N1 where  
    
N1.Docdate  between  @fromdate and @Todate
and N1.whscode='SHELLS' and N1.targettype=13
group by N1.Dscription,N1.price

 
Union all
 
Select N1.Dscription as [Item Name],
0 as [Furnace-3],
0 as [Furnace-3],
Sum(N1.Quantity) as [Furnace-3],
 N1.Price as Price,
sum(N1.Quantity*N1.price) as Total,sum(N1.Quantity*N1.price)* 0.15 as VAT,
sum((N1.Quantity*N1.price)* 0.15) + sum(N1.Quantity*N1.price) as NetSale
from DLN1 N1 where  
    
N1.Docdate  between  @fromdate and @Todate
and N1.whscode='Fur-3' and N1.targettype=13
--===================================
group by N1.Dscription,N1.price


--====================================



--delete from WHS_DEL where Debit=0 and Credit=0 

--delete from WHS_DEL where narration='NULL'
select * from WHS_DEL order by ItemName
--order by POSTDATE,balance desc 

--SELECT ROW_NUMBER() OVER (ORDER BY Docdate )ID,* FROM WHS_DEL



end


GO
