USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Quarterly_FG_Analysis]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Quarterly_FG_Analysis] (@FromDate DATETIME,@ToDate DATETIME,@ItemGCode VARCHAR(20))
AS
BEGIN
DECLARE @QuarterTable TABLE
(
	QuarterNo INT,
	QuarterName VARCHAR(10),
	QuarterStart DATETIME,
	QuarterEnd DATETIME,
	LastDate DATETIME
)
;WITH Quarters AS
(
    SELECT 
        DATEFROMPARTS(YEAR(@FromDate), 
                      ((DATEPART(QUARTER, @FromDate)-1) * 3) + 1, 
                      1) AS QuarterStart
    UNION ALL
    SELECT DATEADD(QUARTER, 1, QuarterStart)
    FROM Quarters
    WHERE DATEADD(QUARTER, 1, QuarterStart) <= @ToDate
)
INSERT INTO @QuarterTable
SELECT DATEPART(QUARTER,QuarterStart)[QuaterNo],'Q'+CAST(DATEPART(QUARTER,QuarterStart) AS VARCHAR)[QuaterName],
    QuarterStart,
    DATEADD(DAY, -1, DATEADD(QUARTER, 1, QuarterStart)) AS QuarterEnd,
	CASE WHEN DATEADD(DAY, -1, DATEADD(QUARTER, 1, QuarterStart))> @ToDate THEN @ToDate ELSE DATEADD(DAY, -1, DATEADD(QUARTER, 1, QuarterStart)) END AS [LastDate]
FROM Quarters
OPTION (MAXRECURSION 100);



DECLARE @FGTable TABLE
(
	ItemCode VARCHAR(20),
	ItemName VARCHAR(50),
	ItmsGCode VARCHAR(20),
	ItmsGname VARCHAR(50),
	QuarterNo INT,
	QuarterName VARCHAR(10),
	QuarterStart DATETIME,
	QuarterEnd DATETIME,
	LastDate DATETIME
)

INSERT INTO @FGTable
SELECT T1.ItemCode,T1.ItemName,T2.ItmsGrpCod,T2.ItmsGrpNam,T0.QuarterNo,T0.QuarterName,T0.QuarterStart,T0.QuarterEnd,T0.LastDate FROM @QuarterTable T0
CROSS JOIN OITM T1
INNER JOIN OITB T2 ON T2.ItmsGrpCod=T1.ItmsGrpCod
WHERE T1.ItemCode LIKE '16%' AND T1.ItmsGrpCod=@ItemGCode
ORDER BY ItemCode,QuarterNo

DECLARE @FGStockStatus TABLE
(
	SI INT,
	ItmsGrpCode VARCHAR(20),
	ItmsGrpName VARCHAR(50),
	ItemCode VARCHAR(20),
	ItemName VARCHAR(50),
	YearName INT,
	QuarterNo INT,
	QuarterName VARCHAR(5),
	QuarterStart DATETIME,
	QuarterEnd DATETIME,
	LastDate DATETIME,
	NoOfDays INT,
	NoOfMonth INT,
	SalesVol DECIMAL(18,2),
	ClosingStock DECIMAL(18,2)
)

DECLARE	@ItemCode VARCHAR(20),
	@ItemName VARCHAR(50),
	@ItmsGCode VARCHAR(20),
	@ItmsGname VARCHAR(50),
	@QuarterNo INT,
	@QuarterName VARCHAR(10),
	@QuarterStart DATETIME,
	@QuarterEnd DATETIME,
	@LastDate DATETIME,
	@SI INT=1

DECLARE Stock_Cur CURSOR
FOR SELECT ItemCode,ItemName,ItmsGCode,ItmsGname,QuarterNo,QuarterName,QuarterStart,QuarterEnd,LastDate FROM @FGTable
OPEN Stock_Cur
FETCH NEXT FROM Stock_Cur INTO @ItemCode,@ItemName,@ItmsGCode,@ItmsGname,@QuarterNo,@QuarterName,@QuarterStart,@QuarterEnd,@LastDate
WHILE @@FETCH_STATUS=0
BEGIN
	DECLARE @SalesVol DECIMAL(18,2),@ClosingStock DECIMAL(18,2)
	SELECT @SalesVol=SUM(OutQty) FROM OINM WHERE ItemCode=@ItemCode AND DocDate BETWEEN @QuarterStart AND @QuarterEnd AND TransType=15
	SELECT @ClosingStock=SUM(InQty-OutQty) FROM OINM WHERE ItemCode=@ItemCode AND DocDate<=@QuarterEnd

	INSERT INTO @FGStockStatus
	SELECT @SI,@ItmsGCode,@ItmsGname,@ItemCode,@ItemName,YEAR(@QuarterStart),@QuarterNo,@QuarterName,@QuarterStart,@QuarterEnd,@LastDate,DATEDIFF(d,@QuarterStart,@LastDate)+1,DATEDIFF(M,@QuarterStart,@LastDate)+1,@SalesVol,@ClosingStock

	SET @SI=@SI+1

	FETCH NEXT FROM Stock_Cur INTO @ItemCode,@ItemName,@ItmsGCode,@ItmsGname,@QuarterNo,@QuarterName,@QuarterStart,@QuarterEnd,@LastDate
END
CLOSE Stock_Cur
DEALLOCATE Stock_Cur


SELECT SI,ItmsGrpCode,ItmsGrpName,ItemCode,ItemName,YearName,QuarterNo,QuarterName,QuarterStart,QuarterEnd,LastDate,NoOfDays,NoOfMonth,ISNULL(SalesVol,0)/NoOfMonth [Avg. Sales Vol.],ISNULL(SalesVol,0)[SalesVol],ISNULL(ClosingStock,0)ClosingStock,
CASE WHEN ISNULL(SalesVol,0)>0 THEN ISNULL(ClosingStock,0)/(ISNULL(SalesVol,0)/NoOfDays)
WHEN ISNULL(SalesVol,0)=0 AND (SELECT SUM(SalesVol) FROM @FGStockStatus WHERE ItemCode=T0.ItemCode)>0 THEN ISNULL(ClosingStock,0)/((SELECT TOP 1 SalesVol FROM @FGStockStatus WHERE ItemCode=T0.ItemCode AND SalesVol>0 ORDER BY SI DESC)/NoOfDays)
ELSE 0 END [stock reserved for the next] FROM @FGStockStatus T0 WHERE ISNULL(SalesVol,0)+ISNULL(ClosingStock,0) >0
END


----SELECT TOP 1 OutQty FROM OINM WHERE TransType=15 AND ItemCode='' ORDER BY DocDate DESC

----SELECT DATEDIFF(d,'20250701','20250831')+1


GO
