USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_OP_Prod1_SQL]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<16 Sep 2010>
-- Update on 01-04-2013 for Item Name
-- =============================================
---   [dbo].[@BGWL_OP_Prod1_SQL] '20230301','20230228','112 ml Oval Flint Savlon Glass Bottle'
CREATE PROCEDURE [dbo].[@BGWL_OP_Prod1_SQL]
	(@FROMDATE DATETIME,@TODATE DATETIME,@Itemname varchar(50))
	with RECOMPILE
AS
BEGIN

/*
SELECT ROW_NUMBER()OVER (ORDER BY T0.ItemCode ASC,T0.UpdateDate)SI,
T0.ItemCode,T1.ItemName,T0.Price,T0.UpdateDate,T0.LogInstanc,
ROW_NUMBER()OVER (PARTITION BY T0.ItemCode ORDER BY T0.ItemCode ASC,T0.UpdateDate)LogInstance_2,
CASE WHEN T0.LogInstanc=0 THEN 'Current Price' ELSE 'Old Price' END PriceStatus INTO #temPriceHist  FROM
(
SELECT T0.ItemCode,T1.PriceList,T1.Currency,T1.Price,T0.UpdateDate,T1.LogInstanc FROM AITM T0, AIT1 T1
WHERE T0.ItemCode=T1.ItemCode AND T0.LogInstanc=T1.LogInstanc AND T1.Price<>0
AND T0.ItemCode LIKE '16%'

UNION ALL

select t0.itemcode, t0.pricelist,T0.Currency, T0.Price,
T2.UpdateDate, T0.LogInstanc
from
OITM T2
Inner Join ITM1 T0 on T0.Itemcode = T2.itemcode
inner join AIT1 t1 on T0.ItemCode = t1.ItemCode and T0.PriceList =
t1.pricelist
Inner join OPLN T7 on T0.PriceList = T7.ListNum
Where

----  block this part in Jan 09,20221
T0.Price not in( T1.price )
and 
t1.LogInstanc in
(Select Top 1 t9.LogInstanc from AIT1 T9 where t9.ItemCode =t1.ItemCode and t1.PriceList = T9.PriceList order by T9.LogInstanc desc)
AND T0.ItemCode LIKE '16%' --AND T0.Price>0
)T0
INNER JOIN OITM T1 ON T0.ItemCode=T1.ItemCode
ORDER BY T0.ItemCode

*/

---=====================================Modified upper one

SELECT ROW_NUMBER()OVER (ORDER BY T0.ItemCode ASC,T0.UpdateDate)SI,
T0.ItemCode,T1.ItemName,T0.Price,T0.UpdateDate,T0.LogInstanc,
ROW_NUMBER()OVER (PARTITION BY T0.ItemCode ORDER BY T0.ItemCode ASC,T0.UpdateDate)LogInstance_2,
CASE WHEN T0.LogInstanc=0 THEN 'Current Price' ELSE 'Old Price' END PriceStatus INTO #temPriceHist FROM
(
SELECT T0.ItemCode,T1.PriceList,T1.Currency,ISNULL(T1.Price,0.00000)Price,T0.UpdateDate,T1.LogInstanc FROM AITM T0, AIT1 T1
WHERE T0.ItemCode=T1.ItemCode AND T0.LogInstanc=T1.LogInstanc AND T1.Price<>0
AND T0.ItemCode LIKE '16%' AND PriceList=1

UNION ALL

select t0.itemcode, t0.pricelist,T0.Currency, ISNULL(T0.Price,0.00000)Price,
CASE WHEN T2.UpdateDate IS NULL THEN T2.CreateDate ELSE T2.UpdateDate END UpdateDate, T0.LogInstanc
from
OITM T2
Inner Join ITM1 T0 on T0.Itemcode = T2.itemcode
LEFT join OPLN T7 on T0.PriceList = T7.ListNum
Where
T0.PriceList=1 AND
T0.ItemCode LIKE '16%'
AND Price>0
)T0
INNER JOIN OITM T1 ON T0.ItemCode=T1.ItemCode
WHERE ItemName=@Itemname
ORDER BY T0.ItemCode
----==============================================


DECLARE @Price DECIMAL(18,5)
IF EXISTS(SELECT * FROM #temPriceHist WHERE UpdateDate BETWEEN @FROMDATE AND @TODATE)
BEGIN
	SET @Price=(SELECT MAX(Price) FROM #temPriceHist WHERE UpdateDate BETWEEN @FROMDATE AND @TODATE)
END
ELSE
BEGIN
	SET @Price=(SELECT MAX(Price) FROM #temPriceHist WHERE UpdateDate<=@FROMDATE)
END
---SELECT @Price






SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_OP_PRod1')
BEGIN
 Drop table Temp_OP_PRod1
END

CREATE TABLE Temp_OP_PRod1 (DOCDATE DATETIME,Itemcode Varchar (10),Itemname varchar(100),Price DECIMAL(18,5),
Opening DECIMAL(18,5), Production FLOAT,  Delivery DECIMAL(18,5),Closing Float )

INSERT INTO Temp_OP_PRod1 

Select  a.date as DocDate,a.Itemcode,
 max(a.ItemName) as [Itemname],max(ISNULL(a.price,0.00000))as Price,
 sum(a.[Opening]) as [Opening],

 sum(a.[Production]) as [Production],

  sum(a.[Delivery]) as [Delivery],

((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a. [Delivery]) )
 as Closing
from dbo.OITM I1 
JOIN (
Select @FromDate as date, N2.Itemcode, N2.ItemName,
---=================================== Blocked date 20210109
/*(

---------update on 02022016 
 -- update on 26042016

 case
 when --(select count(price) from dln1 where dln1.itemcode=N2.itemcode  and dln1.DocDate between '20160801' and '20160801' )=0
 --and 
  ----============= Updated on 30082016================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

----------------Update Arup 20180205---------------------
WHEN
	(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )BETWEEN @FROMDATE AND @TODATE
	THEN 
	(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801' 
(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
--(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) )
 -----===========end update================
 --case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
---- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @ToDATE, 101)
 

 --- end close
 )
end
) as
 Price,*/
(
--SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate<=@FromDATE
--SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.Itemcode AND UpdateDate<=@FromDATE
--AND LogInstance_2=(SELECT MAX(LogInstance_2) FROM #temPriceHist WHERE ItemCode=N2.Itemcode AND UpdateDate<=@FROMDATE)
@Price
) Price, 
 0 as transvalue,

(sum(ISNULL(N1.inqty,0))-sum(ISNULL(n1.outqty,0))) as [Opening], 0 as [Production],
0 as [Delivery]
From dbo.OINM N1 , dbo.OITM N2
Where N1.DocDate < @FromDate   
 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N2.ItemName=@Itemname
Group By N2.Itemcode, N2.ItemName,N1.Price,n1.transvalue,N2.ItemCode

Union All
/*
select N1.DocDate, N2.Itemcode, N2.ItemName,
(
---------update on 02022016 

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate <@Fromdate)=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15
--and  OINM.DocDate <=@Fromdate 
----for Item A 55 wrong entry for price 30420
--and OINM.TransSeq not in (69005)-- for 
 ----- end wrong--
  ------ update on 26042016
 case
 when --(select count(price) from dln1 where dln1.itemcode=N2.itemcode  and dln1.DocDate between '20160801' and '20160801' )=0
 --and 
 ----============= Updated on 30082016================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
----------------Update Arup 20180205---------------------
WHEN
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )BETWEEN @FROMDATE AND @TODATE
THEN 
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801' 
(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
--(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) )
 -----===========end update================
 --- close on 02022016

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
---- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @ToDATE, 101)
 

 --- end close

 )
end
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Receipt from Production'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode
*/


---=====================================  Updated date 20210109
select N1.DocDate, N2.Itemcode, N2.ItemName,

/*CASE WHEN (SELECT COUNT(UpdateDate) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate BETWEEN @Fromdate AND @ToDate)>0
THEN (SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate BETWEEN @Fromdate AND @ToDate)
ELSE
(
--SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate <= @Fromdate
SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.Itemcode AND UpdateDate<=@FromDATE
AND LogInstance_2=(SELECT MAX(LogInstance_2) FROM #temPriceHist WHERE ItemCode=N2.Itemcode AND UpdateDate<=@FROMDATE)
)
END*/
@Price
as
 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty>0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Receipt from Production'
Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode

union all

--==== upadte on 090413 for reverse entry of production
select N1.DocDate, N2.Itemcode, N2.ItemName,
(
---------update on 02022016 

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate <@Fromdate)=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15
--and  OINM.DocDate <=@Fromdate 
----for Item A 55 wrong entry for price 30420
--and OINM.TransSeq not in (69005)-- for 
 ----- end wrong--
  ----- update on 26042016
/*
case
 when --(select count(price) from dln1 where dln1.itemcode=N2.itemcode  and dln1.DocDate between '20160801' and '20160801' )=0
 --and 
----============= Updated on 30082016================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )


----------------Update Arup 20180205---------------------
WHEN
	(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )BETWEEN @FROMDATE AND @TODATE
	THEN 
	(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )


else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801' 
(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
--(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) )
 -----===========end update================
 --- close on 02022016

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
---- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @ToDATE, 101)
 

 --- end close

 )
end
*/
@Price
) as

 Price,n1.transvalue, 0 as [Opening], 
SUM(-N1.outqty) as [Production],0 as [Delivery]

From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.outqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Issue for Production'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.outqty,N2.ItemCode



UNION ALL
----==============================Alanya Tubler (corp) Adjustment for transfer issue================================
select N1.DocDate, N2.Itemcode, N2.ItemName,
(
/*
 case 
 when 

 ----============= Updated on 10312017================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then

(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

WHEN 

(select COUNT(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15)=0
THEN
	(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
else
 
 (select MAX(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
 )
end
*/
@Price
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Goods Receipt' ------Updated at 20211116--  AND N2.ItemName IN ('Alanya Glass Tumbler(Corp.)','Alanya Glass Tumbler (Single Pack)','Long Cool Glass Tumbler (Corp.)') --AND N1.DocDate='20200319'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode
/*
UNION ALL
---==============================Alanya Glass Tumbler updated for Goods Receipts--==========================

select N1.DocDate, N2.Itemcode, N2.ItemName,

CASE WHEN (SELECT COUNT(UpdateDate) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate BETWEEN @Fromdate AND @ToDate)>0
THEN (SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate BETWEEN @Fromdate AND @ToDate)
ELSE
(SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate <= @Fromdate)
END
as
 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Goods Receipt' AND N2.ItemName='Alanya Glass Tumbler'
Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode
*/------Updated at 20211116
----=================================end==============================
---==========================Alanya Glass Tumbler Adjustment for transfer issue=====================================

UNION ALL
--select N4.Docdate,N4.Itemcode,N5.ItemName ItemName,N4.cardcode,N4.Cardname,'' address,'' Taxid2,0 Docnum,Sum(N4.OutQty) as QTY ,sum(N4.OutQty)*(SELECT MAX(Price) FROM ITM1 WHERE ItemCode='1698001') 
--as TotalVal, sum(0) as VAT, 
--/*CAST(CAST(N4.DocDate AS TIME) AS varchar(5))*/'' [U_rmvTime],(SELECT MAX(Price) FROM ITM1 WHERE ItemCode='1698001') price from OINM N4,OITM N5 WHERE N4.ItemCode='1698001' AND N4.DocDate>=@FromDATE AND N4.DocDate<=@ToDATE
--AND N4.ItemCode=N5.ItemCode AND N5.ItemName=@Itemname AND N4.JrnlMemo='Goods Issue' AND N5.ItemName=@Itemname
--GROUP BY N4.Docdate,N4.Itemcode,N4.cardcode,N4.Cardname,N5.ItemName--,CAST(N4.DocDate AS TIME)



select N1.DocDate, N2.Itemcode, N2.ItemName,
(
/*
 case 
 when
 ----============= Updated on 10312017================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

WHEN 

(select COUNT(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15)=0
THEN
	(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
else
 
 (select MAX(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
 )
end
*/
@Price
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(-N1.OutQty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.OutQty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Goods Issue' ----Updated at 20211116-AND N2.ItemName IN ('Alanya Glass Tumbler','Long Cool Glass Tumbler (Corp.)') --AND N1.DocDate='20200319'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode


union all
------============== update AR Credit Memo
--select N1.DocDate, N2.Itemcode, N2.ItemName,
--(
--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), '20130922', 101)  and CONVERT(VARCHAR(10), '20130922', 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- -- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)
-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), '20130922', 101)  and CONVERT(VARCHAR(10), '20130922', 101)
 
-- )
--end
--) as

-- Price,n1.transvalue, 0 as [Opening], 
--(N1.Inqty) as [Production],0 as [Delivery]

--From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
--and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
--N2.ItemName=@Itemname and N1.TransType =14

--Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.Inqty,N2.ItemCode

----Select * from OINM where DocDate='20130922'


------======================

--Union All

select  N1.DocDate,N2.Itemcode, N2.ItemName,
(
---------update on 02022016 

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate <@Fromdate)=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15
--and  OINM.DocDate <=@Fromdate 
----for Item A 55 wrong entry for price 30420
--and OINM.TransSeq not in (69005)-- for 
 ----- end wrong--
  ---- update on 26042016

/*
case
 when --(select count(price) from dln1 where dln1.itemcode=N2.itemcode  and dln1.DocDate between '20160801' and '20160801' )=0
 --and 
 ----============= Updated on 30082016================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )



----------------Update Arup 20180205---------------------
WHEN
	(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )BETWEEN @FROMDATE AND @TODATE
	THEN 
	(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )


else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801' 
(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
--(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) )
 -----===========end update================


--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
---- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @ToDATE, 101)
 

 --- end close

 
 )
end
*/
@Price
) as
 Price,n1.transvalue, 
0 as [Opening], 0 as [Production],(N1.outqty) as 
[Delivery]
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @FromDate  and 
N1.DocDate <=@ToDate and N1.OutQty > 0 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N1.dscription=@Itemname
Group By N2.Itemcode, N2.ItemName,N1.price, n1.transvalue,N1.DocDate,N1.outqty,N2.ItemCode


--UNION ALL 




)
a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode,a.date
Order By a.Itemcode

--delete from Temp_OP_PRod1 where [Opening] =0 and [Production]=0 


---SELECT  *  FROM Temp_OP_PRod1  
--group by Docdate,Itemcode,Itemname


end




GO
