USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_NetDues_Customer]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [@BGWL_NetDues_Customer] '20230226','CT00000961,CT00000181,CT00000547'
-- =============================================
-- Author:		<Mizan,Arup>
-- Create date: 	<18 Mar 2011>
-- Update Date:     <16 Jul 2019>
-- =============================================

CREATE PROCEDURE [dbo].[@BGWL_NetDues_Customer]
	(@Age DATETIME,@CardCode VARCHAR(5000))

AS
BEGIN
--DECLARE @Cardcode varchar(12)
--DECLARE @Cardname	varchar(50)
--DECLARE @CardFName	varchar(100)
--DECLARE @Itemcode	Varchar (8)
--DECLARE @Dscription	varchar(100)
--DECLARE @Quantity	FLOAT
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_NetDues')
 Drop table Temp_Netdues
	
CREATE TABLE Temp_Netdues (CardCode varchar(10),Cardname varchar(100),
DocNum int, InvDate datetime, Days int, InvAmt Numeric(18,2), Balance FLOAT )

INSERT INTO Temp_Netdues 
	 
Select A.Cardcode,A.Customer [Name of Customer], A.DocNum [Invoice#], A.InvDt [Date],
 datediff(dd, A.InvDt, CONVERT(VARCHAR(10), @Age, 101)) [Days],
 A.InvAmt [Invoice Amount],A.[balance] from 
(
SELECT  T0.[CardCode], ((SELECT CASE WHEN C.U_SubUnit IS NOT NULL THEN C.CardName+' ('+ISNULL(C.U_SubUnit,'')+')' ELSE C.CardName END FROM OCRD C WHERE C.CardCode=T0.[CardCode]))/*MAX(T0.[CardName])*/ [Customer], T0.[DocNum], 
max(T0.[DocDate]) [InvDt], T0.[DocDueDate], T0.[DocTotal], T0.[PaidToDate], 
Doctotal - paidtodate [InvAmt], 0 as balance
FROM OINV T0, OCRD T1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0
 and T1.[CardCode]=T0.[CardCode]
group by T0.cardcode, T0.docnum, T0.docduedate, T0.doctotal, T0.paidtodate 
having ((doctotal -paidtodate) > 0)

union all
--update for discount 28102013------------
--SELECT  T0.[CardCode], max(T0.[CardName]) [Customer], T0.[DocNum], 
--max(T0.[DocDate]) [InvDt], T0.[DocDueDate] [DocDueDate], 0 as Doctotal, 0 as [PaidToDate], 
-- -Sum(J1.Debit) [InvAmt], 0 as balance
--FROM OINV T0 ,JDT1 J1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0
-- and  T0.[CardCode]=J1.[ContraAct] and T0.docdate=J1.duedate and T0.Ref1=J1.Ref1
-- and J1.linememo like 'Trade Discount%' 
--group by T0.cardcode, T0.docnum,j1.[ContraAct],T0.[DocDueDate]

 --union all
-- end update for discount
SELECT  T0.[CardCode], ((SELECT CASE WHEN C.U_SubUnit IS NOT NULL THEN C.CardName+' ('+ISNULL(C.U_SubUnit,'')+')' ELSE C.CardName END FROM OCRD C WHERE C.CardCode=T0.[CardCode]))/*MAX(T0.[CardName])*/ [Customer], 0 as [DocNum], 
@Age as  [InvDt],  '' as DocDueDate, 0 as [DocTotal],0 as [PaidToDate],
0  as [InvAmt],T1.balance  [Balance]
FROM OINV T0 , OCRD T1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0 and 
T1.[CardCode]=T0.[CardCode] 
group by T0.cardcode,/*T0.[CardName],*/T1.balance
 having ((sum(doctotal) ) > 0)

) A
order by  [Name of Customer],[Days] desc,[Invoice Amount] desc

--update Temp_Netdues set InvDate=@Age, days=0 where docnum=''
-- if the balance is less than 0 and invoice amount is 0, then delete 0 invoice and balance 
delete  from Temp_NetDues where balance<=0 and InvAmt=0
----------------- end -----------------

--IF EXISTS(SELECT * FROM sys.tables WHERE name='TempCardCode$$')
--BEGIN
--	DROP TABLE TempCardCode$$
--END
--CREATE TABLE TempCardCode$$
--(
--	CardCode VARCHAR(20)
--)

DECLARE @CardVal VARCHAR(5000)
SET @CardVal=REPLACE(@CardCode,',',''',''')

EXEC
(
'
SELECT  CardCode,Cardname [Customer Name] ,
DocNum [Invoice ##] , InvDate , Days [Due Days] , InvAmt [Invoice Amount] , Balance   FROM Temp_Netdues  
where CardCode IN('''+@CardVal+''')-- -------------------
-- -------------------
order by cardcode,Cardname,Days desc-- Update 28102013
'
)
--=========================   
END
GO
