USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_InvDue]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Create date: 	<02 Nov 2010>

-- =============================================


CREATE PROCEDURE [dbo].[@BGW_InvDue]
	
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_BGW_InvDue')
 Drop table Temp_BGW_InvDue

	
CREATE TABLE Temp_BGW_InvDue (Cardname Varchar(50),Docnum Int,
Docdate datetime, DocTotal Float, U_balance Float)

INSERT INTO Temp_BGW_InvDue

select Cardname ,DocNum , Docdate , Doctotal, U_Balance from OINV


select * from Temp_BGW_InvDue
end

GO
