USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_OP_Prod.1.1]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<16 Sep 2010>
-- Update on 01-04-2013 for Item Name
-- =============================================
--  [@BGWL_OP_Prod.1.1] '20210201','20210228','112 ml Oval Flint Savlon Glass Bottle' 
CREATE PROCEDURE [dbo].[@BGWL_OP_Prod.1.1]
	(@FromDATE DATETIME,@ToDATE DATETIME,@itemname varchar(50))
AS
BEGIN

	SET NOCOUNT ON;

	---**************************************************

/*
SELECT ROW_NUMBER()OVER (ORDER BY T0.ItemCode ASC,T0.UpdateDate)SI,
T0.ItemCode,T1.ItemName,T0.Price,T0.UpdateDate,T0.LogInstanc,
ROW_NUMBER()OVER (PARTITION BY T0.ItemCode ORDER BY T0.ItemCode ASC,T0.UpdateDate)LogInstance_2,
CASE WHEN T0.LogInstanc=0 THEN 'Current Price' ELSE 'Old Price' END PriceStatus INTO #temPriceHist  FROM
(
SELECT T0.ItemCode,T1.PriceList,T1.Currency,T1.Price,T0.UpdateDate,T1.LogInstanc FROM AITM T0, AIT1 T1
WHERE T0.ItemCode=T1.ItemCode AND T0.LogInstanc=T1.LogInstanc AND T1.Price<>0
AND T0.ItemCode LIKE '16%'

UNION ALL

select t0.itemcode, t0.pricelist,T0.Currency, T0.Price,
T2.UpdateDate, T0.LogInstanc
from
OITM T2
Inner Join ITM1 T0 on T0.Itemcode = T2.itemcode
inner join AIT1 t1 on T0.ItemCode = t1.ItemCode and T0.PriceList =
t1.pricelist
Inner join OPLN T7 on T0.PriceList = T7.ListNum
Where

----  block this part in Jan 09,20221
T0.Price not in( T1.price )
and 
t1.LogInstanc in
(Select Top 1 t9.LogInstanc from AIT1 T9 where t9.ItemCode =t1.ItemCode and t1.PriceList = T9.PriceList order by T9.LogInstanc desc)
AND T0.ItemCode LIKE '16%' --AND T0.Price>0
)T0
INNER JOIN OITM T1 ON T0.ItemCode=T1.ItemCode
ORDER BY T0.ItemCode
*/
---=====================================Modified upper one

SELECT ROW_NUMBER()OVER (ORDER BY T0.ItemCode ASC,T0.UpdateDate)SI,
T0.ItemCode,T1.ItemName,T0.Price,T0.UpdateDate,T0.LogInstanc,
ROW_NUMBER()OVER (PARTITION BY T0.ItemCode ORDER BY T0.ItemCode ASC,T0.UpdateDate)LogInstance_2,
CASE WHEN T0.LogInstanc=0 THEN 'Current Price' ELSE 'Old Price' END PriceStatus INTO #temPriceHist FROM
(
SELECT T0.ItemCode,T1.PriceList,T1.Currency,ISNULL(T1.Price,0.00)Price,T0.UpdateDate,T1.LogInstanc FROM AITM T0, AIT1 T1
WHERE T0.ItemCode=T1.ItemCode AND T0.LogInstanc=T1.LogInstanc AND T1.Price<>0
AND T0.ItemCode LIKE '16%'

UNION ALL

select t0.itemcode, t0.pricelist,T0.Currency, ISNULL(T0.Price,0.00)Price,
CASE WHEN T2.UpdateDate IS NULL THEN T2.CreateDate ELSE T2.UpdateDate END UpdateDate, T0.LogInstanc
from
OITM T2
Inner Join ITM1 T0 on T0.Itemcode = T2.itemcode
LEFT join OPLN T7 on T0.PriceList = T7.ListNum
Where
T0.PriceList=1 AND
T0.ItemCode LIKE '16%'
AND Price>0
)T0
INNER JOIN OITM T1 ON T0.ItemCode=T1.ItemCode
ORDER BY T0.ItemCode





----SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode='1640001' AND UpdateDate<=@FromDATE

---***************************************************

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_OP_PRod1')
BEGIN
 Drop table Temp_OP_PRod1 
END

CREATE TABLE Temp_OP_PRod1 (DOCDATE DATETIME,Itemcode Varchar (10),Itemname varchar(100),Price Float,
Opening Float, Production FLOAT,  Delivery Float,Closing Float )

INSERT INTO Temp_OP_PRod1 

Select  a.date as DocDate,a.Itemcode,
 max(a.ItemName) as [Itemname],max(ISNULL(a.price,0.))as Price,
 sum(a.[Opening]) as [Opening],

 sum(a.[Production]) as [Production],

  sum(a.[Delivery]) as [Delivery],

((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a. [Delivery]) )
 as Closing
from dbo.OITM I1 
JOIN (
Select @FromDate as date, N2.Itemcode, N2.ItemName,
/*(

 case
 when 
  ----============= Updated on 30082016================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
else

(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15

 )
end
) as
 Price,
 */
(
	SELECT MAX(ISNULL(Price,0.00)) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate<=@FromDATE
) Price,0 as transvalue,

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], 0 as [Production],
0 as [Delivery]
From dbo.OINM N1 , dbo.OITM N2
Where N1.DocDate <@FromDate   
 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N2.ItemName=@Itemname
Group By N2.Itemcode, N2.ItemName,N1.Price,n1.transvalue,N2.ItemCode

Union All

---=================================== Blocked date 20210109
/*
select N1.DocDate, N2.Itemcode, N2.ItemName,
(

 case 
 when 

 ----============= Updated on 10312017================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then

(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

WHEN 

(select COUNT(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15)=0
THEN
	(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
else
 
 (select MAX(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
 )
end
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Receipt from Production'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode

*/
---=====================================  Updated date 20210109
select N1.DocDate, N2.Itemcode, N2.ItemName,

CASE WHEN (SELECT COUNT(UpdateDate) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate BETWEEN @Fromdate AND @ToDate)>0
THEN (SELECT MAX(ISNULL(Price,0.00)) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate BETWEEN @Fromdate AND @ToDate)
ELSE
(SELECT MAX(ISNULL(Price,0.00)) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate <= @Fromdate)
END
as
 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Receipt from Production'
Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode

UNION ALL
----==============================Alanya Tubler cord================================
select N1.DocDate, N2.Itemcode, N2.ItemName,
(

 case 
 when 

 ----============= Updated on 10312017================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then

(select MAX(ISNULL(Price,0.00)) from ITM1 where ITM1.itemcode=N2.itemcode )

WHEN 

(select COUNT(ISNULL(Price,0.00)) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15)=0
THEN
	(select MIN(ISNULL(Price,0.00)) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
else
 
 (select MAX(ISNULL(Price,0.00)) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
 )
end
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Goods Receipt' ----AND N2.ItemName IN ('Alanya Glass Tumbler(Corp.)','Alanya Glass Tumbler (Single Pack)','Long Cool Glass Tumbler (Corp.)') --AND N1.DocDate='20200319'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode
/*
UNION ALL
---==============================Alanya Glass Tumbler updated for Goods Receipts--==========================
select N1.DocDate, N2.Itemcode, N2.ItemName,

CASE WHEN (SELECT COUNT(UpdateDate) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate BETWEEN @Fromdate AND @ToDate)>0
THEN (SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate BETWEEN @Fromdate AND @ToDate)
ELSE
(SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N2.ItemCode AND UpdateDate <= @Fromdate)
END
as
 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Goods Receipt' AND N2.ItemName='Alanya Glass Tumbler'
Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode
*/
----=================================end==============================
UNION ALL
---=====================================================================
select N1.DocDate, N2.Itemcode, N2.ItemName,
(

 case 
 when
 ----============= Updated on 10312017================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
(select max(ISNULL(Price,0.00)) from ITM1 where ITM1.itemcode=N2.itemcode )

WHEN 

(select COUNT(ISNULL(Price,0.00)) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15)=0
THEN
	(select MIN(ISNULL(Price,0.00)) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
else
 
 (select MAX(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
 )
end
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(-N1.OutQty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.OutQty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Goods Issue' ---AND N2.ItemName IN ('Alanya Glass Tumbler','Long Cool Glass Tumbler (Corp.)') --AND N1.DocDate='20200319'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode

---=================================End--===========================================

union all

--==== upadte on 090413 for reverse entry of production
select N1.DocDate, N2.Itemcode, N2.ItemName,
(

case
 when  
----============= Updated on 30082016================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then

(select max(ISNULL(Price,0.00)) from ITM1 where ITM1.itemcode=N2.itemcode )
else

(select max(ISNULL(Price,0.00)) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
 )
end
) as

 Price,n1.transvalue, 0 as [Opening], 
(-N1.outqty) as [Production],0 as [Delivery]

From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.outqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Issue for Production'


Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.outqty,N2.ItemCode

union all
select  N1.DocDate,N2.Itemcode, N2.ItemName,
(

case
 when 
 ----============= Updated on 30082016================----
 (select CASE WHEN UpdateDate IS NULL THEN CreateDate ELSE UpdateDate END  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then

(select max(ISNULL(Price,0.00)) from ITM1 where ITM1.itemcode=N2.itemcode )
else

(select max(ISNULL(Price,0.00)) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15  
 )
end
) as
 Price,n1.transvalue, 
0 as [Opening], 0 as [Production],(N1.outqty) as 
[Delivery]
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @FromDate  and 
N1.DocDate <=@ToDate and N1.OutQty > 0 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N1.dscription=@Itemname
Group By N2.Itemcode, N2.ItemName,N1.price, n1.transvalue,N1.DocDate,N1.outqty,N2.ItemCode
)
a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode,a.date
Order By a.Itemcode
--delete from Temp_OP_PRod1 where [Opening] =0 and [Production]=0 

--SELECT  *  FROM Temp_OP_PRod1  
--group by Docdate,Itemcode,Itemname


end





GO
