USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_FG_Statement_wh_10282017]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---  [@BGW_FG_Statement_wh_10282017] '20190101','20190131'
CREATE PROC [dbo].[@BGW_FG_Statement_wh_10282017]
@FromDate DATETIME,
@ToDate DATETIME
AS

BEGIN
--DECLARE @FromDate DATETIME,@ToDate DATETIME

--SET @FromDate='08/01/2016'
--SET @ToDate='08/31/2016'


--1630001


--SELECT T0.ItemCode,T3.ItemName, T0.Price, T1.UpdateDate,T0.LogInstanc, T4.Price [Current Price],T2.ListName,T1.LstEvlDate INTO #temPriceList01
--FROM AIT1 T0 inner join AITM T1 on T0.LogInstanc = T1.Loginstanc and T0.ItemCode = T1.ItemCode 
--inner join OPLN T2 on T0.Pricelist = T2.[ListNum] 
--inner join OITM T3 on T0.ItemCode = T3.ItemCode 
--inner join ITM1 T4 on T4.ItemCode = T3.ItemCode and T4.Pricelist = T2.ListNum 
--WHERE /*T3.[ItemCode] = '1620001' and*/ T2.listname = 'Price List 01' AND T0.ItemCode LIKE '16%' AND T1.LstEvlDate IS NOT NULL
--AND T1.LstEvlDate IN (SELECT MAX(LstEvlDate) FROM AITM WHERE ItemCode=T0.ItemCode GROUP BY ItemCode )
--AND T1.LogInstanc IN (SELECT MAX(LogInstanc) FROM AITM WHERE ItemCode=T0.ItemCode GROUP BY ItemCode)
--order by T0.Loginstanc 

---===================================================
DECLARE @PriceLogs TABLE
(
	SI INT,
	ItemCode VARCHAR(12),
	ItemName VARCHAR(50),
	Price DECIMAL(18,6),
	UpdateDate DATETIME,
	LogInstance INT,
	LogInstance_2 INT,
	PriceStatus VARCHAR(50)
)


INSERT INTO @PriceLogs
SELECT ROW_NUMBER()OVER (ORDER BY T0.ItemCode ASC,T0.UpdateDate)SI,
T0.ItemCode,T1.ItemName,T0.Price,T0.UpdateDate,T0.LogInstanc,
ROW_NUMBER()OVER (PARTITION BY T0.ItemCode ORDER BY T0.ItemCode ASC,T0.UpdateDate)LogInstance_2,
CASE WHEN T0.LogInstanc=0 THEN 'Current Price' ELSE 'Old Price' END PriceStatus FROM
(
SELECT T0.ItemCode,T1.PriceList,T1.Currency,T1.Price,T0.UpdateDate,T1.LogInstanc FROM AITM T0, AIT1 T1
WHERE T0.ItemCode=T1.ItemCode AND T0.LogInstanc=T1.LogInstanc AND T1.Price<>0
AND T0.ItemCode LIKE '16%'

UNION ALL

select t0.itemcode, t0.pricelist,T0.Currency, T0.Price,
T2.UpdateDate, T0.LogInstanc
from
OITM T2
Inner Join ITM1 T0 on T0.Itemcode = T2.itemcode
inner join AIT1 t1 on T0.ItemCode = t1.ItemCode and T0.PriceList =
t1.pricelist
Inner join OPLN T7 on T0.PriceList = T7.ListNum
Where
T0.Price not in( T1.price )
and t1.LogInstanc in
(Select Top 1 t9.LogInstanc from AIT1 T9 where t9.ItemCode =t1.ItemCode and t1.PriceList = T9.PriceList order by T9.LogInstanc desc)
AND T0.ItemCode LIKE '16%'
)T0
INNER JOIN OITM T1 ON T0.ItemCode=T1.ItemCode
ORDER BY T0.ItemCode


--========================================================
---------------------------------------------------------------------------------------------------------------
DECLARE @Temp_FG_Statement_WH TABLE  (Itemcode Varchar (8),ItemName varchar(100),Whsname varchar(20),Rate Float,
Opening Float,OpVal Float, Production Float,ProVal Float,
Delivery_Others Float,DelVal Float,VatSum Float,RATEClose  Float,Closing Float,ClosVal Float,ItemGroup varchar(30))
-----------------------------------------------------------------------------------------------------------------


INSERT INTO @Temp_FG_Statement_WH
	 
--============Main Query=====================

Select a.Itemcode,
 max(a.Itemname) as [Itemname],
--update on 23022016 for warehouse
--max(a.warehouse) as [Whsname] 
(a.warehouse) as [Whsname] 
--===End=====
,
 MAX(a.Rate)Rate,  
sum(a.[Opening]) as [Opening],
sum(a.[OpVal]) as [OpVal],
 sum(a.[Production]) as [Production],
sum(a.[ProVal]) as [ProVal],
  sum(a.[Delivery_Others]) as [Delivery_Others],
sum(a.[DelVal]) as [DelVal],
sum(a.[VatSum]) as [VatSum],MAX(a.RATEClose)RATEClose,
((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a.[Delivery_Others])) as Closing,
--((sum(a.[OpVal]) + sum(a.[ProVal]))) - (Sum(a.[DelVal])) as ClosVal,
((sum(a.[Opening]) + sum(a.[Production])) - (Sum(a.[Delivery_Others])))* (MAX(a.RATEClose)) as ClosVal,
max(a.ItemGroup) as [ItemGroup]  

--update on 23022016 for warehouse
--from dbo.OITM I1 
from OITW I1
JOIN
(


select    N2.Itemcode , N2.ItemName,N1.whscode warehouse,
0 as RATE,
0 as RATEClose,
0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
SUM(N1.Quantity) as [Delivery_Others],
SUM(N1.Quantity*N1.Price) As [Delval],SUM(N1.VatSum) As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.DLN1 N1, dbo.OITM N2,OITW N3,OITB N4 
Where N1.DocEntry IN (SELECT DocEntry FROM ODLN WHERE DocDate BETWEEN CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103))----(N1.DocDate BETWEEN CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103))

and N1.Itemcode=N2.Itemcode  and N1.Whscode=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod

Group By N2.ItemCode,N2.ItemName,N1.whscode,n4.Itmsgrpnam



--select * from OINM WHERE TransType=16

--SELECT * FROM RDN1
UNION ALL

SELECT T1.ItemCode Itemcode,Dscription ItemName,WhsCode warehouse,0 RATE,0 as RATEClose,0 as transvalue,0 [Opening], 0 [OpVal],0 [Production], 0 [ProVal],
-SUM(Quantity)[Delivery_Others],-SUM(Quantity*Price) [DelVal],-SUM(T1.VatSum) As [VatSum],T3.ItmsGrpNam ItemGroup 
FROM RIN1 T1,OITM T2,OITB T3
WHERE  T1.DocEntry IN(SELECT DocEntry FROM ORIN WHERE DocDate BETWEEN CONVERT(datetime, @Fromdate, 103) AND CONVERT(datetime, @Todate, 103))---T1.DocDate BETWEEN CONVERT(datetime, @Fromdate, 103) AND CONVERT(datetime, @Todate, 103) 
AND T1.ItemCode=T2.ItemCode AND T2.ItmsGrpCod=T3.ItmsGrpCod
GROUP BY T1.ItemCode,Dscription,WhsCode,T3.ItmsGrpNam

UNION ALL

SELECT T1.ItemCode Itemcode,Dscription ItemName,WhsCode warehouse,0 RATE,0 as RATEClose,0 as transvalue,0 [Opening], 0 [OpVal],0 [Production], 0 [ProVal],
-SUM(Quantity)[Delivery_Others],-SUM(Quantity*Price) [DelVal],-SUM(T1.VatSum) As [VatSum],T3.ItmsGrpNam ItemGroup 
FROM RDN1 T1,OITM T2,OITB T3
WHERE T1.DocEntry IN(SELECT DocEntry FROM ORDN WHERE DocDate BETWEEN CONVERT(datetime, @Fromdate, 103) AND CONVERT(datetime, @Todate, 103))-----T1.DocDate BETWEEN CONVERT(datetime, @Fromdate, 103) AND CONVERT(datetime, @Todate, 103) 
AND T1.ItemCode=T2.ItemCode AND T2.ItmsGrpCod=T3.ItmsGrpCod
GROUP BY T1.ItemCode,Dscription,WhsCode,T3.ItmsGrpNam


UNION ALL

--------------------------------------------------------------------------------------------
---------------------------------Opening---------------------------------------------------


Select  N2.Itemcode, N2.Itemname,N1.warehouse,
(
SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate<=@FromDate GROUP BY T1.ItemCode)
GROUP BY T0.ItemCode
) as RATE,
--------------------------------------------
(
SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate<=@ToDate GROUP BY T1.ItemCode)
GROUP BY T0.ItemCode

) as RATEClose,
--------------------------------------------


0 as transvalue,

(sum(N1.inqty-n1.outqty)) as [Opening],
(sum(N1.inqty- n1.outqty)*
(
	SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
	(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate<=@FromDate GROUP BY T1.ItemCode)
	GROUP BY T0.ItemCode
)
) as [OPVal],
 0 as [Production],0 as [Proval],

0 as [Delivery_Others] , 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1 , dbo.OITM N2,OITW N3,OITB N4
Where N1.DocDate < CONVERT(datetime, @Fromdate, 103) --and N1.TransType !=14
  and N2.itemcode like '16%'  and N1.Itemcode=N2.Itemcode and N1.Warehouse=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
 
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam

UNION ALL

---------------------------------------------------------------------------------------------
------------------------------Receipt from Production-------------------------------------------

select    N2.Itemcode, N2.ItemName,N1.warehouse,
0
 as RATE,
0 as RATEClose, 
 0 as transvalue,
0 as [Opening],0 as [OpVal],
sum(N1.inqty) as [Production],
((sum(N1.inqty))* 
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103))=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
		(select count(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate <= CONVERT(datetime, @Fromdate, 103))>0
	THEN
		(select MAX(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate <= CONVERT(datetime, @Fromdate, 103))
	WHEN 
		(select count(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))>0
	THEN
		(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
	ELSE
		--(SELECT MAX(Price) FROM OITM WHERE OITM.ItemCode=N2.itemcode)
		(SELECT MAX(Price) FROM ITM1 WHERE ITM1.ItemCode=N2.itemcode)
	END

else
(  
  CASE WHEN (SELECT COUNT(*) FROM @PriceLogs T11 WHERE T11.ItemCode=N2.ItemCode AND UpdateDate BETWEEN @FromDate AND @ToDate )>0
	THEN
		(SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
		(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate BETWEEN @FromDate AND @ToDate GROUP BY T1.ItemCode)
		GROUP BY T0.ItemCode)
		ELSE
		(SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
		(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate<=@FromDate GROUP BY T1.ItemCode)
		GROUP BY T0.ItemCode)
	END
 )
end
)

) as [Proval],
0 as [Delivery_Others], 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and N1.DocDate <= CONVERT(datetime, @Todate, 103)
and  N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam



UNION ALL
---======================= Goods Receipts(20210103)

select    N2.Itemcode, N2.ItemName,N1.warehouse,
0
 as RATE,
0 as RATEClose, 
 0 as transvalue,
0 as [Opening],0 as [OpVal],
sum(N1.inqty) as [Production],
((sum(N1.inqty))* 
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103))=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
		(select count(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate <= CONVERT(datetime, @Fromdate, 103))>0
	THEN
		(select MAX(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate <= CONVERT(datetime, @Fromdate, 103))
	WHEN 
		(select count(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))>0
	THEN
		(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
	ELSE
		--(SELECT MAX(Price) FROM OITM WHERE OITM.ItemCode=N2.itemcode)
		(SELECT MAX(Price) FROM ITM1 WHERE ITM1.ItemCode=N2.itemcode)
	END

else
(  
  CASE WHEN (SELECT COUNT(*) FROM @PriceLogs T11 WHERE T11.ItemCode=N2.ItemCode AND UpdateDate BETWEEN @FromDate AND @ToDate )>0
	THEN
		(SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
		(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate BETWEEN @FromDate AND @ToDate GROUP BY T1.ItemCode)
		GROUP BY T0.ItemCode)
		ELSE
		(SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
		(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate<=@FromDate GROUP BY T1.ItemCode)
		GROUP BY T0.ItemCode)
	END
 )
end
)

) as [Proval],
0 as [Delivery_Others], 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and N1.DocDate <= CONVERT(datetime, @Todate, 103)
and  N1.jrnlmemo='Goods Receipt'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam

--=========================================================================================

UNION ALL
------------------------------------------------------------------------------------
-----------------------------Issue for Production--------------------------------------

select    N2.Itemcode, N2.ItemName,N1.warehouse,
0 as RATE,
0 as RATEClose,
 0 as transvalue,
0 as [Opening],0 as [OpVal],
 -sum(N1.outqty)   as [Production],
((-sum(N1.outqty))* 
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103))=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
		(select count(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate <= CONVERT(datetime, @Fromdate, 103))>0
	THEN
		(select MAX(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate <= CONVERT(datetime, @Fromdate, 103))
	WHEN 
		(select count(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))>0
	THEN
		(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
	ELSE
		--(SELECT MAX(Price) FROM OITM WHERE OITM.ItemCode=N2.itemcode)
		(SELECT MAX(Price) FROM ITM1 WHERE ITM1.ItemCode=N2.itemcode)
	END

else
( 
	CASE WHEN (SELECT COUNT(*) FROM @PriceLogs T11 WHERE T11.ItemCode=N2.ItemCode AND UpdateDate BETWEEN @FromDate AND @ToDate )>0
	THEN
		(SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
		(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate BETWEEN @FromDate AND @ToDate GROUP BY T1.ItemCode)
		GROUP BY T0.ItemCode)
		ELSE
		(SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
		(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate<=@FromDate GROUP BY T1.ItemCode)
		GROUP BY T0.ItemCode)
	END
)
end
)
) as [Proval],
0 as [Delivery_Others], 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and N1.DocDate <= CONVERT(datetime, @Todate, 103)
and  N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam


-----================== Goods Issues (20210105)
UNION ALL

select    N2.Itemcode, N2.ItemName,N1.warehouse,
0 as RATE,
0 as RATEClose,
 0 as transvalue,
0 as [Opening],0 as [OpVal],
 -sum(N1.outqty)   as [Production],
((-sum(N1.outqty))* 
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103))=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
		(select count(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate <= CONVERT(datetime, @Fromdate, 103))>0
	THEN
		(select MAX(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate <= CONVERT(datetime, @Fromdate, 103))
	WHEN 
		(select count(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))>0
	THEN
		(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
	ELSE
		--(SELECT MAX(Price) FROM OITM WHERE OITM.ItemCode=N2.itemcode)
		(SELECT MAX(Price) FROM ITM1 WHERE ITM1.ItemCode=N2.itemcode)
	END

else
( 
	CASE WHEN (SELECT COUNT(*) FROM @PriceLogs T11 WHERE T11.ItemCode=N2.ItemCode AND UpdateDate BETWEEN @FromDate AND @ToDate )>0
	THEN
		(SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
		(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate BETWEEN @FromDate AND @ToDate GROUP BY T1.ItemCode)
		GROUP BY T0.ItemCode)
		ELSE
		(SELECT MAX(T0.Price) FROM @PriceLogs T0 WHERE T0.ItemCode =N2.ItemCode AND T0.UpdateDate=
		(SELECT MAX(UpdateDate) FROM @PriceLogs T1 WHERE T1.ItemCode =N2.ItemCode AND T1.UpdateDate<=@FromDate GROUP BY T1.ItemCode)
		GROUP BY T0.ItemCode)
	END
)
end
)
) as [Proval],
0 as [Delivery_Others], 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and N1.DocDate <= CONVERT(datetime, @Todate, 103)
and  N1.jrnlmemo='Goods Issue'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam




)a

ON a.ItemCode=I1.ItemCode and I1.WhsCode =a.Warehouse
Group By a.Itemcode ,I1.ItemCode, a.Warehouse ,i1.WhsCode ----,a.RATEClose,a.rate
--====== End
Order By a.Itemcode
--------------------------------------------------------
----select * from @Temp_FG_Statement_WH
-----========================= 20210103--==============
DECLARE @Price float
SELECT @Price=MAX(Price) FROM @PriceLogs WHERE Itemcode='1698005' GROUP BY Itemcode
---===============================

delete from @Temp_FG_Statement_WH  where [Opening] =0 and [Production]=0 and [Delivery_Others]=0  

SELECT  [ItemCode],[ItemName],[Whsname],CASE WHEN ItemCode='1698005' THEN MAX(@Price) ELSE CAST(max([Rate])AS DECIMAL(18,6)) END as OpeningRATE,sum([Opening]) [Opening],
(max([Rate]) * sum([Opening]))[OpVal],Sum([Production]) [Production],
CASE WHEN ItemCode='1698005' THEN MAX(ProVal) ELSE (max([Rate]) * sum([Production])) END [ProVal],
Sum([Delivery_Others]) [Delivery],(sum([DelVal]))[DelVal],Sum([VatSum])[VAT],CASE WHEN ItemCode='1698005' THEN MAX(@Price) ELSE CAST(max([RATEClose])AS DECIMAL(18,6)) END ClosingRate,
Sum([Closing]) [Closing],(max([RATEClose]) * sum([Closing]))[ClosVal],[ItemGroup] FROM @Temp_FG_Statement_WH 
group by [ItemCode],[ItemName],[Whsname],[ItemGroup]
order by [ItemCode] Asc

END
GO
