USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_NetDues_Other]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Mizan>
-- Create date: 	<18 Mar 2011>

-- =============================================

CREATE PROCEDURE [dbo].[@BGWL_NetDues_Other]
	(@Age DATETIME)
AS
BEGIN
--DECLARE @Cardcode varchar(12)
--DECLARE @Cardname	varchar(50)
--DECLARE @CardFName	varchar(100)
--DECLARE @Itemcode	Varchar (8)
--DECLARE @Dscription	varchar(100)
--DECLARE @Quantity	FLOAT
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_NetDues_Other')
 Drop table Temp_NetDues_Other
	
CREATE TABLE Temp_NetDues_Other (Cardname varchar(100),
DocNum int, InvDate datetime, Days int, InvAmt Float, Balance FLOAT )

INSERT INTO Temp_NetDues_Other 
	 
Select A.Customer [Name of Customer], A.DocNum [Invoice#], A.InvDt [Date],
 datediff(dd, A.InvDt, CONVERT(VARCHAR(10), @Age, 101)) [Days],
 A.InvAmt [Invoice Amount],A.[balance] from 
(
SELECT  T0.[CardCode], max(T0.[CardName]) [Customer], T0.[DocNum], 
max(T0.[DocDate]) [InvDt], T0.[DocDueDate], T0.[DocTotal], T0.[PaidToDate], 
Doctotal - paidtodate [InvAmt], 0 as balance
FROM OINV T0, OCRD T1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0
 and T1.[CardCode]=T0.[CardCode]
group by T0.cardcode, T0.docnum, T0.docduedate, T0.doctotal, t0.paidtodate 
having ((doctotal -paidtodate) > 0)

union all

SELECT  T0.[CardCode], max(T0.[CardName]) [Customer], 0 as [DocNum], 
@Age as  [InvDt],  '' as DocDueDate, 0 as [DocTotal],0 as [PaidToDate],

0  as [InvAmt],T1.balance  [Balance]
FROM OINV T0 , OCRD T1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0 and 
T1.[CardCode]=T0.[CardCode] 
group by T0.cardcode,T0.[CardName],T1.balance
 having ((sum(doctotal) ) > 0)

) A
order by  [Name of Customer],[Days] desc,[Invoice Amount] desc

--update Temp_Netdues set InvDate=@Age, days=0 where docnum=''
--delete  from Temp_NetDues where balance=0

--SELECT  Cardname [Customer Name] ,
--DocNum [Invoice ##] , InvDate , Days [Due Days] , InvAmt [Invoice Amount] , Balance   FROM Temp_NetDues_Other  

SELECT  Cardname [Customer Name] ,
 Balance   FROM Temp_NetDues_Other  
where cardname != 'Hamdard Lab. (Waqf) Bangladesh'
   and cardname!= 'Renata Limited'
   and cardname!= 'The ACME Laboratories Ltd.' 
   and cardname!= 'Bangladesh Lamps Ltd.' 
   and cardname!= 'Incepta Pharmaceuticals Ltd.'
   and cardname!= 'GlaxoSmithKline Bangladesh Limited'
   and cardname!= 'Eskayef (Bangladesh) Limited'
   and balance>0
END

--and T1.[CardCode] ='CT00000226' or T1.[CardCode] ='CT00000309' or T1.[CardCode] ='CT00000027'
--or T1.[CardCode] ='CT00000181'


























GO
