USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_PurchaseRegister_test]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Mizan>
-- Create date: 	<05 May 2010>

-- =============================================
 --EXEC [@BGW_SalesRegister]'2009-09-01','125ml Round Amber Bottles'
Create PROCEDURE [dbo].[@BGW_PurchaseRegister_test]
	-- Add the parameters for the stored procedure here
	(@FROMDATE DATETIME,@ToDATE DATETIME,@ITEMNAME VARCHAR(50))
AS
BEGIN
DECLARE @ID INT
DECLARE @OBQty	FLOAT
DECLARE @OBVALUE	FLOAT
DECLARE @cardname	Varchar(100)
DECLARE @PurchaseQTY	FLOAT
DECLARE @PurchaseVALUE	FLOAT
DECLARE @DELIVEREDQUANTITY	FLOAT
DECLARE @DELIVEREDAMOUNT	FLOAT
DECLARE @VAT	FLOAT
DECLARE @ClosingBalanceQuantity	FLOAT
DECLARE @ClosingBalanceAmount 	FLOAT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--set identity_insert on;
    -- Insert statements for procedure here
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='TEMP_PURREG_test')
 Drop table TEMP_PURREG_test
	CREATE TABLE TEMP_PURREG_test (ID INT primary key,DOCDATE DATETIME, [OB Qty] FLOAT,
[OB VALUE] FLOAT,[Purchase QTY] FLOAT,[Purchase VALUE] FLOAT,CARDNAME VARCHAR(50),
ADDRESS VARCHAR(80),[Reg. No.] VARCHAR(50),
	[DELIVERY CHALLAN NO] FLOAT,[DELIVERY CHALLAN DATE] DATETIME, Dtime varchar(5), 
[DELIVERED ITEM] VARCHAR(50),[DELIVERED QUANTITY]  FLOAT, [DELIVERED AMOUNT]  FLOAT,
SD VARCHAR(30),VAT  FLOAT,[Closing Balance Quantity] FLOAT, 
[Closing Balance Amount] FLOAT )

	INSERT INTO TEMP_PURREG_test 

SELECT ROW_NUMBER() OVER (ORDER BY N1.DocNum )ID,
 N2.docdate as date,sum(N2.OPening) As OP,
 sum(N2.OPening) * n1.price As OPVAL , 
Sum(N2.Purchase) as Purchase, 
sum(N2.Purchase) * n1.price as PurchaseVal,
N1.[cardname],N1.Address,N1.RegNO,N1.Docnum,
N1.Docdate as Chalandate,N1.Dtime, N1.Itemname ,
N2.Issue,N1.Del_Val,'' as SD, N1.VAT 
,(Sum(n2.Opening)+ sum(N2.Purchase)-N2.Issue) as Closing,
(Sum(n2.Opening)+ sum(N2.Purchase)-N2.Issue) * n1.price as ClosingVal
 
from Temp_OP_PUR N2,Temp_PurCustomer N1

where N1.docdate>@Fromdate and N1.docdate<=@Todate 

Group by N2.docdate,N1.cardname,N1.Address,N1.RegNO,N1.Docnum,
N2.Issue,N1.Del_Val,N1.VAT, N1.Itemname,
N1.Docdate,N1.Dtime,N1.price

ORDER BY N1.Docnum

DECLARE CUR_Pur CURSOR
	FOR SELECT ID,[OB Qty],[OB VALUE],[Purchase QTY],[Purchase VALUE],
[cardname],[DELIVERED QUANTITY],[DELIVERED AMOUNT],[VAT],[Closing Balance Quantity],
[Closing Balance Amount] FROM TEMP_PURREG_test 
	
OPEN CUR_PUR
	FETCH NEXT FROM CUR_PUR INTO @ID,@OBQty,@OBVALUE,@PurchaseQTY,@PurchaseVALUE,
@cardname,@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 
	WHILE @@FETCH_STATUS=0
	BEGIN
		--print @ID
		--UPDATEING CURRENT CLOSING BALANCE QTY & AMOUNT COLUMN
		UPDATE	TEMP_PURREG_test	SET [Closing Balance Quantity]=((Isnull(@OBQty,0)+Isnull(@PurchaseQTY,0))-Isnull(@DELIVEREDQUANTITY,0)),
[Closing Balance Amount]=Isnull(@OBVALUE,0)+Isnull(@PurchaseVALUE,0)-Isnull(@DELIVEREDAMOUNT,0) 
		
WHERE ID=@ID
		--UPDATING NEXT OPENING BALANCE QTY & VALUE COLUMN
 		UPDATE	TEMP_PURREG_test	SET [OB Qty]=((@OBQty+@PurchaseQTY)-@DELIVEREDQUANTITY),
[OB VALUE]=@OBVALUE+@PurchaseVALUE-@DELIVEREDAMOUNT ,
[Purchase QTY]=0,[Purchase VALUE]=0 

WHERE ID=@ID+1
FETCH NEXT FROM CUR_PUR INTO @ID,@OBQty,@OBVALUE,@PurchaseQTY,@PurchaseVALUE,@cardname,
@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 	
	END
	CLOSE CUR_PUR
	DEALLOCATE CUR_PUR
 
		SELECT [DOCDATE],[OB Qty],[OB VALUE],[DELIVERY CHALLAN NO],[DELIVERY CHALLAN DATE],
[CARDNAME],[ADDRESS],[REG. No.],[DELIVERED ITEM], [Dtime],[Purchase QTY],[Purchase VALUE],
[SD],[VAT],[DELIVERED QUANTITY],[DELIVERED AMOUNT],[Closing Balance Quantity],
[Closing Balance Amount] FROM TEMP_PURREG_test 


END






















GO
