USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_PurchaseRegister_SP]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Mizan>
-- Create date: 	<05 Feb 2011>

-- =============================================
 --EXEC [@BGW_SalesRegister]'2009-09-01','125ml Round Amber Bottles'
CREATE PROCEDURE [dbo].[@BGW_PurchaseRegister_SP]
	-- Add the parameters for the stored procedure here
	(@FROMDATE DATETIME,@ToDATE DATETIME)
AS
BEGIN
DECLARE @ID INT
DECLARE @OBQty	FLOAT
DECLARE @OBVALUE	FLOAT
DECLARE @cardname	Varchar(100)
DECLARE @PurchaseQTY	FLOAT
DECLARE @PurchaseVALUE	FLOAT
DECLARE @DELIVEREDQUANTITY	FLOAT
DECLARE @DELIVEREDAMOUNT	FLOAT
DECLARE @VAT	FLOAT
DECLARE @ClosingBalanceQuantity	FLOAT
DECLARE @ClosingBalanceAmount 	FLOAT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--set identity_insert on;
    -- Insert statements for procedure here
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='TEMP_PURREG_SP')
 Drop table TEMP_PURREG_SP
	CREATE TABLE TEMP_PURREG_SP (ID INT primary key,DOCDATE DATETIME, [OB Qty] FLOAT,
[OB VALUE] FLOAT,[Purchase QTY] FLOAT,[Purchase VALUE] FLOAT,CARDNAME VARCHAR(100),
ADDRESS VARCHAR(100),[Reg. No.] VARCHAR(50),
[DELIVERY CHALLAN NO] int,[DELIVERY CHALLAN DATE] DATETIME, Dtime varchar(5), 
[DELIVEREDITEM] VARCHAR(100),[DELIVERED QUANTITY]  FLOAT, [DELIVERED AMOUNT]  FLOAT,
SD VARCHAR(30),VAT  FLOAT,[Closing Balance Quantity] FLOAT, 
[Closing Balance Amount] FLOAT )

	INSERT INTO TEMP_PURREG_SP 
SELECT ROW_NUMBER() OVER (ORDER BY A.DATE ), A.* FROM (
SELECT  N1.Docdate as date,0 As OP,
 0 As OPVAL, N1.Del_Qty as Purchase, N1.Del_Val as PurchaseVal,
N1.cardname as cardname,N1.Address as Address, N1.Regno as RegNO,N1.docnum as Docnum,
N1.docdate as Chalandate,'' as Dtime, N1.Itemname as Itemname ,0 as Qty,0 as Amount,'' as SD, N1.VAT as VAT,
0 as Closing,0 as ClosingVal
 
from Temp_PurCustomer_SP N1

where N1.docdate>=@Fromdate and N1.docdate<=@Todate

Group by N1.docdate,N1.cardname,N1.address,N1.regno,N1.docnum,N1.itemname,N1.VAT,N1.Del_Val,N1.del_Qty

--ORDER BY N1.Docnum

)  A 

order by A.date

SELECT [DOCDATE],[OB QTY],[OB VALUE],[DELIVERY CHALLAN NO][CHALAN NO],[DELIVERY CHALLAN DATE][CHALAN DATE],
[CARDNAME],[ADDRESS],[REG. No.],[DELIVEREDITEM][ITEMNAME], [Purchase QTY],[Purchase VALUE],
[SD],[VAT],[DELIVERED QUANTITY][ISSUE QTY],[DELIVERED AMOUNT][ISSUE VALUE],[Closing Balance Quantity][CLOSING QTY],
[Closing Balance Amount][ClOSING VALUE] FROM TEMP_PURREG_SP where [VAT]<>0


END


select * from TEMP_PURREG_SP

GO
