USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Test_Grade]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Mizan>
-- Create date: 	<02 Nov 2010>

-- =============================================

CREATE PROCEDURE [dbo].[@BGW_Test_Grade]
	(@Fromdate DATETIME)
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Test_Grade')
 Drop table Temp_Test_Grade
--update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)
	

CREATE TABLE Temp_Test_Grade (DOCDATE DATETIME,Itemcode Varchar (8),Dscription varchar(100),
Opening Float, Production Float,Delivery_Others Float, Total Float, Closing Float,
ProdCumulative Float, DelCumulative Float, Quality_A Float,Quality_B Float,Quality_C Float,ItemGroup varchar(30))

INSERT INTO Temp_Test_Grade
	 
--============Main Query=====================

Select  @Fromdate as Date,a.Itemcode,
 max(a.Dscription) as [Itemname],
 sum(a.[Opening]) as [Opening],
 sum(a.[Production]) as [Production],
  sum(a.[Delivery_Others]) as [Delivery_Others],
sum(a.[Delivery_Others]) as [Total],
((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a.[Delivery_Others])) as Closing,
 sum(a.ProdCumulative) as [ProdCumulative],
sum(a.DelCumulative) as [DelCumulative],  
 Sum(a.Quality_A) as [Quality_A],
Sum(a.Quality_B) as [Quality_B],
Sum(a.Quality_C) as [Quality_C],
max(a.ItemGroup) as [ItemGroup] 
from dbo.OITM I1 
JOIN (Select  N1.Itemcode, N1.Dscription,

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1 , dbo.OITM N2,OITB N3
Where N1.DocDate < CONVERT(VARCHAR(10), @Fromdate, 101)  and N2.itemcode like '16%'  and N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Dscription,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.Dscription, 0 as [Opening],
sum(N1.inqty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdate, 101)
and  N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
 and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N1.Dscription,n3.Itmsgrpnam
Union All

--=======================================
--========================================


select  N1.Itemcode, N1.Dscription,
0 as [Opening], 0 as [Production],sum(N1.outqty-N1.inqty) as [Delivery_Others],
 0 As [Total],0 as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and 
N1.DocDate <=CONVERT(VARCHAR(10), @Fromdate, 101)  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10)   
and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N1.Dscription,n3.Itmsgrpnam 


--======================

Union All

select  N1.Itemcode, N1.Dscription, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
sum(N1.inqty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @FromDate  and N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N1.Dscription,n3.Itmsgrpnam


Union All

select  N1.Itemcode, N1.Dscription, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],
0 as [ProdCumulative] ,sum(N1.outqty-N1.inqty) as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @FromDate  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N1.Dscription,n3.Itmsgrpnam


Union All


--==


select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N1.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' A' and N1.basetype in (59)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , +Sum(N1.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' A' and N1.basetype not in (59,15,60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , -Sum(N1.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' A' and N1.basetype  in (15,60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All










-- Quality B

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N1.Quantity) as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' B' and N1.basetype in (59)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,  0 as [Quality_A],+Sum(N1.Quantity) as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' B' and N1.basetype not in (59,15,60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,  0 as [Quality_A],-Sum(N1.Quantity) as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' B' and N1.basetype  in (15,60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam



--  Quality C-----


Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],0 as [Quality_B],Sum(N1.Quantity) as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' C' and N1.basetype in (59)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,  0 as [Quality_A],0 as [Quality_B],+Sum(N1.Quantity) as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' C' and N1.basetype not in (59,15,60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,  0 as [Quality_A],0 as [Quality_B],-Sum(N1.Quantity) as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate <=CONVERT(VARCHAR(10), @Fromdate, 101)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and
 right(N1.batchnum,2)=' C' and N1.basetype  in (15,60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam







--== new added on 03-06-2011
--select  N2.Itemcode, N2.dscription,0,0, 0 as [Opening],
--0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
--0 as [DelCumulative] ,+Sum(Quantity) as [Quality]
--From dbo.ODLN N1,dbo.DLN1 N2, OITM N3 Where  N1.DocDate > @FromDate
--and  N1.Trackno='A'and N2.itemcode like '16%' and N3.Itemcode=N2.Itemcode and N1.docentry=N2.docentry

--Group By N2.ItemCode,N2.dscription

--====================

)


a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode, A.Total
Order By a.Itemcode





delete from Temp_Test_Grade where [Opening] =0 and [Production]=0 and
 [Delivery_Others]=0 and 
[ProdCumulative] =0 and [DelCumulative] =0


SELECT  [DocDate],[Dscription][Description],[Opening],[Production],[ProdCumulative],
[Delivery_Others] [Delivery],[DelCumulative],[Closing],[Quality_A][Quality - A] 
,[Quality_B][Quality - B],[Quality_C][Quality - C],
([Closing]-[Quality_A]-[Quality_B]-[Quality_C]) [BalanceError]

,[ItemGroup],
convert(numeric,dbo.udf_GetNumeric([Dscription]))[abc]
 FROM Temp_Test_Grade 

order by [ItemGroup]asc ,[abc]ASc

END















GO
