USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Delivery_Track]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<20 Apl 2013>

-- =============================================

CREATE PROCEDURE [dbo].[@BGW_Delivery_Track]
	(@Fromdate DATETIME,@todate DateTime)
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Delivery_Track')
 Drop table Temp_Delivery_Track

CREATE TABLE Temp_Delivery_Track (Itemcode Varchar (8),Dscription varchar(100),DocNum int,Docdate datetime,
Quantity numeric(10,0), Packqty numeric(10,0))
INSERT INTO Temp_Delivery_Track

Select A.ItemCode, A.ItemDesc,A.DocNum [Chalan No],A.Docdate [Date], (A.Quantity)[Quantity],(A.PackQty) [ PackQty] from 
(
SELECT T0.[ItemCode] [ItemCode], (T0.[Dscription]) [ItemDesc],T1.docdate,T1.DocNum, (T0.[Quantity]) as QUANTITY, (T0.[Packqty]) AS PackQty
FROM DLN1 T0  INNER JOIN ODLN T1 
ON T0.DocEntry = T1.DocEntry WHERE T1.[DocDate] between @fromdate and  @Todate  and U_vehicleNo not like 'Van%'
 --GROUP BY T0.[ItemCode] 


union all
SELECT T0.[ItemCode] [ItemCode], (T0.[Dscription]) [ItemDesc],T1.docdate,T1.DocNum, (T0.[Quantity]) as QUANTITY, (T0.[Packqty]) AS PackQty
FROM RDN1 T0  INNER JOIN ORDN T1 
ON T0.DocEntry = T1.DocEntry WHERE T1.[DocDate] between @fromdate and  @Todate  and U_vehicleNo not like 'Van%'
 --GROUP BY T0.[ItemCode] 

union all
SELECT T0.[ItemCode] [ItemCode], (T0.[Dscription]) [ItemDesc],T1.docdate,T1.DocNum, (T0.[Quantity]) as QUANTITY, (T0.[Packqty]) AS PackQty
FROM RIN1 T0  INNER JOIN ORIN T1 
ON T0.DocEntry = T1.DocEntry WHERE T1.[DocDate] between @fromdate and  @Todate  and U_vehicleNo not like 'Van%'
 --GROUP BY T0.[ItemCode] 
) A
order by A.Docdate

Select * from Temp_Delivery_Track

end
GO
