USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_InvtTaken]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<18 Apr 2011>
-- this is very hard query for making the report.
--  This is New reconcilation report for the year 2011-11 and next
-- =============================================


CREATE PROCEDURE [dbo].[@BGW_InvtTaken]
 (@Fromdate DATETIME,  @Todate datetime, @ITEMGROUP varchar(20))
AS
BEGIN
SET NOCOUNT ON;

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_InvtTaken')
 Drop table Temp_InvtTaken
	
CREATE TABLE Temp_InvtTaken (Itemcode Varchar (8),Dscription varchar(100),[Part No] VARCHAR(100),UoM Char(6), 
Opening Numeric(18,6),OpVal Numeric(18,6), Purchase Numeric(18,6),PurVal Numeric(18,6), 
Furnace1QTY Numeric(18,6),Furnace1Val Numeric(18,6),Furnace2QTY Numeric(18,6),Furnace2Val Numeric(18,6), Furnace3QTY Numeric(18,6),
Furnace3Val Numeric(18,6),Furnace4QTY Numeric(18,6),Furnace4Val Numeric(18,6),CEXPQTY Numeric(18,6),CEXPVal Numeric(18,6),
  Closing Numeric(18,6),ClosVal Numeric(18,6))


INSERT INTO Temp_InvtTaken



Select
T2.ITEMCODE [Itemcode],T2.Itemname [Item Name],T2.U_PartNo [Part No], T2.InvntryUom [UoM],
(select isnull(sum(inqty),0)-isnull(sum(outqty),0) from OINM where 
Docdate <  CONVERT(VARCHAR(10), @Fromdate, 101) and Itemcode=T2.ITEMCODE )[OB Qty] 
,(select isnull(SUm(Transvalue),0) from OINM where Docdate <  CONVERT(VARCHAR(10), @Fromdate, 101) and 
Itemcode=T2.ITEMCODE ) [OB Value] 
/*,(select isnull(SUm(CalcPrice),0) from OINM where Docdate <  CONVERT(VARCHAR(10), @Fromdate, 101) and Itemcode=T2.ITEMCODE) [OB Value] */
,(select isnull(sum(inqty),0)  from OINM where Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND 
DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=20  )
+
(select isnull(sum(inqty),0)  from OINM where Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND 
DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=59  )

-((select isnull(sum(Outqty),0)  from OINM where Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND 
DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=19 )
+(select isnull(sum(OUTqty),0)  from OINM where Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND 
DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=21 )
)

 [Purchase Qty]
-- Purchase Value
,(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
and Itemcode=T2.ITEMCODE AND TRANSTYPE=20 ),0)
)
+(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
and Itemcode=T2.ITEMCODE AND TRANSTYPE=19 ),0)
)

+
--added GRPO return 20 12 2011 
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101)
 and Itemcode=T2.ITEMCODE AND TRANSTYPE=21 ),0)
)
-- end

-- + (
-- new landed cost will be added in here
+(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
and Itemcode=T2.ITEMCODE AND TRANSTYPE=69 ),0)
)

-- new Inventory Revaluation will be added in here stopped 07082012

+(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
and Itemcode=T2.ITEMCODE AND TRANSTYPE=162 ),0)
)

-- new AP Invoice will be added in here
+(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
and Itemcode=T2.ITEMCODE AND TRANSTYPE=18 ),0)
)

-- new Good Receipt will be added in here
+(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101)
 and Itemcode=T2.ITEMCODE AND TRANSTYPE=59 ),0)
)
-- )
 [Purchase Value]

,
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F1' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-1 Qty]
,(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F1' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-1 Value]
,(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F2' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-2 Qty]
,(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F2' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-2 Value]
,(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F3' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-3 Qty]
,
(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F3' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-3 Value]
,
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F4' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-4 Qty]
,
(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F4' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-4 Value]

,
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='CEXP' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[CEXP Qty]
,
(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='CEXP' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
[CEXP Value],

(
(select isnull(sum(inqty),0)-isnull(sum(outqty),0) from OINM where 
Docdate <  CONVERT(VARCHAR(10), @Fromdate, 101) and Itemcode=T2.ITEMCODE )
+
(select isnull(sum(inqty),0)  from OINM where Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND 
DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=20  )
)
-
(select isnull(sum(Outqty),0)  from OINM where Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND 
DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=19 )
-
(select isnull(sum(OUTqty),0)  from OINM where Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND 
DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=21 )
-
(
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F1' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
+
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F2' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )
+
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F3' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry)
+
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where iGe1.Itemcode=T2.ITEMCODE and OIGE.U_Unit='F4' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry)
+
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='CEXP' and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry )

)

[Closing Qty],
(
(select isnull(SUm(Transvalue),0) from OINM where Docdate <  CONVERT(VARCHAR(10), @Fromdate, 101) and 
Itemcode=T2.ITEMCODE )
+
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=20 ),0)
)
+
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=19 ),0)
)
+
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) and Itemcode=T2.ITEMCODE AND TRANSTYPE=69 ),0)
)
-
--(Select isnull(Sum(Linetotal),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F1' and docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101))
-- -
--(Select isnull(Sum(Linetotal),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F2' and docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) )
--  -
--(Select isnull(Sum(Linetotal),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F3' and docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101) )
--  -
--(Select isnull(Sum(Linetotal),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F4' and docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101))
--)
--(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F1'  and docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101))
-- -(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F2'  and docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101))
-- -(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F3'  and docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101))
-- -(Select isnull(Sum(Quantity*stockprice),0) from IGe1 where itemcode=T2.ITEMCODE and U_Unit='F4'  and docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101))


(


(IsnULL((select sum(isnull(- transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
and Itemcode=T2.ITEMCODE AND TRANSTYPE=60 ),0)
)
+
(IsnULL((select sum(isnull(- transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
and Itemcode=T2.ITEMCODE AND TRANSTYPE=21 ),0)
)
-
(IsnULL((select sum(isnull( transvalue,0))  from OINM where 
Docdate >=  CONVERT(VARCHAR(10), @Fromdate, 101) AND DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
and Itemcode=T2.ITEMCODE AND TRANSTYPE=162 ),0)
)
)


-- - (
-- new landed cost will be added in here

-- )


)

[Closing Value]


FROM 
OITM T2,OITB T3,OINM T4 where  T2.ITEMCODE=T4.ITEMCODE
and T3.ITMSGRPCOD=T2.ITMSGRPCOD

and T4.DOCDATE >= CONVERT(VARCHAR(10), @Fromdate, 101) AND T4.DOCDATE <= CONVERT(VARCHAR(10), @Todate, 101) 
AND T3.ITMSGRPNAM=@ITEMGROUP
GROUP BY
T2.ITEMCODE,T2.Itemname,T2.InvntryUom,T2.U_PartNo
ORDER BY T2.ITEMCODE

--delete from Temp_Recon_New where Opening=0 and purchase=0
select Itemcode,Dscription,[Part No] ,UoM, 
Opening , Purchase , 
(Furnace1QTY +Furnace2QTY + Furnace3QTY+Furnace4QTY +CEXPQTY) Issue ,
  Closing from Temp_InvtTaken

end
GO
