USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Purchas_Item_By_Vendor]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Purchas_Item_By_Vendor] 
(@FromDate DATETIME,@ToDate DATETIME,@DocumentType INT,@ItemGroup VARCHAR(30)=NULL,@ItemCode VARCHAR(30)=NULL,@VendorType VARCHAR(10)=NULL,@VendorCode VARCHAR(30)=NULL,@DocType VARCHAR(4)=NULL)
AS
BEGIN

DECLARE @VendorList TABLE
	(
		CardCode VARCHAR(20),
		CardName VARCHAR(100)
	)

	--IF @VendorCode='ALL'
	--BEGIN
	--	SET @VendorCode=NULL
	--END
	--IF @ItemGroup='ALL'
	--BEGIN
	--SET @ItemGroup=NULL
	--END

	--IF @ItemCode='ALL'
	--BEGIN
	--SET @ItemCode=NULL
	--END

	--IF @VendorType='ALL'
	--BEGIN
	--SET @VendorType=NULL
	--END

	--IF @VendorCode='ALL'
	--BEGIN
	--SET @VendorCode=NULL
	--END
	--IF @DocType='ALL'
	--BEGIN
	--SET @DocType=NULL
	--END

	IF @VendorCode IS NOT NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode =@VendorCode
	END
	ELSE IF @VendorType='LV' AND @VendorCode IS NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'LV%'
	END
	ELSE IF @VendorType='IMP' AND @VendorCode IS NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'IMP%'
	END
	ELSE
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode NOT LIKE 'CT%'
	END

	--IF @ItemGroup=0
	--BEGIN
	--	SET @ItemGroup=NULL
	--END
	--IF @ItemCode=0
	--BEGIN
	--	SET @ItemCode=NULL
	--END


IF @DocumentType=1
	BEGIN
		SELECT COUNT(T0.DocNum)[PO. Count],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T0.CardCode,T4.CardName,
		CASE WHEN LEFT(T0.CardCode,2) LIKE 'IM%' THEN 'IMP' ELSE 'LV' END VendorType,T1.unitMsr,COUNT(CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T1.ItemCode END)TotalCount,
		SUM(T1.Quantity)Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0))DocTotal 
		FROM OPOR T0 
		JOIN POR1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		LEFT JOIN OCRD T4 ON T4.CardCode=T0.CardCode
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList) AND (DocType=@DocType OR @DocType IS NULL) AND T0.CANCELED NOT IN ('Y') AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL)
		AND (T1.ItemCode=@ItemCode OR @ItemCode IS NULL)
		GROUP BY DocType,T1.ItemCode,T2.ItemName,T1.unitMsr,T3.ItmsGrpNam,LEFT(T0.CardCode,2),T1.Dscription,T0.CardCode,T4.CardName
	END
	ELSE IF @DocumentType=2
	BEGIN
		SELECT COUNT(T0.DocNum)[PO. Count],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T0.CardCode,T4.CardName,
		CASE WHEN LEFT(T0.CardCode,2) LIKE 'IM%' THEN 'IMP' ELSE 'LV' END VendorType,T1.unitMsr,COUNT(CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T1.ItemCode END)TotalCount,
		SUM(T1.Quantity)Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0))DocTotal 
		FROM OPDN T0 
		JOIN PDN1 T1 ON T1.DocEntry=T0.DocEntry 
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode 
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		LEFT JOIN OCRD T4 ON T4.CardCode=T0.CardCode
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList) AND (DocType=@DocType OR @DocType IS NULL) AND T0.CANCELED NOT IN ('Y') AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL)
		AND (T1.ItemCode=@ItemCode OR @ItemCode IS NULL)
		GROUP BY DocType,T1.ItemCode,T2.ItemName,T1.unitMsr,T3.ItmsGrpNam,LEFT(T0.CardCode,2),T1.Dscription,T0.CardCode,T4.CardName
	END
	ELSE IF @DocumentType=3
	BEGIN
		SELECT COUNT(T0.DocNum)[PO. Count],DocType,T3.ItmsGrpNam,T1.ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,T0.CardCode,T4.CardName,
		CASE WHEN LEFT(T0.CardCode,2) LIKE 'IM%' THEN 'IMP' ELSE 'LV' END VendorType,T1.unitMsr,COUNT(CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T1.ItemCode END)TotalCount,
		SUM(T1.Quantity)Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0))DocTotal 
		FROM OPCH T0 
		JOIN PCH1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		LEFT JOIN OCRD T4 ON T4.CardCode=T0.CardCode
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList) AND (DocType=@DocType OR @DocType IS NULL) AND T0.CANCELED NOT IN ('Y') AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL)
		AND (T1.ItemCode=@ItemCode OR @ItemCode IS NULL)
		GROUP BY DocType,T1.ItemCode,T2.ItemName,T1.unitMsr,T3.ItmsGrpNam,LEFT(T0.CardCode,2),T1.Dscription,T0.CardCode,T4.CardName
	END

END



--SELECT 0 ItmsGrpCod,'ALL' ItmsGrpNam
--UNION ALL
--SELECT ItmsGrpCod,ItmsGrpNam FROM OITB WHERE ItmsGrpNam NOT LIKE 'FG%'
 
--SELECT 0 ItemCode,'ALL' ItemName,'ALL' ItmsGrpCod
--UNION ALL
--SELECT ItemCode,ItemName,ItmsGrpCod FROM OITM 




--DECLARE @ItemGroup INT = NULL

--SELECT ItemCode,ItemName,ItmsGrpCod FROM OITM  WHERE (ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL)
--SELECT ItemCode,ItemName,ItmsGrpCod FROM OITM  WHERE ItmsGrpCod=@ItemGroup OR @ItemGroup IS NOT NULL


 
--SELECT '0' CardCode, 'ALL' CardName, 'ALL' VendorType
--UNION ALL
--SELECT CardCode,CardName,CASE WHEN LEFT(CardCode,2)='LV' THEN 'LV' ELSE 'IMP' END VendorType FROM OCRD WHERE CardCode LIKE 'LV%' OR CardCode LIKE 'IMP%'

--GO

--SELECT '0' CardCode, 'ALL' CardName, 'ALL' VendorType
--UNION ALL
--SELECT CardCode, CardName,VendorType FROM
--(
--SELECT CardCode,CardName,CASE WHEN LEFT(CardCode,2)='LV' THEN 'LV' ELSE 'IMP' END VendorType FROM OCRD WHERE CardCode LIKE 'LV%' OR CardCode LIKE 'IMP%'
--)T
--WHERE VendorType=@VendorType

--EXEC [@BGWL_Purchas_Analysis_Item]  '20241201','20241231',1,NULL,NULL,NULL,'S'
--go
--DECLARE @ItemGroup VARCHAR(5)='ALL'
--IF @ItemGroup='ALL'
--BEGIN
--	SET @ItemGroup=NULL
--END
--SELECT 'ALL' ItemCode,'ALL' ItemName,'ALL' ItmsGrpCod
--UNION ALL
--SELECT CAST(ItemCode AS VARCHAR(30))ItemCode ,ItemName,CAST(ItmsGrpCod AS VARCHAR(30)) FROM OITM  WHERE CAST(ItmsGrpCod AS VARCHAR(30))=@ItemGroup OR @ItemGroup IS NULL
GO
