USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_BankCheckStatement_NEW]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Arup>
-- Create date: <Create Date,10/18/2017,>
-- Description:	<Description,,>
-- =============================================
---   [dbo].[@BGW_BankCheckStatement_NEW] '102004009','20190417','20190418','20190418','','','','0887309,0887310,0887311,0887318,0887320,0887321'---'0887309'
---   [dbo].[@BGW_BankCheckStatement_NEW] '102004025','20230624','20230626','20230626','','','','*'   '0887309,0887310,0887311,0887318,0887320,0887321'---'0887309'

CREATE PROC [dbo].[@BGW_BankCheckStatement_NEW]
@AccCode VARCHAR(100),
@FromDate VARCHAR(30),
@ToDate VARCHAR(30),
@PrintDate VARCHAR(30),
@BankName VARCHAR(100),
@Branch VARCHAR(500),
@Address VARCHAR(500),
@CheckNo VARCHAR(MAX)
AS
BEGIN

SET @FromDate = CONVERT(datetime,@FromDate,103)
SET @ToDate = CONVERT(datetime,@ToDate,103)
SET @PrintDate = CONVERT(datetime,@PrintDate,103)
--DISTINCT ROW_NUMBER() OVER (ORDER BY T1.TransId)#,


IF @CheckNo <>'*'
	BEGIN
		SELECT DISTINCT T1.TransId,T1.RefDate,T1.Account,T1.ShortName,T1.U_Cheque,T1.Credit,T2.*,T3.VendorName,@PrintDate PrintDate,
		@BankName BankName,@Branch Branch,@Address [Address] FROM 
		(
			SELECT ROW_NUMBER()over(order by T0.TransId)RowId,T1.TransId,T0.RefDate,Account,ShortName,ISNULL(T1.U_Cheque,'N/A')U_Cheque,Credit 
			FROM JDT1 T1,OJDT T0 
			WHERE T1.TransId=T0.TransId AND ShortName =@AccCode AND 
			T1.TransId IN(SELECT TransId FROM OVPM) AND Credit>0 AND T1.RefDate>=@FromDate AND T1.RefDate<=@ToDate
			AND T1.U_Cheque IS NOT NULL AND T1.Credit>=100000.00
		)T1
		JOIN
		(
				SELECT T0.BankCode,T0.BankName,T1.Branch,T1.GLAccount,T1.BankAcc FROM
						(SELECT BankCode,BankName FROM ODSC)T0,
						(SELECT BankCode,Branch,GLAccount,Account AS BankAcc FROM DSC1)T1
						WHERE T0.BankCode=T1.BankCode AND T1.GLAccount=@AccCode
		)T2 ON T1.ShortName=T2.GLAccount
		JOIN 
		(
			SELECT ROW_NUMBER()over(order by T1.TransId)RowId,T1.TransId,T2.VendorName,T1.JrnlMemo FROM OVPM T1
			JOIN OCHO T2 ON T2.TransRef = T1.DocNum
			WHERE T2.CheckAcct=@AccCode ----AND T1.JrnlMemo NOT IN ('Canceled') 
			AND T2.CheckAcct=@AccCode 
		----Changed: 20230625  AND  T2.CheckDate>=@FromDate AND T2.PmntDate<=@ToDate---T2.CheckDate<=@ToDate
		AND  T2.CheckDate>=@FromDate AND T2.PmntDate<=@ToDate --- Reverse the changed :20230625
		AND T1.TransId IN
			(
				SELECT T1.TransId
				FROM JDT1 T1,OJDT T0 
				WHERE T1.TransId=T0.TransId AND ShortName =@AccCode AND 
				T1.TransId IN(SELECT TransId FROM OVPM) AND Credit>0 AND T1.RefDate>=@FromDate AND T1.RefDate<=@ToDate
				AND T1.U_Cheque IS NOT NULL
			)
			AND T2.LinesSum>=100000.00
		)T3 ON T3.TransId=T1.TransId AND T3.RowId=T1.RowId
		WHERE T1.Credit>=100000.00 AND T1.RefDate>=@FromDate AND T1.RefDate<=@ToDate AND 
		T1.U_Cheque IN (SELECT * FROM [dbo].[fnSplitString](@CheckNo , ',')) AND T3.JrnlMemo NOT IN ('Canceled')--T1.RefDate BETWEEN @FromDate AND @ToDate
	END
ELSE IF @CheckNo ='*'
	BEGIN
			SELECT DISTINCT T1.*,T2.*,T3.VendorName,@PrintDate PrintDate,@BankName BankName,@Branch Branch,@Address [Address] FROM 
			(
				SELECT ROW_NUMBER()over(order by T0.TransId)RowId,T1.TransId,T0.RefDate,Account,ShortName,ISNULL(T1.U_Cheque,'N/A')U_Cheque,Credit 
				FROM JDT1 T1,OJDT T0 WHERE T1.TransId=T0.TransId AND ShortName =@AccCode AND T1.TransId IN(SELECT TransId FROM OVPM) AND 
				---Credit>0AND T1.RefDate>=@FromDate AND T1.RefDate<=@ToDate
				Credit>0AND T0.RefDate>=@FromDate AND T0.RefDate<=@ToDate
				AND T1.U_Cheque IS NOT NULL AND T1.Credit>=100000.00
			)T1
			JOIN
			(
				SELECT T0.BankCode,T0.BankName,T1.Branch,T1.GLAccount,T1.BankAcc FROM
						(SELECT BankCode,BankName FROM ODSC)T0,
						(SELECT BankCode,Branch,GLAccount,Account AS BankAcc FROM DSC1)T1
				WHERE T0.BankCode=T1.BankCode AND T1.GLAccount=@AccCode
			)T2 ON T1.ShortName=T2.GLAccount
			JOIN 
			(
				SELECT ROW_NUMBER()over(order by T1.TransId)RowId,T1.TransId,T2.VendorName,T1.JrnlMemo FROM OVPM T1
				JOIN OCHO T2 ON T2.TransRef = T1.DocNum
				WHERE T2.CheckAcct=@AccCode ---AND T1.JrnlMemo NOT IN ('Canceled')
				-- Changed: 20230625 AND T2.CheckDate>=@FromDate AND T2.PmntDate<=@ToDate    ---T2.CheckDate<=@ToDate
				AND  T2.CheckDate>=@FromDate AND T2.PmntDate<=@ToDate --- Reverse the changed :20230625
				AND T1.TransId IN
					(
						SELECT T1.TransId
						FROM JDT1 T1,OJDT T0 
						WHERE T1.TransId=T0.TransId AND ShortName =@AccCode AND 
						T1.TransId IN(SELECT TransId FROM OVPM) AND Credit>0 AND T1.RefDate>=@FromDate AND T1.RefDate<=@ToDate
						AND T1.U_Cheque IS NOT NULL
					)
					AND T2.LinesSum>=100000.00
			)T3 ON T3.TransId=T1.TransId AND T3.RowId=T1.RowId
			WHERE T1.Credit>=100000.00 AND T1.RefDate>=@FromDate AND T1.RefDate<=@ToDate AND T3.JrnlMemo NOT IN ('Canceled')
	END
END

GO
