USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_RAW_materials]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<02 May 2011>

-- =============================================

CREATE PROCEDURE [dbo].[@BGW_RAW_materials]
	(@Fromdate DATETIME,@Todate DATETIME)
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Raw_Materials')
 Drop table Temp_Raw_Materials
	
CREATE TABLE Temp_Raw_Materials (Itemcode Varchar (8),Dscription varchar(100),
Opening Numeric(18,6), OPVal Numeric(18,6),PurQty Numeric(18,6),PurVal Numeric(18,6),TotalQty Numeric(18,6),TotalVal Numeric(18,6),
Furnace1QTY Numeric(18,6),Furnace2QTY Numeric(18,6),
Furnace3QTY Numeric(18,6),Furnace4QTY Numeric(18,6),
ClosQty Numeric(18,6),ClosVal Numeric(18,6)  )

INSERT INTO Temp_Raw_Materials

select 
OINM.ItemCode,OINM.Dscription [Item Name],
isnull((select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < @fromdate and O.itemcode=OINM.itemcode  ),0) [OpeningBalance Quantity]

,
(select sum(OI.transvalue) 
from OINM OI where OI.docdate < @fromdate and OI.itemcode=OINM.itemcode) 
[OpeningBalance Value]

,(select sum(isnull(OI3.InQty,0)) from OINM OI3 where  OI3.itemcode=OINM.itemcode and OI3.docdate between @fromdate and @TOdate and OI3.Transtype In (20,59)) [Purchase Qty]

,

(
(select sum(isnull(OI4.transvalue,0)) from OINM OI4 where OI4.itemcode=OINM.itemcode and OI4.docdate between @Fromdate and @todate and OI4.Transtype In (20,69))

)

 [Purchase Value]

,((select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < @fromdate and O.itemcode=OINM.itemcode) + 

(select sum(isnull(S.InQty,0)) from OINM S where  S.itemcode=OINM.itemcode and S.docdate between @fromdate and @TOdate and S.Transtype In (20,59))) [Total Qty]
,

(select sum(OI.transvalue) 
from OINM OI where OI.docdate < @fromdate and OI.itemcode=OINM.itemcode) 
+
(
(select sum(isnull(OI4.transvalue,0)) from OINM OI4 where OI4.itemcode=OINM.itemcode and OI4.docdate between @Fromdate and @todate and OI4.Transtype In (20,69))
) [Total Value]


,(Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonBot!=0)
[Furnace1QTY]
,(Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonShl!=0)
[Furnace2QTY]
,(Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonFur3!=0)

[Furnace3QTY]
,
0
[Furnace4QTY]
,(isnull((select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < @fromdate and O.itemcode=OINM.itemcode),0) + 
isnull((select sum(isnull(OO.InQty,0)) from OINM OO where  OO.itemcode=OINM.itemcode and OO.docdate between @fromdate and @TOdate and OO.Transtype In (20,59)),0)) -
isnull((select sum(isnull(OI1.OutQty,0)) from OINM OI1 where  OI1.itemcode=OINM.itemcode and OI1.docdate between @fromdate and @TOdate and OI1.outqty>0),0) [Closing Balance Qty]

,
(select sum(OI.transvalue) 
from OINM OI where OI.docdate < @fromdate and OI.itemcode=OINM.itemcode) 
+
(
(select sum(isnull(OI4.transvalue,0)) from OINM OI4 where OI4.itemcode=OINM.itemcode and OI4.docdate between @Fromdate and @todate and OI4.Transtype In (20,69)))
- 
isnull((select sum(isnull(OI2.Calcprice,0)*isnull(OI2.OutQty,0)) from OINM OI2 where  OI2.itemcode=OINM.itemcode and OI2.docdate between @fromdate and @TOdate ),0) [Closing Balance Value]

from
OINM
INNER JOIN OITM ON OITM.ITEMCODE=OINM.ITEMCODE
INNER JOIN OITB ON OITB.ITMSGRPCOD=OITM.ITMSGRPCOD AND OITB.ITMSGRPNAM LIKE 'rm%'

where
docdate between @fromdate and @Todate
GROUP by OINM.Itemcode,OINM.Dscription
order by OINM.Itemcode

Select * from Temp_Raw_Materials

end

GO
