USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Daywise_Monthly]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<05 Oct 2010>

-- =============================================

CREATE PROCEDURE [dbo].[@BGW_Daywise_Monthly]
	(@Fromdate DATETIME,@Todate DATETIME)
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Daywise_Monthly')
 Drop table Temp_Daywise_Monthly
	
CREATE TABLE Temp_Daywise_Monthly (Custname varchar(100),Itemcode Varchar (8),Dscription varchar(100),
d01 Float ,d02 Float,d03 Float,d04 Float,d05 Float,
d06 Float,d07 Float,d08 Float,d09 Float,d10 Float,
d11 Float,d12 Float, d13 Float,d14 Float,d15 Float,d16 Float,d17 Float,
d18 Float,d19 Float,d20 Float,d21 Float,d22 Float,d23 Float,d24 Float,
d25 Float,d26 Float,d27 Float,d28 Float,d29 Float,d30 Float,d31 Float)

INSERT INTO Temp_Daywise_Monthly
	 
--============Main Query=====================

--1
select N1.Cardname,N1.Itemcode,N1.Dscription,
sum(Case DATENAME(day,N1.Docdate) when 01 then (N1.outqty-N1.inqty) else 0 end)as d01,
sum(Case DATENAME(day,N1.Docdate) when 02 then (N1.outqty-N1.inqty) else 0 end) as d02,
sum(Case DATENAME(day,N1.Docdate) when 03 then (N1.outqty-N1.inqty) else 0 end) as d03,
sum(Case DATENAME(day,N1.Docdate) when 04 then (N1.outqty-N1.inqty) else 0 end) as d04,
sum(Case DATENAME(day,N1.Docdate) when 05 then (N1.outqty-N1.inqty) else 0 end) as d05,
sum(Case DATENAME(day,N1.Docdate) when 06 then (N1.outqty-N1.inqty) else 0 end) as d06,
sum(Case DATENAME(day,N1.Docdate) when 07 then (N1.outqty-N1.inqty) else 0 end) as d07,
sum(Case DATENAME(day,N1.Docdate) when 08 then (N1.outqty-N1.inqty) else 0 end) as d08,
sum(Case DATENAME(day,N1.Docdate) when 09 then (N1.outqty-N1.inqty) else 0 end) as d09,
sum(Case DATENAME(day,N1.Docdate) when 10 then (N1.outqty-N1.inqty) else 0 end) as d10,
sum(Case DATENAME(day,N1.Docdate) when 11 then (N1.outqty-N1.inqty) else 0 end) as d11,
sum(Case DATENAME(day,N1.Docdate) when 12 then (N1.outqty-N1.inqty) else 0 end) as d12,
sum(Case DATENAME(day,N1.Docdate) when 13 then (N1.outqty-N1.inqty) else 0 end) as d13,
sum(Case DATENAME(day,N1.Docdate) when 14 then (N1.outqty-N1.inqty) else 0 end) as d14,
sum(Case DATENAME(day,N1.Docdate) when 15 then (N1.outqty-N1.inqty) else 0 end) as d15,
sum(Case DATENAME(day,N1.Docdate) when 16 then (N1.outqty-N1.inqty) else 0 end) as d16,
sum(Case DATENAME(day,N1.Docdate) when 17 then (N1.outqty-N1.inqty) else 0 end) as d17,
sum(Case DATENAME(day,N1.Docdate) when 18 then (N1.outqty-N1.inqty) else 0 end) as d18,
sum(Case DATENAME(day,N1.Docdate) when 19 then (N1.outqty-N1.inqty) else 0 end) as d19,
sum(Case DATENAME(day,N1.Docdate) when 20 then (N1.outqty-N1.inqty) else 0 end) as d20,
sum(Case DATENAME(day,N1.Docdate) when 21 then (N1.outqty-N1.inqty) else 0 end) as d21,
sum(Case DATENAME(day,N1.Docdate) when 22 then (N1.outqty-N1.inqty) else 0 end) as d22,
sum(Case DATENAME(day,N1.Docdate) when 23 then (N1.outqty-N1.inqty) else 0 end) as d23,
sum(Case DATENAME(day,N1.Docdate) when 24 then (N1.outqty-N1.inqty) else 0 end) as d24,
sum(Case DATENAME(day,N1.Docdate) when 25 then (N1.outqty-N1.inqty) else 0 end) as d25,
sum(Case DATENAME(day,N1.Docdate) when 26 then (N1.outqty-N1.inqty) else 0 end) as d26,
sum(Case DATENAME(day,N1.Docdate) when 27 then (N1.outqty-N1.inqty) else 0 end) as d27,
sum(Case DATENAME(day,N1.Docdate) when 28 then (N1.outqty-N1.inqty) else 0 end) as d28,
sum(Case DATENAME(day,N1.Docdate) when 29 then (N1.outqty-N1.inqty) else 0 end) as d29,
sum(Case DATENAME(day,N1.Docdate) when 30 then (N1.outqty-N1.inqty) else 0 end) as d30,
sum(Case DATENAME(day,N1.Docdate) when 31 then (N1.outqty-N1.inqty) else 0 end) as d31

From dbo.OINM N1,dbo.OITM N2,OITB N3 where  N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate between @Fromdate and @Todate and N1.Transtype=15
 and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
group by DATENAME(month,N1.Docdate),N1.ItemCode,N1.Dscription,N1.Cardname

--delete from Temp_Daywise_Monthly where [Sep] =0 and [Oct]=0 and [Nov]=0 and [Dec] =0 and 
--[Jan] =0 and [Feb] =0 and [Mar] =0 and [Apr] =0 and [May] =0 and [Jun] =0 and [Jul] =0 and [Aug] =0 

Select * from Temp_Daywise_Monthly order by Dscription,Custname asc

END





















GO
