USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Note_14_Purchase_Local_15_Vat]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Note_14_Purchase_Local_15_Vat]
(
	@FromDate DATETIME,
	@ToDate DATETIME
)
AS
BEGIN
---===================== Purchase Loal Ideal Rate 15% (Item) ---============================
SELECT ROW_NUMBER()OVER(ORDER BY T0.ItemCode) Seq,T0.[Note],T0.ItemCode,T0.ItemName,T0.U_HSCode,T0.Name,T0.[Total Price],
T0.[Vat Total],T0.TaxCode,T0.[Note/Sub Form],T0.[Type] FROM
(
SELECT '14' [Note],T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,SUM(T1.LineTotal)[Total Price],
SUM(T1.VatSum)[Vat Total],T1.TaxCode,'Not:14 Sub Form: KA' [Note/Sub Form],'Local' [Type] 
FROM OPCH T0
JOIN PCH1 T1 ON T0.DocEntry=T1.DocEntry
JOIN OITM T2 ON T1.ItemCode=T2.ItemCode
LEFT JOIN [@U_HSCODE]T3 ON T2.U_HSCode=T3.Code
WHERE T0.DocDate BETWEEN @FromDate AND @ToDate AND T0.DocType NOT IN ('S') AND (T1.TaxCode IN ('VAT@15') AND T1.VatSum>0) AND T0.CardCode LIKE '%LV%'
AND T2.U_HSCode IS NOT NULL
GROUP BY T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,T1.TaxCode

UNION ALL
SELECT '14' [Note],(SELECT Code FROM [@SERVICEINFO] WHERE Code=T0.U_Service)ItemCode,(SELECT Name FROM [@SERVICEINFO] WHERE Code=T0.U_Service) ItemName,
(SELECT U_HSCode FROM [@SERVICEINFO] WHERE Code=T0.U_Service)U_HSCode,'' Name,
SUM(CASE WHEN T1.U_PurPrice IS NULL OR T1.U_PurPrice='' THEN ISNULL(T1.Debit,0)/(CAST(T1.U_Vat AS DECIMAL(18,2))/100) ELSE CAST(T1.U_PurPrice AS DECIMAL(18,2)) END) PurPrice,
SUM(T1.Debit) [Vat Total],'VAT@'+T1.U_Vat TaxCode,'Not:14 Sub Form: KA' [Note/Sub Form],'Local' [Type] FROM OJDT T0,JDT1 T1
WHERE T0.U_Service IN (SELECT Code FROM [@SERVICEINFO]) AND T0.TransId=T1.TransId
AND T1.Account='102003012' AND T0.U_Service IS NOT NULL ------AND T0.U_Service=@ServiceCode
AND T0.RefDate BETWEEN @FromDate AND @ToDate AND T1.U_Vat='15'
GROUP BY T0.U_Service,T1.U_Vat
)T0


---========================================================================
END



GO
