USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Two_years Data_Item]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<30 Oct 2010>

-- =============================================



CREATE PROCEDURE [dbo].[@BGW_Two_years Data_Item]
	(@FYear1 varchar(4),@FYear2 varchar(4),@GrpName varchar(50))
	
	AS
BEGIN


SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Two_years_Data_Item')
 Drop table Temp_Two_years_Data_Item

CREATE TABLE Temp_Two_years_Data_Item (ItemCode varchar(10),Itemname varchar(100),Itmsgrpnam varchar(40),InvntryUom varchar(10),
[Total Qty Sold @FYear1] Numeric(12,0), [Total Qty Sold @FYear2] Numeric(12,0) )

INSERT INTO Temp_Two_years_Data_Item 

SELECT  T1.ItemCode, T2.ItemName, T3.ItmsGrpNam,T2.InvntryUom ,  SUM(T1.Quantity) as [Total Qty Sold @FYear1],0 as [Total Qty Sold @FYear2]
   FROM OPCH T0,PCH1 T1, OITM T2,OITB T3 where T0.DocEntry = T1.DocEntry and  T1.ItemCode = T2.ItemCode
 and T2.ItmsGrpCod = T3.ItmsGrpCod and  Datename(Year,T0.Docdate) =@FYear1 and T3.ItmsGrpNam=@GrpName 
 
   GROUP BY T1.ItemCode, T2.ItemName, T3.ItmsGrpNam ,T2.InvntryUom
--ORDER by SUM(T1.Quantity) DESC,  Datename(Year,N1.Indate) =@FYear

union all


SELECT  T1.ItemCode, T2.ItemName, T3.ItmsGrpNam,T2.InvntryUom ,   -SUM(T1.Quantity) as [Total Qty Sold @FYear1] ,0 as [Total Qty Sold @FYear2]
  FROM ORPC T0,RPC1 T1, OITM T2,OITB T3 where T0.DocEntry = T1.DocEntry and  T1.ItemCode = T2.ItemCode
 and T2.ItmsGrpCod = T3.ItmsGrpCod and Datename(Year,T0.Docdate) =@FYear1 and T3.ItmsGrpNam=@GrpName 
   GROUP BY T1.ItemCode, T2.ItemName, T3.ItmsGrpNam,T2.InvntryUom   

   union all

   

SELECT  T1.ItemCode, T2.ItemName, T3.ItmsGrpNam,T2.InvntryUom ,   0 as [Total Qty Sold @FYear1],SUM(T1.Quantity) as [Total Qty Sold @FYear2]
   FROM OPCH T0,PCH1 T1, OITM T2,OITB T3 where T0.DocEntry = T1.DocEntry and  T1.ItemCode = T2.ItemCode
 and T2.ItmsGrpCod = T3.ItmsGrpCod and  Datename(Year,T0.Docdate) =@FYear2 and T3.ItmsGrpNam=@GrpName 
 
   GROUP BY T1.ItemCode, T2.ItemName, T3.ItmsGrpNam ,T2.InvntryUom  
--ORDER by SUM(T1.Quantity) DESC,  Datename(Year,N1.Indate) =@FYear

union all


SELECT  T1.ItemCode, T2.ItemName, T3.ItmsGrpNam,T2.InvntryUom ,   0 as [Total Qty Sold @FYear1],-SUM(T1.Quantity) as [Total Qty Sold @FYear2]
  FROM ORPC T0,RPC1 T1, OITM T2,OITB T3 where T0.DocEntry = T1.DocEntry and  T1.ItemCode = T2.ItemCode
 and T2.ItmsGrpCod = T3.ItmsGrpCod and Datename(Year,T0.Docdate) =@FYear2 and T3.ItmsGrpNam=@GrpName 
   GROUP BY T1.ItemCode, T2.ItemName, T3.ItmsGrpNam ,T2.InvntryUom  


   
   --select * from Temp_Two_years_Data 

SELECT Itemcode,Itemname ,Itmsgrpnam ,InvntryUom , sum([Total Qty Sold @FYear1])[Total Qty Sold @FYear1],Sum([Total Qty Sold @FYear2])[Total Qty Sold @FYear2],
(sum([Total Qty Sold @FYear2])-sum([Total Qty Sold @FYear1])) YearDiff FROM Temp_Two_years_Data_Item 
group by Itemcode,Itemname ,Itmsgrpnam,InvntryUom order by sum([Total Qty Sold @FYear1])-sum([Total Qty Sold @FYear2])
   
   
   end
   
--ORDER by SUM(T1.Quantity) DESC






GO
