USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Sales_Growth_Analysis_1_ItemWise]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Sales_Growth_Analysis_1_ItemWise]
(@fy VARCHAR(30))
AS
BEGIN
DECLARE @FromDate_1 DATETIME,@FromDate_2 DATETIME,@ToDate_1 DATETIME,@ToDate_2 DATETIME,@AbsEntry INT

SELECT @ToDate_2=T_RefDate,@AbsEntry=AbsEntry FROM OFPR WHERE Code=@fy
SELECT @FromDate_1=F_RefDate FROM OFPR WHERE AbsEntry=@AbsEntry-5

DECLARE @ThreeYearsSales1 TABLE
(
	SI INT,
	FY VARCHAR(10),
	ItemCode VARCHAR(20),
	ItemName VARCHAR(50),
	ItmsGrpCod VARCHAR(20),
	ItmsGrpNam VARCHAR(50),
	TotalSales DECIMAL(18,2),
	TotalVolume DECIMAL(18,2),
	SalesGrowth DECIMAL(18,2),
	GrowthVolume DECIMAL(18,2),
	SalesGrowthPrcnt DECIMAL(18,2),
	VolumeGrowthPrcnt DECIMAL(18,2),
	SalesCont DECIMAL(18,2),
	VolumeCont DECIMAL(18,2)

)

INSERT INTO @ThreeYearsSales1
SELECT SI,[Year],ItemCode,ItemName,ItmsGrpCod,ItmsGrpNam,SUM([Total Sales])[Total Sales],SUM([Total Volume])[Total Volume],0 SalesGrowth,0 GrowthVolume,0 SalesGrowthPrcnt,0 VolumeGrowthPrcnt,0 SalesCont,0 VolumeCont FROM 
(
SELECT SI_RANK,T0.SI,T0.[Year],'' ItemCode,CASE WHEN SI_RANK<=10 THEN ItemName ELSE 'Others' END ItemName,'' ItmsGrpCod,'' ItmsGrpNam,T0.[Total Sales],T0.[Total Volume],
0 SalesGrowth,0 GrowthVolume,0 SalesGrowthPrcnt,0 VolumeGrowthPrcnt,0 SalesCont,0 VolumeCont FROM 
(
	SELECT DENSE_RANK()OVER(PARTITION BY SI ORDER BY T0.[Total Sales] DESC)SI_RANK,T0.SI,T0.[Year],ItemCode,ItemName,ItmsGrpCod,ItmsGrpNam,T0.[Total Sales],T0.[Total Volume],0 SalesGrowth,0 GrowthVolume,
	0 SalesGrowthPrcnt,0 VolumeGrowthPrcnt,0 SalesCont,0 VolumeCont FROM
	(
		SELECT T0.SI,T0.[Year],ItemCode,ItemName,ItmsGrpCod,ItmsGrpNam,SUM(T0.[Total Sales])[Total Sales],SUM(T0.Quantity)[Total Volume],0 SalesGrowth,0 GrowthVolume,0 SalesGrowthPrcnt,0 VolumeGrowthPrcnt,0 SalesCont,0 VolumeCont FROM
		(
		SELECT (SELECT AbsEntry FROM OFPR WHERE T0.DocDate BETWEEN F_RefDate AND T_RefDate)[SI],(SELECT Name FROM OFPR WHERE T0.DocDate BETWEEN F_RefDate AND T_RefDate)[Year],T1.ItemCode,T2.ItemName,T3.ItmsGrpCod,T3.ItmsGrpNam
		,T1.LineTotal [Total Sales],T1.Quantity FROM OINV T0,INV1 T1,OITM T2, OITB T3
		WHERE T0.DocEntry=T1.DocEntry AND T1.ItemCode=T2.ItemCode AND T2.ItmsGrpCod=T3.ItmsGrpCod AND T0.DocDate BETWEEN @FromDate_1 AND @ToDate_2
		)T0
		GROUP BY T0.SI,T0.[Year],ItemCode,ItemName,ItmsGrpCod,ItmsGrpNam
		---ORDER BY T0.SI,ItemName
	)T0
)T0
)T0
GROUP BY T0.SI,T0.[Year],ItemCode,ItemName,ItmsGrpCod,ItmsGrpNam
ORDER BY T0.SI

DECLARE 
	@SI INT,
	@FY1 VARCHAR(10),
	@ItmsGrpNam VARCHAR(50),
	@ItemCode VARCHAR(20),
	@ItemName VARCHAR(50),
	@TotalSales DECIMAL(18,2),
	@TotalVolume DECIMAL(18,2),
	@SalesGrowth DECIMAL(18,2),
	@GrowthVolume DECIMAL(18,2),
	@SalesGrowthPrcnt DECIMAL(18,2),
	@VolumeGrowthPrcnt DECIMAL(18,2),

	@TotalSalesNext DECIMAL(18,2),
	@TotalVolumeNext DECIMAL(18,2),
	@SalesTotal DECIMAL(18,2),
	@VolumeTotal DECIMAL(18,2),
	@GroupSales DECIMAL(18,2),
	@GroupVolume DECIMAL(18,2)


DECLARE Sales_Cur CURSOR
FOR SELECT SI,FY,ItmsGrpNam,ItemCode,ItemName,TotalSales,TotalVolume,SalesGrowth,GrowthVolume,SalesGrowthPrcnt,VolumeGrowthPrcnt FROM @ThreeYearsSales1
OPEN Sales_Cur
FETCH NEXT FROM Sales_Cur INTO @SI,@FY1,@ItmsGrpNam,@ItemCode,@ItemName,@TotalSales,@TotalVolume,@SalesGrowth,@GrowthVolume,@SalesGrowthPrcnt,@VolumeGrowthPrcnt
WHILE @@FETCH_STATUS=0
BEGIN
		
		SELECT @GroupSales=SUM(TotalSales),@GroupVolume=SUM(TotalVolume) FROM @ThreeYearsSales1 WHERE SI=@SI GROUP BY SI
		
		UPDATE @ThreeYearsSales1
		SET SalesCont=@TotalSales*100/@GroupSales,VolumeCont=@TotalVolume*100/@GroupVolume
		WHERE SI=@SI AND ItemName=@ItemName
	
		----SELECT @SalesTotal=SUM(TotalSales),@VolumeTotal=SUM(TotalVolume) FROM @ThreeYearsSales WHERE SI=@SI+1 GROUP BY SI

		SELECT @TotalSalesNext=TotalSales,@TotalVolumeNext=TotalVolume FROM @ThreeYearsSales1 WHERE SI=@SI+1 AND ItmsGrpNam=@ItmsGrpNam AND ItemName=@ItemName
		UPDATE @ThreeYearsSales1
		SET SalesGrowth=(@TotalSalesNext-@TotalSales),SalesGrowthPrcnt=(@TotalSalesNext-@TotalSales)*100/@TotalSales,GrowthVolume=@TotalVolumeNext-@TotalVolume,VolumeGrowthPrcnt=(@TotalVolumeNext-@TotalVolume)*100/@TotalVolume		
		WHERE SI=@SI+1 AND ItmsGrpNam=@ItmsGrpNam AND ItemName=@ItemName
		---PRINT(''+@ItemCode+''+':-'+CAST(@TotalSalesNext AS VARCHAR)+'''-'''+CAST(@TotalSales AS VARCHAR)+'')
	
	
	FETCH NEXT FROM Sales_Cur INTO @SI,@FY1,@ItmsGrpNam,@ItemCode,@ItemName,@TotalSales,@TotalVolume,@SalesGrowth,@GrowthVolume,@SalesGrowthPrcnt,@VolumeGrowthPrcnt
END
CLOSE Sales_Cur
DEALLOCATE Sales_Cur

--SELECT SI_RANK,SI,FY,CASE WHEN SI_RANK<=10 THEN ItemName ELSE 'Others' END ItemName,TotalSales,TotalVolume,SalesGrowth,GrowthVolume,SalesGrowthPrcnt,VolumeGrowthPrcnt,SalesCont,VolumeCont FROM
--	(
--		SELECT DENSE_RANK()OVER(PARTITION BY SI ORDER BY TotalSales DESC)SI_RANK,* FROM @ThreeYearsSales
--	)T0
--	WHERE SI_RANK>10

--SELECT SI,FY,ItemName,SUM(TotalSales)TotalSales,SUM(TotalVolume)TotalVolume,SUM(SalesGrowth)SalesGrowth,SUM(GrowthVolume)GrowthVolume,
--SUM(SalesGrowthPrcnt)SalesGrowthPrcnt,SUM(VolumeGrowthPrcnt)VolumeGrowthPrcnt,SUM(SalesCont)SalesCont,SUM(VolumeCont)VolumeCont,COUNT(ItemName)[No. of Item] FROM
--(
--	SELECT SI_RANK,SI,FY,CASE WHEN SI_RANK<=10 THEN ItemName ELSE 'Others' END ItemName,TotalSales,TotalVolume,SalesGrowth,GrowthVolume,SalesGrowthPrcnt,VolumeGrowthPrcnt,SalesCont,VolumeCont FROM
--	(
--		SELECT DENSE_RANK()OVER(PARTITION BY SI ORDER BY TotalSales DESC)SI_RANK,* FROM @ThreeYearsSales1
--	)T0
--)T0

--GROUP BY SI,FY,ItemName
--ORDER BY SI,SalesCont DESC

SELECT * FROM @ThreeYearsSales1 WHERE SI NOT IN (SELECT MIN(SI) FROM @ThreeYearsSales1)
END
GO
