USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_ImportRM]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_ImportRM]
(
	@FromDate DATETIME, 
	@ToDate DATETIME
)
AS
BEGIN
SELECT T4.DocNum,T2.DocDate,T4.U_BE ChallanId,T7.Ref1 [IndentNo],T4.U_PurDate,T4.CardName,CAST(T4.Address AS VARCHAR(500)) Address,
(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry) BIN,T2.ItemCode,T2.Dscription,T3.InQty-T3.OutQty PurQty,T3.TransValue [Purchase Value],0 AdditionalVat,
CASE WHEN LEFT(T4.CardCode,3)='IMP' THEN (ISNULL(CAST(T2.U_AssV AS DECIMAL(18,2)),0)*ISNULL(CAST(T2.U_VatP AS DECIMAL(18,2)),0))/100 ELSE T2.VatSum END VatSum,
T3.TransType,ISNULL(CAST(T2.U_AssV AS DECIMAL(18,2)),0)U_AssV,T1.LineTotal Coast,cast(T1.PriceFOB as float) [Unit USD],'Purchase with LC' Remark 
FROM PDN1 T0,IPF1 T1,PCH1 T2,OINM T3,OPCH T4,OPDN T5,OITM T6,OIPF T7
WHERE 
T1.OriBAbsEnt=T0.DocEntry AND T1.OriBLinNum=T0.LineNum AND T1.OriBDocTyp=T0.ObjType AND T1.ItemCode=T0.ItemCode
AND
T2.BaseEntry=T0.DocEntry AND T2.BaseLine=T0.LineNum AND T2.BaseType=T0.ObjType AND T2.ItemCode=T0.ItemCode
AND
T3.CreatedBy=T0.DocEntry AND T3.DocLineNum=T0.LineNum AND T3.TransType=T0.ObjType AND T3.ItemCode=T0.ItemCode
AND
T2.DocEntry=T4.DocEntry
		
AND T2.DocDate BETWEEN @FromDate AND @ToDate
AND
T0.DocEntry=T5.DocEntry ---Added this portion on '27 Aug 2019'
AND T0.ItemCode=T6.ItemCode
AND T7.DocEntry=T1.DocEntry
AND T1.DocEntry IN
(
	SELECT DocEntry FROM IPF1 WHERE DocEntry IN
	(
		SELECT MAX(DocEntry) FROM IPF1 WHERE OriBAbsEnt=T0.DocEntry
	)
)
AND T6.ItmsGrpCod=127
AND LEFT(T4.CardCode,3)='IMP'
END

GO
