USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Note_24_VAT_DEDUCTION_AT_SOURCE]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Note_24_VAT_DEDUCTION_AT_SOURCE]
(
	@FromDate DATETIME,
	@ToDate DATETIME
)
AS
BEGIN

SELECT ROW_NUMBER()OVER(ORDER BY T0.Ref) SI,* FROM
(
SELECT T0.U_JEntryType,
CASE 
WHEN T0.U_BPCode IS NULL THEN (SELECT Name FROM [@CASHCUSTOMER] WHERE Code=T0.U_CashBP) ELSE (SELECT CardName FROM OCRD WHERE CardCode=T0.U_BPCode) END [Supplier],
CASE 
WHEN T0.U_BPCode IS NULL THEN (SELECT U_NID FROM [@CASHCUSTOMER] WHERE Code=T0.U_CashBP) ELSE (SELECT TaxId2 FROM CRD7 WHERE CardCode=T0.U_BPCode AND TaxId2 IS NOT NULL) END [BIN],
CASE
WHEN T0.U_BPCode IS NULL THEN NULL ELSE (SELECT Building FROM CRD1 WHERE CardCode=T0.U_BPCode) END [Address],
T1.U_PurPrice [Purchase Price],T1.Credit [Vat Deduction],ISNULL(CAST(T1.U_Vat AS DECIMAL(18,2)),0)[VAT%],T0.U_BE [Challan/Bill no],'' [Invoice Date],''[Account Code],''[Remark],T0.TransId [Ref] FROM OJDT T0,JDT1 T1
WHERE T0.TransId=T1.TransId AND T0.RefDate BETWEEN @FromDate AND @ToDate AND T0.U_JEntryType='Vat Deduction'
AND T1.Account='302001008' AND T0.TransId NOT IN (SELECT StornoToTr FROM OJDT WHERE StornoToTr IS NOT NULL) AND T0.Memo NOT LIKE '%Reversal%'

UNION ALL

SELECT T0.U_JEntryType,T0.Supplier,T0.BIN,T0.Address,SUM(CAST(T0.[Purchase Price] AS DECIMAL(18,2)))[Purchase Price],SUM(CAST(T0.[Vat Deduction] AS DECIMAL(18,2)))[Vat Deduction],MAX(T0.[VAT%])[VAT%],T0.[Challan/Bill no],
T0.[Invoice Date],T0.[Account Code],T0.Remark,T0.Ref FROM 
(
SELECT T0.U_JEntryType,
ISNULL(CASE 
WHEN T0.U_BPCode IS NULL THEN (SELECT ISNULL(Name,'') FROM [@CASHCUSTOMER] WHERE Code=T0.U_CashBP) ELSE (SELECT ISNULL(CardName,'') FROM OCRD WHERE CardCode=T0.U_BPCode) END,'') [Supplier],
ISNULL(CASE 
WHEN T0.U_BPCode IS NULL THEN (SELECT ISNULL(U_NID,'') FROM [@CASHCUSTOMER] WHERE Code=T0.U_CashBP) ELSE (SELECT ISNULL(TaxId2,'') FROM CRD7 WHERE CardCode=T0.U_BPCode AND TaxId2 IS NOT NULL) END,'') [BIN],
ISNULL(CASE
WHEN T0.U_BPCode IS NULL THEN NULL ELSE (SELECT ISNULL(CAST(Building AS VARCHAR(200)),'') FROM CRD1 WHERE CardCode=T0.U_BPCode AND LineNum=0 AND AddrType='B') END,'') [Address],
ISNULL(CAST(T1.U_PurPrice AS DECIMAL(18,2)),0) [Purchase Price],ISNULL(T1.Credit,0) [Vat Deduction],ISNULL(CAST(T1.U_Vat AS DECIMAL(18,2)),0)[VAT%],ISNULL(T0.U_BE,'') [Challan/Bill no],'' [Invoice Date],''[Account Code],''[Remark],T0.TransId [Ref] FROM OJDT T0, JDT1 T1
WHERE T0.TransId=T1.TransId AND T0.U_JEntryType='Service' AND T0.RefDate BETWEEN @FromDate AND @ToDate
AND T1.LineMemo='VAT Deduct' AND T1.Account='302001008'

UNION ALL

SELECT T0.U_JEntryType,
ISNULL(CASE 
WHEN T0.U_BPCode IS NULL THEN (SELECT ISNULL(Name,'') FROM [@CASHCUSTOMER] WHERE Code=T0.U_CashBP) ELSE (SELECT ISNULL(CardName,'') FROM OCRD WHERE CardCode=T0.U_BPCode) END,'') [Supplier],
ISNULL(CASE 
WHEN T0.U_BPCode IS NULL THEN (SELECT ISNULL(U_NID,'') FROM [@CASHCUSTOMER] WHERE Code=T0.U_CashBP) ELSE (SELECT ISNULL(TaxId2,'') FROM CRD7 WHERE CardCode=T0.U_BPCode AND TaxId2 IS NOT NULL) END,'') [BIN],
ISNULL(CASE
WHEN T0.U_BPCode IS NULL THEN '' ELSE (SELECT ISNULL(CAST(Building AS VARCHAR(200)),'') FROM CRD1 WHERE CardCode=T0.U_BPCode AND LineNum=0 AND AddrType='B') END,'') [Address],
ISNULL(CAST(T1.Credit AS DECIMAL(18,2)),0) [Purchase Price],ISNULL(CAST(0 AS DECIMAL(18,2)),0) [Vat Deduction],ISNULL(CAST(T1.U_Vat AS DECIMAL(18,2)),0)[VAT%],ISNULL(T0.U_BE,'') [Challan/Bill no],'' [Invoice Date],''[Account Code],''[Remark],T0.TransId [Ref] FROM OJDT T0, JDT1 T1
WHERE T0.TransId=T1.TransId AND T0.U_JEntryType='Service' AND T0.RefDate BETWEEN @FromDate AND @ToDate
AND T1.LineMemo NOT IN ('VAT Deduct') AND T1.U_SCode IS NOT NULL AND T1.TransId IN (SELECT TransId FROM JDT1 WHERE LineMemo IN ('VAT Deduct'))

)T0
GROUP BY
T0.U_JEntryType,T0.Supplier,T0.BIN ,T0.Address,T0.[Challan/Bill no],T0.[Invoice Date],T0.[Account Code],T0.Remark,T0.Ref -----,T0.[VAT%]
)T0
END

--SELECT T0.U_JEntryType,
--CASE 
--WHEN T0.U_BPCode IS NULL THEN (SELECT Name FROM [@CASHCUSTOMER] WHERE Code=T0.U_CashBP) ELSE (SELECT CardName FROM OCRD WHERE CardCode=T0.U_BPCode) END [Supplier],
--CASE 
--WHEN T0.U_BPCode IS NULL THEN (SELECT U_NID FROM [@CASHCUSTOMER] WHERE Code=T0.U_CashBP) ELSE (SELECT TaxId2 FROM CRD7 WHERE CardCode=T0.U_BPCode AND TaxId2 IS NOT NULL) END [BIN],
--CASE
--WHEN T0.U_BPCode IS NULL THEN NULL ELSE (SELECT Building FROM CRD1 WHERE CardCode=T0.U_BPCode) END [Address],
--T1.U_PurPrice [Purchase Price],T1.Credit [Vat Deduction],T0.U_BE [Challan/Bill no],'' [Invoice Date],''[Account Code],''[Remark],T0.TransId [Ref] FROM OJDT T0, JDT1 T1
--WHERE T0.TransId=T1.TransId AND T0.U_JEntryType='Service' AND T0.RefDate BETWEEN @FromDate AND @ToDate AND T1.U_SCode IS NOT NULL
------AND T1.LineMemo='VAT Add' AND T1.Account='302001008'


----SELECT * FROM CRD1

--[@BGW_Note_24_VAT_DEDUCTION_AT_SOURCE] '20220801','20220831'
GO
