USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_OP_Pur]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<16 Sep 2010>

-- =============================================

CREATE PROCEDURE [dbo].[@BGWL_OP_Pur]
	(@FromDATE DATETIME,@ToDATE DATETIME,@itemname varchar(50))
AS
BEGIN

	SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_OP_Pur')
 Drop table Temp_OP_Pur

CREATE TABLE Temp_OP_Pur (DOCDATE DATETIME,Itemcode Varchar (10),Itemname varchar(100),
Opening Float,OPVAL Float, Purchase FLOAT )

 delete  FROM Temp_OP_Pur 

INSERT INTO Temp_OP_Pur 
--SELECT ROW_NUMBER() OVER (ORDER BY N1.DocNum )ID
Select  (A.DOCDATE) as Date,a.Itemcode,
 max(a.Dscription) as [Itemname],
 sum(a.[Opening]) as [Opening],
  sum(a.OPVAL) as [OPVAL],
 sum(a.[Purchase]) as [Purchase]

 

from dbo.OITM I1 



JOIN (select @fromdate as Docdate, N1.Itemcode, N1.Dscription,sum(N1.price) as Rate,sum(n1.transvalue)as TransVal,

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], sum(n1.transvalue) as [OPVAL],
0 as [Purchase]

From dbo.OINM N1 , dbo.OITM N2
Where N1.DocDate < @fromdate  
 and N1.Itemcode=N2.Itemcode and N1.dscription=@Itemname
Group By N1.docdate,N1.ItemCode,N1.Dscription

Union All

select N1.docdate, N1.Itemcode, N1.Dscription,sum(N1.price) as Rate,
sum(n1.transvalue)as TransVal, 0 as [Opening], 0 as [OPVAL],
sum(N1.inqty) as [Purchase]

From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @fromdate and N1.DocDate <= @Todate   
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode   and 
N1.dscription=@Itemname and N1.transtype=20 

Group By N1.docdate,N1.ItemCode,N1.Dscription


)
a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode, a.[Docdate]
Order By a.Itemcode




--delete from Temp_OP_Pur where [Opening] =0 and [Purchase]=0 


SELECT  Docdate , Itemcode,Itemname,(sum([Opening])) [OP],sum(OPVAL) [OPVAL],
(sum([Purchase])) [Purchase]


  FROM Temp_OP_Pur 
group by DocDate, Itemcode,Itemname




end


























GO
