USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Issue]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Create date: 	<15 SEP 2010>

-- =============================================

CREATE PROCEDURE [dbo].[@BGWL_Issue]
	(@FromDATE DATETIME,@ToDATE DATETIME,@itemname varchar(50))
AS
BEGIN

	SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Issue')
 Drop table Temp_Issue

CREATE TABLE Temp_Issue (DOCDATE DATETIME,Itemcode Varchar (10),Itemname varchar(100),
Issue Float, Issue_Value Float )

INSERT INTO Temp_Issue 
--SELECT ROW_NUMBER() OVER (ORDER BY N1.DocNum )ID
Select  (A.DOCDATE) as Date,a.Itemcode,
 max(a.Dscription) as [Itemname],

  sum(a.[Issue]) as [Issue],
  sum(a.[Issue_Value]) as [Issue_Value]
from dbo.OITM I1 



JOIN (




select N1.docdate, N1.Itemcode, N1.Dscription,sum(N1.price)as Rate,sum(n1.transvalue)as TransVal, 
0 as [Opening], 0 as [Purchase],sum(N1.outqty) as 
[Issue],sum(n1.WipVal) as Issue_Value
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @Fromdate  and 
N1.DocDate <=@Todate and N1.OutQty > 0 and N1.Itemcode=N2.Itemcode  
 and N1.dscription=@Itemname 
group by N1.docdate, N1.Itemcode, N1.Dscription


)
a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode, a.[Docdate]
Order By a.Itemcode




--delete from Temp_Issue where [Opening] =0 and [Purchase]=0 


SELECT  [DocDate], Itemcode,Itemname,
([Issue]) [Issue],Issue_Value
  FROM Temp_Issue 
--group by DocDate, Itemcode,Itemname,[Opening],[Purchase] , [Issue], [Closing]




end


























GO
