USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_TodaysIncoming]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Mizan>
-- Create date: 	<05 Jan 2010>

-- =============================================


CREATE PROCEDURE [dbo].[@BGWL_TodaysIncoming]
	(@FromDATE DATETIME)
AS
BEGIN

DECLARE @ID INT

DECLARE @AIT FLOAT
DECLARE @VAT FLOAT
DECLARE @Credit FLOAT
DECLARE @BALANCE  FLOAT
DECLARE @LASTCLOSINGBALANCE FLOAT


	SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_TodaysIncoming')
 Drop table Temp_TodaysIncoming

CREATE TABLE Temp_TodaysIncoming (DOCDATE DATETIME,Cardcode varchar(25),Cardname varchar(100),
Narration varchar(100), Credit FLOAT,AIT FLOAT,VAT FLOAT )

INSERT INTO Temp_TodaysIncoming 



--select * from JDT1 where shortname='CT00000004'




Select  N1.refdate  as date,N1.Contraact, N2.cardname,
('Incoming Payment   '+ CONVert(varchar,N1.Ref1)) as Narration, 
(N1.Debit) as [Credit], 0 as  [AIT],0 as  [VAT]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate = @fromdate
 and N1.Contraact=N2.cardcode   and N1.Account<>'102003017' and N1.Account<>'102003028'


Union All


Select  N1.refdate  as date,N1.Contraact, N2.cardname,('Incoming Payment- AIT  '+ CONVert(varchar,N1.Ref1)) as Narration, 
0 as [Credit],(N1.Debit) [AIT],0 as [VAT]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate = @fromdate  
 and N1.Contraact=N2.cardcode   and N1.Account='102003017'


--====

Union All


Select  N1.refdate  as date,N1.Contraact, N2.cardname,('Incoming Payment- VAT  '+ CONVert(varchar,N1.Ref1)) as Narration, 
0 as [Credit], 0 as [AIT], (N1.Debit) as [VAT]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate = @fromdate 
 and N1.Contraact=N2.cardcode  and N1.Account='102003028'




--==============================================


delete from Temp_TodaysIncoming where  Credit=0 and AIT=0  and
VAT=0  and Narration<>'Balance as on'

select Docdate,Cardname,right(narration,6) [Incoming Payment SL],credit [Bengalglass],AIT,VAT 
from Temp_TodaysIncoming group by Docdate, right(narration,6),Cardname,credit,AIT,VAT

order by Docdate,right(narration,6)





end











GO
