USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Goods_Issue_Item_WH_DEP]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Department wise consumption report for inventory module
-- Create date: 	<26 Oct 2011>
-- =============================================


CREATE PROCEDURE [dbo].[@BGW_Goods_Issue_Item_WH_DEP]
	( @Fromdate DATETIME, @todate datetime, @ItemName varchar(100))
AS
BEGIN
SET NOCOUNT ON;

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Issue_Item')
 Drop table Temp_Issue_Item_WH_DEP
	
CREATE TABLE Temp_Issue_Item_WH_DEP (Itemcode Varchar (8),Dscription varchar(100),UoM Char(6),Itmsgrp varchar(20),U_Dept varchar(20), 
 Furnace1QTY Numeric(18,6),Furnace1Val Numeric(18,6),Furnace2QTY Numeric(18,6),
Furnace2Val Numeric(18,6), Furnace3QTY Numeric(18,6),Furnace3Val Numeric(18,6),
Furnace4QTY Numeric(18,6),Furnace4Val Numeric(18,6),CEXPQTY Numeric(18,6),CEXPVal Numeric(18,6))


INSERT INTO Temp_Issue_Item_WH_DEP

-- data insert into temp table
Select
T2.ITEMCODE [Itemcode],T2.Itemname [Item Name], T2.InvntryUom [UoM], T3.ITMSGRPNAM [Group Name],T4.u_dept,

(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F1' and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-1 Qty]
,(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F1' and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-1 Value]
,(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F2'  and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-2 Qty]
,(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F2' and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-2 Value]
,(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F3' and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept  and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-3 Qty]
,
(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F3' and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-3 Value]
,
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F4'  and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-4 Qty]
,
(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='F4' and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[Furnace-4 Value]

,
(Select isnull(SUM(QUANTITY),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='CEXP' and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[CEXP Qty]
,
(Select isnull(Sum(Quantity*stockprice),0) from IGe1,OIGE where IGe1.itemcode=T2.ITEMCODE and OIGE.U_Unit='CEXP'  and IGE1.Dscription=@ItemName and OIGE.U_Dept=T4.u_dept and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @todate, 101) and OIGE.docentry=IGE1.docentry )
[CEXP Value]



FROM 
OITM T2,OITB T3,OIGE T4 ,IGE1 T5 where  T2.ITEMCODE=T2.ITEMCODE and T5.ITEMCODE=T2.ITEMCODE
and T3.ITMSGRPCOD=T2.ITMSGRPCOD

and T4.DOCDATE >= CONVERT(VARCHAR(10), @Fromdate, 101) AND T4.DOCDATE <= CONVERT(VARCHAR(10), @todate, 101) 
AND T5.Dscription=@ItemName --and T4.U_Dept=T4.u_dept 
GROUP BY
T2.ITEMCODE,T2.Itemname,T2.InvntryUom,T3.ITMSGRPNAM,T4.U_Dept 
ORDER BY T2.ITEMCODE

-- finish data insertion

delete from Temp_Issue_Item_WH_DEP where 
Furnace1QTY =0  and Furnace1Val =0 and Furnace2QTY =0 and 
Furnace2Val =0 and  Furnace3QTY =0 and Furnace3Val =0 and 
Furnace4QTY =0 and Furnace4Val =0 and CEXPQTY =0 and CEXPVal =0  

-- Show data from Temp Table---
select * from Temp_Issue_Item_WH_DEP

end
GO
