USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_PurchaseBook_Musak-16-V2]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- [@BGW_PurchaseBook_Musak-16-V2] '09/01/2018','09/30/2018','','0701001'

CREATE PROC [dbo].[@BGW_PurchaseBook_Musak-16-V2] 
@FromDate DATETIME,
@ToDate DATETIME,
@GroupCode VARCHAR(20),
@ItemCode VARCHAR(30)
AS
BEGIN
DECLARE @OpeningDate DATETIME='08/31/2011'

DECLARE @ItemName VARCHAR(100)
SELECT @ItemName=ItemName FROM OITM WHERE ItemCode=@ItemCode


IF EXISTS (SELECT * FROM sys.tables WHERE name='tempReg')
BEGIN
	DROP TABLE tempReg
END
----drop table #temReg
SELECT * INTO  #temReg FROM(

SELECT '' DocDate,SUM(ISNULL(InQty,0)-ISNULL(OutQty,0)) OBqty,SUM(ISNULL(TransValue,0)) OBVal,0 ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Opening Balance:- ' Remark FROM OINM 
WHERE ItemCode =@ItemCode AND DocDate < @FromDate

UNION ALL
-----------------------Purchase ---------------------------------
SELECT DISTINCT T1.DocDate DocDate,0 OBQty,0 OBVal,
T1.DocNum ChallanId,T1.DocDate PurDate,BaseCard VendorName,'' Address,'' BIN,@ItemName Discription,CAST(T0.Quantity AS DECIMAL(18,6)) PurQty,T2.TransValue PurPrice,
0 AdditionalVat,T0.VatSum Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,'Purchase:-' Remark FROM PCH1 T0,
(	
	SELECT DISTINCT T0.DocEntry,T0.DocNum,T0.DocDate FROM OPDN T0,PDN1 T1 WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN @FromDate AND @ToDate
)T1	,OINM T2 
WHERE
T1.DocNum=T2.BASE_REF
AND T0.ItemCode=T2.ItemCode 
AND T0.BaseEntry=T1.DocEntry 
AND	T0.ItemCode=@ItemCode
AND T1.DocDate BETWEEN @FromDate AND @ToDate
---AND T2.TransType=20

UNION ALL
------------------------- Consumption---------------------------------
--SELECT DISTINCT T2.DocDate,0 OBqty,0 OBVal,T2.BASE_REF ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
--'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,-T2.OutQty ConsumptionQty,T2.TransValue ConsumptionVal,0 ClosingQty,0 ClosingVal,
--'Consumption:- '+T0.JrnlMemo Remark,1 DocType  
--FROM OIGE T0,IGE1 T1,OINM T2 
--WHERE
--T0.DocNum=T2.BASE_REF
--AND T1.ItemCode=T2.ItemCode
--AND T1.ItemCode=@ItemCode 
--AND T0.DocEntry=T1.DocEntry 
--AND T0.DocDate BETWEEN @FromDate AND @ToDate
--AND T2.TransType IN (59,60)

SELECT DocDate,0 OBqty,0 OBVal,BASE_REF ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,(ISNULL(InQty,0)-ISNULL(OutQty,0))  ConsumptionQty,
(ISNULL(TransValue,0)) ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Consumption:- '+JrnlMemo Remark FROM OINM 
WHERE ItemCode =@ItemCode AND DocDate BETWEEN @FromDate AND @ToDate
AND TransType IN (59,60)

UNION ALL

-------------------------Goods return----------------------
SELECT DISTINCT T0.DocDate,0 OBqty,0 OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,T0.CardCode VendorName,
T0.Address,T0.VATRegNum BIN,@ItemName Dscription,ISNULL(-T1.Quantity,0) PurQty,ISNULL(T2.TransValue,0) PurPrice,0 AdditionalVat,ISNULL(T1.VatSum,0)Musak,
0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,'Goods Return:- '+T2.JrnlMemo Remark
FROM ORPD T0,RPD1 T1 ,OINM T2 
WHERE
T0.DocNum=T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T0.DocEntry=T1.DocEntry 
AND T0.DocDate BETWEEN @FromDate AND @ToDate 
AND T1.ItemCode =@ItemCode

UNION ALL

---------A\P Credit memo--------------------------
SELECT T0.DocDate,0 OBqty,0 OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,T0.CardCode VendorName,
T0.Address,T0.VATRegNum BIN,@ItemName Dscription,ISNULL(-T1.Quantity,0) PurQty,ISNULL(T2.TransValue,0) PurPrice,0 AdditionalVat,ISNULL(T1.VatSum,0)Musak,
0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,'A/P Credit Memo:- '+T2.JrnlMemo Remark 
FROM ORPC T0,RPC1 T1 ,OINM T2 
WHERE
T0.DocNum =T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T0.DocEntry=T1.DocEntry 
AND T0.DocDate BETWEEN @FromDate AND @ToDate 
AND T1.ItemCode =@ItemCode
)TT

----SELECT * FROM #temReg

--SELECT ROW_NUMBER()OVER(ORDER BY XY.DocDate)SI,XY.* INTO tempReg FROM #temReg XY
/*
SELECT ROW_NUMBER()OVER(ORDER BY XY.DocDate)SI,XY.* INTO tempReg FROM
(
	
	--SELECT '' DocDate,SUM(T0.OBqty+T0.PurQty+T0.ConsumptionQty)OBqty,SUM(T0.OBVal+T0.PurPrice+T0.ConsumptionVal)OBVal,0 ChallanId,'' PurDate,'' VendorName,''Address,
	--''BIN,T0.Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak, 0 ConsumptionQty,0 ConsumptionVal,
	--CAST(0 AS DECIMAL(18,6)) ClosingQty,CAST(0 AS DECIMAL(18,6)) ClosingVal FROM #temReg T0
	--GROUP BY T0.Discription
	--UNION ALL
	SELECT T0.DocDate,SUM(T0.OBqty+T0.PurQty+T0.ConsumptionQty)OBqty,SUM(T0.OBVal+T0.PurPrice+T0.ConsumptionVal)OBVal,T0.ChallanId ChallanId,T0.PurDate PurDate,T0.VendorName VendorName,T0.Address,
	T0.BIN,T0.Discription,SUM(T0.PurQty) PurQty,SUM(T0.PurPrice) PurPrice,SUM(T0.AdditionalVat)AdditionalVat,SUM(T0.Musak)Musak, 
	SUM(T0.ConsumptionQty)ConsumptionQty,SUM(T0.ConsumptionVal)ConsumptionVal,
	CAST(0 AS DECIMAL(18,6)) ClosingQty,CAST(0 AS DECIMAL(18,6)) ClosingVal FROM #temReg T0
	GROUP BY T0.DocDate,T0.ChallanId,T0.PurDate,T0.VendorName,T0.Address,T0.BIN,T0.Discription
)XY
*/
SELECT ROW_NUMBER()OVER(ORDER BY XY.DocDate)SI,DocDate,OBqty,OBVal,ChallanId,CAST(PurDate AS VARCHAR)PurDate,VendorName,
Address,BIN,Discription,PurQty,PurPrice,AdditionalVat,Musak,ConsumptionQty,ConsumptionVal,
CAST(ClosingQty AS DECIMAL(18,6))ClosingQty,CAST(ClosingVal AS DECIMAL(18,6))ClosingVal,Remark INTO tempReg FROM #temReg XY


DECLARE @SI INT,
@DocDate VARCHAR(12),
@OBqty DECIMAL(18,6),
@OBVal DECIMAL(18,6),
@ChallanId VARCHAR(20),
@PurDate VARCHAR(12),
@VendorName VARCHAR(100),
@Address VARCHAR(100),
@BIN VARCHAR(100),
@Discription VARCHAR(100),
@PurQty DECIMAL(18,6),
@PurPrice DECIMAL(18,6),
@AdditionalVat DECIMAL(18,6),
@Musak DECIMAL(18,6),
@ConsumptionQty DECIMAL(18,6),
@ConsumptionVal DECIMAL(18,6),
@ClosingQty DECIMAL(18,6),
@ClosingVal DECIMAL(18,6),
@Remark VARCHAR(250) 




DECLARE Cur_reg CURSOR
FOR SELECT * FROM tempReg
OPEN Cur_reg 
FETCH NEXT FROM Cur_reg INTO @SI,@DocDate,@OBqty,@OBVal,@ChallanId,
								@PurDate,@VendorName,@Address,@BIN,@Discription,@PurQty,@PurPrice,
								@AdditionalVat,@Musak,@ConsumptionQty,@ConsumptionVal,@ClosingQty,@ClosingVal,@Remark
WHILE @@FETCH_STATUS=0
BEGIN
	UPDATE tempReg
	SET ClosingQty=CAST(CAST(@OBqty AS DECIMAL(18,6))+CAST(@PurQty AS DECIMAL(18,6))+CAST(@ConsumptionQty AS DECIMAL(18,6)) AS DECIMAL(18,6)),
		ClosingVal=CAST(@OBVal+@PurPrice+@ConsumptionVal AS DECIMAL(18,6))
	WHERE SI=@SI
	
	UPDATE tempReg
	SET OBqty=CAST(@OBqty+@PurQty+@ConsumptionQty AS DECIMAL(18,6)),
		OBVal=CAST(@OBVal+@PurPrice+@ConsumptionVal AS DECIMAL(18,6))
	WHERE SI=@SI+1

	FETCH NEXT FROM Cur_reg INTO @SI,@DocDate,@OBqty,@OBVal,@ChallanId,
								@PurDate,@VendorName,@Address,@BIN,@Discription,@PurQty,@PurPrice,
								@AdditionalVat,@Musak,@ConsumptionQty,@ConsumptionVal,@ClosingQty,@ClosingVal,@Remark
END
CLOSE Cur_reg
DEALLOCATE Cur_reg

SELECT * FROM tempReg

END
GO
