USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Recocilation_New_Summarized]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<18 Apr 2011> This is for 2011- Continue
-- this is very hard query for making the report.
-- =============================================

CREATE PROCEDURE [dbo].[@BGW_Recocilation_New_Summarized]
	(@Fromdate DATETIME, @todate datetime)
AS
BEGIN
SET NOCOUNT ON;

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Recon_New_Summarized')
 Drop table Temp_Recon_New_Summarized
	
CREATE TABLE Temp_Recon_New_Summarized (GrpName varchar(100), 
OpVal Numeric(18,6),PurVal Numeric(18,6),Furnace1Val Numeric(18,6),Furnace2Val Numeric(18,6)
,Furnace3Val Numeric(18,6),Furnace4Val Numeric(18,6),CEXPVal Numeric(18,6),
  ClosVal Numeric(18,6))

INSERT INTO Temp_Recon_New_Summarized

Select
T3.Itmsgrpnam ,
isnull(SUm(T4.Transvalue),0)  [OB Value] ,0 as [PurVal], 0 as [Furnace1Val]
, 0 as [Furnace2Val], 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]

FROM 
OITM T2,OITB T3,OINM T4 where 
 T2.Itmsgrpcod=T3.Itmsgrpcod  and 
T4.itemcode=T2.itemcode
and T4.DOCDATE < @FromDate 

GROUP BY
T3.ItmsgrpNam
union all

--- add revaluation

--Select
--T3.Itmsgrpnam ,
--isnull(SUm(T4.Transvalue),0)  [OB Value] ,0 as [PurVal], 0 as [Furnace1Val]
--, 0 as [Furnace2Val], 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]

--FROM 
--OITM T2,OITB T3,OINM T4 where 
-- T2.Itmsgrpcod=T3.Itmsgrpcod  and 
--T4.itemcode=T2.itemcode and T4.TransType =162
--and T4.DOCDATE < @FromDate 

--GROUP BY
--T3.ItmsgrpNam
--union all

---end 



---Purchase----
Select
T3.Itmsgrpnam , 0 as [OB Value],
 sum(isnull( transvalue,0))  [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val], 
0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM 
OITM T2,OITB T3,OINM T4 where 
 T2.Itmsgrpcod=T3.Itmsgrpcod  and 
T4.itemcode=T2.itemcode and T4.transtype=20
and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) AND CONVERT(VARCHAR(10), @Todate, 101) 

GROUP BY
T3.ItmsgrpNam
Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
 sum(isnull( transvalue,0))  [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM 
OITM T2,OITB T3,OINM T4 where 
 T2.Itmsgrpcod=T3.Itmsgrpcod  and 
T4.itemcode=T2.itemcode and T4.transtype=19
and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) AND  CONVERT(VARCHAR(10), @Todate, 101)

GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
 sum(isnull( transvalue,0))  [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM 
OITM T2,OITB T3,OINM T4 where 
 T2.Itmsgrpcod=T3.Itmsgrpcod  and 
T4.itemcode=T2.itemcode and T4.transtype=69
and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) and  CONVERT(VARCHAR(10), @Todate, 101)

GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
 sum(isnull( transvalue,0))  [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM 
OITM T2,OITB T3,OINM T4 where 
 T2.Itmsgrpcod=T3.Itmsgrpcod  and 
T4.itemcode=T2.itemcode and T4.transtype=21
and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101)

GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
 sum(isnull( transvalue,0))  [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM 
OITM T2,OITB T3,OINM T4 where 
 T2.Itmsgrpcod=T3.Itmsgrpcod  and 
T4.itemcode=T2.itemcode and T4.transtype=18
and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101)

GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
 sum(isnull( transvalue,0))  [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM 
OITM T2,OITB T3,OINM T4 where 
 T2.Itmsgrpcod=T3.Itmsgrpcod  and 
T4.itemcode=T2.itemcode and T4.transtype=162
and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101)

GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
 sum(isnull( transvalue,0))  [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM 
OITM T2,OITB T3,OINM T4 where 
 T2.Itmsgrpcod=T3.Itmsgrpcod  and 
T4.itemcode=T2.itemcode and T4.transtype=59
and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101)

GROUP BY
T3.ItmsgrpNam
-----------Purchase-----------
Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],isnull(Sum(Quantity*stockprice),0)as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM  IGe1,OIGE,OITM t2,OITB T3 
where IGe1.itemcode=T2.ITEMCODE and  T2.Itmsgrpcod=T3.Itmsgrpcod and OIGE.U_Unit='F1' 
and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) AND  CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry 
GROUP BY
T3.ItmsgrpNam
----------------Revaluation
--Select
--T3.Itmsgrpnam , 0 as [OB Value],
-- 0  [Purchase Value],sum(isnull( transvalue,0)) as [Furnace1Val], 0 as [Furnace2Val],
-- 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
--FROM 
--OITM T2,OITB T3,OINM T4 where 
-- T2.Itmsgrpcod=T3.Itmsgrpcod  and 
--T4.itemcode=T2.itemcode and T4.transtype=162
--and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101)

--GROUP BY
--T3.ItmsgrpNam
-----------------

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], isnull(Sum(Quantity*stockprice),0) as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM  IGe1,OIGE,OITM t2,OITB T3 
where IGe1.itemcode=T2.ITEMCODE and  T2.Itmsgrpcod=T3.Itmsgrpcod and OIGE.U_Unit='F2' 
and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) AND  CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry 
GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 isnull(Sum(Quantity*stockprice),0) as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM  IGe1,OIGE,OITM t2,OITB T3 
where IGe1.itemcode=T2.ITEMCODE and  T2.Itmsgrpcod=T3.Itmsgrpcod and OIGE.U_Unit='F3' 
and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) AND  CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry 
GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], isnull(Sum(Quantity*stockprice),0) as [Furnace4Val], 0 as [CEXPVal],0 as [ClosVal]
FROM  IGe1,OIGE,OITM t2,OITB T3 
where IGe1.itemcode=T2.ITEMCODE and  T2.Itmsgrpcod=T3.Itmsgrpcod and OIGE.U_Unit='F4' 
and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) AND  CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry 
GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], isnull(Sum(Quantity*stockprice),0) as [CEXPVal],0 as [ClosVal]
FROM  IGe1,OIGE,OITM t2,OITB T3 
where IGe1.itemcode=T2.ITEMCODE and  T2.Itmsgrpcod=T3.Itmsgrpcod and OIGE.U_Unit='CEXP' 
and IGe1.docdate between CONVERT(VARCHAR(10), @Fromdate, 101) AND  CONVERT(VARCHAR(10), @Todate, 101) and OIGE.docentry=IGE1.docentry 
GROUP BY
T3.ItmsgrpNam
---------Closing Value-----------

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],isnull(SUm(Transvalue),0) as [ClosVal]
from OINM,OITM t2,OITB T3 where OINM.Docdate <  @FromDate and 
OINM.Itemcode=T2.ITEMCODE and  T2.Itmsgrpcod=T3.Itmsgrpcod
GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],isnull(SUm(Transvalue),0) as [ClosVal]
from OINM,OITM t2,OITB T3 where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and 
OINM.Itemcode=T2.ITEMCODE AND TRANSTYPE=20 and  T2.Itmsgrpcod=T3.Itmsgrpcod
GROUP BY
T3.ItmsgrpNam
Union all

Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],isnull(SUm(Transvalue),0) as [ClosVal]
from OINM,OITM t2,OITB T3 where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and 
OINM.Itemcode=T2.ITEMCODE AND TRANSTYPE=19 and  T2.Itmsgrpcod=T3.Itmsgrpcod
GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],isnull(SUm(Transvalue),0) as [ClosVal]
from OINM,OITM t2,OITB T3 where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and 
OINM.Itemcode=T2.ITEMCODE AND TRANSTYPE=69 and  T2.Itmsgrpcod=T3.Itmsgrpcod
GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],isnull(SUm(Transvalue),0) as [ClosVal]
from OINM,OITM t2,OITB T3 where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and 
OINM.Itemcode=T2.ITEMCODE AND TRANSTYPE=60 and  T2.Itmsgrpcod=T3.Itmsgrpcod
GROUP BY
T3.ItmsgrpNam

Union all
Select
T3.Itmsgrpnam , 0 as [OB Value],
0 as [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],isnull(SUm(Transvalue),0) as [ClosVal]
from OINM,OITM t2,OITB T3 where 
Docdate >=  @FromDate AND DOCDATE <= @ToDate and 
OINM.Itemcode=T2.ITEMCODE AND TRANSTYPE=21 and  T2.Itmsgrpcod=T3.Itmsgrpcod
GROUP BY
T3.ItmsgrpNam

------------------------

----------- add revaluation----------
--Select
--T3.Itmsgrpnam , 0 as [OB Value],
-- 0  [Purchase Value],0 as [Furnace1Val], 0 as [Furnace2Val],
-- 0 as [Furnace3Val], 0 as [Furnace4Val], 0 as [CEXPVal],isnull(SUm(Transvalue),0) as [ClosVal]
--FROM 
--OITM T2,OITB T3,OINM T4 where 
-- T2.Itmsgrpcod=T3.Itmsgrpcod  and 
--T4.itemcode=T2.itemcode and T4.transtype=162
--and T4.DOCDATE between CONVERT(VARCHAR(10), @Fromdate, 101) and CONVERT(VARCHAR(10), @Todate, 101)

--GROUP BY
--T3.ItmsgrpNam
------------------



--delete from Temp_Recon_New_Summarized where Opening=0 and purchase=0
-- clos this on 13-11-12 
--select GrpName ,sum(OpVal)[OpVal],Sum(PurVal)[PurVal],sum(Furnace1Val)[Furnace1Val],
--sum(Furnace2Val)[Furnace2Val],sum(Furnace3Val)[Furnace3Val],sum(Furnace4Val)[Furnace4Val],
--sum(CEXPVal)[CEXPVal],sum(ClosVal) [ClosVal]
--from Temp_Recon_New_Summarized where grpname not  in( 'FG-Bottles', 'FG-Shells','RM') group by GrpName
--------------

-- update on 13-11-12-----
select GrpName ,sum(OpVal)[OpVal],Sum(PurVal)[PurVal],sum(Furnace1Val)[Furnace1Val],
sum(Furnace2Val)[Furnace2Val],sum(Furnace3Val)[Furnace3Val],sum(Furnace4Val)[Furnace4Val],
sum(CEXPVal)[CEXPVal],

sum(OpVal)+Sum(PurVal)-sum(Furnace1Val)-sum(Furnace2Val)-
sum(Furnace3Val)-sum(Furnace4Val)-sum(CEXPVal)
 [ClosVal]

 from Temp_Recon_New_Summarized where grpname not  in( 'FG-Amber', 'FG-Shell','FG-Flint','RM') group by GrpName




end

GO
