USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_FG_Statement_wh_10222017]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [dbo].[@BGW_FG_Statement_wh_10222017] '08/01/2016','08/31/2016'
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<08 Mar 2011>
-- Update on : 30-03-2013
-- =============================================

CREATE PROCEDURE [dbo].[@BGW_FG_Statement_wh_10222017]
	( @Fromdate DATETIME, @Todate DATETIME)
AS
BEGIN

	SET NOCOUNT ON;
	--IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_FG_Statement_WH')
 --Drop table Temp_FG_Statement_WH



update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)


----------------------------------------------

--SELECT A.ItemCode, COUNT(A.Price)Price INTO #tempItemCode FROM (
--SELECT DISTINCT ItemCode,Price FROM OINM WHERE DocDate BETWEEN @FromDate AND @ToDate AND TransType=15 AND Price>=1

--)A
--GROUP BY A.ItemCode
--HAVING COUNT(A.Price)>1
---------------------------------------------




	
DECLARE @Temp_FG_Statement_WH TABLE  (Itemcode Varchar (8),ItemName varchar(100),Whsname varchar(20),Rate Float,
Opening Float,OpVal Float, Production Float,ProVal Float,
Delivery_Others Float,DelVal Float,VatSum Float,RATEClose  Float,Closing Float,ClosVal Float,ItemGroup varchar(30))

INSERT INTO @Temp_FG_Statement_WH
	 
--============Main Query=====================

Select a.Itemcode,
 max(a.Itemname) as [Itemname],
--update on 23022016 for warehouse
--max(a.warehouse) as [Whsname] 
(a.warehouse) as [Whsname] 
--===End=====
,
 MIN(a.Rate)Rate,  
sum(a.[Opening]) as [Opening],
sum(a.[OpVal]) as [OpVal],
 sum(a.[Production]) as [Production],
sum(a.[ProVal]) as [ProVal],
  sum(a.[Delivery_Others]) as [Delivery_Others],
sum(a.[DelVal]) as [DelVal],
sum(a.[VatSum]) as [VatSum],MAX(a.RATEClose)RATEClose,
((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a.[Delivery_Others])) as Closing,
((sum(a.[OpVal]) + sum(a.[ProVal]))) - (Sum(a.[DelVal])) as ClosVal,
max(a.ItemGroup) as [ItemGroup]  

--update on 23022016 for warehouse
--from dbo.OITM I1 
from OITW I1
--==== End


JOIN (Select  N2.Itemcode, N2.Itemname,N1.warehouse,
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATE,
--------------------------------------------
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATEClose,
--------------------------------------------


0 as transvalue,

(sum(N1.inqty-n1.outqty)) as [Opening],
(sum(N1.inqty- n1.outqty)*
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
)
) as [OPVal],
 0 as [Production],0 as [Proval],

0 as [Delivery_Others] , 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1 , dbo.OITM N2,OITW N3,OITB N4
Where N1.DocDate < CONVERT(datetime, @Fromdate, 103) --and N1.TransType !=14
  and N2.itemcode like '16%'  and N1.Itemcode=N2.Itemcode and N1.Warehouse=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
 
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam

----------------------------------------------------------------------------------------
Union All

select    N2.Itemcode, N2.ItemName,N1.warehouse,
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
)
 as RATE,
 
 --------------------------------------------
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATEClose,
--------------------------------------------
 
 0 as transvalue,
0 as [Opening],0 as [OpVal],
sum(N1.inqty) as [Production],
((sum(N1.inqty))* 
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
)

) as [Proval],
0 as [Delivery_Others], 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and N1.DocDate <= CONVERT(datetime, @Todate, 103)
and  N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam

union all
----==========Add AR Credit Memo return 30-04-2012====update close this on 31012016=============

--select    N2.Itemcode, N2.ItemName,N1.warehouse,
--(
--case	
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=13 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=13 
-- and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101))
--end
--)

-- as RATE,0 as transvalue,
--0 as [Opening],0 as [OpVal],
--sum(N1.inqty) as [Production],
--((sum(N1.inqty))* 
--(
--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=13 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then

--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

--else

--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=13 
-- and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101))
--end

--)

--) as [Proval],
--0 as [Delivery_Others], 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
--From dbo.OINM N1,dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and N1.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

--and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=N3.whscode
--and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod and N1.transtype=14
--Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam

----======================end Update on 31012016=================================
--union all

select    N2.Itemcode, N2.ItemName,N1.warehouse,
--------------------------------------------
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATE,
--------------------------------------------,
 
 --------------------------------------------
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATEClose,
--------------------------------------------

 
 0 as transvalue,
0 as [Opening],0 as [OpVal],
 -sum(N1.outqty)   as [Production],
((-sum(N1.outqty))* 
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
)
) as [Proval],
0 as [Delivery_Others], 0 As [DelVal],0 As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and N1.DocDate <= CONVERT(datetime, @Todate, 103)
and  N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode  and N1.Warehouse=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam

Union All

select    N2.Itemcode, N2.ItemName,N1.warehouse,
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
)

as RATE,

--------------------------------------------
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATEClose,
--------------------------------------------


0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
sum(N1.outqty-N1.InQty ) as [Delivery_Others],
 (sum(N1.outqty-N1.InQty )*
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
)

) As [Delval],0 As [VatSum]
,n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and 
N1.DocDate <=CONVERT(datetime, @Todate, 103)  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10) and N1.Warehouse=N3.whscode
 and N1.transtype in (15,14) and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod

---- AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam

--(select Max(price) from OINM where OINM.itemcode=N2.itemcode and transtype=15)
--======================

Union All

select    N2.Itemcode, N2.ItemName,N1.warehouse,

(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
)
 as RATE,
 
 
 --------------------------------------------
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATEClose,
-------------------------------------------- 
 
 
 
 0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
-sum(N1.inqty) as [Delivery_Others],
 -(sum(N1.Inqty)*
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
)
) As [Delval],0 As [VatSum]
,n4.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and 
N1.DocDate <=CONVERT(datetime, @Todate, 103)  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10) and N1.Warehouse=N3.whscode
 and N1.transtype=16 and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
 ---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.Itemcode, N2.ItemName,N1.warehouse,n4.Itmsgrpnam
--===========

Union All

select    N2.Itemcode, N2.ItemName,N1.whscode,



---(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,

--------------------------------------------
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATE,
--------------------------------------------

--------------------------------------------
(
case
 when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate between CONVERT(datetime, @Fromdate, 103)  and CONVERT(datetime, @Todate, 103) AND Price>=1)=0
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	CASE WHEN 
	(select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)>0
	THEN
	(select MAX(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate <= CONVERT(datetime, @Fromdate, 103) AND Price>=1)
	ELSE
	(select MIN(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
	and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103) AND Price>=1)

	END

else
( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
 and OINM.DocDate >= CONVERT(datetime, @Fromdate, 103)  and OINM.DocDate <= CONVERT(datetime, @Todate, 103) AND Price>=1)
end
) as RATEClose,
--------------------------------------------



0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
0 as [Delivery_Others],
0 As [Delval], Sum(N1.VatSum) As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.DLN1 N1, dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and 
N1.DocDate <=CONVERT(datetime, @Todate, 103)
and N1.Itemcode=N2.Itemcode  and N1.Whscode=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod
---AND N1.ItemCode NOT IN (SELECT ItemCode FROM #tempItemCode)
Group By N2.ItemCode,N2.ItemName,N1.whscode,n4.Itmsgrpnam
--------------------------


/*
select    N2.Itemcode, N2.ItemName,N1.whscode,



---(select Max(price) from ITM1 where ITM1.itemcode=N2.itemcode ) as RATE,

--------------------------------------------
0 as RATE,
--------------------------------------------

--------------------------------------------
0 as RATEClose,
--------------------------------------------



0 as transvalue,
0 as [Opening], 0 as [OpVal],0 as [Production],0 as [ProVal],
SUM(N1.Quantity) as [Delivery_Others],
SUM(N1.Quantity*N1.Price) As [Delval],SUM(N1.VatSum) As [VatSum],n4.Itmsgrpnam as [ItemGroup]
From dbo.DLN1 N1, dbo.OITM N2,OITW N3,OITB N4 Where N1.DocDate >= CONVERT(datetime, @Fromdate, 103)  and 
N1.DocDate <=CONVERT(datetime, @Todate, 103)
and N1.Itemcode=N2.Itemcode  and N1.Whscode=N3.whscode
and N1.Itemcode=N3.Itemcode and N2.Itmsgrpcod=N4.Itmsgrpcod

Group By N2.ItemCode,N2.ItemName,N1.whscode,n4.Itmsgrpnam
*/

)

a 
---==== Update on 23022016 for warehouse
--ON a.ItemCode=I1.ItemCode 
--Group By a.Itemcode ,I1.ItemCode, a.rate
ON a.ItemCode=I1.ItemCode and I1.WhsCode =a.Warehouse
Group By a.Itemcode ,I1.ItemCode, a.Warehouse ,i1.WhsCode ----,a.RATEClose,a.rate
--====== End
Order By a.Itemcode
 
--==========End Main====================

delete from @Temp_FG_Statement_WH  where [Opening] =0 and [Production]=0 and [Delivery_Others]=0  

SELECT  [ItemCode],[ItemName],[Whsname],max([Rate]) as RATE,sum([Opening]) [Opening],
(max([Rate]) * sum([Opening]))[OpVal],Sum([Production]) [Production],
(max([Rate]) * sum([Production]))[ProVal],
Sum([Delivery_Others]) [Delivery],(max([Rate]) * sum([Delivery_Others]))[DelVal],Sum([VatSum])[VAT],max([RATEClose])RATEClose,
Sum([Closing]) [Closing],(max([RATEClose]) * sum([Closing]))[ClosVal],[ItemGroup] FROM @Temp_FG_Statement_WH 
group by [ItemCode],[ItemName],[Whsname],[ItemGroup]
order by [Rate] Asc



--SELECT  [ItemCode],[ItemName],[Whsname],max([Rate]) as RATE,sum([Opening]) [Opening],
--(max([Rate]) * sum([Opening]))[OpVal],Sum([Production]) [Production],
--(max([Rate]) * sum([Production]))[ProVal],
--Sum([Delivery_Others]) [Delivery],SUM([DelVal])[DelVal],Sum([VatSum])[VAT],max([RATEClose])RATEClose,
--Sum([Closing]) [Closing],(max([RATEClose]) * sum([Closing]))[ClosVal],[ItemGroup] FROM @Temp_FG_Statement_WH 
--group by [ItemCode],[ItemName],[Whsname],[ItemGroup]
--order by [Rate] Asc

END

GO
