USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_OP_Prod]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<16 Sep 2010>

-- =============================================

CREATE PROCEDURE [dbo].[@BGWL_OP_Prod]
	(@FromDATE DATETIME,@itemname varchar(50))
AS
BEGIN

	SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_OP_PRod')
 Drop table Temp_OP_PRod

CREATE TABLE Temp_OP_PRod (DOCDATE DATETIME,Itemcode Varchar (10),Itemname varchar(100),
Opening Float, Production FLOAT,  Delivery Float,Closing Float )

INSERT INTO Temp_OP_PRod 

Select  @fromdate as Date,a.Itemcode,
 max(a.Dscription) as [Itemname],
 sum(a.[Opening]) as [Opening],

 sum(a.[Production]) as [Production],

  sum(a.[Delivery]) as [Delivery],

((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a. [Delivery]) )
 as Closing
from dbo.OITM I1 
JOIN (Select  N1.Itemcode, N1.Dscription,N1.Price,0 as transvalue,

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], 0 as [Production],
0 as [Delivery]
From dbo.OINM N1 , dbo.OITM N2
Where N1.DocDate < @fromdate   
 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N1.dscription=@Itemname
Group By N1.ItemCode,N1.Dscription,N1.Price,n1.transvalue

Union All

select  N1.Itemcode, N1.Dscription,N1.price,n1.transvalue, 0 as [Opening], 
sum(N1.inqty) as [Production],0 as [Delivery]

From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @fromdate  and N1.DocDate <= @fromdate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N1.dscription=@Itemname and N1.jrnlmemo='Receipt from Production'

Group By N1.ItemCode,N1.Dscription,N1.price ,n1.transvalue

Union All


select  N1.Itemcode, N1.Dscription,N1.price,n1.transvalue, 
0 as [Opening], 0 as [Production],sum(N1.outqty) as 
[Delivery]
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @Fromdate  and 
N1.DocDate <=@FromDate and N1.OutQty > 0 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N1.dscription=@Itemname
Group By N1.ItemCode,N1.Dscription,N1.price, n1.transvalue


)
a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode
Order By a.Itemcode




delete from Temp_OP_PRod where [Opening] =0 and [Production]=0 


SELECT  [DocDate], Itemcode,Itemname,(Sum([Opening])) [OP],(Sum([Production])) [Prod],
sum([Delivery]) [Delivery], 
(sum([Closing])) Closing

  FROM Temp_OP_PRod  
group by Docdate,Itemcode,Itemname


end
















GO
