USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Prod_With_Line_Batch]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Mizan>
-- Create date: 	<01 Feb 2015>
-- 
-- =============================================

CREATE PROCEDURE [dbo].[@BGWL_Prod_With_Line_Batch]
	( @Prodname varchar(60),@BatchNum varchar(12))
AS
BEGIN


select T3.indate,T1.itemcode,T1.Dscription ,T1.WhsCode , T2.quantity ,T3.distnumber [BatchNum],T1.U_MchNo  from IGN1 t1, ITL1 T2, OBTN t3
where t1.ItemCode=T2.ItemCode  and t2.SysNumber =T3.SysNumber  and t1.ShipDate =t3.InDate   and T1.Dscription=@Prodname  
  and T1.ShipDate >='20150211'  and T1.U_MchNo not in ('-',Null) and T3.DistNumber =@BatchNum 
   group by T1.itemcode,T2.quantity ,  T3.distnumber,T1.U_MchNo,T1.Dscription,T3.indate,T1.WhsCode 

end
GO
