USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Two_years Data_Customer]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<30 Oct 2010>

-- =============================================



CREATE PROCEDURE [dbo].[@BGW_Two_years Data_Customer]
	(@FYear1 varchar(4),@FYear2 varchar(4))
	
	AS
BEGIN


SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Two_years_Data_Customer')
 Drop table Temp_Two_years_Data_Customer

CREATE TABLE Temp_Two_years_Data_Customer (CardCode varchar(10),CardName varchar(100),Itmsgrpnam varchar(30),
[Total Qty Sold @FYear1] Numeric(12,0), [Total Qty Sold @FYear2] Numeric(12,0) )

INSERT INTO Temp_Two_years_Data_Customer 

SELECT  T0.CardCode , T0.CardName , T3.ItmsGrpNam,  SUM(T1.Quantity) as [Total Qty Sold @FYear1],0 as [Total Qty Sold @FYear2]
   FROM OINV T0,INV1 T1, OITM T2,OITB T3 where T0.DocEntry = T1.DocEntry and  T1.ItemCode = T2.ItemCode
 and T2.ItmsGrpCod = T3.ItmsGrpCod and  Datename(Year,T0.Docdate) =@FYear1
 
   GROUP BY T0.CardCode , T0.CardName, T3.ItmsGrpNam 
--ORDER by SUM(T1.Quantity) DESC,  Datename(Year,N1.Indate) =@FYear

union all


SELECT  T0.CardCode , T0.CardName, T3.ItmsGrpNam,  -SUM(T1.Quantity) as [Total Qty Sold @FYear1] ,0 as [Total Qty Sold @FYear2]
  FROM ORIN T0,RIN1 T1, OITM T2,OITB T3 where T0.DocEntry = T1.DocEntry and  T1.ItemCode = T2.ItemCode
 and T2.ItmsGrpCod = T3.ItmsGrpCod and Datename(Year,T0.Docdate) =@FYear1 
   GROUP BY T0.CardCode , T0.CardName, T3.ItmsGrpNam 

   union all

   

SELECT  T0.CardCode , T0.CardName, T3.ItmsGrpNam,  0 as [Total Qty Sold @FYear1],SUM(T1.Quantity) as [Total Qty Sold @FYear2]
   FROM OINV T0,INV1 T1, OITM T2,OITB T3 where T0.DocEntry = T1.DocEntry and  T1.ItemCode = T2.ItemCode
 and T2.ItmsGrpCod = T3.ItmsGrpCod and  Datename(Year,T0.Docdate) =@FYear2 
 
   GROUP BY T0.CardCode , T0.CardName, T3.ItmsGrpNam 
--ORDER by SUM(T1.Quantity) DESC,  Datename(Year,N1.Indate) =@FYear

union all


SELECT  T0.CardCode , T0.CardName, T3.ItmsGrpNam,  0 as [Total Qty Sold @FYear1],-SUM(T1.Quantity) as [Total Qty Sold @FYear2]
  FROM ORIN T0,RIN1 T1, OITM T2,OITB T3 where T0.DocEntry = T1.DocEntry and  T1.ItemCode = T2.ItemCode
 and T2.ItmsGrpCod = T3.ItmsGrpCod and Datename(Year,T0.Docdate) =@FYear2 
   GROUP BY T0.CardCode , T0.CardName, T3.ItmsGrpNam 


   
   --select * from Temp_Two_years_Data 

SELECT Cardcode,CardName ,Itmsgrpnam ,sum([Total Qty Sold @FYear1])[Total Qty Sold @FYear1],
Sum([Total Qty Sold @FYear2])[Total Qty Sold @FYear2] FROM Temp_Two_years_Data_Customer 
group by Cardcode,CardName ,Itmsgrpnam  order by sum([Total Qty Sold @FYear2])-sum([Total Qty Sold @FYear1])
   
   
   end



--ORDER by SUM(T1.Quantity) DESC

--select * from DLN1
GO
