USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_DailyPL_Group]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<02 Nov 2010>

-- =============================================

CREATE PROCEDURE [dbo].[@BGW_DailyPL_Group]
	(@Fromdate DATETIME,@Groupnam varchar(20))
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_dailyPL_Group')
 Drop table Temp_dailyPL_Group 
update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)

	
CREATE TABLE Temp_dailyPL_Group (DOCDATE DATETIME,Itemcode Varchar (8),Dscription varchar(100),
Opening Float, Production Float,Delivery_Others Float, Total Float, Closing Float,
ProdCumulative Float, DelCumulative Float)

INSERT INTO Temp_dailyPL_Group
	 
--============Main Query=====================

Select  @Fromdate as Date,a.Itemcode,
 max(a.Dscription) as [Itemname],

 sum(a.[Opening]) as [Opening],
 sum(a.[Production]) as [Production],
  sum(a.[Delivery_Others]) as [Delivery_Others],
sum(a.[Delivery_Others]) as [Total],
((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a.[Delivery_Others])) as Closing,
 sum(a.ProdCumulative) as [ProdCumulative],sum(a.DelCumulative) as [DelCumulative]  
from dbo.OITM I1 
JOIN (Select  N1.Itemcode, N1.Dscription,N1.Price,0 as transvalue,

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative] 
From dbo.OINM N1 , dbo.OITM N2,OITB N3
Where N1.DocDate < @Fromdate  and N2.itemcode like '16%'  and N1.Itemcode=N2.Itemcode and 
 N2.itmsgrpcod=N3.itmsgrpcod and N3.Itmsgrpnam=@groupnam
Group By N1.ItemCode,N1.Dscription,N1.Price,n1.transvalue

Union All

select  N1.Itemcode, N1.Dscription,N1.price,n1.transvalue, 0 as [Opening],
sum(N1.inqty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,0 as [DelCumulative] 
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= @Fromdate  and N1.DocDate <= @FromDate
and  N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
and 
 N2.itmsgrpcod=N3.itmsgrpcod and N3.Itmsgrpnam=@groupnam
Group By N1.ItemCode,N1.Dscription,N1.price ,n1.transvalue
Union All

--=======================================
select  N1.Itemcode, N1.Dscription,N1.price,n1.transvalue, 0 as [Opening],
-sum(N1.outqty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,0 as [DelCumulative] 
From dbo.OINM N1,dbo.OITM N2, OITB N3 Where N1.DocDate >= @Fromdate  and N1.DocDate <= @FromDate
and  N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
and 
 N2.itmsgrpcod=N3.itmsgrpcod and N3.Itmsgrpnam=@groupnam
Group By N1.ItemCode,N1.Dscription,N1.price ,n1.transvalue
Union All

--========================================


select  N1.Itemcode, N1.Dscription,N1.price,n1.transvalue, 
0 as [Opening], 0 as [Production],sum(N1.outqty-N1.inqty) as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,0 as [DelCumulative] 
From dbo.OINM N1, dbo.OITM N2 , OITB N3 Where N1.DocDate >= @Fromdate  and 
N1.DocDate <=@FromDate  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10)   
and 
 N2.itmsgrpcod=N3.itmsgrpcod and N3.Itmsgrpnam=@groupnam
Group By N1.ItemCode,N1.Dscription,N1.price, n1.transvalue


--======================

Union All

select  N1.Itemcode, N1.Dscription,N1.price,n1.transvalue, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
sum(N1.inqty) as [ProdCumulative] ,0 as [DelCumulative] 
From dbo.OINM N1,dbo.OITM N2, OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)

and N1.DocDate <= @FromDate  and N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
and 
 N2.itmsgrpcod=N3.itmsgrpcod and N3.Itmsgrpnam=@groupnam 
Group By N1.ItemCode,N1.Dscription,N1.price ,n1.transvalue


Union All

select  N1.Itemcode, N1.Dscription,N1.price,n1.transvalue, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
-sum(N1.outqty) as [ProdCumulative] ,0 as [DelCumulative] 
From dbo.OINM N1,dbo.OITM N2, OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)

and N1.DocDate <= @FromDate  and  N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
and 
 N2.itmsgrpcod=N3.itmsgrpcod and N3.Itmsgrpnam=@groupnam
Group By N1.ItemCode,N1.Dscription,N1.price ,n1.transvalue


Union All



select  N1.Itemcode, N1.Dscription,N1.price,n1.transvalue, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],
0 as [ProdCumulative] ,sum(N1.outqty-N1.inqty) as [DelCumulative] 
From dbo.OINM N1,dbo.OITM N2 , OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)

and N1.DocDate <= @FromDate  
and  n1.cardname!='' and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
and 
 N2.itmsgrpcod=N3.itmsgrpcod and N3.Itmsgrpnam=@groupnam
Group By N1.ItemCode,N1.Dscription,N1.price ,n1.transvalue
)


a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode, A.Total
Order By a.Itemcode


delete from Temp_dailyPL_Group where [Opening] =0 and [Production]=0 and
 [Delivery_Others]=0 and 
[ProdCumulative] =0 and [DelCumulative] =0


SELECT  [DocDate],[ItemCode],[Dscription][Description],[Opening],[Production],[ProdCumulative],
[Delivery_Others] [Delivery],[DelCumulative],[Closing] FROM Temp_dailyPL_Group 

order by [Dscription]Asc

END




























GO
