USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Monthly_itemwise_Value]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<Mizan>
-- Create date: 	<30 Oct 2010>

-- =============================================



CREATE PROCEDURE [dbo].[@BGW_Monthly_itemwise_Value]
	(@Fromdate DATETIME, @todate datetime)
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Monthly_itemwise_Value')
 Drop table Temp_Monthly_itemwise_Value
update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)

	
CREATE TABLE Temp_Monthly_itemwise_Value (Itemcode Varchar (8),Dscription varchar(100),
Sep Float,Oct Float,Nov Float,Dec Float,Jan Float,
Feb Float,Mar Float,Apr Float,May Float,Jun Float,
Jul Float,Aug Float)

INSERT INTO Temp_Monthly_itemwise_Value
	 
--============Main Query=====================
Select a.Itemcode, max(a.Dscription) as [Itemname],
max(a.[Sep]) as [Sep],
max(a.[Oct]) as [Oct],
max(a.[Nov]) as [Nov],
Max(a.[Dec]) as [Dec],
Max(a.[Jan]) as [Jan],
Max(a.[Feb]) as [Feb],
Max(a.[Mar]) as [Mar],
Max(a.[Apr]) as [Apr],
Max(a.[May]) as [May],
Max(a.[Jun]) as [Jun],
Max(a.[Jul]) as [Jul],
Max(a.[Aug]) as [Aug]

from dbo.DLN1 I1
Join( 
--1
select T1.Itemcode,T1.Dscription,


sum(Case DATENAME(month,T0.Docdate) when 'September' then T1.LineTotal else 0 end) Sep,
0 as Oct,0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all
--2
select T1.Itemcode,T1.Dscription,


0 as Sep,sum(Case DATENAME(month,T0.Docdate) when 'October' then T1.LineTotal else 0 end) Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all


--3

select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct,sum(Case DATENAME(month,T0.Docdate) when 'November' then T1.LineTotal else 0 end) Nov,
0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all
--4
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,sum(Case DATENAME(month,T0.Docdate) when 'December' then 
T1.LineTotal  else 0 end) Dec,
0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all
--5
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,0 as Dec,sum(Case DATENAME(month,T0.Docdate) when 'January' then T1.LineTotal else 0 end) Jan,
0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all
--6
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,0 as Dec,0 as Jan,sum(Case DATENAME(month,T0.Docdate) when 'February' then T1.LineTotal else 0 end) Feb
,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all
--7
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,0 as Dec,0 as Jan,0 as Feb,sum(Case DATENAME(month,T0.Docdate) when 'March' then T1.LineTotal else 0 end) Mar
,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all
--8
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,0 as Dec,0 as Jan,0 as Feb ,0 as Mar,sum(Case DATENAME(month,T0.Docdate) when 'April' then T1.LineTotal else 0 end) Apr
,0 as May,0 as Jun,0 as Jul,0 as Aug  from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all
--9
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,0 as Dec,0 as Jan,0 as Feb ,0 as Mar,0 as Apr,
sum(Case DATENAME(month,T0.Docdate) when 'May' then T1.LineTotal else 0 end) May
,0 as Jun,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all







--10
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,0 as Dec,0 as Jan,0 as Feb ,0 as Mar,0 as Apr,0 as May,
sum(Case DATENAME(month,T0.Docdate) when 'June' then T1.LineTotal else 0 end) Jun
,0 as Jul,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all
--11
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,0 as Dec,0 as Jan,0 as Feb ,0 as Mar,0 as Apr,0 as May, 0 as Jun,
sum(Case DATENAME(month,T0.Docdate) when 'July' then T1.LineTotal else 0 end) Jul
,0 as Aug from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription
union all


--12
select T1.Itemcode,T1.Dscription,


0 as Sep,0 as Oct, 0 as Nov,0 as Dec,0 as Jan,0 as Feb ,0 as Mar,0 as Apr,0 as May, 0 as Jun,0 as Jul,
sum(Case DATENAME(month,T0.Docdate) when 'August' then T1.LineTotal else 0 end) Aug
 from ODLN T0 
inner join DLN1 T1 on T0.Docentry=T1.Docentry
where T0.docdate between @fromdate and @todate and T1.targettype=13
group by DATENAME(month,T0.Docdate),T1.ItemCode,T1.Dscription)


a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode
Order By a.Itemcode


--delete from Temp_Monthly_itemwise where [Sep] =0 and [Oct]=0 and [Nov]=0 and [Dec] =0 and 
--[Jan] =0 and [Feb] =0 and [Mar] =0 and [Apr] =0 and [May] =0 and [Jun] =0 and [Jul] =0 and [Aug] =0 


SELECT   [ItemCode],[Dscription][Itemname],
[Sep], [Oct], [Nov], [Dec],[Jan] , [Feb] , 
[Mar], [Apr], [May] ,[Jun] , [Jul] , [Aug] 
FROM Temp_Monthly_itemwise_Value 

Group by [ItemCode],[Dscription],
[Sep] , [Oct], [Nov], [Dec],[Jan] , [Feb] , 
[Mar], [Apr], [May] ,[Jun] , [Jul] , [Aug] 

order by [Dscription]

END























GO
