USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_DailyPL_Grade_EXPIRE]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[dbo].[@BGW_DailyPL_Grade] '10/01/2018'
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<02 Nov 2010>
-- Last updated - 13-01-2016 
-- =============================================

--Create procedure dbo.SearchProducts 
--    @Keyword varchar(100)
--As
--Declare @Keyworddummy as varchar(100)
--Set @Keyworddummy = @Keyword
--select * from Products where Keyword like @Keyworddummy


CREATE PROCEDURE [dbo].[@BGW_DailyPL_Grade_EXPIRE] 
	(@Fromdate DATETIME)
	with RECOMPILE
	--OPTIMIZE FOR 
AS
Declare @Fromdatedummy as datetime
Set @Fromdatedummy = @Fromdate

BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_dailyPL_Grade')
	BEGIN
		Drop table Temp_dailyPL_Grade
	END 
--update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)
	

CREATE TABLE Temp_dailyPL_Grade (DOCDATE DATETIME,Itemcode Varchar (8),Dscription varchar(100),
Opening numeric(10,0), Production numeric(10,0),Delivery_Others numeric(10,0), Total numeric(10,0), Closing numeric(10,0),
ProdCumulative numeric(10,0), DelCumulative numeric(10,0), Quality_A numeric(10,0),Quality_B numeric(10,0),Quality_C numeric(10,0),ItemGroup varchar(30))

INSERT INTO [Temp_dailyPL_Grade]
	 
--============Main Query=====================

Select  @Fromdatedummy as Date,a.Itemcode,
 --max(a.Dscription) as [Itemname],
 max(a.ItemName) as [Itemname],
 sum(a.[Opening]) as [Opening],
 sum(a.[Production]) as [Production],
  sum(a.[Delivery_Others]) as [Delivery_Others],
sum(a.[Delivery_Others]) as [Total],
((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a.[Delivery_Others])) as Closing,
 sum(a.ProdCumulative) as [ProdCumulative],
sum(a.DelCumulative) as [DelCumulative],  
 Sum(a.Quality_A) as [Quality_A],
Sum(a.Quality_B) as [Quality_B],
Sum(a.Quality_C) as [Quality_C],
max(a.ItemGroup) as [ItemGroup] 
from dbo.OITM I1 
JOIN (


Select  N1.Itemcode, N2.ItemName, -- update all N1.Dscription to N2.Itemname on 21-03-13

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1 , dbo.OITM N2,OITB N3
Where N1.DocDate < CONVERT(VARCHAR(10), @Fromdatedummy, 101)  and N2.itemcode like '16%'  and N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

union all
--============== add 310 ml pack 53 Opening =========270613

Select  N4.Itemcode, N4.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

-sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10), @Fromdatedummy, 101) 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'  and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

union all

Select  N4.Itemcode, N4.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

-sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'  and N4.DocType   =59
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

UNION ALL

--=================================Update (04/05/2017)<Arup> Update for Production Disassembly-==================================

Select  N4.Itemcode, N4.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

-sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'  and N4.DocType   =60
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--======================================================================================================================

union all


--==========

Select  N4.Itemcode, N4.ItemName + '  **', -- update all N1.Dscription to N2.Itemname on 21-03-13

sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'  and N4.DocType   =59
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

union all
Select  N4.Itemcode, N4.ItemName + '  **', -- update all N1.Dscription to N2.Itemname on 21-03-13

sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'  and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

UNION ALL
---================Update 04/05/2017<Arup> Update For Disassembly Production=====================--

Select  N4.Itemcode, N4.ItemName + '  **', -- update all N1.Dscription to N2.Itemname on 21-03-13

sum(N5.Quantity  ) as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  < CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'  and N4.DocType   =60
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

---===========================================================================================

UNION ALL
--=================Update 04/05/2017 <---Arup--> Update for Production Disassembly 900** ml===============-----
Select  N4.Itemcode, N4.ItemName + '  **', -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], SUM(N5.quantity) [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy , 101) 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001' 
  ---- =====update on 26012016
  and  n4.DocType =60
  ---===== End
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--============== End  310 ml pack 53 Opening =========270613

union all

select  N1.Itemcode, N2.ItemName, 0 as [Opening],
sum(N1.inqty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101) 
 and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
and  N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
 and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

--Add 14092014
--select  N1.Itemcode, N2.ItemName, 0 as [Opening],
--sum(N1.OutQty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
--0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
--From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101) 
-- and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
--and  N1.jrnlmemo='Issue for Production' 
--and N1.OutQTy >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
-- and N2.Itmsgrpcod=N3.Itmsgrpcod 
--Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam
--Union All
--------------------end

--============== add 310 ml pack 53 =========270613
union all

Select  N4.Itemcode, N4.ItemName + '  **', -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], sum(N5.quantity) as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001' 
  ---- =====update on 26012016
  and  n4.DocType =59
  ---===== End
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

Union All

Select  N4.Itemcode, N4.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], -sum(N5.quantity) as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E')
 ---- =====update on 26012016
  and  n4.DocType =59
  ---===== End
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

UNION ALL

---======================Update (04/05/2017)<Arup> Update for Production Disassembly 900 ml======================
Select  N4.Itemcode, N4.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], -sum(N5.quantity) as [Production],0 as [Delivery_Others] 
, 0 As [Total], 0 as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E')
 ---- =====update on 26012016
  and  n4.DocType =60
  ---===== End
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

---==================================================================================================

union all
--============== End 310 ml pack 53 =========270613

select  N1.Itemcode, N2.ItemName, 0 as [Opening],
-sum(N1.outqty) as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
  and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdatedummy, 101)
and  N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
 and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam
Union All

--========================================

select  N1.Itemcode, N2.ItemName,
0 as [Opening], 0 as [Production],sum(N1.outqty-N1.inqty) as [Delivery_Others],
 0 As [Total],0 as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdatedummy, 101)  and 
N1.DocDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)  and N2.itemcode like '16%'  and n1.cardname!=''
and N1.Itemcode=N2.Itemcode and N1.cardcode=right(jrnlmemo,10)   
and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam


--============== Add 310 ml pack 53 =========270613--190114

--===========END Credit Memo
union all

--close 14092014
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],-sum(N5.quantity) as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in  (' D',' E',' F')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1617001' and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all


select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],sum(N5.quantity) as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E',' F')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001' and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

union all


select  N4.Itemcode, N4.ItemName+ '  **', 0 as [Opening],
0 as [Production],-sum(N5.quantity) as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate  >= CONVERT(VARCHAR(10),@Fromdatedummy  , 101)  and N4.DocDate  <= CONVERT(VARCHAR(10),@Fromdatedummy  , 101) 
 and right(n3.DistNumber,2) in (' D',' E',' F')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001' and N4.DocType   =15
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--============== End 310 ml pack 53 =========270613
union all

select  N1.Itemcode, N2.ItemName, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
sum(N1.inqty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @Fromdatedummy  and N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam



---- close this on 09022015 for dissamble order date 05122014

--select  N1.Itemcode, N2.ItemName, 0 as [Opening], 
--0 as [Production],0 as [Delivery_Others], 0 As [Total],
--sum(N1.Outqty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
--From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
--convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
--and N2.Itmsgrpcod=N3.Itmsgrpcod
--and N1.DocDate <= @Fromdatedummy  and N1.jrnlmemo='Issue for Production'
--and N1.Outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
--Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

union all

--============== add 310 ml pack 53 =========270613


Select  N4.Itemcode, N4.ItemName + '  **' , -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], sum(N5.quantity) as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate >=   Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
 and N4.DocDate <= @Fromdatedummy
 and right(n3.DistNumber,2) in (' D',' E')
 ---- =====update on 26012016
  and  n4.DocType =59
  ---===== End
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all


Select  N4.Itemcode, N4.ItemName , -- update all N1.Dscription to N2.Itemname on 21-03-13

0 as [Opening], 0 as [Production],0 as [Delivery_Others] 
, 0 As [Total], -sum(N5.quantity) as [ProdCumulative] ,0 as [DelCumulative],0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where N4.DocDate >=   Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
 and N4.DocDate <= @Fromdatedummy
 and right(n3.DistNumber,2) in (' D',' E')
 ---- =====update on 26012016
  and  n4.DocType =59
  ---===== End
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--============== End 310 ml pack 53 =========270613

Union all
--======================update 13-08-2012 for diassemble Production Order=========

select  N1.Itemcode, N2.ItemName, 0 as [Opening], 
0 as [Production],0 as [Delivery_Others], 0 As [Total],
-sum(N1.outqty) as [ProdCumulative] ,0 as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @Fromdatedummy  and N1.jrnlmemo='Issue for Production'
and N1.outqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

--==================================================================================
Union All

select  N1.Itemcode, N2.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],
0 as [ProdCumulative] ,sum(N1.outqty-N1.inqty) as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @Fromdatedummy 
 --170115
--and  n1.cardname!='' 

and  n1.cardcode like 'CT%'
--end



and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N2.ItemName,n3.Itmsgrpnam

union all

 select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
sum(N5.quantity) as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5 Where 
  N4.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and Right(n3.DistNumber,2) in (' D',' E',' F')  and N4.doctype=15
and N4.DocDate <= @Fromdatedummy 
 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam
union all

 select  N4.Itemcode,N4.ItemName + '  **', 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
-sum(N5.quantity) as [DelCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5 Where 
  N4.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@Fromdatedummy)) + ' - ' +  convert(varchar(4),Year(@Fromdatedummy))),103)
and Right(n3.DistNumber,2) in (' D',' E',' F')  and N4.doctype=15
and N4.DocDate <= @Fromdatedummy 
 
 and right(n3.DistNumber,2) in (' D',' E')
  and N1.Itemcode=N3.Itemcode and N4.ItemCode ='1639001'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

---------------===End===============
--===================================================================================
union all


-- Quality - A
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' A' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--============== add 310 ml pack 53 =========270613
union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all
select  N4.Itemcode, N4.ItemName + '  **', 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1639001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam
--============== End 310 ml pack 53 =========270613
union all

select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' A' and N4.DocType  not in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' A' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

union all
select  N4.Itemcode, N4.ItemName+ '  **', 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , Sum(N5.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' D' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1639001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


--===================================================================================
union all


-- Quality - B
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' B' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--============== add 310 ml pack 53 =========270613
union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all
select  N4.Itemcode, N4.ItemName + '  **', 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1639001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam
--============== End 310 ml pack 53 =========270613
union all

select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  not in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' B' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam
union all
----=== ------ update on 25052016 for code 1616001 Credit Memo item

select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101) and N4.DocDate >CONVERT(VARCHAR(10), '20160510', 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' B' and N4.DocType  in (14)
 
  and N4.itemcode like '16%'
 and N3.itemcode = N4.ItemCode 
  and N4.ItemCode = N5.ItemCode
  and N3.SysNumber  = N5.SysNumber
  and N4.LogEntry = N5.LogEntry 
  and N1.Itmsgrpcod = N2.Itmsgrpcod --and N4.ItemCode ='1616001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


------===========end update 1616001 ==================
union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1617001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

union all
select  N4.Itemcode, N4.ItemName+ '  **', 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],Sum(N5.Quantity) as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' E' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod and  N4.Itemcode='1639001'
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--- end B

union all

-- Quality - C
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],0 as [Quality_B],Sum(N5.Quantity) as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' C' and N4.DocType  in (59)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam


union all

select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],0 as [Quality_B],Sum(N5.Quantity) as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' F' and N4.DocType  not in (59,15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

union all
select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] , 0 as [Quality_A],0 as [Quality_B],Sum(N5.Quantity) as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  N4.docDate <=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 and N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)=' C' and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--=================Updated Arup(12072017)-====================
UNION ALL

select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,CASE WHEN @Fromdatedummy>='12/04/2017' THEN 33966 ELSE 0 END as [Quality_A],
CASE WHEN @Fromdatedummy>='12/04/2017' THEN -33966 ELSE 0 END as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  --N4.docDate >=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 --and 
 N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)IN(' B',' A') and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  and N4.ItemCode='1622001'
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

--========================================Updated by Arup(31072018)--==========================
UNION ALL

select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,CASE WHEN @Fromdatedummy>='07/28/2018' AND @Fromdatedummy<'08/08/2018' THEN 104340 ELSE 0 END as [Quality_A],
CASE WHEN @Fromdatedummy>='07/28/2018' THEN 0 ELSE 0 END as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  --N4.docDate >=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 --and 
 N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)IN(' B',' A') and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  and N4.ItemCode='1675001'
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam



--========================================Updated by Arup(23092018)--==========================
UNION ALL

select  N4.Itemcode, N4.ItemName, 0 as [Opening],
0 as [Production],0 as [Delivery_Others], 0 As [Total],0 as [ProdCumulative] ,
0 as [DelCumulative] ,CASE WHEN @Fromdatedummy>='08/01/2018' AND @Fromdatedummy<='08/07/2018'  THEN -35964 ELSE 0 END as [Quality_A],
CASE WHEN @Fromdatedummy>='08/01/2018' THEN 0 ELSE 0 END as [Quality_B],0 as [Quality_C],n2.Itmsgrpnam as [ItemGroup]
From OITM N1,OITB N2, OBTN N3,OITL N4, ITL1 N5
Where  --N4.docDate >=CONVERT(VARCHAR(10), @Fromdatedummy, 101)
 --and 
 N1.Itemcode=N4.Itemcode and
 right(N3.DistNumber ,2)IN(' B',' A') and N4.DocType  in (15,60)
 
  and N4.itemcode like '16%'
 and N3.itemcode=N4.ItemCode 
  and N4.ItemCode =N5.ItemCode
  and N3.SysNumber  =N5.SysNumber
  and N4.LogEntry =N5.LogEntry 
  and N1.Itmsgrpcod=N2.Itmsgrpcod
  and N4.ItemCode='1675001'
Group By N4.ItemCode,N4.ItemName,n2.Itmsgrpnam

)

a 
ON a.ItemCode=I1.ItemCode 
Group By a.Itemcode ,I1.ItemCode, A.Total, a.itemname
Order By a.Itemcode

delete from [Temp_dailyPL_Grade] where [Opening] =0 and [Production]=0 and
 [Delivery_Others]=0 and [ProdCumulative] =0 and [DelCumulative] =0

SELECT  [DocDate],[Dscription][Description],[Opening],[Production],[ProdCumulative],
[Delivery_Others] [Delivery],[DelCumulative],[Closing],[Quality_A][Quality - A] 
,[Quality_B][Quality - B],[Quality_C][Quality - C],
([Closing]-[Quality_A]-[Quality_B]-[Quality_C]) [BalanceError],
[ItemGroup],convert(numeric,dbo.udf_GetNumeric(CASE WHEN Dscription='Alanya Glass Tumbler' THEN 'Alanya 01 Glass Tumbler' ELSE [Dscription] END))[abc]-- Problem in varchar to numeric
--dbo.udf_GetNumeric([Dscription])[abc]
FROM [Temp_dailyPL_Grade]
 -- where [DelCumulative]>-1
 order by [ItemGroup]asc ,[abc]ASc
SET NOCOUNT off

END



GO
