USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_NetDuesArup_Modify]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[@BGWL_NetDuesArup_Modify]    ----  [dbo].[@BGWL_NetDuesArup_Modify] '03/27/2017'
	(@Age DATETIME)
AS
BEGIN

	SET NOCOUNT ON;

	
DECLARE  @Temp_Netdues TABLE (CardCode varchar(10),Cardname varchar(100),
DocNum int, InvDate datetime, Days int, InvAmt Numeric(18,2), Balance FLOAT )

INSERT INTO @Temp_Netdues 
	 
Select A.Cardcode,A.Customer [Name of Customer], A.DocNum [Invoice#], A.InvDt [Date],
 datediff(dd, A.InvDt, CONVERT(VARCHAR(10), @Age, 101)) [Days],
 A.InvAmt [Invoice Amount],A.[balance] from 
(
SELECT  T0.[CardCode], max(T1.[CardName]) [Customer], T0.[DocNum], 
max(T0.[DocDate]) [InvDt], T0.[DocDueDate], T0.[DocTotal], T0.[PaidToDate], 
Doctotal - paidtodate [InvAmt], 0 as balance
FROM OINV T0, OCRD T1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0
 and T1.[CardCode]=T0.[CardCode] --AND T0.CANCELED='N' AND T0.DocStatus<>'C'
group by T0.cardcode, T0.docnum, T0.docduedate, T0.doctotal, T0.paidtodate 
having ((doctotal -paidtodate) > 0)

union all

SELECT  T0.[CardCode], max(T1.[CardName]) [Customer], 0 as [DocNum], 
@Age as  [InvDt],  '' as DocDueDate, 0 as [DocTotal],0 as [PaidToDate],
0  as [InvAmt],T1.balance  [Balance]
FROM OINV T0 , OCRD T1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0 and 
T1.[CardCode]=T0.[CardCode] --AND T0.CANCELED='N' AND T0.DocStatus<>'C'
group by T0.cardcode,T1.[CardName],T1.balance
 having ((sum(doctotal) ) > 0)

) A
order by  [Name of Customer],[Days] desc,[Invoice Amount] desc

--update Temp_Netdues set InvDate=@Age, days=0 where docnum=''
-- if the balance is less than 0 and invoice amount is 0, then delete 0 invoice and balance 
delete  from @Temp_Netdues where balance<=0 and InvAmt=0
----------------- end -----------------
SELECT PRIV.* /*,ISNULL(CUR.DocTotal,0) AS TodaysInvoice*/ FROM(
SELECT  T0.CardCode,CASE WHEN T1.U_SubUnit IS NULL THEN T0.Cardname ELSE T0.Cardname+' ('+T1.U_SubUnit+')' END [Customer Name] , MAX(Days) [Due Days] , SUM(InvAmt) [Invoice Amount] , SUM(T0.Balance) Balance  FROM @Temp_Netdues T0, OCRD T1
WHERE T0.CardCode=T1.CardCode

GROUP BY  T0.CardCode,T0.Cardname,T1.U_SubUnit
HAVING SUM(T0.Balance)<>0
)PRIV

WHERE PRIV.Balance>1000 AND PRIV.[Due Days]>0

--=========================   
END
GO
