USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_LC-Details]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Department wise consumption report for inventory module
-- Create date: 	<26 Oct 2011>
-- =============================================


CREATE PROCEDURE [dbo].[@BGW_LC-Details]
	(  @IndentNo varchar(10))
AS
BEGIN
SET NOCOUNT ON;

SELECT T0.[Number], T0.[RefDate], T0.[Ref2], T1.[Account], T2.[AcctName], sum(T1.[Debit]) Debit, 
sum(T1.[Credit]) Credit FROM OJDT T0  INNER JOIN JDT1 T1 ON T0.TransId = T1.TransId INNER JOIN OACT T2 ON 
T1.Account = T2.AcctCode WHERE T0.[Ref2] =@IndentNo 
 GROUP BY T0.[Number],T1.[Account], T0.[RefDate], T0.[Ref2], T2.[AcctName], T1.[Debit], T1.[Credit]


end
GO
