USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Trade_Ledger_SAP]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[@BGWL_Trade_Ledger_SAP]
	(@FromDATE DATETIME, @TODATE datetime, @Custname varchar(100))
AS
BEGIN

DECLARE @ID INT

DECLARE @Debit FLOAT
DECLARE @Credit FLOAT
DECLARE @BALANCE  FLOAT
DECLARE @LASTCLOSINGBALANCE FLOAT


	SET NOCOUNT ON;
	

--IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Trade')
-- Drop table Temp_Trade


DECLARE @Temp_Trade TABLE  (SLNO int,DOCDATE DATETIME,Cardcode varchar(25),Cardname varchar(100),
Narration varchar(250),Debit Numeric(10,2), Credit Numeric(10,2),Balance Numeric(10,2) )

INSERT INTO @Temp_Trade
SELECT ROW_NUMBER() OVER (ORDER BY A.DATE ,Narration), A.* FROM
(
Select  @fromdate  as date,N1.Contraact, N2.cardname,
'**Balance as on' as Narration, convert(char,0.00) as [Debit],
convert(char,0.00) as [Credit], (sum(N1.Credit)-sum(n1.Debit)) as  [Balance]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate < @fromdate   
 and N1.Contraact=N2.cardcode  and N2.CardName=@Custname-------------
Group By N2.Cardname,N1.Contraact

Union All

--select * from JDT1 where shortname='CT00000004'

Select  N1.refdate  as date,N1.Contraact, N2.cardname,('AR Invoice '+ CONVert(varchar,N1.Ref1)) as Narration,
 Sum(N1.Credit) as [Debit],
0 as [Credit],
------===update on 26022016
 --Sum((N1.Credit )-N1.Debit) as  [Balance]
 0 as  [Balance]
-- 0 as  [Balance]
 ------== End=====
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate   
 and N1.Contraact=N2.cardcode  and N2.CardName=@Custname -------------- 
Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N1.Ref1


Union All
--Updated 21-03-12

Select  N1.refdate  as date,N1.Contraact, N2.cardname,
('Incoming Payment- '+ CONVert(varchar,N1.Ref1)  )as Narration, 0 as [Debit],
N1.Debit as [Credit], 0 as  [Balance]
From dbo.JDT1 N1 , dbo.OCRD N2,RCT1 N3
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate  --update 10062012---check --and N3.docnum=N1.sourceid
 and N1.Contraact=N2.cardcode  and N2.CardName=@Custname and N1.Account<>'102003017' ------------------
and N1.Account<>'102003028' 
--================update 01122012 for discount value==
and N1.Ref1!=''
--===========================
Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N1.Ref1,N1.Line_id,N1.debit

Union All


--Select  N1.refdate  as date,N1.Contraact, N2.cardname,('AIT - CheckNo - '+ (select u_checkNo from RCT1  where Docnum=N1.sourceid )) as Narration, 0 as [Debit],
--sum(N1.Debit) as [Credit], 0 as  [Balance]
--From dbo.JDT1 N1 , dbo.OCRD N2
--Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate 
-- and N1.Contraact=N2.cardcode  and N2.Cardname=@Custname and N1.Account='102003017'
--Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N1.sourceid

--Updated 21-03-12




Select  N1.Trsfrdate  as date,N2.cardcode, N2.cardname,('AIT -  ' ) as Narration, 0 as [Debit],
sum(N1.Trsfrsum) as [Credit], 0 as  [Balance]
From ORCT N1, Ocrd N2
Where N1.TrsfrDate >= @fromdate and N1.TrsfrDate <= @Todate and N1.canceled='N'
 and N2.CardName=@Custname and N1.trsfracct='102003017' and N2.CardCode =N1.cardcode -------------------
Group By N2.Cardname,N1.Trsfrdate,N2.cardcode




--Select  N1.refdate  as date,N1.Contraact, N2.cardname,('AIT - CheckNo - '+ R1.u_checkNo ) as Narration, 0 as [Debit],
--N1.Debit as [Credit], 0 as  [Balance]
--From dbo.JDT1 N1 , dbo.OCRD N2,RCT1 R1
--Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate and R1.docnum=N1.sourceid
--and N1.Contraact=N2.cardcode  and N2.Cardname=@Custname and N1.Account='102003017'
--Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N1.sourceid,R1.u_checkNo,N1.Line_id,N1.debit

--====

Union All


Select  N1.refdate  as date,N1.Contraact, N2.cardname,'VAT' as Narration, 0 as [Debit],
sum(N1.Debit) as [Credit], 0 as  [Balance]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate 
 and N1.Contraact=N2.cardcode  and N2.CardName=@Custname and N1.Account='102003028' -------------------
Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact
Union All

Select  N1.refdate  as date,N1.shortname, N2.cardname,
('Adjustment Payment   '+ CONVert(varchar,N1.linememo)) as Narration,0 as [Dedit], 
 (N1.Credit) as [Credit], 0 as  [Balance]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate  and N1.transtype=30
 and N1.shortname=N2.cardcode  and N2.CardName=@Custname -----------------------
 
)
A 
order by A.date,Narration 
--==============================================
DECLARE CUR_CURREG CURSOR
	FOR SELECT [SLNO],[DEBIT],[CREDIT],[BALANCE] FROM Temp_Trade
	OPEN CUR_CURREG
	FETCH NEXT FROM CUR_CURREG INTO @ID,@Debit,@CREDIT,@BALANCE 	
	WHILE @@FETCH_STATUS=0
	BEGIN		
		IF @ID>1 
		BEGIN
			UPDATE Temp_Trade SET [BALANCE]=(@LASTCLOSINGBALANCE+@Debit-@CREDIT)
			WHERE SLNO=@ID
		END 
		SET @LASTCLOSINGBALANCE= (SELECT [Balance] FROM Temp_Trade WHERE SLNO=@ID)
		FETCH NEXT FROM CUR_CURREG INTO @ID,@Debit,@CREDIT,@BALANCE 
	END
	CLOSE CUR_CURREG
	DEALLOCATE CUR_CURREG 
--=============================================


delete from @Temp_Trade where Debit=0 and Credit=0  and Narration!='**Balance as on'

--select * from Temp_Trade 

--SELECT ROW_NUMBER() OVER (ORDER BY Docdate)ID,SLNO,DOCDATE,Cardcode ,Cardname ,Narration ,Debit ,Credit ,(Debit-Credit ) Balance FROM Temp_Trade 
SELECT ROW_NUMBER() OVER (ORDER BY Docdate)ID,SLNO,DOCDATE,T0.Cardcode,T0.Cardname,T1.Business [Sub-unit],Narration,Debit,Credit,Balance FROM @Temp_Trade T0
LEFT JOIN (select CardCode,CardName,Business from OCRD WHERE CardName=@Custname) T1 ON T1.CardCode=T0.Cardcode 

end






----[dbo].[@BGWL_Trade_Ledger] '12/01/2016','03/06/2017','CT00000542'



GO
