USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_PurCustomer_SP]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<05 Feb 2011>

-- =============================================

CREATE PROCEDURE [dbo].[@BGWL_PurCustomer_SP]
	(@FromDATE DATETIME,@ToDATE DATETIME)
AS
BEGIN
--DECLARE @Cardcode varchar(12)
--DECLARE @Cardname	varchar(50)
--DECLARE @CardFName	varchar(100)
--DECLARE @Itemcode	Varchar (8)
--DECLARE @Dscription	varchar(100)
--DECLARE @Quantity	FLOAT
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_PurCustomer_SP')
 Drop table Temp_PurCustomer_SP
	
CREATE TABLE Temp_PurCustomer_SP (DOCDATE DATETIME,Itemname varchar(100),
carcode Varchar (12),Cardname varchar(100),
Address varchar(100),RegNo varchar(40),DocNum int,Del_Qty float,  Del_Val FLOAT,VAT Float
)

If (select count(N1.docdate) as Zero from OPDN N1 where N1.Docdate>=@fromdate 
and N1.docdate<=@Todate )  = 0 
begin
BEGIN TRAN

INSERT INTO Temp_PurCustomer_SP(DOCDATE ,Itemname ,carcode ,Cardname ,
Address ,RegNo ,DocNum ,Del_Qty , Del_Val ,VAT)
 values (@fromdate ,'','','' ,'','',0,0,0,0)
COMMIT TRAN
end
else
begin 

INSERT INTO Temp_PurCustomer_SP 
select N1.Docdate,N4.AcctName,N1.cardcode,N1.Cardname,N1.address,N3.Taxid2,
N1.Docnum,sum(N2.quantity) as Del_Qty,Sum(N2.Linetotal) as TotalVal, SUM(N2.VAtSum)  as VAT 

from OPDN N1,PDN1 N2, PDN12 N3,OACT N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@Fromdate and N1.DocDate <= @Todate
  and  N4.Acctname<>'Raw Material' and N4.acctcode=N2.acctcode
group by N1.Docdate,N4.AcctName,N1.cardcode,N1.Cardname,N1.address,N3.Taxid2,N1.Docnum
Order by N1.docnum

end

SELECT  DOCDATE ,Itemname,carcode ,Cardname ,Address ,RegNo ,Docnum,Del_Qty,  Del_Val ,VAT
  FROM Temp_PurCustomer_SP where VAT<>0 


END



















GO
