USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_YearlyRM_Status]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---SELECT * FROM OFPR
---- [@BGW_YearlyRM_Status]'2021'
CREATE PROC [dbo].[@BGW_YearlyRM_Status]
@FSYear VARCHAR(10)
AS
BEGIN
DECLARE @StartDate DATETIME,@EndDate DATETIME
SELECT @StartDate=F_RefDate,@EndDate=T_RefDate FROM OFPR WHERE Indicator=@FSYear
---SELECT @StartDate = '20200701',@EndDate = '20'
DECLARE @DatetAb TABLE
(
	StartDate DATETIME,
	EndDate DATETIME
)
INSERT INTO @DatetAb
SELECT MIN(DATEADD(day, z.num, @StartDate))StartDate,MAX(DATEADD(day, z.num, @StartDate))EndDate
FROM (
SELECT b10.i + b9.i + b8.i + b7.i + b6.i + b5.i + b4.i + b3.i + b2.i + b1.i + b0.i num
FROM (SELECT 0 i UNION ALL SELECT 1) b0
CROSS JOIN (SELECT 0 i UNION ALL SELECT 2) b1
CROSS JOIN (SELECT 0 i UNION ALL SELECT 4) b2
CROSS JOIN (SELECT 0 i UNION ALL SELECT 8) b3
CROSS JOIN (SELECT 0 i UNION ALL SELECT 16) b4
CROSS JOIN (SELECT 0 i UNION ALL SELECT 32) b5
CROSS JOIN (SELECT 0 i UNION ALL SELECT 64) b6
CROSS JOIN (SELECT 0 i UNION ALL SELECT 128) b7
CROSS JOIN (SELECT 0 i UNION ALL SELECT 256) b8
CROSS JOIN (SELECT 0 i UNION ALL SELECT 512) b9
CROSS JOIN (SELECT 0 i UNION ALL SELECT 1024) b10
) z
WHERE z.num <= DATEDIFF(day, @StartDate, @EndDate)
GROUP BY MONTH(DATEADD(day, z.num, @StartDate))

DECLARE @Sql VARCHAR(MAX),@Prefix VARCHAR(20)
----SELECT DATENAME(
DECLARE @fromdate DATETIME,@Todate DATETIME
DECLARE Date_Cur CURSOR
FOR SELECT * FROM @DatetAb ORDER BY StartDate
OPEN Date_Cur
FETCH NEXT FROM Date_Cur INTO @fromdate, @Todate
WHILE @@FETCH_STATUS=0
BEGIN

SET @Prefix=CAST(DATENAME(MONTH,@fromdate) AS VARCHAR(20))
SET @Sql=
'
IF EXISTS(SELECT name FROM sys.tables WHERE name=''@BGWtemp'+CAST(DATENAME(MONTH,@fromdate) AS VARCHAR(20))+''')
BEGIN
 DROP TABLE [@BGWtemp'+CAST(DATENAME(MONTH,@fromdate) AS VARCHAR(20))+']
END

select 
OITM.ItemCode, OITM.Itemname [Item Name],(CASE WHEN LEFT(MAX(OINM.CardCode),2) LIKE ''IM%'' THEN ''Import'' ELSE '''' END)  [Local/Import],
isnull((select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < '''+CONVERT(VARCHAR,@fromdate,1)+''' and O.itemcode=OINM.itemcode  ),0) [Opening Quantity '+@Prefix+']
,
(select sum(OI.transvalue) 
from OINM OI where OI.docdate < '''+CONVERT(VARCHAR,@fromdate,1)+''' and OI.itemcode=OINM.itemcode) 
[Opening Value '+@Prefix+']

,isnull((select sum(isnull(OI3.InQty,0)) from OINM OI3 where  OI3.itemcode=OINM.itemcode and OI3.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI3.Transtype In (20,59)),0.00) [Purchase Qty '+@Prefix+']
,
isnull(
(select sum(isnull(OI4.transvalue,0)) from OINM OI4 where OI4.itemcode=OINM.itemcode and OI4.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI4.Transtype In (20,69,18,162)),0)

 [Purchase Value '+@Prefix+']

,isnull(((select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < '''+CONVERT(VARCHAR,@fromdate,1)+''' and O.itemcode=OINM.itemcode) + 

(select sum(isnull(S.InQty,0)) from OINM S where  S.itemcode=OINM.itemcode and S.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and S.Transtype In (20,59))),0.00) [Total Qty '+@Prefix+']
,
((select sum(OI.transvalue) 
from OINM OI where OI.docdate < '''+CONVERT(VARCHAR,@fromdate,1)+''' and OI.itemcode=OINM.itemcode) 
+
isnull((select sum(isnull(OI4.transvalue,0)) from OINM OI4 where OI4.itemcode=OINM.itemcode and OI4.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI4.Transtype In (20,69,18,162)),0)
) [Total Value '+@Prefix+']
,(isnull((select sum(isnull(OI1.OutQty,0)) from OINM OI1 where  OI1.itemcode=OINM.itemcode and OI1.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI1.outqty>0) ,0) 
-
isnull((select sum(isnull(OI1.InQty,0)) from OINM OI1 where  OI1.itemcode=OINM.itemcode 
and OI1.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI1.Inqty>0 and OI1.Transtype=60) ,0)
)
[Comsumption Quantity '+@Prefix+']
,(isnull((select sum(isnull(OI2.Calcprice,0)*isnull(OI2.OutQty,0)) from OINM OI2 where  OI2.itemcode=OINM.itemcode and OI2.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' ),0)
-
isnull((select sum(isnull(OI2.Calcprice,0)*isnull(OI2.InQty,0)) from OINM OI2 where 
 OI2.itemcode=OINM.itemcode and OI2.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI2.Transtype=60),0)
)
[Comsumption Value '+@Prefix+']
,(isnull((select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < '''+CONVERT(VARCHAR,@fromdate,1)+''' and O.itemcode=OINM.itemcode),0) + 
isnull((select sum(isnull(OO.InQty,0)) from OINM OO where  OO.itemcode=OINM.itemcode and OO.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OO.Transtype In (20,59)),0)) -
isnull((select sum(isnull(OI1.OutQty,0)) from OINM OI1 where  OI1.itemcode=OINM.itemcode and OI1.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI1.outqty>0),0)
+
isnull((select sum(isnull(OI1.InQty,0)) from OINM OI1 where  OI1.itemcode=OINM.itemcode 
and OI1.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI1.Inqty>0 and OI1.Transtype=60) ,0)
 [Closing Qty '+@Prefix+'],
((select sum(OI.transvalue) 
from OINM OI where OI.docdate < '''+CONVERT(VARCHAR,@fromdate,1)+''' and OI.itemcode=OINM.itemcode) 
+
isnull((select sum(isnull(OI4.transvalue,0)) from OINM OI4 where OI4.itemcode=OINM.itemcode and OI4.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI4.Transtype In (20,69,18,162)),0)
)
-
(isnull((select sum(isnull(OI2.Calcprice,0)*isnull(OI2.OutQty,0)) from OINM OI2 where  OI2.itemcode=OINM.itemcode and OI2.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' ),0)
-
isnull((select sum(isnull(OI2.Calcprice,0)*isnull(OI2.InQty,0)) from OINM OI2 where 
 OI2.itemcode=OINM.itemcode and OI2.docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+''' and OI2.Transtype=60),0)
)
 [Closing Value '+@Prefix+'] INTO [@BGWtemp'+CAST(DATENAME(MONTH,@fromdate) AS VARCHAR(20))+']

from
OINM
INNER JOIN OITM ON OITM.ITEMCODE=OINM.ITEMCODE
INNER JOIN OITB ON OITB.ITMSGRPCOD=OITM.ITMSGRPCOD AND OITM.Itmsgrpcod=127
OR (ItemName LIKE ''%Gum Tape%'' OR ItemName LIKE ''%Shrink%'' OR ItemName LIKE ''%High Speed Diesel Oil%'' OR ItemName LIKE ''%Glasscut%'' OR ItemName LIKE ''%Kleen%'' OR ItemName LIKE ''%Potasium%'')
where
docdate between '''+CONVERT(VARCHAR,@fromdate,1)+''' and '''+CONVERT(VARCHAR,@Todate,1)+'''
GROUP by OITM.Itemcode,OITM.Itemname,OINM.Itemcode
order by OITM.Itemcode
'
EXEC (@Sql)
FETCH NEXT FROM Date_Cur INTO @fromdate, @Todate
END
CLOSE Date_Cur
DEALLOCATE Date_Cur
--[@BGWtempJuly],[@BGWtempAugust],[@BGWtempSeptember],[@BGWtempOctober],[@BGWtempNovember],
---[@BGWtempDecember],[@BGWtempJanuary],[@BGWtempFebruary],[@BGWtempMarch],[@BGWtempApril],[@BGWtempMay],[@BGWtempJune]
--SELECT * FROM [@BGWtempJuly] T0
--FULL JOIN [@BGWtempAugust] T1 ON T1.ItemCode=T1.ItemCode
--FULL JOIN [@BGWtempSeptember] T2
--FULL JOIN [@BGWtempOctober]T3
--FULL JOIN [@BGWtempOctober]T4

SELECT T0.ItemCode,T0.ItemName,T1.*,T2.*,T3.*,T4.*,T5.*,T6.*,T7.*,T8.*,T9.*,T10.*,T11.*,T12.* FROM OITM T0
LEFT JOIN [@BGWtempJuly] T1 ON T1.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempAugust] T2 ON T2.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempSeptember] T3 ON T3.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempOctober]T4 ON T4.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempNovember]T5 ON T5.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempDecember]T6 ON T6.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempJanuary]T7 ON T7.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempFebruary]T8 ON T8.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempMarch]T9 ON T9.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempApril]T10 ON T10.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempMay]T11 ON T11.ItemCode=T0.ItemCode
LEFT JOIN [@BGWtempJune]T12 ON T12.ItemCode=T0.ItemCode
WHERE T0.Itmsgrpcod=127 OR (ItemName LIKE '%Gum Tape%' OR ItemName LIKE '%Shrink%' OR ItemName LIKE '%High Speed Diesel Oil%' OR ItemName LIKE '%Glasscut%' OR ItemName LIKE '%Kleen%' OR ItemName LIKE '%Potasium%')

END

---SELECT * FROM [@BGWtempJuly]

--select  ItemCode,MAX(CASE WHEN LEFT(OINM.CardCode,3)='IMP' THEN Dscription+'(Import)' ELSE Dscription END) Item from OINM where CardCode LIKE 'IMP%'
--GROUP BY ItemCode
GO
