USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_DailyPL_Grade_Produc]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Create date: 	<04 March 2012>

-- =============================================

CREATE PROCEDURE [dbo].[@BGW_DailyPL_Grade_Produc]
	(@Fromdate DATETIME)
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_dailyPL_Grade_produc')
 Drop table Temp_dailyPL_Grade_produc
update DLN1 set [DocDate] = (select Docdate from ODLN where docentry=DLN1.docentry)
	
CREATE TABLE Temp_dailyPL_Grade_produc (DOCDATE DATETIME,Itemcode Varchar (8),Dscription varchar(100),
Opening Float, Production Float,ProdCumulative Float, Quality_A Float,Quality_B Float,Quality_C Float,ItemGroup varchar(30))

INSERT INTO Temp_dailyPL_Grade_produc
	 
--============Main Query=====================

Select  @Fromdate as Date,a.Itemcode,
   max(a.Dscription) as [Itemname],
   sum(a.[Opening]) as [Opening],
   sum(a.[Production]) as [Production],
   sum(a.ProdCumulative) as [ProdCumulative],
   Sum(a.Quality_A) as [Quality_A],
   Sum(a.Quality_B) as [Quality_B],
   Sum(a.Quality_C) as [Quality_C],
   max(a.ItemGroup) as [ItemGroup] 
from dbo.OITM I1 
JOIN (Select  N1.Itemcode, N1.Dscription,

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], 0 as [Production], 0 as [ProdCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1 , dbo.OITM N2,OITB N3
Where N1.DocDate < CONVERT(VARCHAR(10), @Fromdate, 101)  and N2.itemcode like '16%'  and N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Dscription,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.Dscription, 0 as [Opening],
sum(N1.inqty) as [Production],0 as [ProdCumulative] ,
0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2,OITB N3 Where N1.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and N1.DocDate <= CONVERT(VARCHAR(10), @Fromdate, 101)
and  N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
 and N2.Itmsgrpcod=N3.Itmsgrpcod 
Group By N1.ItemCode,N1.Dscription,n3.Itmsgrpnam
Union All

select  N1.Itemcode, N1.Dscription, 0 as [Opening], 
0 as [Production],
sum(N1.inqty) as [ProdCumulative] ,0 as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1,dbo.OITM N2 ,OITB N3 Where N1.DocDate >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.Itmsgrpcod=N3.Itmsgrpcod
and N1.DocDate <= @FromDate  and N1.jrnlmemo='Receipt from Production'
and N1.Inqty >0  and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode 
Group By N1.ItemCode,N1.Dscription,n3.Itmsgrpnam

Union All
-- Quality A
select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [ProdCumulative] ,
 Sum(N1.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate  >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and  N1.DocDate <= @FromDate and
 right(N1.batchnum,2)=' A' and N1.basetype in (59)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [ProdCumulative] ,
 Sum(N1.Quantity) as [Quality_A],0 as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate  >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and  N1.DocDate <= @FromDate and
 right(N1.batchnum,2)=' A' and N1.basetype in (60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All
-- Quality B
select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [ProdCumulative] ,
0 as [Quality_A], Sum(N1.Quantity) as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate  >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and  N1.DocDate <= @FromDate and
 right(N1.batchnum,2)=' B' and N1.basetype in (59)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [ProdCumulative] ,
 0 as [Quality_A],Sum(N1.Quantity) as [Quality_B],0 as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate  >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and  N1.DocDate <= @FromDate and
 right(N1.batchnum,2)=' B' and N1.basetype in (60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

--  Quality C-----

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [ProdCumulative] ,
0 as [Quality_A],0 as [Quality_B], Sum(N1.Quantity) as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate  >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and  N1.DocDate <= @FromDate and
 right(N1.batchnum,2)=' C' and N1.basetype in (59)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam

Union All

select  N1.Itemcode, N1.itemname, 0 as [Opening],
0 as [Production],0 as [ProdCumulative] ,
 0 as [Quality_A],0 as [Quality_B],Sum(N1.Quantity) as [Quality_C],n3.Itmsgrpnam as [ItemGroup]
From dbo.IBT1 N1,dbo.OITM N2,OITB N3 Where  N1.docDate  >= Convert(datetime,('01 - ' +  
convert(varchar(2),Month(@fromdate)) + ' - ' +  convert(varchar(4),Year(@Fromdate))),103)
and N2.itemcode like '16%' and N1.Itemcode=N2.Itemcode and  N1.DocDate <= @FromDate and
 right(N1.batchnum,2)=' C' and N1.basetype in (60)
and N2.Itmsgrpcod=N3.Itmsgrpcod
Group By N1.ItemCode,N1.Itemname,n3.Itmsgrpnam
--====================
)

a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode
Order By a.Itemcode


delete from Temp_dailyPL_Grade_produc where  [Production]=0 and

[ProdCumulative] =0 and Quality_A =0 and Quality_B =0 and Quality_C =0


--SELECT  [DocDate],[Dscription][Description],[Opening],[Production],[ProdCumulative],
--[Quality_A][Quality - A] 
--,[Quality_B][Quality - B],[Quality_C][Quality - C],
--convert(numeric,dbo.udf_GetNumeric([Dscription]))[abc]
-- FROM Temp_dailyPL_Grade_produc 
--order by [ItemGroup]asc ,[abc]ASc


SELECT  [DocDate],[Dscription][Description],[ProdCumulative],
[Quality_A][Quality - A] 
,[Quality_B][Quality - B],[Quality_C][Quality - C],
convert(numeric,dbo.udf_GetNumeric([Dscription]))[Checking]
 FROM Temp_dailyPL_Grade_produc 

order by [ItemGroup]asc ,[Checking]ASc

END



















GO
