USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Note_30_AT_AVT]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Note_30_AT_AVT]
(
	@FromDate DATETIME,
	@ToDate DATETIME
)
AS
BEGIN
	SELECT ROW_NUMBER()OVER(ORDER BY T0.RefDate)SI,T0.U_BE [Bill Of Entry],T0.RefDate [Date],(SELECT CardName FROM OCRD WHERE CardCode=T1.ContraAct)[Vendor],
	T1.Debit [AT_Amount],'' Remark FROM OJDT T0,JDT1 T1
	WHERE T0.TransId=T1.TransId AND T0.U_JEntryType='AT' AND T1.Account='102001006016' AND T1.LineMemo='AT'
	AND T0.RefDate BETWEEN @FromDate AND @ToDate
	ORDER BY T0.RefDate
END
GO
