USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_RAW_materials_WO_Val]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





	
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<21 March 2012>
-- =============================================

CREATE PROCEDURE [dbo].[@BGW_RAW_materials_WO_Val]
	(@Fromdate DATETIME,@Todate DATETIME)
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Raw_Materials_WO_Val')
 Drop table Temp_Raw_Materials_WO_Val
	
CREATE TABLE Temp_Raw_Materials_WO_Val (Itemcode Varchar (8),Dscription varchar(100),
Opening Numeric(18,6), PurQty Numeric(18,6),TotalQty Numeric(18,6),
Furnace1QTY Numeric(18,6),Furnace2QTY Numeric(18,6),
Furnace3QTY Numeric(18,6),Furnace4QTY Numeric(18,6),
ClosQty Numeric(18,6)  )

INSERT INTO Temp_Raw_Materials_WO_Val

select 
OITM.ItemCode,OItM.Itemname [Item Name],
--OINM.ItemCode,OINM.Description [Item Name],
isnull((select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < @fromdate and O.itemcode=OINM.itemcode  ),0)
 [OpeningBalance Quantity]

,(select isnull(sum(OI3.InQty),0) from OINM OI3 where  OI3.itemcode=OINM.itemcode and OI3.docdate between @fromdate and @TOdate and OI3.Transtype In (20,59))
 [Purchase Qty],

((select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < @fromdate and O.itemcode=OINM.itemcode) + 

(select isnull(sum(S.InQty),0) from OINM S where  S.itemcode=OINM.itemcode and S.docdate between @fromdate and @TOdate and S.Transtype In (20,59)))
 [Total Qty],
(
(Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonBot!=0
and R1.Type!='D'
)
-
--update on 100514 for disassemble
(
Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonBot!=0
and R1.Type='D'
)
) --   End-------

[Furnace1QTY]

,
(
(Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonShl!=0
and R1.Type!='D'
)
-
--update on 170614 for disassemble
(
Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonShl!=0
and R1.Type='D'
)
) --   End-------


[Furnace2QTY]
,(
(Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonFur3!=0
and R1.Type!='D'
)
-- update below for dissemble production order- 09042014
-
(Select isnull(SUM(R2.IssuedQty),0) from OWOR R1,WOR1 R2 where R2.ITEMCODE=OINM.Itemcode
 and R1.Postdate between @FromDate and @ToDate and R1.DocEntry=R2.docEntry  and R2.U_Qty4perTonFur3!=0
and R1.Type='D'
)
--  end

)
[Furnace3QTY]
,
0
[Furnace4QTY]
,
(select sum(isnull(O.Inqty,0)) -sum(isnull(O.Outqty,0)) from OINM O where O.docdate < @fromdate 
and O.itemcode=OINM.itemcode)


[Closing Balance Qty]

from
OINM
INNER JOIN OITM ON OITM.ITEMCODE=OINM.ITEMCODE
INNER JOIN OITB ON OITB.ITMSGRPCOD=OITM.ITMSGRPCOD AND 
-- update 03032013
OITM.Itmsgrpcod=127

--OITB.ITMSGRPNAM LIKE 'rm%'
-- updated 020113---
--where
--docdate between @fromdate and @Todate
--=============================
GROUP by OITM.Itemcode,OITM.Itemname,OINM.Itemcode
order by OItM.Itemcode
-- updated 020113---
delete from Temp_Raw_Materials_WO_Val where 
Opening =0 and PurQty=0  and TotalQty=0  and Furnace1QTY=0 and Furnace2QTY=0  and Furnace3QTY=0 and Furnace4QTY=0
 --================ 
--====== update 160113==== ----
delete from Temp_Raw_Materials_WO_Val where Dscription='Lime Stone'
-- ==========end ==========
Select ItemCode, Dscription[ItemName] ,Opening , PurQty ,TotalQty ,Furnace1QTY ,Furnace2QTY ,Furnace3QTY ,Furnace4QTY ,
(Furnace1QTY + Furnace2QTY + Furnace3QTY + Furnace4QTY)[TotalConsumption] ,
(Opening + PurQty) -(Furnace1QTY + Furnace2QTY + Furnace3QTY + Furnace4QTY) [Closing Qty]   from Temp_Raw_Materials_WO_Val

end










GO
