USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Note_32_Sales_Credit_Note]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Note_32_Sales_Credit_Note]
(
	@FromDate DATETIME,
	@ToDate DATETIME
)
AS
BEGIN


---===================  Sales Local --==========================
SELECT ROW_NUMBER()OVER(ORDER BY T1.ItemCode) Seq,'31' [Note],T1.ItemCode,T2.ItemName,T2.U_HSCode[HS Code],T3.Name,SUM(T1.LineTotal)[Total Price],SUM(T1.VatSum)[Vat Total],T1.TaxCode,'Not:31 Sub Form: KA' [Note/Sub Form],'Local/Import'[Type],T0.DocNum FROM ORIN T0,RIN1 T1,OITM T2,[@U_HSCODE] T3
WHERE T0.DocEntry=T1.DocEntry AND T1.ItemCode=T2.ItemCode AND T2.U_HSCode=T3.Code
AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T1.VatSum>0
GROUP BY T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,T1.TaxCode,T0.DocNum
---========================================================================
END

GO
