USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Sales_Growth_Analysis_1]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Sales_Growth_Analysis_1]
(@fy VARCHAR(30))
AS
BEGIN
DECLARE @FromDate_1 DATETIME,@FromDate_2 DATETIME,@ToDate_1 DATETIME,@ToDate_2 DATETIME,@AbsEntry INT

SELECT @ToDate_2=T_RefDate,@AbsEntry=AbsEntry FROM OFPR WHERE Code=@fy
SELECT @FromDate_1=F_RefDate FROM OFPR WHERE AbsEntry=@AbsEntry-5

DECLARE @ThreeYearsSales TABLE
(
	SI INT,
	FY VARCHAR(10),
	TotalSales DECIMAL(18,2),
	TotalVolume DECIMAL(18,2),
	SalesGrowth DECIMAL(18,2),
	GrowthVolume DECIMAL(18,2),
	SalesGrowthPrcnt DECIMAL(18,2),
	VolumeGrowthPrcnt DECIMAL(18,2)

)

INSERT INTO @ThreeYearsSales
SELECT T0.SI,T0.[Year],SUM(T0.[Total Sales])[Total Sales],SUM(T0.Quantity)[Total Volume],0,0,0,0 FROM
(
SELECT (SELECT AbsEntry FROM OFPR WHERE T0.DocDate BETWEEN F_RefDate AND T_RefDate)[SI],(SELECT Name FROM OFPR WHERE T0.DocDate BETWEEN F_RefDate AND T_RefDate)[Year],T1.LineTotal [Total Sales],T1.Quantity FROM OINV T0,INV1 T1
WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN @FromDate_1 AND @ToDate_2
)T0
GROUP BY T0.SI,T0.[Year]
ORDER BY T0.SI

DECLARE 
	@SI INT,
	@FY1 VARCHAR(10),
	@TotalSales DECIMAL(18,2),
	@TotalVolume DECIMAL(18,2),
	@SalesGrowth DECIMAL(18,2),
	@GrowthVolume DECIMAL(18,2),
	@SalesGrowthPrcnt DECIMAL(18,2),
	@VolumeGrowthPrcnt DECIMAL(18,2),

	@TotalSalesNext DECIMAL(18,2),
	@TotalVolumeNext DECIMAL(18,2)


DECLARE Sales_Cur CURSOR
FOR SELECT SI,FY,TotalSales,TotalVolume,SalesGrowth,GrowthVolume,SalesGrowthPrcnt,VolumeGrowthPrcnt FROM @ThreeYearsSales
OPEN Sales_Cur
FETCH NEXT FROM Sales_Cur INTO @SI,@FY1,@TotalSales,@TotalVolume,@SalesGrowth,@GrowthVolume,@SalesGrowthPrcnt,@VolumeGrowthPrcnt
WHILE @@FETCH_STATUS=0
BEGIN
	SELECT @TotalSalesNext=TotalSales,@TotalVolumeNext=TotalVolume FROM @ThreeYearsSales WHERE SI=@SI+1
    UPDATE @ThreeYearsSales
	SET SalesGrowth=(@TotalSalesNext-@TotalSales),SalesGrowthPrcnt=(@TotalSalesNext-@TotalSales)/@TotalSales,GrowthVolume=@TotalVolumeNext-@TotalVolume,VolumeGrowthPrcnt=(@TotalVolumeNext-@TotalVolume)/@TotalVolume
	WHERE SI=@SI+1
	FETCH NEXT FROM Sales_Cur INTO @SI,@FY1,@TotalSales,@TotalVolume,@SalesGrowth,@GrowthVolume,@SalesGrowthPrcnt,@VolumeGrowthPrcnt
END
CLOSE Sales_Cur
DEALLOCATE Sales_Cur

SELECT * FROM @ThreeYearsSales
WHERE SI NOT IN (SELECT MIN(SI) FROM @ThreeYearsSales)
END

GO
