USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_User_Log]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Create date: 	<21052015>

-- =============================================
-- User login Info

CREATE PROCEDURE [dbo].[@BGW_User_Log]
	--(@Fromdate DATETIME,@Todate datetime)
AS
BEGIN

	SET NOCOUNT ON;


select UserCode ,
(select case when Action = 'I' then 'Open' when Action = 'O' then 'Closed' end  from USR5 r1
where r1.UserCode = r.UserCode and r1.Date = r.Date and r1.Time = Max(r.Time)) [Login Status]
, DATE, ClientName, r.WinUsrName ,r.ClientIP,

max(right(replace(right(r.Time,6),right(r.Time,4),':'+ right(r.Time,2)),5) ) [Login Time]
--Max(r.Time) [Login Time]


from USR5 r where ProcName = 'SAP Business One.exe'  and CONVERT(VARCHAR(50), r.DATE ,103) = CONVERT(VARCHAR(50), getdate() ,103)

--and Date between @Fromdate and @Todate 
group by
UserCode , DATE, ClientName,WinUsrName,ClientIP  
having MAX(time) = Max(r.Time)

end
GO
