USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Itemwise_Yearly]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<20 July 2016>
-- =============================================

CREATE PROCEDURE [dbo].[@BGW_Itemwise_Yearly]
	(@FY varchar(10),@ProdType varchar(10))
AS
BEGIN
--DECLARE @cols AS NVARCHAR(MAX)
-- DECLARE @query  AS NVARCHAR(MAX)
-- SET @cols = N''
-- SET @query = N''
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Itemwise_Yearly')
 Drop table Temp_Itemwise_Yearly	
CREATE TABLE Temp_Itemwise_Yearly (Custname varchar(100),Dscription varchar(100),LineTotal numeric(14,2))
INSERT INTO Temp_Itemwise_Yearly	 
--============Main Query=====================
select O1.cardName,O2.dscription,sum(O2.linetotal) G_Value from OINV O1 ,INV1 O2,OFPR O3,OCRD O4 where 
O2.docdate between O3.F_RefDate and O3.T_RefDate and O1.docentry=O2.docentry and O3.Name=@FY
and O2.dscription  like '%'+ @ProdType +'%' and o4.cardcode=O1.cardcode
group by O2.dscription,O1.Cardname
union all
select O1.cardName,O2.dscription,-sum(O2.linetotal) G_Value from ORIN O1 ,RIN1 O2,OFPR O3,OCRD O4 where 
O2.docdate between O3.F_RefDate and O3.T_RefDate and O1.docentry=O2.docentry and O3.Name=@FY
and O2.dscription  like '%'+ @ProdType +'%' and o4.cardcode=O1.cardcode
group by O2.dscription,O1.Cardname
--Select * from Temp_Itemwise_Yearly
--DECLARE @QUERY NVARCHAR(MAX), @Soucecolumn VARCHAR(MAX)
--SET @Soucecolumn = STUFF((SELECT distinct ',[' + [Dscription] + ']' FROM Temp_Itemwise_Yearly FOR XML PATH('')),1,1,'')
--SET @QUERY = 'SELECT CustName, ' + @Soucecolumn + ' 
--FROM Temp_Itemwise_Yearly PIVOT (MAX(LineTotal) FOR [Dscription] IN (' + @Soucecolumn + ')) AS pvt'
--exec sp_executesql  @QUERY
Select Custname ,Dscription ,LineTotal,convert(numeric,dbo.udf_GetNumeric([Dscription]))[abc]
 FROM Temp_Itemwise_Yearly order by Custname Asc,[abc]ASc
 
END





















GO
