USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@Cust_Sale_Analysis]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Mizan>
-- Create date: 	<15 SEP 2010>

-- =============================================


CREATE PROCEDURE [dbo].[@Cust_Sale_Analysis]
	(@FromDATE DATETIME,@ToDATE DATETIME,@Cardname varchar(100))
AS
BEGIN
--DECLARE @Cardcode varchar(12)
--DECLARE @Cardname	varchar(50)
--DECLARE @CardFName	varchar(100)
--DECLARE @Itemcode	Varchar (8)
--DECLARE @Dscription	varchar(100)
--DECLARE @Quantity	FLOAT
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Cust_Sale')
 Drop table Temp_Cust_Sale
	
CREATE TABLE Temp_Cust_Sale (carcode Varchar (10),Cardname varchar(100),Itemcode varchar(10),Itemname varchar(50),

 Del_QTY Float, Del_Val FLOAT, Price Float )

INSERT INTO Temp_Cust_Sale 

SELECT T1.[CardCode] AS 'Customer Code', T1.[CardName] AS 'Customer Name',
 T0.[ItemCode] AS 'Item No.', T0.[Dscription] AS 'Item Description', 
SUM(T0.[Quantity]) AS 'Quantity', T0.[Price] AS 'Unit Price', SUM(T0.[Quantity] * T0.[Price]) 
AS 'Amount Total' FROM  [dbo].[DLN1] T0  INNER  JOIN [dbo].[ODLN] T1  
ON  T1.[DocEntry] = T0.[DocEntry]   WHERE    T1.[DocDate] between @Fromdate and @Todate  AND  T1.[CardName] = @CardName  
 GROUP BY T1.[CardCode], T1.[CardName], T0.[ItemCode], T0.[Dscription],T0.[Price]
union all
 
SELECT T1.[CardCode] AS 'Customer Code', T1.[CardName] AS 'Customer Name',
 T0.[ItemCode] AS 'Item No.', T0.[Dscription] AS 'Item Description', -SUM(T0.[Quantity]) AS 'Quantity', T0.[Price] AS 
'Unit Price', -SUM(T0.[Quantity] * T0.[Price]) AS 'Amount Total' FROM  [dbo].[RIN1] T0 
 INNER  JOIN [dbo].[ORIN] T1  ON  T1.[DocEntry] = T0.[DocEntry]   WHERE  
  T1.[DocDate] between @Fromdate and @Todate  AND  T1.[CardName] = @CardName  
 GROUP BY T1.[CardCode], T1.[CardName], T0.[ItemCode], T0.[Dscription],T0.[Price]

union all
 
SELECT T1.[CardCode] AS 'Customer Code', T1.[CardName] AS 'Customer Name',
 T0.[ItemCode] AS 'Item No.', T0.[Dscription] AS 'Item Description', -SUM(T0.[Quantity]) AS 'Quantity', T0.[Price] AS 
'Unit Price', -SUM(T0.[Quantity] * T0.[Price]) AS 'Amount Total' FROM  [dbo].[RDN1] T0 
 INNER  JOIN [dbo].[ORDN] T1  ON  T1.[DocEntry] = T0.[DocEntry]   WHERE  
  T1.[DocDate] between @Fromdate and @Todate  AND  T1.[CardName] = @CardName  
 GROUP BY T1.[CardCode], T1.[CardName], T0.[ItemCode], T0.[Dscription],T0.[Price]
--delete from Temp_Cust_Sale where Del_QTY=0
SELECT  carcode [Cardcode] ,Cardname ,Itemcode,Itemname, sum(Del_QTY) [Delivery Qty] ,Del_Val [Price],
sum(Del_QTY)* Del_Val [Value]
  FROM Temp_Cust_Sale 
group by  carcode ,Cardname ,Itemcode,Itemname,Del_Val having sum(Del_QTY)>0
order by sum(Del_QTY) desc



END






















GO
