USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_purchaseBookSingleItem_New]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--***********************************
-- Author <Arup>
-- Create Date <05/09/2017>
--***********************************

---[dbo].[@BGW_purchaseBookSingleItem_New] '06/30/2016','06/30/2016','0701002'

CREATE PROC [dbo].[@BGW_purchaseBookSingleItem_New]
@FromDate DATETIME,
@ToDate DATETIME,
@Item VARCHAR(20)

AS
BEGIN

DECLARE @TempPurchaseBook TABLE
(
	Sl INT,
	CardCode VARCHAR(50),
	CardName VARCHAR(50),
	DocDate DATETIME,
	[OP-Balance] DECIMAL(18,6),
	ItemCode VARCHAR(20),
	ItemName VARCHAR(50),
	DocEntry VARCHAR(20),
	[Purchase-Qty] DECIMAL(18,6),
	[Total-Qty] DECIMAL(18,6),
	[Consume-Qty] DECIMAL(18,6),
	[CL-Balance] DECIMAL(18,6),
	Remark VARCHAR(1000)
)

SET NOCOUNT ON
INSERT INTO @TempPurchaseBook
SELECT CAST(ROW_NUMBER() OVER (ORDER BY TT.ItemCode) AS INT) Sl,TT.CardCode,TT.CardName,TT.DocDate,TT.[OP-Balance],
TT.ItemCode,TT.[Item-Name],TT.DocNum DocEntry,TT.[Purchase-Qty],TT.[Total-Qty],TT.[Consume-Qty],TT.[CL-Balance],TT.Remark FROM 
(
--******************************************[Opening Balance]--************************************************************************

	SELECT '' CardCode,'' CardName,'' DocDate,T0.ItemCode,T1.ItemName [Item-Name],(SUM(T0.InQty)-SUM(T0.OutQty)) [OP-Balance],'' DocNum,0 [Purchase-Qty],0 [Total-Qty],
	0 [Consume-Qty],(SUM(T0.InQty)-SUM(T0.OutQty)) [CL-Balance],'' Remark FROM OINM T0,OITM T1 WHERE T0.ItemCode=T1.ItemCode AND T0.ItemCode=@Item AND T0.DocDate<@FromDate
	GROUP BY T0.ItemCode,T1.ItemName

---==============================================Transaction--===============================================================
UNION ALL

--*************************************--Good Receipt (Production)(RM)Direct go to inventory--************************************************************
	--SELECT '--' CardCode,'--' CardName,T0.DocDate DocDate,T1.ItemCode,
	--CASE WHEN T0.Dscription='Silica Sand' THEN 'Silica Sand ( Regular )' ELSE T0.Dscription END [Item-Name],
	--0 [OP-Balance],'PD-'+CAST(T0.DocEntry AS VARCHAR(30)) DocNum,SUM(T0.Quantity) [Purchase-Qty],0 [Total-Qty],
	--0[Consume-Qty],0 [CL-Balance],'Direc Inventory Tranjaction' Remark FROM
	--(
	--SELECT T1.BaseRef,T1.ItemCode,T1.Dscription,T1.Quantity,T1.DocDate,T1.DocEntry FROM OIGN T0,IGN1 T1 
	--WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate
	--)T0
	--INNER JOIN
	--(
	--	SELECT T1.ItmsGrpCod,T1.ItmsGrpNam,T0.ItemCode,T0.ItemName FROM OITM T0,OITB T1 
	--	WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod = 127
	--)T1 ON T1.ItemCode=T0.ItemCode
	--WHERE T1.ItemCode = @Item
	--GROUP BY T1.ItemCode,T0.Dscription,T0.DocDate,T0.DocEntry


	SELECT '--' CardCode,'--' CardName,T1.PostDate DocDate,T1.ItemCode,T2.ItemName [Item-Name],
		0[OP-Balance],'SI-'+CAST(T0.BaseRef AS VARCHAR(30)) DocNum,0 [Purchase-Qty],0[Total-Qty],
		-SUM(T1.IssuedQty)[Consume-Qty],0[CL-Balance],'Production' Remark FROM
		(
			SELECT T1.BaseRef FROM OIGN T0,IGN1 T1 WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T1.BaseRef IS NOT NULL
		)T0
		LEFT JOIN
		(
			SELECT T1.DocEntry,T0.DocNum,T1.ItemCode,T1.IssuedQty,T0.DueDate PostDate FROM OWOR T0,WOR1 T1 
			WHERE T0.DocEntry=T1.DocEntry --AND T0.DueDate BETWEEN @FromDate AND  @ToDate
		)T1 ON T1.DocNum=T0.BaseRef
		LEFT JOIN
		(
			SELECT T1.ItmsGrpCod,T1.ItmsGrpNam,T0.ItemCode,T0.ItemName FROM OITM T0,OITB T1 
			WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod = 127
		)T2 ON T2.ItemCode=T1.ItemCode

		WHERE T2.ItemCode = @Item
		GROUP BY T1.ItemCode,T2.ItemName,T1.PostDate,T0.BaseRef	


--**********************************************-- GRPO(Purchase)--***************************************************************************
	UNION ALL


	SELECT T0.CardCode CardCode,T0.CardName CardName,T0.DocDate DocDate,T1.ItemCode,
	CASE WHEN T1.Dscription='Silica Sand' THEN 'Silica Sand ( Regular )' ELSE T1.Dscription END [Item-Name],
	0 [OP-Balance],'PD-'+CAST(T0.U_BLAWB AS VARCHAR(30)) DocNum,SUM(T1.Quantity) [Purchase-Qty],0 [Total-Qty],
	0[Consume-Qty],0 [CL-Balance],'GRPO' Remark FROM OPDN T0, PDN1 T1
	WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate AND T1.ItemCode = @Item 
	GROUP BY T1.ItemCode,T1.Dscription,T0.CardCode,T0.CardName,T0.DocDate,T0.U_BLAWB

---**********************************************Issue For Production--*******************************************************

	--UNION ALL
	--SELECT '--' CardCode,'--' CardName,T1.PostDate DocDate,T1.ItemCode,T2.ItemName [Item-Name],0 [OP-Balance],
	--'SI-'+CAST(T0.BaseRef AS VARCHAR(30)) DocNum,0 [Purchase-Qty],0[Total-Qty],
	---SUM(T1.IssuedQty)[Consume-Qty],0[CL-Balance],'Production' Remark FROM
	--(
	--	SELECT T1.BaseRef,T1.DocDate FROM OIGN T0,IGN1 T1 WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate ---AND T1.BaseRef IS NOT NULL
	--)T0
	--LEFT JOIN
	--(
	--	SELECT T0.CardCode,T1.DocEntry,T0.DocNum,T1.ItemCode,T1.IssuedQty,T0.DueDate PostDate FROM OWOR T0,WOR1 T1 
	--	WHERE T0.DocEntry=T1.DocEntry AND T0.DueDate BETWEEN  @FromDate AND @ToDate
	--)T1 ON T1.DocNum=T0.BaseRef
	--LEFT JOIN
	--(
	--	SELECT T1.ItmsGrpCod,T1.ItmsGrpNam,T0.ItemCode,T0.ItemName FROM OITM T0,OITB T1 
	--	WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod = 127
	--)T2 ON T2.ItemCode=T1.ItemCode

	--WHERE T2.ItemCode = @Item
	--GROUP BY T1.ItemCode,T2.ItemName,T1.PostDate,T0.BaseRef


	UNION ALL
	SELECT '--' CardCode,'--' CardName,T1.PostDate DocDate,T1.ItemCode,T2.ItemName [Item-Name],0 [OP-Balance],
	'SI-'+CAST(T0.BaseRef AS VARCHAR(30)) DocNum,SUM(T1.IssuedQty) [Purchase-Qty],0[Total-Qty],
	0[Consume-Qty],0[CL-Balance],'Issue For Production' Remark FROM
	(
		SELECT '--' CardCode,'--' CardName,T0.DocDate DocDate,T1.ItemCode,T0.BaseRef,
					CASE WHEN T1.ItemName='Silica Sand' THEN 'Silica Sand ( Regular )' ELSE T1.ItemName END [Item-Name],
					 0[OP-Balance],T0.DocEntry DocNum,0 [Purchase-Qty],0 [Total-Qty],
					 T0.Quantity[Consume-Qty],0 [CL-Balance],'' Remark FROM
					(
					SELECT T1.BaseRef,T0.DocEntry,T1.ItemCode,T1.Dscription,T1.Quantity,T0.DocDate FROM OIGE T0,IGE1 T1 
					WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate AND T1.BaseRef IS NOT NULL
					)T0
					INNER JOIN
					(
						SELECT T1.ItmsGrpCod,T1.ItmsGrpNam,T0.ItemCode,T0.ItemName FROM OITM T0,OITB T1 
						WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod IN(109,110,133)
					)T1 ON T1.ItemCode=T0.ItemCode
	)T0
	LEFT JOIN
	(
		SELECT T0.CardCode,T1.DocEntry,T0.DocNum,T1.ItemCode,T1.IssuedQty,T0.DueDate PostDate FROM OWOR T0,WOR1 T1 
		WHERE T0.DocEntry=T1.DocEntry --AND T0.DueDate BETWEEN  @FromDate AND @ToDate
	)T1 ON T1.DocNum=T0.BaseRef
	LEFT JOIN
	(
		SELECT T1.ItmsGrpCod,T1.ItmsGrpNam,T0.ItemCode,T0.ItemName FROM OITM T0,OITB T1 
		WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod = 127
	)T2 ON T2.ItemCode=T1.ItemCode

	WHERE T2.ItemCode = @Item
	GROUP BY T1.ItemCode,T2.ItemName,T1.PostDate,T0.BaseRef


--******************************************************Return--*****************************************************************
	UNION ALL
	SELECT T0.CardCode CardCode,T0.CardName CardName,T0.DocDate DocDate,T1.ItemCode,T1.Dscription [Item-Name],
	0 [OP-Balance],'PR-'+CAST(T0.U_BLAWB AS VARCHAR(30)) DocNum,0 [Purchase-Qty],0[Total-Qty],
	-SUM(T1.Quantity) [Consume-Qty],0[CL-Balance],'Googs Return' Remark FROM ORPD T0, RPD1 T1
	WHERE T0.DocEntry = T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate AND T1.ItemCode = @Item 
	GROUP BY T1.ItemCode,T1.Dscription,T0.CardCode,T0.CardName,T0.DocDate,T1.Dscription,T0.U_BLAWB

--**********************************************************Credit Memo--********************************************************************

	UNION ALL
	SELECT T0.CardCode CardCode,T0.CardName CardName,T1.DocDate DocDate,T1.ItemCode,T1.Dscription [Item-Name],
	0 [OP-Balance],'PC-'+CAST(T0.U_BLAWB AS VARCHAR(30)) DocNum,0 [Purchase-Qty],0[Total-Qty],
	-SUM(T1.Quantity)[Consume-Qty],0[CL-Balance],'Credit Memo' Remark FROM ORPC T0, RPC1 T1
	WHERE T0.DocEntry = T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate AND T1.ItemCode = @Item
	GROUP BY T1.ItemCode,T1.Dscription,T0.CardCode,T0.CardName,T1.DocDate,T1.ItemCode,T1.Dscription,T0.U_BLAWB


--*******************************************************Raw material issue (Adjust)  Production******************
	UNION ALL

	SELECT '--' CardCode,'--' CardName,T0.DocDate DocDate,T1.ItemCode,
	CASE WHEN T1.ItemName='Silica Sand' THEN 'Silica Sand ( Regular )' ELSE T1.ItemName END [Item-Name],
	 0[OP-Balance],'SO-'+CAST(T0.DocEntry AS VARCHAR(30)) DocNum,0 [Purchase-Qty],0 [Total-Qty],
	-SUM(T0.Quantity)[Consume-Qty],0 [CL-Balance],'Raw Material Adjust' Remark FROM
	(
	SELECT T1.BaseRef,T0.DocEntry,T1.ItemCode,T1.Dscription,T1.Quantity,T0.DocDate FROM OIGE T0,IGE1 T1 
	WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate AND T1.BaseRef IS NULL
	)T0
	LEFT JOIN
	(
		SELECT T1.ItmsGrpCod,T1.ItmsGrpNam,T0.ItemCode,T0.ItemName FROM OITM T0,OITB T1 
		WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod = 127
	)T1 ON T1.ItemCode=T0.ItemCode
	WHERE T1.ItemCode = @Item
	GROUP BY T1.ItemCode,T1.ItemName,T0.DocDate,T1.ItemCode,T1.ItemName,T0.BaseRef,T0.DocEntry



--*************************************--Good Receipt (Spare Parts)--************************************************************

	UNION ALL

	SELECT '--' CardCode,'--' CardName,T0.DocDate DocDate,T1.ItemCode,
	CASE WHEN T0.Dscription='Silica Sand' THEN 'Silica Sand ( Regular )' ELSE T0.Dscription END [Item-Name],
	0 [OP-Balance],'PD-'+CAST(T0.DocEntry AS VARCHAR(30)) DocNum,SUM(T0.Quantity) [Purchase-Qty],0 [Total-Qty],
	0[Consume-Qty],0 [CL-Balance],'Direc Inventory Tranjaction' Remark FROM
	(
	SELECT T1.BaseRef,T1.ItemCode,T1.Dscription,T1.Quantity,T1.DocDate,T1.DocEntry FROM OIGN T0,IGN1 T1 
	WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate
	)T0
	INNER JOIN
	(
		SELECT T1.ItmsGrpCod,T1.ItmsGrpNam,T0.ItemCode,T0.ItemName FROM OITM T0,OITB T1 
		WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod <> 127
	)T1 ON T1.ItemCode=T0.ItemCode
	WHERE T1.ItemCode = @Item
	GROUP BY T1.ItemCode,T0.Dscription,T0.DocDate,T0.DocEntry

--*******************************************************Goods issue (Spare Parts)******************

UNION ALL

	SELECT '--' CardCode,'--' CardName,T0.DocDate DocDate,T1.ItemCode,
	CASE WHEN T1.ItemName='Silica Sand' THEN 'Silica Sand ( Regular )' ELSE T1.ItemName END [Item-Name],
	 0[OP-Balance],'SO-'+CAST(T0.BaseRef AS VARCHAR(30)) DocNum,0 [Purchase-Qty],0 [Total-Qty],
	 -SUM(T0.Quantity)[Consume-Qty],0 [CL-Balance],'Raw Material Adjust' Remark FROM
	(
	SELECT T1.BaseRef,T1.ItemCode,T1.Dscription,T1.Quantity,T0.DocDate FROM OIGE T0,IGE1 T1 
	WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN  @FromDate AND @ToDate--AND T1.BaseRef IS NOT NULL
	)T0
	INNER JOIN
	(
		SELECT T1.ItmsGrpCod,T1.ItmsGrpNam,T0.ItemCode,T0.ItemName FROM OITM T0,OITB T1 
		WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod <> 127
	)T1 ON T1.ItemCode=T0.ItemCode
	WHERE T1.ItemCode = @Item
	GROUP BY T1.ItemCode,T1.ItemName,T0.DocDate,T1.ItemCode,T1.ItemName,T0.BaseRef

)TT
ORDER BY TT.ItemCode,TT.DocDate

SET NOCOUNT OFF

DECLARE 
	@Sl INT,
	@CardCode VARCHAR(50),
	@CardName VARCHAR(50),
	@DocDate DATETIME,
	@OPBalance DECIMAL(18,6),
	@ItemCode VARCHAR(20),
	@ItemName VARCHAR(50),
	@DocEntry VARCHAR(20),
	@PurchaseQty DECIMAL(18,6),
	@Total DECIMAL(18,6),
	@ConsumeQty DECIMAL(18,6),
	@Closing DECIMAL(18,6),
	@Remark VARCHAR(1000),
	@ItemCode11 VARCHAR(50)



--SET NOCOUNT ON
--DECLARE CUR_PUrchase CURSOR
--FOR SELECT T0.ItemCode FROM OITM T0,OITB T1	WHERE T0.ItmsGrpCod=T1.ItmsGrpCod AND T0.ItmsGrpCod = 127 AND T0.ItemCode = @Item
--OPEN CUR_PUrchase 
--FETCH NEXT FROM CUR_PUrchase INTO @ItemCode11
--WHILE @@FETCH_STATUS=0
--BEGIN

--	DECLARE CUR_ITEMWISE CURSOR
--	FOR SELECT * FROM @TempPurchaseBook WHERE ItemCode = @ItemCode11
--	OPEN CUR_ITEMWISE
--	FETCH NEXT FROM CUR_ITEMWISE INTO @Sl,@CardCode,@CardName,@DocDate,@OPBalance,@ItemCode,@ItemName,@DocEntry,@PurchaseQty,@Total,@ConsumeQty,@Closing,@Remark
--	WHILE @@FETCH_STATUS=0
--	BEGIN		
--			UPDATE @TempPurchaseBook
--			SET [CL-Balance]=@OPBalance+@PurchaseQty+@ConsumeQty WHERE Sl=@Sl AND ItemCode=@ItemCode	

--			UPDATE @TempPurchaseBook
--			SET [Total-Qty]=@OPBalance+@PurchaseQty WHERE Sl=@Sl AND ItemCode=@ItemCode	

--			UPDATE @TempPurchaseBook
--			SET [OP-Balance]=@OPBalance+@PurchaseQty+@ConsumeQty WHERE Sl=@Sl+1 AND ItemCode=@ItemCode		
		
--		FETCH NEXT FROM CUR_ITEMWISE INTO @Sl,@CardCode,@CardName,@DocDate,@OPBalance,@ItemCode,@ItemName,@DocEntry,@PurchaseQty,@Total,@ConsumeQty,@Closing,@Remark
--	END
--	CLOSE CUR_ITEMWISE
--	DEALLOCATE CUR_ITEMWISE
	
--	FETCH NEXT FROM CUR_PUrchase INTO @ItemCode11
--END
--CLOSE CUR_PUrchase
--DEALLOCATE CUR_PUrchase
--SET NOCOUNT OFF



SET NOCOUNT ON


	DECLARE CUR_ITEMWISE CURSOR
	FOR SELECT * FROM @TempPurchaseBook 
	OPEN CUR_ITEMWISE
	FETCH NEXT FROM CUR_ITEMWISE INTO @Sl,@CardCode,@CardName,@DocDate,@OPBalance,@ItemCode,@ItemName,@DocEntry,@PurchaseQty,@Total,@ConsumeQty,@Closing,@Remark
	WHILE @@FETCH_STATUS=0
	BEGIN		
			UPDATE @TempPurchaseBook
			SET [CL-Balance]=@OPBalance+@PurchaseQty+@ConsumeQty WHERE Sl=@Sl AND ItemCode=@ItemCode	

			UPDATE @TempPurchaseBook
			SET [Total-Qty]=@OPBalance+@PurchaseQty WHERE Sl=@Sl AND ItemCode=@ItemCode	

			UPDATE @TempPurchaseBook
			SET [OP-Balance]=@OPBalance+@PurchaseQty+@ConsumeQty WHERE Sl=@Sl+1 AND ItemCode=@ItemCode		
		
		FETCH NEXT FROM CUR_ITEMWISE INTO @Sl,@CardCode,@CardName,@DocDate,@OPBalance,@ItemCode,@ItemName,@DocEntry,@PurchaseQty,@Total,@ConsumeQty,@Closing,@Remark
	END
	CLOSE CUR_ITEMWISE
	DEALLOCATE CUR_ITEMWISE
SET NOCOUNT OFF

SELECT * FROM @TempPurchaseBook
END


GO
