USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_rpt_PurchaseGraterThan200000]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_rpt_PurchaseGraterThan200000]
@IsueDate DATETIME,
@EndDate DATETIME
AS
BEGIN
	SELECT T3.U_BE,T0.DocDate,/*SUM(CASE WHEN T1.U_AssV IS NOT NULL 
	THEN (CAST(ISNULL(T1.U_AssV,0) AS DECIMAL(18,2))+(CAST(ISNULL(T1.U_AssV,0) AS DECIMAL(18,2))*CAST(ISNULL(T1.U_VatP,0) AS DECIMAL(18,2))/100)
	ELSE SUM(T1.LineTotal+ISNULL(T1.VatSum,0)) END) Price,*/
	SUM(CASE WHEN T1.U_AssV IS NOT NULL 
	THEN CAST(ISNULL(TRIM(REPLACE(T1.U_AssV,',','')),0) AS DECIMAL(18,2))+CAST(ISNULL(TRIM(REPLACE(T1.U_AssV,',','')),0) AS DECIMAL(18,2))*CAST(ISNULL(T1.U_VatP,0) AS DECIMAL(18,2))/100 
	ELSE T1.LineTotal+ISNULL(T1.VatSum,0) END)Price,
	SUM(T1.VatSum)Vat,T0.CardCode,T0.CardName,T0.Address,T2.TaxId2
	FROM OPCH T0,PCH1 T1,PCH12 T2,OPDN T3
	WHERE T0.DocEntry=T1.DocEntry AND T0.DocEntry=T2.DocEntry AND T1.BaseEntry=T3.DocEntry
	AND T0.DocDate BETWEEN @IsueDate AND @EndDate AND T0.CANCELED='N'
	GROUP BY T3.U_BE,T0.DocDate,T0.CardCode,T0.CardName,T0.Address,T2.TaxId2,T3.DocEntry
	HAVING SUM(T1.LineTotal+ISNULL(T1.VatSum,0))>200000 OR SUM(CAST(ISNULL(TRIM(REPLACE(T1.U_AssV,',','')),0) AS DECIMAL(18,2))+(CAST(ISNULL(TRIM(REPLACE(T1.U_AssV,',','')),0) AS DECIMAL(18,2))*CAST(ISNULL(T1.U_VatP,0) AS DECIMAL(18,2))/100))>200000

	UNION ALL

	SELECT T0.U_BE,T0.DueDate,/*SUM((((T1.Debit*100)/T1.U_Reb)*100)/(T1.U_Vat))+SUM(((T1.Debit*100)/T1.U_Reb))*/SUM(CAST(T1.U_PurPrice AS DECIMAL(18,2))) Price,
	/*SUM(((T1.Debit*100)/T1.U_Reb))*/SUM(ISNULL(T1.Debit,0)) Vat,T0.U_BPCode,
	(SELECT CardName FROM OCRD WHERE CardCode=T0.U_BPCode)CardName,(SELECT Address FROM OCRD WHERE CardCode=T0.U_BPCode)Address,
	T0.U_NID FROM OJDT T0,JDT1 T1
	WHERE T0.TransId=T1.TransId AND T1.Account='102003012'  AND T0.U_Service IS NOT NULL AND T0.U_Service IN 
	(
		SELECT Code FROM [@SERVICEINFO]
	)
	AND T0.DueDate BETWEEN @IsueDate AND @EndDate
	GROUP BY T0.U_BE,T0.DueDate,T0.U_BPCode,T0.U_NID,T0.TransId
	HAVING /*SUM((((T1.Debit*100)/T1.U_Reb)*100)/(T1.U_Vat))+SUM(((T1.Debit*100)/T1.U_Reb))*/ SUM(CAST(T1.U_PurPrice AS DECIMAL(18,2)))>200000
END



---SELECT * FROM PCH1 WHERE U_AssV IS NOT NULL

GO
