USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Purchase_Analysis_Customer]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Purchase_Analysis_Customer] 
(@FromDate DATETIME,@ToDate DATETIME,@DocumentType INT,@VendorType VARCHAR(10)=NULL,@VendorCode VARCHAR(30)=NULL,@DocType VARCHAR(1)=NULL)
AS
BEGIN
	DECLARE @VendorList TABLE
	(
		CardCode VARCHAR(20),
		CardName VARCHAR(100)
	)
	IF @VendorCode IS NOT NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode =@VendorCode
	END
	ELSE IF @VendorType='LV' AND @VendorCode IS NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'LV%'
	END
	ELSE IF @VendorType='IMP' AND @VendorCode IS NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'IMP%'
	END
	ELSE
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode NOT LIKE 'CT%'
	END

	IF @DocumentType=1
	BEGIN
		SELECT COUNT(DocNum)DocNum,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,SUM(ISNULL(DocTotal,0))DocTotal,CASE WHEN @VendorType='LV' THEN 'Local' ELSE 'Import' END VendorType FROM OPOR WHERE DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode IN (SELECT CardCode FROM @VendorList) AND (DocType=@DocType OR @DocType IS NULL) AND CANCELED NOT IN ('Y')
		GROUP BY DocType,CANCELED,CardCode,CardName
	END
	ELSE IF @DocumentType=2
	BEGIN
		SELECT COUNT(DocNum)DocNum,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,SUM(ISNULL(DocTotal,0))DocTotal,CASE WHEN @VendorType='LV' THEN 'Local' ELSE 'Import' END VendorType FROM OPDN WHERE DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode IN (SELECT CardCode FROM @VendorList) AND CANCELED NOT IN ('Y')
		GROUP BY DocType,CANCELED,CardCode,CardName
	END
	ELSE IF @DocumentType=3
	BEGIN
		SELECT COUNT(DocNum)DocNum,DocType,CASE WHEN CANCELED='Y' THEN 'Canceled' ELSE 'Valid Document' END DocStatus,CardCode,CardName,SUM(ISNULL(DocTotal,0))DocTotal,CASE WHEN @VendorType='LV' THEN 'Local' ELSE 'Import' END VendorType FROM OPCH WHERE DocDate BETWEEN @FromDate AND @ToDate
		AND CardCode IN (SELECT CardCode FROM @VendorList) AND (DocType=@DocType OR @DocType IS NULL) AND CANCELED NOT IN ('Y')
		GROUP BY DocType,CANCELED,CardCode,CardName
	END

END



--SELECT 1 [DocType],'Purchase' [Document Type]
--UNION ALL
--SELECT 2, 'GRPO'
--UNION ALL
--SELECT 3, 'A/P Invoice'


--SELECT NULL [Vendor], 'All' [Vendor Type]
--UNION ALL
--SELECT 'LV', 'Local Vendor'
--UNION ALL
--SELECT 'IMP', 'Foring Vendor'


--SELECT NULL [ItemG],'All' [Item Type]
--UNION ALL
--SELECT 'I', 'Item'
--UNION ALL
--SELECT 'S', 'Service'
GO
