USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Note_12_Purchase_Local_Zero_Vat]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Note_12_Purchase_Local_Zero_Vat]
(
	@FromDate DATETIME,
	@ToDate DATETIME
)
AS
BEGIN

---================================Purchase Local Zero Vat (Item)---==========================
SELECT ROW_NUMBER()OVER(ORDER BY T1.ItemCode) Seq,'12' [Note],T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,SUM(T1.LineTotal)[Total Price],SUM(T1.VatSum)[Vat Total],T1.TaxCode,'Not:12 Sub Form: KA' [Note/Sub Form],'Local' [Type] 
FROM OPCH T0
JOIN PCH1 T1 ON T0.DocEntry=T1.DocEntry
JOIN OITM T2 ON T1.ItemCode=T2.ItemCode
LEFT JOIN [@U_HSCODE]T3 ON T2.U_HSCode=T3.Code
WHERE ----T0.DocEntry=T1.DocEntry AND T1.ItemCode=T2.ItemCode AND T2.U_HSCode=T3.Code
T0.DocDate BETWEEN @FromDate AND @ToDate AND T0.DocType NOT IN ('S') AND (T1.VatSum=0) AND T0.CardCode LIKE '%LV%'
AND T2.U_HSCode IS NOT NULL
GROUP BY T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,T1.TaxCode
---========================================================================
END

GO
