USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Musak_16_Spareparts]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  [dbo].[@BGW_Musak_16_Spareparts] '20120101','20120131','Cullet (Amber)'  [dbo].[@BGW_Musak_16_Spareparts] '20190430','20190430','Spareparts'

CREATE PROC [dbo].[@BGW_Musak_16_Spareparts]
@FromDate DATETIME,
@ToDate DATETIME,
@ItemName VARCHAR(50)
AS
BEGIN

DECLARE @Sapreparts TABLE
(
	ItemCode VARCHAR(20)
)

INSERT INTO @Sapreparts
SELECT ItemCode FROM OITM WHERE ItmsGrpCod IN (SELECT ItmsGrpCod FROM OITB WHERE ItmsGrpCod NOT IN (124,112,109,110,119,126,127,128,133,135,137,134,118))
/*
SELECT ROW_NUMBER() OVER (ORDER BY T.DocDate)SI,T.* INTO [@Musak_16] FROM
(
SELECT @FromDate DocDate,0 OBqty,0 OBVal,NULL ChallanId,NULL  PurDate,NULL CardName,NULL Address,
NULL BIN,NULL Dscription,0 PurQty,0 PurPrice,
0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Opening Balance:- ' Remark,NULL LCToTal
UNION ALL
--SELECT T0.DocDate DocDate,0 OBqty,0 OBVal,T0.U_Condition1 ChallanId,T0.DocDate PurDate,T0.CardName VendorName,T0.Address2 Address,
--(SELECT TaxId2 FROM PDN12 WHERE DocEntry=T1.DocEntry) BIN,T1.Dscription Discription,ISNULL(T1.Quantity,0) PurQty,ISNULL(LineTotal,0) PurPrice,
--0 AdditionalVat,T1.VatSum Musak,ISNULL(T1.Quantity,0) ConsumptionQty,ISNULL(LineTotal,0) ConsumptionVal,0 ClosingQty,0 ClosingVal,
--'Purchase:- ' Remark FROM OPCH T0,PCH1 T1,
--(SELECT ItemCode FROM OITM WHERE ItmsGrpCod IN (SELECT ItmsGrpCod FROM OITB WHERE ItmsGrpCod NOT IN (124,112,109,110,119,126,127,128,133,135,137)))T2
--WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T1.ItemCode=T2.ItemCode

SELECT DISTINCT T4.DocDate,0 OBqty,0 OBVal,T0.U_Condition1 ChallanId,T0.U_PurDate PurDate,T0.CardName,T0.Address,(SELECT TaxId2 FROM PDN12 WHERE DocEntry=T0.DocEntry)BIN,
		T1.Dscription,T5.InQty PurQty,CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END PurPrice,NULL AdditionalVat, T4.VatSum Musak,
		-T5.InQty ConsumptionQty,-(CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END) ConsumptionVal,0 ClosingQty,0 ClosingVal,T2.Descr Remark,
		CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END LCToTal FROM OPDN T0,PDN1 T1,OIPF T2,
		(
			SELECT T0.BaseEntry,T0.BaseType,T0.DocEntry,T0.OrigLine,T1.Quantity,T1.LineTotal,T1.ItemCode FROM IPF1 T0,IPF1 T1
			WHERE T0.DocEntry=T1.BaseEntry
			AND T0.BaseType=20 AND T1.BaseType=69
			AND T0.ItemCode=T1.ItemCode
			AND T0.ItemCode IN (SELECT ItemCode FROM @Sapreparts) AND T1.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		) T3,PCH1 T4,OINM T5
		WHERE 
		T3.BaseType=20		
		AND 
		T0.DocEntry=T1.DocEntry AND T1.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		AND T2.DocEntry=T3.DocEntry AND T3.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		AND T1.DocEntry=T3.BaseEntry AND T1.ItemCode=T3.ItemCode		
		AND T1.DocEntry=T5.CreatedBy AND T1.ObjType=T5.TransType AND T5.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		AND T1.ItemCode=T5.ItemCode AND T5.TransType=20 
		AND T4.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED='N'
		AND T1.DocEntry=T4.BaseEntry AND T1.ItemCode=T4.ItemCode
		AND T1.LineNum=T5.DocLineNum 
		AND T1.LineNum=T3.OrigLine 
		AND T5.DocLineNum=T3.OrigLine 
		AND T1.LineNum=T4.BaseLine
		AND T3.OrigLine=T4.BaseLine
		AND T5.DocLineNum=T4.BaseLine
		AND T1.TargetType<>21


		UNION ALL
		--------------------------------------------------------GRPO TO LC------------------------------------------
		SELECT DISTINCT T4.DocDate,0 OBqty,0 OBVal,T0.U_Condition1 ChallanId,T0.U_PurDate PurDate,T0.CardName,T0.Address,(SELECT TaxId2 FROM PDN12 WHERE DocEntry=T0.DocEntry)BIN,
		T1.Dscription,T5.InQty PurQty,CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END PurPrice,NULL AdditionalVat, T4.VatSum Musak,
		-T5.InQty ConsumptionQty,-(CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END) ConsumptionVal,
		0 ClosingQty,0 ClosingVal,T2.Descr Remark,
		CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END LCToTal FROM OPDN T0,PDN1 T1,OIPF T2,IPF1 T3,PCH1 T4,OINM T5
		WHERE 
		T3.BaseType=20
		AND T3.DocEntry NOT IN
		(
			SELECT BaseEntry FROM IPF1 WHERE BaseType=69 AND ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		)
		AND 
		T0.DocEntry=T1.DocEntry AND T1.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		AND T2.DocEntry=T3.DocEntry AND T3.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		AND T1.DocEntry=T3.BaseEntry AND T1.ItemCode=T3.ItemCode		
		AND T1.DocEntry=T5.CreatedBy AND T1.ObjType=T5.TransType AND T5.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		AND T1.ItemCode=T5.ItemCode AND T5.TransType=20 
		AND T4.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED='N'
		AND T1.DocEntry=T4.BaseEntry AND T1.ItemCode=T4.ItemCode
		AND T1.LineNum=T5.DocLineNum 
		AND T1.LineNum=T3.OrigLine 
		AND T5.DocLineNum=T3.OrigLine 
		AND T1.LineNum=T4.BaseLine
		AND T3.OrigLine=T4.BaseLine
		AND T5.DocLineNum=T4.BaseLine
		AND T1.TargetType<>21

		UNION ALL

		-----------------------------------------------------GRPO NOT IN LC----------------------------------
		SELECT DISTINCT T4.DocDate,0 OBqty,0 OBVal,T0.U_Condition1 ChallanId,T0.U_PurDate PurDate,T0.CardName,T0.Address,(SELECT TaxId2 FROM PDN12 WHERE DocEntry=T0.DocEntry)BIN,
		T1.Dscription,ISNULL(T5.InQty,0) PurQty,(CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END) PurPrice,NULL AdditionalVat, T4.VatSum Musak,
		-T5.InQty ConsumptionQty,-(CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END) ConsumptionVal
		,0 ClosingQty,0 ClosingVal,'' Remark,
		CASE WHEN T4.U_AssV =0 OR T4.U_AssV IS NULL THEN ISNULL(T4.LineTotal,0) ELSE ISNULL(T4.U_AssV,0) END LCToTal FROM OPDN T0,PDN1 T1,PCH1 T4,OINM T5
		WHERE 
		T1.DocEntry NOT IN
		(
			SELECT BaseEntry FROM IPF1 WHERE BaseType IN (20) AND ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		)
		AND 
		T1.DocEntry IN
		(
			SELECT CreatedBy FROM OINM WHERE ItemCode IN (SELECT ItemCode FROM @Sapreparts) AND 
			TransType=20
		)
		AND T0.DocEntry=T1.DocEntry AND T1.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		AND T1.DocEntry=T5.CreatedBy AND T1.ObjType=T5.TransType AND T5.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
		AND T1.ItemCode=T5.ItemCode AND T5.TransType=20 
		AND T4.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CANCELED='N'
		AND T1.DocEntry=T4.BaseEntry AND T1.ItemCode=T4.ItemCode
		AND T1.LineNum=T5.DocLineNum
		AND T1.LineNum=T4.BaseLine
		AND T5.DocLineNum=T4.BaseLine
		AND T1.TargetType<>21
	
)T
*/
---SELECT * FROM [@Musak_16]



--IF EXISTS(SELECT * FROM sys.tables WHERE name='TempPurchaseBook')
--BEGIN
--	DROP TABLE TempPurchaseBook
--END

--CREATE TABLE TempPurchaseBook
--(
--	SI INT,
--	DocDate VARCHAR(12),
--	OBqty DECIMAL(18,6),
--	OBVal DECIMAL(18,6),
--	ChallanId VARCHAR(500),
--	PurDate VARCHAR(12),
--	CardName VARCHAR(100),
--	Address VARCHAR(500),
--	BIN VARCHAR(100),
--	Dscription VARCHAR(100),
--	PurQty DECIMAL(18,6),
--	PurPrice DECIMAL(18,6),
--	AdditionalVat DECIMAL(18,6),
--	Musak DECIMAL(18,6),
--	ConsumptionQty DECIMAL(18,6),
--	ConsumptionVal DECIMAL(18,6),
--	ClosingQty DECIMAL(18,6),
--	ClosingVal DECIMAL(18,6),
--	Remark VARCHAR(500),
--	PurAcVal DECIMAL(18,2),
--	LCToTal DECIMAL(18,2),
--	U_AssV DECIMAL(18,2)
--)

SET NOCOUNT ON
SELECT * INTO #temPurchaseWH FROM
(
SELECT 1 SI,@FromDate DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL  PurDate,'' CardName,'' Address,
'' BIN,'' Dscription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
/*'OB'*/'' Remark,0 PurAcVal,0 LCToTal,0 U_AssV

UNION ALL

SELECT ROW_NUMBER() OVER (ORDER BY T1.DocDate)+1 SI,T1.DocDate,T1.OBqty,T1.OBVal,T1.ChallanId,T1.U_PurDate PurDate,T1.CardName,
CAST(T1.Address AS VARCHAR(500))Address,T1.BIN,T1.Dscription,T1.PurQty,
CASE WHEN T1.U_AssV IS NULL OR CAST(REPLACE(T1.U_AssV,',','') AS DECIMAL(18,2))=0 THEN T1.TransValue ELSE CAST(REPLACE(T1.U_AssV,',','') AS DECIMAL(18,2)) END PurPrice,T1.AdditionalVat,T1.VatSum Musak,
-T1.PurQty ConsumptionQty, -(CASE WHEN T1.U_AssV IS NULL OR CAST(REPLACE(T1.U_AssV,',','') AS DECIMAL(18,2))=0 THEN T1.TransValue ELSE CAST(REPLACE(T1.U_AssV,',','') AS DECIMAL(18,2)) END) ConsumptionVal,
T1.ClosingQty,T1.ClosingVal,/*T1.Remark*/'' Remark,T1.TransValue PurAcVal,T1.Coast LCToTal,T1.U_AssV  FROM
(

	--SELECT T1.DocEntry,T1.DocDate,0 OBqty,0 OBVal,T3.U_Condition1 ChallanId,T3.U_PurDate,CAST(T3.CardName AS VARCHAR)CardName,
	--CAST(T3.Address AS VARCHAR(500)) Address,(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry) BIN,
	--T0.ItemCode,T0.Dscription,T2.InQty-T2.OutQty PurQty,T2.TransValue,0 AdditionalVat,T1.VatSum,T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
	--T1.U_AssV,0 Coast,'Purchase' Remark FROM PDN1 T0,PCH1 T1,OINM T2,OPCH T3
	--WHERE T0.DocEntry=T1.BaseEntry AND T0.ItemCode=T1.ItemCode AND T0.LineNum=T1.BaseLine AND T0.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
	--AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum AND T0.ObjType=T2.TransType
	--AND T1.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=20
	--AND T0.DocEntry=T3.DocEntry


	SELECT DISTINCT T2.TransNum,T0.DocDate,0 OBqty,0 OBVal,T3.U_BE ChallanId,T3.U_PurDate,CAST(T3.CardName AS VARCHAR)CardName,
	CAST(T1.Address AS VARCHAR(500)) Address,(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry) BIN,
	T0.ItemCode,T0.Dscription,T2.InQty-T2.OutQty PurQty,T1.LineTotal TransValue ,0 AdditionalVat,
	CASE WHEN LEFT(T3.CardCode,3)='IMP' THEN (ISNULL(CAST(REPLACE(T0.U_AssV,',','') AS DECIMAL(18,2)),0)*ISNULL(CAST(REPLACE(T0.U_VatP,',','') AS DECIMAL(18,2)),0))/100 ELSE T0.VatSum END VatSum,
	T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
	CAST(REPLACE(T0.U_AssV,',','') AS DECIMAL(18,2)) U_AssV,0 Coast,'Purchase' Remark FROM PCH1 T0
	INNER JOIN PDN1 T1 ON T1.DocEntry=T0.BaseEntry AND T1.ItemCode=T0.ItemCode AND T1.LineNum=T0.BaseLine AND T1.ObjType=T0.BaseType
	INNER JOIN OINM T2 ON T2.CreatedBy=T1.DocEntry AND T2.ItemCode=T1.ItemCode AND T2.DocLineNum=T1.LineNum AND T2.TransType=T1.ObjType
	INNER JOIN OPCH T3 ON T0.DocEntry=T3.DocEntry
	WHERE T0.ItemCode IN (SELECT ItemCode FROM @Sapreparts) AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=20 AND T1.ObjType=20
	AND T2.CreatedBy IN (SELECT BaseEntry FROM PCH1 WHERE BaseType=20)


	UNION ALL

	SELECT T0.OriBAbsEnt DocEntry,T2.DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL,T2.CardName,'' Address,'' BIN,T0.ItemCode,T0.Dscription
	,T2.InQty-T2.OutQty PurQty,0 TransValue,0 AdditionalVat,0 VatSum,T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,
	0 ClosingVal,0 U_AssV,T2.TransValue Coast,T2.JrnlMemo Remark FROM IPF1 T0,OINM T2
	WHERE T0.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
	AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
	AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=69

	--UNION ALL

	--SELECT T2.CreatedBy DocEntry,T2.DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL,'' CardName,'' Address,'' BIN,T2.ItemCode,T2.Dscription
	--,T2.InQty-T2.OutQty PurQty,0 TransValue,0 AdditionalVat,0 VatSum,T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal
	--,0,T2.TransValue Coast,T2.JrnlMemo Remark FROM OINM T2
	--WHERE T2.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
	--AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=162

	--UNION ALL 

	--SELECT T0.DocEntry,T0.DocDate,0 OBqty,0 OBVal,T3.U_Condition1 ChallanId,NULL,T2.CardName,T3.Address,(SELECT TaxId2 FROM RPC12 N WHERE N.DocEntry=T0.DocEntry) BIN,
	--T0.ItemCode,T0.Dscription,T2.InQty-T2.OutQty PurQty,T2.TransValue,0 AdditionalVat,T0.VatSum,T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
	--T0.U_AssV,0 Coast,T2.JrnlMemo Remark FROM RPC1 T0,OINM T2,ORPC T3
	--WHERE T0.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
	--AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
	--AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=19
	--AND T0.DocEntry=T3.DocEntry

	--UNION ALL

	--SELECT T0.DocEntry,T0.DocDate,0 OBqty,0 OBVal,T3.U_Condition1 ChallanId,NULL,T2.CardName,T3.Address,(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry) BIN,
	--T0.ItemCode,T0.Dscription,T2.InQty-T2.OutQty PurQty,T2.TransValue,0 AdditionalVat,T0.VatSum,T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
	--T0.U_AssV,0 Coast,T2.JrnlMemo Remark FROM PCH1 T0,OINM T2,OPCH T3
	--WHERE T0.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
	--AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
	--AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=18 AND T2.TransValue>0 AND T0.ObjType=T2.TransType
	--AND T0.DocEntry=T3.DocEntry

	--UNION ALL

	--SELECT T2.CreatedBy DocEntry,T2.DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL U_PurDate,'' CardName,'' Address,'' BIN,
	--T2.ItemCode,T2.Dscription,0 PurQty,0 TransValue,0 AdditionalVat,0 VatSum,T2.TransType,T2.InQty-T2.OutQty ConsumptionQty,T2.TransValue ConsumptionVal,0 ClosingQty,0 ClosingVal,
	--0 U_AssV,0 Coast,T2.JrnlMemo Remark FROM OINM T2
	--WHERE T2.ItemCode IN (SELECT ItemCode FROM @Sapreparts)
	--AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType IN (59,60)
)T1
)H
ORDER BY H.SI

INSERT INTO TempPurchaseBook
SELECT * FROM #temPurchaseWH	
WHERE Remark NOT IN ('Goods Issue','Inventory Revaluation')

SET NOCOUNT OFF

----SELECT * FROM TempPurchaseBook
END

GO
