USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_OpenSalesOrder]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_OpenSalesOrder]
@cardname VARCHAR(250)
AS
BEGIN
	Select T1.DocNum ,T1.DocDate ,T1.CardName ,T2.Dscription ,T2.Quantity ,T2.DelivrdQty,T1.Address  ,T1.comments from ORDR T1, RDR1 T2
	where T1.DocEntry =T2.DocEntry and T1.docdate between  DATEADD(DAY, DATEDIFF(DAY, 100, GETDATE()), 0) and 
	DATEADD(DAY, DATEDIFF(DAY, 100, GETDATE()), 100) 
	--and T2.Quantity >T2.DelivrdQty  
	and T1.DocStatus ='O' and (T2.Quantity -ISNULL(t2.DelivrdQty ,0))>1
	and T1.cardname=@cardname

 --and (T2.Quantity -T2.DelivrdQty>1
 END
GO
