USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Purchase_Reg_Service_FOHO]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Arup>
-- Create date: <Create Date,,2021-03-28>
-- Description:	<Description,,Query for Service Item purchase for HO and FO except 5 special service>
-- =============================================

CREATE PROC [dbo].[@BGW_Purchase_Reg_Service_FOHO]
(
	@FromDate DATETIME,
	@ToDate DATETIME,
	@ItemCode VARCHAR(20)
)
AS
BEGIN

INSERT INTO TempPurchaseBook
SELECT 1 SI,@FromDate DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL  PurDate,'' CardName,'' Address,
'' BIN,'' Dscription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
/*'OB'*/'' Remark,0 PurAcVal,0 LCToTal,0 U_AssV,@ItemCode

UNION ALL
SELECT ROW_NUMBER()OVER (ORDER BY T0.DocDate)+1 SI,T0.DocDate,0 OBQty,0 OBVal,T0.U_BE ChallanId,T0.U_PurDate PurDate,T0.CardName,T0.Address,T2.TaxId2 BIN,
T1.Dscription,0 PurQty,/*CAST(REPLACE(REPLACE(T1.U_SPriceTotal,'BDT',''),',','') AS DECIMAL(18,2))*/CAST(LineTotal AS DECIMAL(18,2))  PurPrice,0 AdditionalVal,
/*CAST(REPLACE(REPLACE(T1.U_SVatAmt,'BDT',''),',','') AS DECIMAL(18,2))*/0  Musak,0 ConsumptionQty,
/*-CAST(REPLACE(REPLACE(T1.U_SPriceTotal,'BDT',''),',','') AS DECIMAL(18,2))*/ LineTotal ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Purchase' Remark,CAST(REPLACE(REPLACE(T1.U_SPriceTotal,'BDT',''),',','') AS DECIMAL(18,2)) PurAcVal,CAST(LineTotal AS DECIMAL(18,2)) LCToTal,0 U_AssV,@ItemCode FROM OPCH T0,PCH1 T1,PCH12 T2
WHERE T0.DocEntry=T1.DocEntry AND T0.DocEntry=T2.DocEntry
AND T0.DocDate BETWEEN @FromDate AND @ToDate
AND T1.U_SCode=@ItemCode
AND T0.CANCELED='N'
END



---SELECT * FROM [@SERVICEITEM]


---select * from TempPurchaseBook
GO
