USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_BatchWisDelivary_Customer]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_BatchWisDelivary_Customer]
@FromDate DATETIME,
@ToDate DATETIME,
@ItemCode VARCHAR(20)=NULL,
@CardCode VARCHAR(30)=NULL
AS
BEGIN	
	--IF @ItemCode IS NULL AND @CardCode IS NULL
	--BEGIN
	--	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,T1.Quantity 
	--	,T1.cardname FROM IBT1 T1
	--	WHERE BaseType IN (15,14)   AND DocDate BETWEEN @FromDate AND @ToDate		

	--	UNION ALL

	--	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,-T1.Quantity 
	--	,T1.cardname FROM IBT1 T1
	--	WHERE BaseType IN (16)   AND DocDate BETWEEN @FromDate AND @ToDate		
	--	ORDER BY Docdate
	--END
	--ELSE IF @ItemCode IS NOT NULL AND @CardCode IS NOT NULL
	--BEGIN

	--	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,T1.Quantity 
	--	,T1.cardname FROM IBT1 T1
	--	WHERE BaseType IN (15,14)   AND DocDate BETWEEN @FromDate AND @ToDate
	--	AND (T1.CardCode=@CardCode AND T1.ItemCode=@ItemCode)

	--	UNION ALL

	--	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,-T1.Quantity 
	--	,T1.cardname FROM IBT1 T1
	--	WHERE BaseType IN (16)   AND DocDate BETWEEN @FromDate AND @ToDate
	--	AND (T1.CardCode=@CardCode AND T1.ItemCode=@ItemCode)
	--	ORDER BY Docdate

	--END
	--ELSE IF @ItemCode IS NULL AND @CardCode IS NOT NULL
	--BEGIN

	--	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,T1.Quantity 
	--	,T1.cardname FROM IBT1 T1
	--	WHERE BaseType IN (15,14)   AND DocDate BETWEEN @FromDate AND @ToDate
	--	AND (T1.CardCode=@CardCode)

	--	UNION ALL

	--	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,-T1.Quantity 
	--	,T1.cardname FROM IBT1 T1
	--	WHERE BaseType IN (16)   AND DocDate BETWEEN @FromDate AND @ToDate
	--	AND (T1.CardCode=@CardCode)
	--	ORDER BY Docdate

	--END
	--ELSE IF @ItemCode IS NOT NULL AND @CardCode IS NULL
	--BEGIN
		
	--	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,T1.Quantity 
	--	,T1.cardname FROM IBT1 T1
	--	WHERE BaseType IN (15,14)   AND DocDate BETWEEN @FromDate AND @ToDate		
	--	AND (T1.ItemCode=@ItemCode)

	--	UNION ALL

	--	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,-T1.Quantity 
	--	,T1.cardname FROM IBT1 T1
	--	WHERE BaseType IN (16)   AND DocDate BETWEEN @FromDate AND @ToDate
	--	AND (T1.ItemCode=@ItemCode)
	--	ORDER BY Docdate

	--END

	SELECT T1.Docdate, T1.Itemname,T1.Batchnum,T1.Quantity 
		,T1.cardname FROM IBT1 T1
		WHERE BaseType IN (15,14)   AND DocDate BETWEEN @FromDate AND @ToDate
		AND (T1.CardCode=@CardCode AND T1.ItemCode=@ItemCode)

		UNION ALL

		SELECT T1.Docdate, T1.Itemname,T1.Batchnum,-T1.Quantity 
		,T1.cardname FROM IBT1 T1
		WHERE BaseType IN (16)   AND DocDate BETWEEN @FromDate AND @ToDate
		AND (T1.CardCode=@CardCode AND T1.ItemCode=@ItemCode)
		ORDER BY Docdate
END
GO
