USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Purchase_Item_Local_Import_Rank_Summary_By_Cusomer]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Purchase_Item_Local_Import_Rank_Summary_By_Cusomer] 
(
	@FromDate DATETIME,@ToDate DATETIME,@DocumentType INT,@ItemGroup VARCHAR(30)=NULL,@ItemCode VARCHAR(30)=NULL,@VendorType VARCHAR(10)=NULL,@VendorCode VARCHAR(30)=NULL,@DocType VARCHAR(4)=NULL
)
AS
BEGIN

DECLARE @VendorList TABLE
	(
		CardCode VARCHAR(20),
		CardName VARCHAR(100)
	)

	IF @VendorCode='0'
	BEGIN
		SET @VendorCode=NULL
	END

	IF @VendorCode IS NOT NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode =@VendorCode
	END
	ELSE IF @VendorType='LV' AND @VendorCode IS NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'LV%'
	END
	ELSE IF @VendorType='IMP' AND @VendorCode IS NULL
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode LIKE 'IMP%'
	END
	ELSE
	BEGIN
		INSERT INTO @VendorList
		SELECT CardCode,CardName FROM OCRD WHERE CardCode NOT LIKE 'CT%'
	END




IF @DocumentType=1
	BEGIN
		SELECT ROW_NUMBER()OVER(PARTITION BY T2.ItmsGrpCod,T2.ItemCode,LEFT(T0.CardCode,2) ORDER BY SUM(T1.Quantity))SI,DocType,CASE WHEN T3.ItmsGrpNam IS NULL THEN 'Service' ELSE T3.ItmsGrpNam END ItmsGrpNam,CASE WHEN T1.ItemCode IS NULL THEN T1.U_SCode ELSE T1.ItemCode END ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,CASE WHEN LEFT(T0.CardCode,2) LIKE 'IM%' THEN 'IMP' ELSE 'LV' END VendorType,T0.CardName,T1.unitMsr,SUM(T1.Quantity) Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0)) DocTotal  
		FROM OPOR T0 
		JOIN POR1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList) AND (DocType=@DocType OR @DocType IS NULL) AND T0.CANCELED NOT IN ('Y') AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL)
		AND (T1.ItemCode=@ItemCode OR T1.U_SCode=@ItemCode OR @ItemCode IS NULL)
		GROUP BY T2.ItmsGrpCod,ItmsGrpNam,T2.ItemCode,T2.ItemName,T1.ItemCode,T1.Dscription,T0.CardCode,T1.U_SCode,T0.CardName,T1.unitMsr,DocType
		
		
	END
	ELSE IF @DocumentType=2
	BEGIN
		SELECT ROW_NUMBER()OVER(PARTITION BY T2.ItmsGrpCod,T2.ItemCode,LEFT(T0.CardCode,2) ORDER BY SUM(T1.Quantity))SI,DocType,CASE WHEN T3.ItmsGrpNam IS NULL THEN 'Service' ELSE T3.ItmsGrpNam END ItmsGrpNam,CASE WHEN T1.ItemCode IS NULL THEN T1.U_SCode ELSE T1.ItemCode END ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,CASE WHEN LEFT(T0.CardCode,2) LIKE 'IM%' THEN 'IMP' ELSE 'LV' END VendorType,T0.CardName,T1.unitMsr,SUM(T1.Quantity) Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0)) DocTotal
		FROM OPDN T0 
		JOIN PDN1 T1 ON T1.DocEntry=T0.DocEntry 
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode 
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList) AND (DocType=@DocType OR @DocType IS NULL) AND T0.CANCELED NOT IN ('Y') AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL)
		AND (T1.ItemCode=@ItemCode OR T1.U_SCode=@ItemCode OR @ItemCode IS NULL)
		GROUP BY T2.ItmsGrpCod,ItmsGrpNam,T2.ItemCode,T2.ItemName,T1.ItemCode,T1.Dscription,T0.CardCode,T1.U_SCode,T0.CardName,T1.unitMsr,DocType
	END
	ELSE IF @DocumentType=3
	BEGIN
		SELECT ROW_NUMBER()OVER(PARTITION BY T2.ItmsGrpCod,T2.ItemCode,LEFT(T0.CardCode,2) ORDER BY SUM(T1.Quantity))SI,DocType,CASE WHEN T3.ItmsGrpNam IS NULL THEN 'Service' ELSE T3.ItmsGrpNam END ItmsGrpNam,CASE WHEN T1.ItemCode IS NULL THEN T1.U_SCode ELSE T1.ItemCode END ItemCode,CASE WHEN T1.ItemCode IS NULL THEN T1.Dscription ELSE T2.ItemName END Dscription,CASE WHEN LEFT(T0.CardCode,2) LIKE 'IM%' THEN 'IMP' ELSE 'LV' END VendorType,T0.CardName,T1.unitMsr,SUM(T1.Quantity) Quantity,SUM(ISNULL(LineTotal,0)+ISNULL(LineVat,0)) DocTotal
		FROM OPCH T0 JOIN PCH1 T1 ON T1.DocEntry=T0.DocEntry
		LEFT JOIN OITM T2 ON T2.ItemCode=T1.ItemCode
		LEFT JOIN OITB T3 ON T3.ItmsGrpCod=T2.ItmsGrpCod 
		WHERE T0.DocDate BETWEEN @FromDate AND @ToDate
		AND T0.CardCode IN (SELECT CardCode FROM @VendorList) AND (DocType=@DocType OR @DocType IS NULL) AND T0.CANCELED NOT IN ('Y') AND (T2.ItmsGrpCod=@ItemGroup OR @ItemGroup IS NULL)
		AND (T1.ItemCode=@ItemCode OR T1.U_SCode=@ItemCode OR @ItemCode IS NULL)
		GROUP BY T2.ItmsGrpCod,ItmsGrpNam,T2.ItemCode,T2.ItemName,T1.ItemCode,T1.Dscription,T0.CardCode,T1.U_SCode,T0.CardName,T1.unitMsr,DocType
	END
END


GO
