USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Musak_6.1_Test]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[@BGW_Musak_6.1_Test]
@FromDate DATETIME,
@ToDate DATETIME,
@ItemName VARCHAR(50)
AS
BEGIN

DECLARE @ItemCode VARCHAR(50)
SELECT @ItemCode=  @ItemName ----ItemCode FROM OITM WHERE ItemName = @ItemName

----truncate table TempPurchaseBook
----==============================  Purchase with LC  (TopazMouldSetReceipt)--======================		
SELECT T3.TransNum,CASE WHEN T3.TransNum IN (1051534,1051535,1051536,1051537,1051538) THEN CONVERT(DATETIME,'20210801',103)
		WHEN T3.TransNum IN (1052502,1052503,1052504,1052505,1052506) THEN CONVERT(DATETIME,'20210802',103) END  DocDate,
		0 OBqty,0 OBVal,T4.U_BE ChallanId,T4.U_PurDate,T4.CardName,CAST(T4.Address AS VARCHAR(500)) Address,
		(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry) BIN,T2.ItemCode,T2.Dscription,T3.InQty-T3.OutQty PurQty,T3.TransValue,0 AdditionalVat,
		CASE WHEN LEFT(T4.CardCode,3)='IMP' THEN (ISNULL(CAST(T2.U_AssV AS DECIMAL(18,2)),0)*ISNULL(CAST(T2.U_VatP AS DECIMAL(18,2)),0))/100 ELSE T2.VatSum END VatSum,
		T3.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,/*ISNULL(CAST(T2.U_AssV AS DECIMAL(18,2)),0)*/T1.LineTotal U_AssV,T1.LineTotal Coast,'Purchase with LC' Remark,1[Seq]
		INTO #temTopazMouldSetReceipt FROM PDN1 T0,IPF1 T1,PCH1 T2,OINM T3,OPCH T4,OPDN T5
		WHERE 
		T1.OriBAbsEnt=T0.DocEntry AND T1.OriBLinNum=T0.LineNum AND T1.OriBDocTyp=T0.ObjType AND T1.ItemCode=T0.ItemCode
		AND
		T2.BaseEntry=T0.DocEntry AND T2.BaseLine=T0.LineNum AND T2.BaseType=T0.ObjType AND T2.ItemCode=T0.ItemCode
		AND
		T3.CreatedBy=T0.DocEntry AND T3.DocLineNum=T0.LineNum AND T3.TransType=T0.ObjType AND T3.ItemCode=T0.ItemCode
		AND
		T2.DocEntry=T4.DocEntry
		AND
		T2.ItemCode=@ItemCode AND  @FromDate BETWEEN '20210801' AND '20210831'  ---T2.DocDate BETWEEN @FromDate AND @ToDate
		AND
		T0.DocEntry=T5.DocEntry ---Added this portion on '27 Aug 2019'
		AND T1.DocEntry IN
		(
			SELECT DocEntry FROM IPF1 WHERE DocEntry IN
			(
				SELECT MAX(DocEntry) FROM IPF1 WHERE OriBAbsEnt=T0.DocEntry
			)
		)
		--AND T0.DocEntry IN (47513)
		AND T3.TransNum IN (1051534,1051535,1051536,1051537,1051538,1052502,1052503,1052504,1052505,1052506)

----===============================================================================================================
---SELECT * FROM #temTopazMouldSetReceipt

----SELECT LEFT('IMP000003',3)

SET NOCOUNT ON
	SELECT 1 SI,@FromDate DocDate,SUM(T1.Qty) OBqty,SUM(T1.TransValue) OBVal,'' ChallanId,NULL PurDate,'' CardName,'' Address,'' BIN,(SELECT ItemName FROM OITM WHERE ItemCode=@ItemCode)Dscription,
	CAST(0 AS DECIMAL(18,6)) PurQty,0 PurPrice,0 AdditionalVat,0 Musak,
	0 ConsumptionQty, 0 ConsumptionVal,CAST(0 AS DECIMAL(18,6)) ClosingQty,CAST(0 AS DECIMAL(18,2)) ClosingVal,/*'OB'*/ '' Remark,0 PurAcVal,0 LCToTal,0 U_AssV INTO #temOBWH FROM
	(
		--SELECT T1.DocEntry,T0.ItemCode,REPLACE(T0.Dscription,' ','')Dscription,T1.VatSum,T2.InQty-T2.OutQty Qty,T2.TransValue,T2.TransType FROM PDN1 T0,PCH1 T1,OINM T2,OPCH T3
		--WHERE T0.DocEntry=T1.BaseEntry AND T0.ItemCode=T1.ItemCode AND T0.LineNum=T1.BaseLine AND T0.ItemCode=@ItemCode
		--AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum AND T0.ObjType=T2.TransType
		--AND T1.DocDate<@FromDate AND T2.TransType=20
		--AND T1.DocEntry=T3.DocEntry AND T0.DocEntry NOT IN (SELECT BaseEntry FROM RPD1 WHERE BaseType=20)
		--AND T0.ObjType=T1.BaseType
		--AND T1.BaseType=20

		--UNION ALL

		SELECT DISTINCT T2.TransNum,T0.ItemCode,REPLACE(T0.Dscription,' ','')Dscription,T1.VatSum,T2.InQty-T2.OutQty Qty,T2.TransValue,T2.TransType FROM PCH1 T0
		INNER JOIN PDN1 T1 ON T1.DocEntry=T0.BaseEntry AND T1.ItemCode=T0.ItemCode AND T1.LineNum=T0.BaseLine AND T1.ObjType=T0.BaseType
		INNER JOIN OINM T2 ON T2.CreatedBy=T1.DocEntry AND T2.ItemCode=T1.ItemCode AND T2.DocLineNum=T1.LineNum AND T2.TransType=T1.ObjType
		WHERE T0.ItemCode=@ItemCode AND T0.DocDate<@FromDate AND T2.TransType=20 AND T1.ObjType=20
		AND T2.CreatedBy IN (SELECT BaseEntry FROM PCH1 WHERE BaseType=20) AND T2.TransNum NOT IN (1051534,1051535,1051536,1051537,1051538,1052502,1052503,1052504,1052505,1052506) ---(1052502,1052503,1052504,1052505,1052506)

		--UNION ALL

		--SELECT DISTINCT T2.TransNum,T0.ItemCode,REPLACE(T0.Dscription,' ','')Dscription,T1.VatSum,-(T2.InQty-T2.OutQty) Qty,-T2.TransValue,T2.TransType FROM PCH1 T0
		--INNER JOIN PDN1 T1 ON T1.DocEntry=T0.BaseEntry AND T1.ItemCode=T0.ItemCode AND T1.LineNum=T0.BaseLine AND T1.ObjType=T0.BaseType
		--INNER JOIN OINM T2 ON T2.CreatedBy=T1.DocEntry AND T2.ItemCode=T1.ItemCode AND T2.DocLineNum=T1.LineNum AND T2.TransType=T1.ObjType
		--WHERE T0.ItemCode=@ItemCode AND (T0.DocDate<'20210920' AND T0.DocDate<@FromDate) AND T2.TransType=20 AND T1.ObjType=20
		--AND T2.CreatedBy IN (SELECT BaseEntry FROM PCH1 WHERE BaseType=20) AND TransNum IN (1052502,1052503,1052504,1052505,1052506)

		--SELECT DISTINCT T2.CreatedBy,T0.VatSum FROM PCH1 T0
		--INNER JOIN PDN1 T1 ON T1.DocEntry=T0.BaseEntry AND T1.ItemCode=T0.ItemCode AND T1.LineNum=T0.BaseLine AND T1.ObjType=T0.BaseType
		--INNER JOIN OINM T2 ON T2.CreatedBy=T1.DocEntry AND T2.ItemCode=T1.ItemCode AND T2.DocLineNum=T1.LineNum AND T2.TransType=T1.ObjType
		--WHERE T0.ItemCode=@ItemCode AND T0.DocDate<@FromDate AND T2.TransType=20 AND T1.ObjType=20
		--AND T2.CreatedBy IN (SELECT BaseEntry FROM PCH1 WHERE BaseType=20)

		UNION ALL 

		SELECT T2.TransNum,T0.ItemCode,REPLACE(T0.Dscription,' ','')Dscription,0 VatSum,T2.InQty-T2.OutQty Qty,T2.TransValue,T2.TransType FROM IPF1 T0,OINM T2
		WHERE T0.ItemCode=@ItemCode
		AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
		AND T2.DocDate<@FromDate AND T2.TransType=69

		UNION ALL

		SELECT T2.TransNum,T2.ItemCode,REPLACE(T2.Dscription,' ','')Dscription,0 VatSum,T2.InQty-T2.OutQty Qty,T2.TransValue,T2.TransType FROM OINM T2
		WHERE T2.ItemCode=@ItemCode
		AND T2.DocDate<@FromDate AND T2.TransType=162

		UNION ALL

		SELECT T2.TransNum,T0.ItemCode,REPLACE(T0.Dscription,' ' ,'')Dscription,0 VatSum,T2.InQty-T2.OutQty Qty,T2.TransValue,T2.TransType FROM RPC1 T0,OINM T2
		WHERE T0.ItemCode=@ItemCode
		AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
		AND T2.DocDate<@FromDate AND T2.TransType=19

		UNION ALL

		SELECT T2.TransNum,T0.ItemCode,REPLACE(T0.Dscription,' ','')Dscription,0 VatSum,T2.InQty-T2.OutQty Qty,T2.TransValue,T2.TransType FROM PCH1 T0,OINM T2
		WHERE T0.ItemCode=@ItemCode
		AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
		AND T0.DocDate<@FromDate AND T2.TransType=18 /*AND T2.TransValue>0*/ AND T0.ObjType=T2.TransType

		UNION ALL

		SELECT T2.TransNum,T2.ItemCode,REPLACE(T2.Dscription,' ','')Dscription,0 VatSum,T2.InQty-T2.OutQty Qty,T2.TransValue,T2.TransType FROM OINM T2
		WHERE T2.ItemCode=@ItemCode
		AND T2.DocDate<@FromDate AND T2.TransType IN (59,60) AND  
		---TransNum NOT IN (1055070,1052239,1055071,1052240,1055072,1052241,1055073,1052242,1055074,1052243,1055083,1052600,1055084,1052601,1055085,1052602,1055086,1052603,1055087,1052604) ---(1052604)
		TransNum NOT IN (1052239,1052240,1052241,1052242,1052243,1052600,1052601,1052602,1052603,1052604)
		UNION ALL
		SELECT T2.TransNum,T2.ItemCode,REPLACE(T2.Dscription,' ','')Dscription,0 VatSum,T2.InQty-T2.OutQty Qty,T2.TransValue,T2.TransType FROM OINM T2
		WHERE T2.ItemCode=@ItemCode
		AND T2.DocDate<@FromDate AND T2.TransType IN (-2)

	)T1
	GROUP BY T1.ItemCode


	SELECT ROW_NUMBER()OVER(ORDER BY T1.DocDate,T1.Seq)+1 SI,T1.DocDate,T1.OBqty,T1.OBVal,T1.ChallanId,T1.U_PurDate PurDate,T1.CardName,
	CAST(T1.Address AS VARCHAR(500))Address,T1.BIN,T1.Dscription,T1.PurQty,
	CASE WHEN T1.U_AssV IS NULL OR CAST(T1.U_AssV AS DECIMAL)=0 THEN T1.TransValue ELSE T1.U_AssV END PurPrice,T1.AdditionalVat,T1.VatSum Musak,
	T1.ConsumptionQty,T1.ConsumptionVal,T1.ClosingQty,T1.ClosingVal,/*T1.Remark*/T1.Remark Remark,T1.TransValue PurAcVal,T1.Coast LCToTal,T1.U_AssV INTO #temPurchaseWH FROM
	(

		--SELECT DISTINCT T1.DocEntry,T1.DocDate,0 OBqty,0 OBVal,T3.U_Condition1 ChallanId,T3.U_PurDate,CAST(T3.CardName AS VARCHAR)CardName,
		--CAST(T3.Address AS VARCHAR(500)) Address,(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry) BIN,
		--T0.ItemCode,T0.Dscription,T2.InQty-T2.OutQty PurQty,T2.TransValue,0 AdditionalVat,T1.VatSum,T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
		--T1.U_AssV,0 Coast,'Purchase' Remark FROM PDN1 T0,PCH1 T1,OINM T2,OPCH T3
		--WHERE T0.DocEntry=T1.BaseEntry AND T0.ItemCode=T1.ItemCode AND T0.LineNum=T1.BaseLine AND T0.ItemCode=@ItemCode
		--AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum AND T0.ObjType=T2.TransType
		--AND T1.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=20
		--AND T1.DocEntry=T3.DocEntry

		--UNION ALL
		--------------------  A/P Invoice----------------

		/*
		------- Expired on 20190515------------------
		SELECT DISTINCT T2.TransNum,T0.DocDate,0 OBqty,0 OBVal,T3.U_Condition1 ChallanId,T3.U_PurDate,CAST(T3.CardName AS VARCHAR)CardName,
		CAST(T1.Address AS VARCHAR(500)) Address,(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry) BIN,
		T0.ItemCode,T0.Dscription,T2.InQty-T2.OutQty PurQty,T2.TransValue,0 AdditionalVat,
		CASE WHEN LEFT(T3.CardCode,3)='IMP' THEN (ISNULL(CAST(T0.U_AssV AS DECIMAL(18,2)),0)*ISNULL(CAST(T0.U_VatP AS DECIMAL(18,2)),0))/100 ELSE T0.VatSum END VatSum,
		T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
		CAST(T0.U_AssV AS DECIMAL(18,2))U_AssV,0 Coast,'Purchase' Remark FROM PCH1 T0
		INNER JOIN PDN1 T1 ON T1.DocEntry=T0.BaseEntry AND T1.ItemCode=T0.ItemCode AND T1.LineNum=T0.BaseLine AND T1.ObjType=T0.BaseType
		INNER JOIN OINM T2 ON T2.CreatedBy=T1.DocEntry AND T2.ItemCode=T1.ItemCode AND T2.DocLineNum=T1.LineNum AND T2.TransType=T1.ObjType
		INNER JOIN OPCH T3 ON T0.DocEntry=T3.DocEntry
		WHERE T0.ItemCode=@ItemCode AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=20 AND T1.ObjType=20
		AND T2.CreatedBy IN (SELECT BaseEntry FROM PCH1 WHERE BaseType=20)
		*/

		-----====================================== Purchase with no LC --===================================================================
		SELECT T3.TransNum,T2.DocDate,0 OBqty,0 OBVal,T5.U_BE ChallanId,T5.U_PurDate,T4.CardName,CAST(T4.Address AS VARCHAR(500)) Address,
		/*(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry)*/(SELECT TaxId2 FROM CRD7 WHERE TaxId2 IS NOT NULL AND CardCode=T4.CardCode) BIN,
		T2.ItemCode,T2.Dscription,T3.InQty-T3.OutQty PurQty,T2.LineTotal TransValue,0 AdditionalVat,
		CASE WHEN LEFT(T4.CardCode,3)='IMP' AND T2.U_Musak IS NULL THEN (ISNULL(CAST(T2.U_AssV AS DECIMAL(18,2)),0)*ISNULL(CAST(T2.U_VatP AS DECIMAL(18,2)),0))/100 
		WHEN LEFT(T4.CardCode,3)='IMP' AND T2.U_Musak IS NOT NULL THEN CAST(ISNULL(T2.U_Musak,'0') AS DECIMAL(18,2))
		ELSE T2.VatSum END VatSum,
		T3.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,ISNULL(CAST(T2.U_AssV AS DECIMAL(18,2)),0)U_AssV,T2.LineTotal+T2.DistribSum Coast,CASE WHEN CAST(dbo.[@BGWL_RemoveAllSpaces](T2.U_AT)AS DECIMAL(18,2)) =CAST(0 AS DECIMAL(18,2)) THEN '' ELSE 'AT-'+T2.U_AT END Remark,1[Seq]
		FROM PDN1 T0,PCH1 T2,OINM T3,OPCH T4,OPDN T5
		WHERE
		T2.BaseEntry=T0.DocEntry AND T2.BaseLine=T0.LineNum AND T2.BaseType=T0.ObjType AND T2.ItemCode=T0.ItemCode
		AND
		T3.CreatedBy=T0.DocEntry AND T3.DocLineNum=T0.LineNum AND T3.TransType=T0.ObjType AND T3.ItemCode=T0.ItemCode
		AND
		T2.DocEntry=T4.DocEntry
		AND
		T2.ItemCode=@ItemCode AND T2.DocDate BETWEEN @FromDate AND @ToDate
		AND
		T0.DocEntry=T5.DocEntry ---Added this portion on '27 Aug 2019'
		AND T0.DocEntry NOT IN
		(
	
			SELECT OriBAbsEnt FROM IPF1 WHERE OriBDocTyp=20 AND ItemCode=T0.ItemCode
	
		)


		UNION ALL
		-----  LC-------------------------
		/*
		------- Expired on 20190515------------------
		SELECT T2.TransNum DocEntry,T2.DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL,T2.CardName,'' Address,'' BIN,T0.ItemCode,T0.Dscription
		,T2.InQty-T2.OutQty PurQty,0 TransValue,0 AdditionalVat,0 VatSum,T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,
		0 ClosingVal,0,T2.TransValue Coast,T2.JrnlMemo Remark FROM IPF1 T0,OINM T2
		WHERE T0.ItemCode=@ItemCode
		AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
		AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=69
		*/
		----======================================= Purchase with LC Import -==============================================
		SELECT T3.TransNum,T2.DocDate,0 OBqty,0 OBVal,T5.U_BE ChallanId,T5.U_PurDate,T4.CardName,CAST(T4.Address AS VARCHAR(500)) Address,
		/*(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry)*/(SELECT TaxId2 FROM CRD7 WHERE TaxId2 IS NOT NULL AND CardCode=T4.CardCode) BIN,
		T2.ItemCode,T2.Dscription,T3.InQty-T3.OutQty PurQty, T2.LineTotal TransValue,0 AdditionalVat,
		CASE WHEN LEFT(T4.CardCode,3)='IMP' AND T2.U_Musak IS NULL THEN (ISNULL(CAST(T2.U_AssV AS DECIMAL(18,2)),0)*ISNULL(CAST(T2.U_VatP AS DECIMAL(18,2)),0))/100 
		WHEN LEFT(T4.CardCode,3)='IMP' AND T2.U_Musak IS NOT NULL THEN CAST(ISNULL(T2.U_Musak,'0') AS DECIMAL(18,2))
		ELSE T2.VatSum END VatSum,
		T3.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,ISNULL(CAST(T2.U_AssV AS DECIMAL(18,2)),0) U_AssV,T1.LineTotal Coast,CASE WHEN CAST(dbo.[@BGWL_RemoveAllSpaces](T2.U_AT)AS DECIMAL(18,2)) =CAST(0 AS DECIMAL(18,2)) THEN '' ELSE 'AT-'+T2.U_AT END Remark,1 [Seq]
		FROM PDN1 T0,IPF1 T1,PCH1 T2,OINM T3,OPCH T4,OPDN T5
		WHERE 
		T1.OriBAbsEnt=T0.DocEntry AND T1.OriBLinNum=T0.LineNum AND T1.OriBDocTyp=T0.ObjType AND T1.ItemCode=T0.ItemCode
		AND
		T2.BaseEntry=T0.DocEntry AND T2.BaseLine=T0.LineNum AND T2.BaseType=T0.ObjType AND T2.ItemCode=T0.ItemCode
		AND
		T3.CreatedBy=T0.DocEntry AND T3.DocLineNum=T0.LineNum AND T3.TransType=T0.ObjType AND T3.ItemCode=T0.ItemCode
		AND
		T2.DocEntry=T4.DocEntry
		AND
		T2.ItemCode=@ItemCode AND T2.DocDate BETWEEN @FromDate AND @ToDate
		AND
		T0.DocEntry=T5.DocEntry ---Added this portion on '27 Aug 2019'
		AND T1.DocEntry IN
		(
			SELECT DocEntry FROM IPF1 WHERE DocEntry IN
			(
				SELECT MAX(DocEntry) FROM IPF1 WHERE OriBAbsEnt=T0.DocEntry
			)
		)
		---AND T0.DocEntry NOT IN (47513)
		AND T3.TransNum NOT IN (1051534,1051535,1051536,1051537,1051538,1052502,1052503,1052504,1052505,1052506)

		UNION ALL

		SELECT * FROM #temTopazMouldSetReceipt

		UNION ALL
		------------ Inventory Revalueation-------------
		SELECT T2.TransNum,T2.DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL,'' CardName,'' Address,'' BIN,T2.ItemCode,T2.Dscription
		,T2.InQty-T2.OutQty PurQty,0 TransValue,0 AdditionalVat,0 VatSum,T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal
		,0,T2.TransValue Coast,/*T2.JrnlMemo*/'' Remark,1 [Seq] FROM OINM T2
		WHERE T2.ItemCode=@ItemCode
		AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=162

		UNION ALL 
		------------------------------ A/P Credit Memo---------------
		SELECT T2.TransNum,T2.DocDate,0 OBqty,0 OBVal,T3.U_BE ChallanId,NULL,T2.CardName,T3.Address,
		/*(SELECT TaxId2 FROM RPC12 N WHERE N.DocEntry=T0.DocEntry)*/(SELECT TaxId2 FROM CRD7 WHERE TaxId2 IS NOT NULL AND CardCode=T3.CardCode) BIN,
		T0.ItemCode,T0.Dscription,T2.InQty-T2.OutQty PurQty,T2.TransValue,0 AdditionalVat,
		CASE WHEN LEFT(T3.CardCode,3)='IMP' THEN (ISNULL(CAST(T0.U_AssV AS DECIMAL(18,2)),0)*ISNULL(CAST(T0.U_VatP AS DECIMAL(18,2)),0))/100 ELSE T0.VatSum END VatSum,
		T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
		CAST(T0.U_AssV AS DECIMAL(18,2))U_AssV,0 Coast,/*T2.JrnlMemo*//*T2.JrnlMemo*/'A/P Credit Memos' Remark,2[Seq] FROM RPC1 T0,OINM T2,ORPC T3
		WHERE T0.ItemCode=@ItemCode
		AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
		AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=19
		AND T0.DocEntry=T3.DocEntry

		
		UNION ALL
		---- (ISNULL(CAST(T0.U_AssV AS DECIMAL(18,2)),0)*ISNULL(CAST(T0.U_VatP AS DECIMAL(18,2)),0))/100
		----------------------- Invoice Only----------------------------
		SELECT T2.TransNum,T0.DocDate,0 OBqty,0 OBVal,T3.U_BE ChallanId,NULL,T2.CardName,T3.Address,
		/*(SELECT TaxId2 FROM PCH12 N WHERE N.DocEntry=T0.DocEntry)*/(SELECT TaxId2 FROM CRD7 WHERE TaxId2 IS NOT NULL AND CardCode=T3.CardCode) BIN,
		T0.ItemCode,T0.Dscription,T2.InQty-T2.OutQty PurQty,T2.TransValue,0 AdditionalVat,
		CASE WHEN LEFT(T3.CardCode,3)='IMP' 
		THEN (CONVERT(DECIMAL(18,2),replace(ISNULL(T0.U_AssV,0.0), ',', ''))* CONVERT(DECIMAL(18,2),REPLACE(ISNULL(T0.U_VatP,0),',','')))/100 ELSE T0.VatSum END VatSum,
		T2.TransType,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
		CONVERT(DECIMAL(18,2),replace(ISNULL(T0.U_AssV,0.0), ',', '')) U_AssV,0 Coast,/*T2.JrnlMemo*/'' Remark,1 [Seq] FROM PCH1 T0,OINM T2,OPCH T3
		WHERE T0.ItemCode=@ItemCode
		AND T0.DocEntry=T2.CreatedBy AND T0.ItemCode=T2.ItemCode AND T0.LineNum=T2.DocLineNum
		AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType=18 AND T2.InQty>0 ---T2.TransValue<>0 
		AND T0.ObjType=T2.TransType
		AND T0.DocEntry=T3.DocEntry
	
		UNION ALL
		----------------  Consumtion AND Reverse-------------------------------
		--SELECT 0 TransNum,T2.DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL U_PurDate,'' CardName,'' Address,'' BIN,
		--T2.ItemCode,T2.Dscription,0 PurQty,0 TransValue,0 AdditionalVat,0 VatSum,T2.TransType,SUM(T2.InQty-T2.OutQty) ConsumptionQty,SUM(T2.TransValue) ConsumptionVal,0 ClosingQty,0 ClosingVal,
		--0 U_AssV,0 Coast,'Issue for Production' Remark FROM OINM T2
		--WHERE T2.ItemCode=@ItemCode
		--AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType IN (59,60)
		--GROUP BY T2.DocDate,T2.ItemCode,T2.Dscription,T2.TransTyper

		SELECT T2.TransNum TransNum,T2.DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL U_PurDate,'' CardName,'' Address,'' BIN,
		T2.ItemCode,T2.Dscription,0 PurQty,0 TransValue,0 AdditionalVat,0 VatSum,T2.TransType,SUM(T2.InQty-T2.OutQty) ConsumptionQty,SUM(T2.TransValue) ConsumptionVal,0 ClosingQty,0 ClosingVal,
		0 U_AssV,0 Coast,/*'Issue for Production'*/'' Remark,3[Seq] FROM OINM T2
		WHERE T2.ItemCode=@ItemCode
		AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T2.TransType IN (59,60) AND T2.TransNum NOT IN (1055070,1052239,1055071,1052240,1055072,1052241,1055073,1052242,1055074,1052243,1055083,1052600,1055084,1052601,1055085,1052602,1055086,1052603,1055087,1052604)-----(1052604,1052603,1052602,1052601,1052600,1055087)
		GROUP BY T2.DocDate,T2.ItemCode,T2.Dscription,T2.TransType,T2.TransNum

	)T1


INSERT INTO TempPurchaseBook	
SELECT DISTINCT *,@ItemCode FROM
(
	SELECT * FROM #temOBWH
	UNION ALL
	SELECT * FROM #temPurchaseWH
)M
--ORDER BY M.Seq


--SELECT * FROM TempPurchaseBook

SET NOCOUNT OFF


DECLARE @SI INT,
@DocDate VARCHAR(12),
@OBqty DECIMAL(18,6),
@OBVal DECIMAL(18,6),
@ChallanId VARCHAR(20),
@PurDate VARCHAR(12),
@VendorName VARCHAR(100),
@Address VARCHAR(500),
@BIN VARCHAR(100),
@Discription VARCHAR(100),
@PurQty DECIMAL(18,6),
@PurPrice DECIMAL(18,6),
@AdditionalVat DECIMAL(18,6),
@Musak DECIMAL(18,6),
@ConsumptionQty DECIMAL(18,6),
@ConsumptionVal DECIMAL(18,6),
@ClosingQty DECIMAL(18,6),
@ClosingVal DECIMAL(18,6),
@Remark VARCHAR(250),
@PurAcVal DECIMAL(18,2),
@LCToTal DECIMAL(18,2),
@U_AssV DECIMAL(18,2)



SET NOCOUNT ON
DECLARE Cur_reg CURSOR
FOR SELECT SI,OBqty,OBVal,PurAcVal,LCToTal,PurQty,ConsumptionQty,ConsumptionVal FROM TempPurchaseBook
OPEN Cur_reg 
	FETCH NEXT FROM Cur_reg INTO @SI,@OBqty,@OBVal,@PurAcVal,@LCToTal,@PurQty,@ConsumptionQty,@ConsumptionVal
	WHILE @@FETCH_STATUS=0
	BEGIN
	/*
		IF ISNULL(@LCToTal,0)>0
		BEGIN
		UPDATE TempPurchaseBook
		SET ClosingQty=CAST(CAST(ISNULL(@OBqty,0) AS DECIMAL(18,6))+CAST(ISNULL(@PurQty,0) AS DECIMAL(18,6))+CAST(ISNULL(@ConsumptionQty,0) AS DECIMAL(18,6)) AS DECIMAL(18,6)),	
			ClosingVal=CAST(ISNULL(@OBVal,0) AS DECIMAL(18,2))/*+ISNULL(@PurAcVal,0.00)*/+ISNULL(@LCToTal,0.00) +CAST(@ConsumptionVal AS DECIMAL(18,2))
		WHERE SI=@SI
		
		UPDATE TempPurchaseBook
		SET OBqty=CAST(CAST(ISNULL(@OBqty,0) AS DECIMAL(18,6))+CAST(ISNULL(@PurQty,0) AS DECIMAL(18,6))+CAST(ISNULL(@ConsumptionQty,0) AS DECIMAL(18,6)) AS DECIMAL(18,6)),		
			OBVal=CAST(ISNULL(@OBVal,0) AS DECIMAL(18,2))/*+ISNULL(@PurAcVal,0.00)*/+ISNULL(@LCToTal,0.00) +CAST(@ConsumptionVal AS DECIMAL(18,2))
		WHERE SI=@SI+1	
		END
		
		ELSE
		BEGIN
		UPDATE TempPurchaseBook
		SET ClosingQty=CAST(CAST(ISNULL(@OBqty,0) AS DECIMAL(18,6))+CAST(ISNULL(@PurQty,0) AS DECIMAL(18,6))+CAST(ISNULL(@ConsumptionQty,0) AS DECIMAL(18,6)) AS DECIMAL(18,6)),	
			ClosingVal=CAST(ISNULL(@OBVal,0) AS DECIMAL(18,2))+ISNULL(@PurAcVal,0.00)+ISNULL(@LCToTal,0.00) +CAST(@ConsumptionVal AS DECIMAL(18,2))
		WHERE SI=@SI
		
		UPDATE TempPurchaseBook
		SET OBqty=CAST(CAST(ISNULL(@OBqty,0) AS DECIMAL(18,6))+CAST(ISNULL(@PurQty,0) AS DECIMAL(18,6))+CAST(ISNULL(@ConsumptionQty,0) AS DECIMAL(18,6)) AS DECIMAL(18,6)),		
			OBVal=CAST(ISNULL(@OBVal,0) AS DECIMAL(18,2))+ISNULL(@PurAcVal,0.00)+ISNULL(@LCToTal,0.00) +CAST(@ConsumptionVal AS DECIMAL(18,2))
		WHERE SI=@SI+1

		END	
		*/
		UPDATE TempPurchaseBook
		SET ClosingQty=CAST(CAST(ISNULL(@OBqty,0) AS DECIMAL(18,6))+CAST(ISNULL(@PurQty,0) AS DECIMAL(18,6))+CAST(ISNULL(@ConsumptionQty,0) AS DECIMAL(18,6)) AS DECIMAL(18,6)),	
			ClosingVal=CAST(ISNULL(@OBVal,0) AS DECIMAL(18,2))+ISNULL(@LCToTal,0.00) +CAST(@ConsumptionVal AS DECIMAL(18,2))
		WHERE SI=@SI
		
		UPDATE TempPurchaseBook
		SET OBqty=CAST(CAST(ISNULL(@OBqty,0) AS DECIMAL(18,6))+CAST(ISNULL(@PurQty,0) AS DECIMAL(18,6))+CAST(ISNULL(@ConsumptionQty,0) AS DECIMAL(18,6)) AS DECIMAL(18,6)),		
			OBVal=CAST(ISNULL(@OBVal,0) AS DECIMAL(18,2))+ISNULL(@LCToTal,0.00) +CAST(@ConsumptionVal AS DECIMAL(18,2))
		WHERE SI=@SI+1	
		FETCH NEXT FROM Cur_reg INTO @SI,@OBqty,@OBVal,@PurAcVal,@LCToTal,@PurQty,@ConsumptionQty,@ConsumptionVal
	END
CLOSE Cur_reg
DEALLOCATE Cur_reg
---SELECT * FROM TempPurchaseBook


END



GO
