USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Note_17_Purchase_Import_Not_15_Vat]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Note_17_Purchase_Import_Not_15_Vat]
(
	@FromDate DATETIME,
	@ToDate DATETIME
)
AS
BEGIN
-----===================== Purchase Import Rate is not 15% (Item) ---============================
SELECT ROW_NUMBER()OVER(ORDER BY T1.ItemCode)Seq,'17' [Note],T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,
SUM(CASE WHEN T1.U_AssV IS NOT NULL THEN CAST(T1.U_AssV AS DECIMAL(18,2)) ELSE T1.LineTotal END)[Total Price],
SUM(
CASE 
WHEN T1.U_AssV IS NOT NULL AND T1.U_Musak IS NULL THEN CAST(T1.U_AssV AS DECIMAL(18,2))*(CAST(T1.U_VatP AS DECIMAL(18,2))/100) 
WHEN T1.U_AssV IS NOT NULL AND T1.U_Musak IS NOT NULL THEN CAST(T1.U_Musak AS DECIMAL(18,2))
ELSE CAST(T1.VatSum AS DECIMAL(18,2)) END
)[Vat Total],
'VAT@'+T1.U_VatP TaxCode ,'Not:17 Sub Form: KA' [Note/Sub Form],'Import' [Type] 
FROM OPCH T0
JOIN PCH1 T1 ON T0.DocEntry=T1.DocEntry
JOIN OITM T2 ON T1.ItemCode=T2.ItemCode
LEFT JOIN [@U_HSCODE]T3 ON T2.U_HSCode=T3.Code
WHERE  T0.DocDate BETWEEN @FromDate AND @ToDate AND T0.DocType NOT IN ('S') AND (T1.U_VatP NOT IN ('15','0') AND T1.U_VatP IS NOT NULL) AND T0.CardCode LIKE '%IMP%'
AND T2.U_HSCode IS NOT NULL
GROUP BY T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,T1.U_VatP
---========================================================================
END
GO
