USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_SalesRegister]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<05 May 2010>

-- =============================================
 --EXEC [@BGW_SalesRegister]'2009-09-01','125ml Round Amber Bottles'
CREATE PROCEDURE [dbo].[@BGW_SalesRegister]
-- Add the parameters for the stored procedure here
	(@FROMDATE DATETIME,@ITEMNAME VARCHAR(50))
AS
BEGIN
DECLARE @ID INT
DECLARE @OBQty	FLOAT
DECLARE @OBVALUE	FLOAT
DECLARE @cardname	Varchar(100)
DECLARE @PRODUCTIONQTY	FLOAT
DECLARE @PRODUCTIONVALUE	FLOAT
DECLARE @DELIVEREDQUANTITY	FLOAT
DECLARE @DELIVEREDAMOUNT	FLOAT
DECLARE @VAT	FLOAT
DECLARE @ClosingBalanceQuantity	FLOAT
DECLARE @ClosingBalanceAmount 	FLOAT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--set identity_insert on;
    -- Insert statements for procedure here
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='TEMP_SALESREG')
	BEGIN
		Drop table TEMP_SALESREG
	END
	CREATE TABLE TEMP_SALESREG (ID INT primary key,DOCDATE DATETIME, [OB Qty] FLOAT,
[OB VALUE] FLOAT,[PRODUCTION QTY] FLOAT,[PRODUCTION VALUE] FLOAT,CARDNAME VARCHAR(50),
ADDRESS VARCHAR(80),[Reg. No.] VARCHAR(50),
	[DELIVERY CHALLAN NO] FLOAT,[DELIVERY CHALLAN DATE] DATETIME, Dtime varchar(5), 
[DELIVERED ITEM] VARCHAR(50),[DELIVERED QUANTITY]  FLOAT, [DELIVERED AMOUNT]  FLOAT,
SD VARCHAR(30),VAT  FLOAT,[Closing Balance Quantity] FLOAT, 
[Closing Balance Amount] FLOAT )

	INSERT INTO TEMP_SALESREG 

SELECT ROW_NUMBER() OVER (ORDER BY N1.DocNum )ID,
 N2.docdate as date,sum(N2.OPening) As OP,
 sum(N2.OPening) * n1.price As OPVAL , 
Sum(N2.Production) as Production, 
sum(N2.Production) * n1.price as ProductVal,
N1.[cardname],N1.Address,N1.RegNO,N1.Docnum,
N1.Docdate as Chalandate,N1.Dtime, N1.Itemname ,
N1.Del_Qty,N1.Del_Val,'' as SD, N1.VAT 
,(Sum(n2.Opening)+ sum(N2.Production)-N1.Del_Qty) as Closing,
(Sum(n2.Opening)+ sum(N2.Production)-N1.Del_Qty) * n1.price as ClosingVal
 
from Temp_OP_Prod N2,Temp_DelCustomer N1

where N1.docdate=N2.docdate 

Group by N2.docdate,N1.cardname,N1.Address,N1.RegNO,N1.Docnum,
N1.Del_Qty,N1.Del_Val,N1.VAT, N1.Itemname,
N1.Docdate,N1.Dtime,N1.price

ORDER BY N1.Docnum

DECLARE CUR_SALES CURSOR
	FOR SELECT ID,[OB Qty],[OB VALUE],[PRODUCTION QTY],[PRODUCTION VALUE],
[cardname],[DELIVERED QUANTITY],[DELIVERED AMOUNT],[VAT],[Closing Balance Quantity],
[Closing Balance Amount] FROM TEMP_SALESREG 
	
OPEN CUR_SALES
	FETCH NEXT FROM CUR_SALES INTO @ID,@OBQty,@OBVALUE,@PRODUCTIONQTY,@PRODUCTIONVALUE,
@cardname,@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 
	WHILE @@FETCH_STATUS=0
	BEGIN
		--print @ID
		--UPDATEING CURRENT CLOSING BALANCE QTY & AMOUNT COLUMN
		UPDATE	TEMP_SALESREG	SET [Closing Balance Quantity]=((Isnull(@OBQty,0)+Isnull(@PRODUCTIONQTY,0))-Isnull(@DELIVEREDQUANTITY,0)),
[Closing Balance Amount]=Isnull(@OBVALUE,0)+Isnull(@PRODUCTIONVALUE,0)-Isnull(@DELIVEREDAMOUNT,0) 
		
WHERE ID=@ID
		--UPDATING NEXT OPENING BALANCE QTY & VALUE COLUMN
 		UPDATE	TEMP_SALESREG	SET [OB Qty]=((@OBQty+@PRODUCTIONQTY)-@DELIVEREDQUANTITY),
[OB VALUE]=@OBVALUE+@PRODUCTIONVALUE-@DELIVEREDAMOUNT ,
[PRODUCTION QTY]=0,[PRODUCTION VALUE]=0 
WHERE ID=@ID+1 
FETCH NEXT FROM CUR_SALES INTO @ID,@OBQty,@OBVALUE,@PRODUCTIONQTY,@PRODUCTIONVALUE,@cardname,
@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 	
	END 
	CLOSE CUR_SALES
	DEALLOCATE CUR_SALES 
		SELECT [DOCDATE],[OB Qty],[OB VALUE],[PRODUCTION QTY],[PRODUCTION VALUE],[CARDNAME],
[ADDRESS],[REG. No.],[DELIVERY CHALLAN NO] ,[DELIVERY CHALLAN DATE],[Dtime],
[DELIVERED ITEM],[DELIVERED QUANTITY],[DELIVERED AMOUNT],[SD],[VAT],[Closing Balance Quantity],
[Closing Balance Amount] FROM Temp_SALESReg 
END












GO
