USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_spFGStockWithBatchNumber]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 		--- [@BGW_spFGStockWithBatchNumber] '1606001'
		-- 500 ml,250ml,130ml,125ml,75ml,30ml,26ml,310ml & 70ml
		CREATE PROC [dbo].[@BGW_spFGStockWithBatchNumber]
		@ItemCode VARCHAR(30)
		AS
		BEGIN
		--DECLARE @ItemCode VARCHAR(30)=1610001


--T.ItemCode,T.ItemName,BatchNum,SUM(T.Quantty)Stock,CASE WHEN BatchNum LIKE 'RTN%' THEN RIGHT(LEFT(PARSENAME(BatchNum, 1),2),2)
--		ELSE RIGHT(LEFT(BatchNum,5),2) END [Year]
	/*
	SELECT * FROM 
	(
	SELECT T0.ItemCode,T2.ItemName,T0.DistNumber BatchNum,SUM(T1.Quantity)Stock,CASE WHEN DistNumber LIKE 'RTN%' THEN RIGHT(LEFT(PARSENAME(DistNumber, 1),2),2)
	ELSE RIGHT(LEFT(DistNumber,5),2) END [Year] FROM OBTN T0
	INNER JOIN ITL1 T1 ON T1.ItemCode=T0.ItemCode AND T0.SysNumber=T1.SysNumber
	INNER JOIN OITM T2 ON T2.ItemCode=T0.ItemCode
	WHERE T0.ItemCode=@ItemCode	--AND RIGHT(LEFT(DistNumber,5),2)>11 --AND DistNumber='01A13A B'
	GROUP BY T0.ItemCode,T2.itemName,T0.DistNumber
	HAVING SUM(T1.Quantity)<>0
	)T
	WHERE T.[Year]>'18'
	*/

		
		IF EXISTS (SELECT * FROM sys.tables WHERE name='tempBatchTrans')
		BEGIN
			DROP TABLE tempBatchTrans
		END

		SELECT		MIN(b.LogEntry)		as LogEntry,
					MIN(b.ItemCode)		as [ItemCode],
					MIN(c.DistNumber)	as [BatchNum],
					MIN(b.LocCode)		as [WhsCode],
					MIN(b.ItemName)		as [ItemName],
					MIN(b.ApplyType)	as [BaseType],      
					MIN(b.ApplyEntry)	as [BaseEntry],
					MIN(b.AppDocNum)	as [BaseNum],
					MIN(b.ApplyLine)	as [BaseLinNum],
					MIN(b.DocDate)		as [DocDate],
					(								 
						CASE WHEN ABS(SUM(a.Quantity)) = 0 THEN SUM(a.AllocQty)
						ELSE ABS(SUM(a.Quantity)) END
					)					as [Quantity],
					--SUM(a.Quantity)[Quantity],
					MIN(b.CardCode)		as [CardCode],
					MIN(b.CardName)		as [CardName],
					(
						CASE WHEN  SUM(a.Quantity) > 0 THEN 0
						WHEN SUM(a.Quantity) < 0 THEN 1
						ELSE 2 END
					)					as [Direction],
					MIN(b.CreateDate)	as [CreateDate],
					MIN(b.BaseType)		as [BsDocType],
					MIN(b.BaseEntry)	as [BsDocEntry],
					MIN(b.BaseLine)		as [BsDocLine],
					'N'				as [DataSource],
					NULL				as [UserSign] INTO tempBatchTrans
		FROM 		ITL1 a
		INNER JOIN	OITL b ON a.LogEntry = b.LogEntry
		INNER JOIN	OBTN c ON a.ItemCode = c.ItemCode and a.SysNumber = c.SysNumber
		WHERE b.ItemCode=@ItemCode--C.CreateDate='09/02/2018'
		GROUP BY	b.ItemCode, a.SysNumber, b.ApplyType, b.ApplyEntry, b.ApplyLine, b.LocCode, b.StockEff
		having		(SUM(b.DocQty) <> 0)		-- To exclude those document lines with batch numbers that have been totally deallocated.
		OR			(SUM(b.DefinedQty) <> 0)	-- For the case: batch is on release only and use complete operation to define batch.
		OR			(SUM(b.DocQty) = 0 and b.StockEff = 2 
					 and min(b.BaseType) <> 17 and min(b.BaseType) <> 13 ) -- for the case DLN/INV based on sales order with allocated batch.

		SELECT * FROM
		(
		SELECT T.ItemCode,T.ItemName,BatchNum,SUM(T.Quantty)Stock,ROUND(SUM(T.Quantty)/T.SalPackUn,0) [Stock Carton],CASE WHEN BatchNum LIKE 'RTN%' THEN RIGHT(LEFT(PARSENAME(BatchNum, 1),2),2)
		ELSE RIGHT(LEFT(BatchNum,5),2) END [Year] FROM
		(
			SELECT LogEntry,T1.ItemCode,T1.ItemName,BatchNum,BaseType,T1.SalPackUn, 
			CASE 
			WHEN Direction=1 THEN -Quantity
			WHEN Direction=0 THEN Quantity END Quantty,
			--WHEN BaseType=59 THEN Quantity
			--WHEN BaseType=60 THEN -Quantity
			--WHEN BaseType=15 THEN -Quantity
			--WHEN BaseType=13 THEN -Quantity
			--WHEN BaseType=56 THEN Quantity
			--ELSE Quantity END Quantty,

			CASE 
			WHEN BaseType=59 THEN 'Receipt from production'
			WHEN BaseType=60 THEN 'Issue from production'
			WHEN BaseType=15 THEN 'Delivery'
			WHEN BaseType=13 THEN 'A/R Invoice'
			ELSE 'Delivery return' END Remark

			FROM tempBatchTrans T0, OITM T1
			WHERE T0.ItemCode=T1.ItemCode
		)T				
		GROUP BY T.ItemCode,T.ItemName,BatchNum,T.SalPackUn
		HAVING SUM(T.Quantty)<>0
		)T
		WHERE [YEAR]>'15' AND [YEAR]<>'RT'
		
END
		---SELECT * FROM OITM WHERE ItemCode LIKE '16%'

		--SELECT * FROM OINM WHERE ItemCode=1645001 AND TransType=60

		--SELECT * FROM OINM WHERE ItemCode=1645001
	


	--SELECT PARSENAME('RTN30.10.19.1A A', 1)

	--SELECT RIGHT(LEFT(PARSENAME('', 1),2),2)
	-- 500 ml,250ml,130ml,125ml,75ml,30ml,26ml,310ml & 70ml

	--SELECT * FROM OBTN T0
	
	--WHERE ItemCode='1606001' AND Balance>0




	--SELECT * FROM OITL WHERE ItemCode='1606001'
	--SELECT * FROM ITL1 WHERE ItemCode='1606001' AND AllocQty>0

	--SELECT T0.ItemCode,T0.itemName,T0.DistNumber,SUM(T1.Quantity)Stock FROM OBTN T0
	--INNER JOIN ITL1 T1 ON T1.ItemCode=T0.ItemCode AND T0.SysNumber=T1.SysNumber
	--WHERE T0.ItemCode='1606001'	--AND DistNumber='01A13A B'
	--GROUP BY T0.ItemCode,T0.itemName,T0.DistNumber
	--HAVING SUM(T1.Quantity)<>0
GO
