USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Customer_Sales_Growth_Analysis_Summary]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Customer_Sales_Growth_Analysis_Summary]
(@fy VARCHAR(30),@CardCode VARCHAR(30))
AS
BEGIN
DECLARE @FromDate_1 DATETIME,@FromDate_2 DATETIME,@ToDate_1 DATETIME,@ToDate_2 DATETIME,@AbsEntry INT

SELECT @ToDate_2=T_RefDate,@AbsEntry=AbsEntry FROM OFPR WHERE Code=@fy
SELECT @FromDate_1=F_RefDate FROM OFPR WHERE AbsEntry=@AbsEntry-5

DECLARE @ThreeYearsSales12 TABLE
(
	SI INT,
	FY VARCHAR(10),
	CardCode VARCHAR(30),
	--ItemCode VARCHAR(20),
	--ItemName VARCHAR(50),
	--ItmsGrpCod VARCHAR(20),
	--ItmsGrpNam VARCHAR(50),
	TotalSales DECIMAL(18,2),
	TotalVolume DECIMAL(18,2),
	SalesGrowth DECIMAL(18,2),
	GrowthVolume DECIMAL(18,2),
	SalesGrowthPrcnt DECIMAL(18,2),
	VolumeGrowthPrcnt DECIMAL(18,2),
	SalesCont DECIMAL(18,2),
	VolumeCont DECIMAL(18,2)

)

INSERT INTO @ThreeYearsSales12
SELECT SI,[Year],CardCode,SUM([Total Sales])[Total Sales],SUM([Total Volume])[Total Volume],0 SalesGrowth,0 GrowthVolume,0 SalesGrowthPrcnt,0 VolumeGrowthPrcnt,0 SalesCont,0 VolumeCont FROM 
(
SELECT SI_RANK,T0.SI,T0.[Year],T0.CardCode,T0.[Total Sales],T0.[Total Volume],
0 SalesGrowth,0 GrowthVolume,0 SalesGrowthPrcnt,0 VolumeGrowthPrcnt,0 SalesCont,0 VolumeCont FROM 
(
	SELECT DENSE_RANK()OVER(PARTITION BY SI ORDER BY T0.[Total Sales] DESC)SI_RANK,T0.SI,T0.[Year],T0.CardCode,T0.[Total Sales],T0.[Total Volume],0 SalesGrowth,0 GrowthVolume,
	0 SalesGrowthPrcnt,0 VolumeGrowthPrcnt,0 SalesCont,0 VolumeCont FROM
	(
		SELECT T0.SI,T0.[Year],T0.CardCode,SUM(T0.[Total Sales])[Total Sales],SUM(T0.Quantity)[Total Volume],0 SalesGrowth,0 GrowthVolume,0 SalesGrowthPrcnt,0 VolumeGrowthPrcnt,0 SalesCont,0 VolumeCont FROM
		(
		SELECT (SELECT AbsEntry FROM OFPR WHERE T0.DocDate BETWEEN F_RefDate AND T_RefDate)[SI],(SELECT Name FROM OFPR WHERE T0.DocDate BETWEEN F_RefDate AND T_RefDate)[Year],T0.CardCode,T1.ItemCode,T2.ItemName,T3.ItmsGrpCod,T3.ItmsGrpNam
		,T1.LineTotal [Total Sales],T1.Quantity FROM OINV T0,INV1 T1,OITM T2, OITB T3
		WHERE T0.DocEntry=T1.DocEntry AND T1.ItemCode=T2.ItemCode AND T2.ItmsGrpCod=T3.ItmsGrpCod AND T0.DocDate BETWEEN @FromDate_1 AND @ToDate_2 AND T0.CardCode=@CardCode
		)T0
		GROUP BY T0.SI,T0.[Year],T0.CardCode
		---ORDER BY T0.SI,ItemName
	)T0
)T0
)T0
GROUP BY T0.SI,T0.[Year],CardCode
ORDER BY T0.SI

DECLARE 
	@SI INT,
	@FY1 VARCHAR(10),	
	@TotalSales DECIMAL(18,2),
	@TotalVolume DECIMAL(18,2),
	@SalesGrowth DECIMAL(18,2),
	@GrowthVolume DECIMAL(18,2),
	@SalesGrowthPrcnt DECIMAL(18,2),
	@VolumeGrowthPrcnt DECIMAL(18,2),

	@TotalSalesNext DECIMAL(18,2),
	@TotalVolumeNext DECIMAL(18,2),
	@SalesTotal DECIMAL(18,2),
	@VolumeTotal DECIMAL(18,2),
	@GroupSales DECIMAL(18,2),
	@GroupVolume DECIMAL(18,2)


DECLARE Sales_Cur CURSOR
FOR SELECT SI,FY,TotalSales,TotalVolume,SalesGrowth,GrowthVolume,SalesGrowthPrcnt,VolumeGrowthPrcnt FROM @ThreeYearsSales12
OPEN Sales_Cur
FETCH NEXT FROM Sales_Cur INTO @SI,@FY1,@TotalSales,@TotalVolume,@SalesGrowth,@GrowthVolume,@SalesGrowthPrcnt,@VolumeGrowthPrcnt
WHILE @@FETCH_STATUS=0
BEGIN
		
		SELECT @GroupSales=SUM(TotalSales),@GroupVolume=SUM(TotalVolume) FROM @ThreeYearsSales12 WHERE SI=@SI GROUP BY SI
		
		UPDATE @ThreeYearsSales12
		SET SalesCont=@TotalSales*100/@GroupSales,VolumeCont=@TotalVolume*100/@GroupVolume
		WHERE SI=@SI
	
		----SELECT @SalesTotal=SUM(TotalSales),@VolumeTotal=SUM(TotalVolume) FROM @ThreeYearsSales WHERE SI=@SI+1 GROUP BY SI

		SELECT @TotalSalesNext=TotalSales,@TotalVolumeNext=TotalVolume FROM @ThreeYearsSales12 WHERE SI=@SI+1
		UPDATE @ThreeYearsSales12
		SET SalesGrowth=(@TotalSalesNext-@TotalSales),SalesGrowthPrcnt=(@TotalSalesNext-@TotalSales)*100/@TotalSales,GrowthVolume=@TotalVolumeNext-@TotalVolume,VolumeGrowthPrcnt=(@TotalVolumeNext-@TotalVolume)*100/@TotalVolume		
		WHERE SI=@SI+1
		---PRINT(''+@ItemCode+''+':-'+CAST(@TotalSalesNext AS VARCHAR)+'''-'''+CAST(@TotalSales AS VARCHAR)+'')
	
	
	FETCH NEXT FROM Sales_Cur INTO @SI,@FY1,@TotalSales,@TotalVolume,@SalesGrowth,@GrowthVolume,@SalesGrowthPrcnt,@VolumeGrowthPrcnt
END
CLOSE Sales_Cur
DEALLOCATE Sales_Cur
SELECT * FROM @ThreeYearsSales12 WHERE SI NOT IN (SELECT MIN(SI) FROM @ThreeYearsSales12)
END
GO
