USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_SPR]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_SPR]
@Docdate DATETIME
AS
BEGIN
Select T1.docentry,T1.docnum ,T1.docdate,T1.taxdate,T1.ReqDate ,T3.Name Department,T4.Name Branch,T2.ItemCode ,T2.Dscription,T2.unitMsr ,T2.Text ,T2.Quantity ,T2.U_Remark 
From OPRQ T1,PRQ1 T2,OUDP t3, OUBR T4 where T1.DocEntry =T2.DocEntry  and T1.DocDate =@Docdate and T1.Department  =T3.Code 
and T1.Branch  =T4.Code and T1.Docstatus='O'
END
GO
