USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_NetDuesArup]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[@BGWL_NetDuesArup]
	(@Age DATETIME)
AS
BEGIN
--DECLARE @Cardcode varchar(12)
--DECLARE @Cardname	varchar(50)
--DECLARE @CardFName	varchar(100)
--DECLARE @Itemcode	Varchar (8)
--DECLARE @Dscription	varchar(100)
--DECLARE @Quantity	FLOAT
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_NetDues')
 Drop table Temp_Netdues
	
CREATE TABLE Temp_Netdues (CardCode varchar(10),Cardname varchar(100),
DocNum int, InvDate datetime, Days int, InvAmt Numeric(18,2), Balance FLOAT )

INSERT INTO Temp_Netdues 
	 
Select A.Cardcode,A.Customer [Name of Customer], A.DocNum [Invoice#], A.InvDt [Date],
 datediff(dd, A.InvDt, CONVERT(VARCHAR(10), @Age, 101)) [Days],
 A.InvAmt [Invoice Amount],A.[balance] from 
(
SELECT  T0.[CardCode], max(T0.[CardName]) [Customer], T0.[DocNum], 
max(T0.[DocDate]) [InvDt], T0.[DocDueDate], T0.[DocTotal], T0.[PaidToDate], 
Doctotal - paidtodate [InvAmt], 0 as balance
FROM OINV T0, OCRD T1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0
 and T1.[CardCode]=T0.[CardCode] --AND T0.CANCELED='N' AND T0.DocStatus<>'C'
group by T0.cardcode, T0.docnum, T0.docduedate, T0.doctotal, T0.paidtodate 
--having ((doctotal -paidtodate) > 0)
having ((doctotal -paidtodate) > 10)

union all
--update for discount 28102013------------
--SELECT  T0.[CardCode], max(T0.[CardName]) [Customer], T0.[DocNum], 
--max(T0.[DocDate]) [InvDt], T0.[DocDueDate] [DocDueDate], 0 as Doctotal, 0 as [PaidToDate], 
-- -Sum(J1.Debit) [InvAmt], 0 as balance
--FROM OINV T0 ,JDT1 J1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0
-- and  T0.[CardCode]=J1.[ContraAct] and T0.docdate=J1.duedate and T0.Ref1=J1.Ref1
-- and J1.linememo like 'Trade Discount%' 
--group by T0.cardcode, T0.docnum,j1.[ContraAct],T0.[DocDueDate]

 --union all
-- end update for discount
SELECT  T0.[CardCode], max(T0.[CardName]) [Customer], 0 as [DocNum], 
@Age as  [InvDt],  '' as DocDueDate, 0 as [DocTotal],0 as [PaidToDate],
0  as [InvAmt],T1.balance  [Balance]
FROM OINV T0 , OCRD T1 where datediff(dd, T0.[DocDate], CONVERT(VARCHAR(10), @Age, 101))>=0 and 
T1.[CardCode]=T0.[CardCode] --AND T0.CANCELED='N' AND T0.DocStatus<>'C'
group by T0.cardcode,T0.[CardName],T1.balance
 having ((sum(doctotal) ) > 0)

) A
order by  [Name of Customer],[Days] desc,[Invoice Amount] desc

--update Temp_Netdues set InvDate=@Age, days=0 where docnum=''
-- if the balance is less than 0 and invoice amount is 0, then delete 0 invoice and balance 
delete  from Temp_NetDues where balance<=0 and InvAmt=0
----------------- end -----------------
SELECT PRIV.*,ISNULL(CUR.DocTotal,0) AS TodaysInvoice FROM(
SELECT  CardCode,Cardname [Customer Name] , MAX(Days) [Due Days] , SUM(InvAmt) [Invoice Amount] , SUM(Balance) Balance  FROM Temp_Netdues 

--where cardname= 'Hamdard Lab. (Waqf) Bangladesh'
--   or cardname= 'Renata Limited'
--   or cardname= 'The ACME Laboratories Ltd.' 
--   or cardname= 'Bangladesh Lamps Ltd.' 
--   or cardname= 'Incepta Pharmaceuticals Ltd.'
--   or cardname= 'GlaxoSmithKline Bangladesh Limited'
---- update on 17-02-2013
--   or cardname= 'Essential Drugs Co. Ltd.'
----update on 29-06-2013
--   or (cardname= 'ACI Limited' and Cardcode='CT00000004')--update 281013
--   or (cardname= 'ACI Limited' and Cardcode='CT00000542')-- updat 281013
--   or cardname= 'Jayson Pharmaceuticals Ltd.'
----update on 03-07-2013
--   or cardname= 'General Pharmaceuticals Ltd.'
--   or cardname= 'Orion Pharma Ltd'
----update on 07-07-2013
--   or cardname= 'Natore Agro Ltd.'
--   or cardname= 'BD Foods Ltd.'
----update on 22-08-2013
--   or cardname= 'Renata Limited (Cephalosporin Unit)'
----update on 03112013
--   or cardname= 'Hashem Foods Ltd.'

--   --update on 29-07-2015 
--   or cardname= 'Ritumony Enterprise'
--   or cardname= 'I. R. Bulb Company.'


--   --update on 26-05-2016 

--   or cardname= 'Janata Traders'
-- -------------------
-- -------------------
GROUP BY  CardCode,Cardname
--HAVING SUM(Balance)<>0
HAVING SUM(Balance)>10
)PRIV
LEFT JOIN
(
SELECT CardCode,CardName,DocTotal FROM OINV
WHERE DocDate = @Age
)CUR ON CUR.CardCode=PRIV.CardCode
WHERE PRIV.Balance>1000
--SELECT  CardCode,Cardname [Customer Name],MAX(InvDate)InvDate , MIN(Days) [Due Days] , SUM(InvAmt) [Invoice Amount] , SUM(Balance) Balance  FROM Temp_Netdues 
--GROUP BY  CardCode,Cardname
--HAVING SUM(Balance)<>0
--order by cardcode,Cardname,Days desc-- Update 28102013
--=========================   
END
GO
