USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Itemwise_Yearly_test]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[@BGW_Itemwise_Yearly_test]
	
AS
BEGIN
DECLARE   @SQLQuery AS NVARCHAR(MAX)
DECLARE   @PivotColumns AS NVARCHAR(MAX)
 
--Get unique values of pivot column  
SELECT   @PivotColumns= COALESCE(@PivotColumns + ',','') + QUOTENAME(ItemName)
FROM (select ItemName from OITM where itmsgrpcod=109) AS PivotExample
 
SELECT   @SQLQuery
--Execute dynamic query
EXEC sp_executesql @SQLQuery
end
GO
