USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Note_58_Treasury_Challan]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Note_58_Treasury_Challan]
(
	@FromDate DATETIME,
	@ToDate DATETIME
)
AS
BEGIN
	SELECT ROW_NUMBER()OVER(ORDER BY T0.TransId)Sl,'' [Challan No],T0.TransId,T0.RefDate [Date],T0.Memo,T0.U_lrlnmemo [Remarks],'Bangladesh Bank'[Bank],'Motijhil'[Branch],'1-1133-0006-0311'[Account Code],SUM(T1.Debit)[Amount] FROM OJDT T0, JDT1 T1
	WHERE T0.RefDate BETWEEN @FromDate AND @ToDate AND T0.U_lrlnmemo LIKE '%Bangladesh Bank%' AND T0.Memo LIKE '%Outgoing Payments - 302001008%'
	AND T0.TransId=T1.TransId AND T1.Account='302001008' AND T1.Debit>0
	GROUP BY T0.RefDate,T0.Memo,T0.U_lrlnmemo,T0.TransId
END
GO
