USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_spRDLINV_LV_O]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_spRDLINV_LV_O]
@FromDate DATETIME,
@ToDate DATETIME
AS
BEGIN
Select T1.CardName ,T2.ItemCode ,T2.Dscription ,Sum(T2.Quantity) [quantity],T2.Price U_Price,T3.BuyUnitMsr,SUM(T2.TotalSumSy)TotalPrice  from OPCH T1,PCH1 T2,OITM T3,OITB T4 where 
T1.docdate between 
@FromDate and @ToDate  --and T2.ItemCode =@ItemCode 
and T1.docentry=T2.DocEntry and T2.LineStatus ='O' and Left(T1.CardCode ,2)='LV' AND T2.ItemCode=T3.ItemCode AND T3.ItmsGrpCod=T4.ItmsGrpCod AND T4.ItmsGrpNam='RM'

group by T1.CardName ,T2.ItemCode ,T2.Dscription,T3.BuyUnitMsr,T2.Price
ORDER BY ItemCode
END

GO
