USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_BankCheckStatement]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_BankCheckStatement]
@AccCode VARCHAR(100),
@FromDate VARCHAR(30),
@ToDate VARCHAR(30),
@PrintDate VARCHAR(30)
AS
BEGIN

SET @FromDate = CONVERT(datetime,@FromDate,103)
SET @ToDate = CONVERT(datetime,@ToDate,103)
SET @PrintDate = CONVERT(datetime,@PrintDate,103)

SELECT DISTINCT ROW_NUMBER() OVER (ORDER BY T2.DocNum)#, T2.DocNum,T2.DocDate RefDate,--T1.ShortName,T0.RefDate,
T2.NoDocSum,ISNULL(T3.VendorName,'N/A')VendorName,@PrintDate PrintDate,
(SELECT AcctName FROM OACT WHERE AcctCode=@AccCode) AcctName,T3.CheckSum,ISNULL(T2.U_Cheque,'N/A')U_Cheque,T4.* 
FROM 	
	(SELECT DocNum,TransId,NoDocSum,U_Cheque,DocDate FROM OVPM )T2
	JOIN (SELECT * FROM OCHO WHERE CheckAcct=@AccCode) T3 ON T3.TransRef = T2.DocNum
	JOIN (SELECT T0.BankCode,T0.BankName,T1.Branch,T1.GLAccount,T1.Account FROM
		(SELECT BankCode,BankName FROM ODSC)T0,
		(SELECT BankCode,Branch,GLAccount,Account FROM DSC1)T1
		WHERE T0.BankCode=T1.BankCode AND T1.GLAccount=@AccCode)T4 ON T4.GLAccount = T3.CheckAcct	
	WHERE --T0.TransId=T1.TransId AND T0.BaseRef=T2.DocNum AND T0.TransId=T2.TransId AND 
	T3.TransRef = T2.DocNum AND T3.CheckAcct=T4.GLAccount
	AND T2.DocDate BETWEEN @FromDate AND @ToDate AND T3.[CheckSum]>=100000.00
END

GO
