USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Note_12_13_Purchase]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Note_12_13_Purchase]
(
	@FromDate DATETIME,
	@ToDate DATETIME
)
AS
BEGIN
	
---================================Purchase Local Zero Vat (Item)---==========================
SELECT ROW_NUMBER()OVER(ORDER BY T1.ItemCode) Seq,T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,SUM(T1.LineTotal)[Total Price],SUM(T1.VatSum)[Vat Total],T1.TaxCode,'Not:12 Sub Form: KA' [Note/Sub Form],'Local' [Type] FROM OPCH T0,PCH1 T1,OITM T2,[@U_HSCODE]T3
WHERE T0.DocEntry=T1.DocEntry AND T1.ItemCode=T2.ItemCode AND T2.U_HSCode=T3.Code
AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T0.DocType NOT IN ('S') AND (T1.VatSum=0) AND T0.CardCode LIKE '%LV%'
GROUP BY T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,T1.TaxCode
---=============================================================================================
UNION ALL
----=========================== Purchase Import Zeo Vat (Item)================================
SELECT ROW_NUMBER()OVER(ORDER BY T1.ItemCode) Seq,T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,SUM(CASE WHEN T1.U_AssV IS NULL THEN T1.LineTotal ELSE CAST(T1.U_AssV AS DECIMAL(18,2))END)[Total Price],
SUM(

CASE WHEN T1.U_AssV IS NULL THEN T1.VatSum
WHEN T1.U_AssV IS NOT NULL AND T1.U_Musak IS NULL AND T1.U_VatP IS NOT NULL THEN CAST(T1.U_AssV AS DECIMAL(18,2))*CAST(T1.U_VatP AS DECIMAL(18,2))/100
--WHEN T1.VatSum>0 THEN  T1.VatSum
--WHEN T1.U_AssV IS NULL THEN T1.VatSum 
ELSE CAST(T1.U_Musak AS DECIMAL(18,2)) END) [Vat Total],
CASE WHEN T1.U_VatP IS NULL THEN T1.TaxCode ELSE 'VAT@'+T1.U_VatP END TaxCode,'Not:13 Sub Form: KA' [Note/Sub Form],'Import' [Type] FROM OPCH T0,PCH1 T1,OITM T2,[@U_HSCODE]T3
WHERE T0.DocEntry=T1.DocEntry AND T1.ItemCode=T2.ItemCode AND T2.U_HSCode=T3.Code
AND T0.DocDate BETWEEN @FromDate AND @ToDate AND T0.DocType NOT IN ('S') AND (T1.VatSum=0) AND T0.CardCode LIKE '%IMP%' AND T1.U_VatP=15
GROUP BY T1.ItemCode,T2.ItemName,T2.U_HSCode,T3.Name,T1.TaxCode,T1.U_VatP

END
GO
