USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Inventory_Audit_Report_Details]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Inventory_Audit_Report_Details]
(@FromDate DATETIME,@ToDate DATETIME,@ItemGCode VARCHAR(20),@ItemCode VARCHAR(20))
AS
BEGIN
	DECLARE @DocumentTable TABLE
(	
	
	DetailsName VARCHAR(50),
	ShortName VARCHAR(10),
	Code VARCHAR(10)
)

	INSERT INTO @DocumentTable
	SELECT 'Opening Balance','OB','-2'
	UNION ALL
	SELECT'A/R Invoices','IN', '13'
	UNION ALL
	SELECT'A/R Credit Memos','CN', '14'
	UNION ALL
	SELECT'Delivery','DN', '15'
	UNION ALL
	SELECT'Return','RE','16'
	UNION ALL
	SELECT'A/P Invoice','PU','18'
	UNION ALL
	SELECT'A/P Credit Memo','PC','19'
	UNION ALL
	SELECT'Goods Receipt PO','PD','20'
	UNION ALL
	SELECT'Goods Return','PR','21'
	UNION ALL
	SELECT'Goods Receipt','SI','59'
	UNION ALL
	SELECT'Goods Issue','SO','60'
	UNION ALL
	SELECT'Inventory Transfers','IT','67'
	UNION ALL
	SELECT'Landed Costs','IF','69'
	UNION ALL
	SELECT'Inventory Revaluations','IR','162'

DECLARE @InventoryDetails TABLE
(
	SI BIGINT PRIMARY KEY,
	[DocNum] VARCHAR(30),
	ItemCode VARCHAR(50),
	ItemName VARCHAR(100),
	ItmsGrpCod VARCHAR(50),
	ItmsGrpNam VARCHAR(100),
	DocDate DATETIME,
	CardCode VARCHAR(100),
	CardName VARCHAR(100),
	Remarks VARCHAR(100),
	ShortName VARCHAR(100),
	DetailsName VARCHAR(200),
	OB DECIMAL(18,5),
	OBV DECIMAL(18,2),
	InQty DECIMAL(18,5),
	InVal DECIMAL(18,2),
	OutQty DECIMAL(18,5),
	OutVal DECIMAL(18,2),
	CB DECIMAL(18,5),
	CLV DECIMAL(18,2)
)

INSERT INTO @InventoryDetails
SELECT * FROM
(
SELECT 1 SI,'' [DocNum],T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,CONVERT(DATETIME,@FromDate,101)[DocDate],''CardCode,''CardName,'Opening Balance'[Remarks],'OB' ShortName,'Opening'DetailsName,SUM(T0.OB)OB,SUM(OBV)OBV,0 InQty,0 InVal,0 OutQty,
0 OutVal,0 CB,0 CLV FROM
(
SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,InQty-OutQty OB, TransValue OBV,0 InQty,0 InVal,0 OutQty,0 OutVal,0 CB FROM OINM T0,OITM T1, OITB T2,@DocumentTable T3 WHERE DocDate<@FromDate AND T0.ItemCode=T1.ItemCode AND T0.TransType=T3.Code


AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR T1.ItmsGrpCod IS NULL) AND (T0.ItemCode=@ItemCode) -----AND InQty>0
--UNION ALL 
--SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,-OutQty OB,TransValue OBV,0 InQty,0 InVal,0 OutQty,0 OutVal,0 CB FROM OINM T0,OITM T1, OITB T2,@DocumentTable T3 WHERE DocDate<@FromDate AND T0.ItemCode=T1.ItemCode AND T0.TransType=T3.Code
--AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR T1.ItmsGrpCod IS NULL) AND (T0.ItemCode=@ItemCode) AND InQty>0
--UNION ALL 
--SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,0 OB,TransValue OBV,0 InQty,0 InVal,0 OutQty,0 OutVal,0 CB FROM OINM T0,OITM T1, OITB T2,@DocumentTable T3 WHERE DocDate<@FromDate AND T0.ItemCode=T1.ItemCode AND T0.TransType=T3.Code
--AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR T1.ItmsGrpCod IS NULL) AND (T0.ItemCode=@ItemCode) AND InQty+OutQty=0 ---(InQty+OutQty=0 AND OutQty=0)
)T0
GROUP BY T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam
UNION ALL

SELECT ROW_NUMBER()OVER(ORDER BY T0.DocDate)+1 SI,T0.BASE_REF [DocNum],T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.DocDate,T0.CardCode,T0.CardName,T0.[Remarks],T0.ShortName,T0.DetailsName,T0.OB,T0.OBV,T0.InQty, T0.InVal,T0.OutQty,
T0.OutVal OutVal,T0.CB,T0.CLV FROM
(
SELECT T0.TransNum,T0.BASE_REF,T0.DocLineNum,T0.DocTime,T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,T0.DocDate,T0.CardCode,T0.CardName,T0.JrnlMemo [Remarks],T3.ShortName,T3.DetailsName,0 OB,0 OBV,InQty InQty, TransValue InVal,0 OutQty,0 OutVal,
0 CB,0 CLV
FROM OINM T0,OITM T1, OITB T2,@DocumentTable T3 WHERE DocDate BETWEEN @FromDate AND @ToDate AND T0.ItemCode=T1.ItemCode AND T0.TransType=T3.Code
AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR T1.ItmsGrpCod IS NULL) AND (T0.ItemCode=@ItemCode ) AND InQty>0
UNION ALL
SELECT T0.TransNum,T0.BASE_REF,T0.DocLineNum,T0.DocTime,T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,T0.DocDate,T0.CardCode,T0.CardName,T0.JrnlMemo [Remarks],T3.ShortName,T3.DetailsName,0 OB,0 OBV,0 InQty, 0 InVal,OutQty OutQty,TransValue OutVal,0 

CB,0 CLV 
FROM OINM T0,OITM T1, OITB T2,@DocumentTable T3 WHERE DocDate BETWEEN @FromDate AND @ToDate AND T0.ItemCode=T1.ItemCode AND T0.TransType=T3.Code
AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR T1.ItmsGrpCod IS NULL) AND (T0.ItemCode=@ItemCode ) AND OutQty>0
----------UNION ALL
----------SELECT T0.TransNum,T0.BASE_REF,T0.DocLineNum,T0.DocTime,T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,T0.DocDate,T0.CardCode,T0.CardName,T0.JrnlMemo [Remarks],T3.ShortName,T3.DetailsName,0 OB,0 OBV,0 InQty, 0 InVal,OutQty OutQty,TransValue
 ---OutVal,0 
----------CB,0 CLV 
----------FROM OINM T0,OITM T1, OITB T2,@DocumentTable T3 WHERE DocDate BETWEEN @FromDate AND @ToDate AND T0.ItemCode=T1.ItemCode  AND T0.TransType=T3.Code
----------AND T1.ItmsGrpCod=T2.ItmsGrpCod AND (T1.ItmsGrpCod=@ItemGCode OR T1.ItmsGrpCod IS NULL) AND (T0.ItemCode=@ItemCode) AND InQty+OutQty=0
)T0
)T0
ORDER BY T0.SI ASC



 
DECLARE
	@SI BIGINT,
	@DocNum VARCHAR(30),
	@ItemCodes VARCHAR(50),
	@ItemName VARCHAR(100),
	@ItmsGrpCod VARCHAR(50),
	@ItmsGrpNam VARCHAR(100),
	@DocDate DATETIME,
	@CardCode VARCHAR(50),
	@CardName VARCHAR(100),
	@Remarks VARCHAR(100),
	@ShortName VARCHAR(100),
	@DetailsName VARCHAR(100),
	@OB DECIMAL(18,5),
	@OBV DECIMAL(18,2),
	@InQty DECIMAL(18,5),
	@InVal DECIMAL(18,2),
	@OutQty DECIMAL(18,5),
	@OutVal DECIMAL(18,2),
	@CB DECIMAL(18,5),
	@CLV DECIMAL(18,2)

	DECLARE Inventory_Cur CURSOR
	FOR SELECT * FROM @InventoryDetails ORDER BY SI
	OPEN Inventory_Cur
	FETCH NEXT FROM Inventory_Cur INTO @SI,@DocNum,@ItemCodes,@ItemName,@ItmsGrpCod,@ItmsGrpNam,@DocDate,@CardCode,@CardName,@Remarks,@ShortName,@DetailsName,@OB,@OBV,@InQty,@InVal,@OutQty,@OutVal,@CB,@CLV
	WHILE @@FETCH_STATUS=0
	BEGIN
	print(@SI)
		UPDATE @InventoryDetails
		SET CB=@OB+@InQty-@OutQty,CLV=@OBV+@InVal-ABS(@OutVal)
		WHERE SI=@SI

		UPDATE @InventoryDetails
		SET OB=@OB+@InQty-@OutQty,OBV=@OBV+@InVal-ABS(@OutVal)
		WHERE SI=@SI+1

		FETCH NEXT FROM Inventory_Cur INTO @SI,@DocNum,@ItemCodes,@ItemName,@ItmsGrpCod,@ItmsGrpNam,@DocDate,@CardCode,@CardName,@Remarks,@ShortName,@DetailsName,@OB,@OBV,@InQty,@InVal,@OutQty,@OutVal,@CB,@CLV
	END
	CLOSE Inventory_Cur
	DEALLOCATE Inventory_Cur


	SELECT SI,DocNum,ItemCode,ItemName,ItmsGrpCod,ItmsGrpNam,DocDate,CardCode,CardName,Remarks,ShortName,DetailsName,OB,OBV,InQty,InVal,OutQty,ABS(OutVal)OutVal,CB,CLV FROM @InventoryDetails ORDER BY SI

END


GO
