USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_MRR_Days_diff]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Mizan>
-- Create date: 	<24 Jan 2015>
-- =============================================

CREATE PROCEDURE [dbo].[@BGW_MRR_Days_diff]
	(@Fromdate DATETIME,@todate DateTime)
AS
BEGIN

	SET NOCOUNT ON;
	
	select T0.CardName,T0.docnum,T0.docdate,T0.DocDueDate, T2.Docdate
 from OPOR  T0,PDN1 T1,OPDN T2 where T0.docnum = T1.baseref and T2.DocEntry =T1.DocEntry 
 and      T0.docdate between @Fromdate  and @todate  --and  DateDiff(DAY, T2.Docdate,t0.DocDueDate )>=0 
 and T2.Docdate>=t0.DocDueDate
	group by T0.CardName,T0.docnum,T0.docdate,T0.DocDueDate, T2.Docdate
	order by T0.DocNum 



 end
GO
