USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Consolidate_Monthly_Sales_ItemWise]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Arup>
-- Create date: <20200301,,>
-- Description:	<@BGW_Consolidate_Monthly_Sales_ItemWise,,>
-- =============================================

CREATE PROCEDURE [dbo].[@BGW_Consolidate_Monthly_Sales_ItemWise]
	(@Fromdate DATETIME, @todate datetime,@GroupNam varchar(30),@ItemCode VARCHAR(20))
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Consolidate_Monthly_Sales_ItemWise')
	BEGIN
	 Drop table Temp_Consolidate_Monthly_Sales_ItemWise
	END

	
CREATE TABLE Temp_Consolidate_Monthly_Sales_ItemWise (cardcode Varchar (10),CardName varchar(100),
Sep Float,Oct Float,Nov Float,Dec Float,Jan Float,
Feb Float,Mar Float,Apr Float,May Float,Jun Float,
Jul Float,Aug Float,ItemGroup varchar(30))

INSERT INTO Temp_Consolidate_Monthly_Sales_ItemWise
	 
--============Main Query=====================
Select a.cardcode, max(a.Cardname) as [Cardname],
max(a.[Sep]) as [Sep],
max(a.[Oct]) as [Oct],
max(a.[Nov]) as [Nov],
Max(a.[Dec]) as [Dec],
Max(a.[Jan]) as [Jan],
Max(a.[Feb]) as [Feb],
Max(a.[Mar]) as [Mar],
Max(a.[Apr]) as [Apr],
Max(a.[May]) as [May],
Max(a.[Jun]) as [Jun],
Max(a.[Jul]) as [Jul],
Max(a.[Aug]) as [Aug],
max(a.ItemGroup) as [ItemGroup] 

from dbo.OINM I1
Join( 
--1
select N1.Cardcode,N1.CardName,

sum(Case DATENAME(month,N1.Docdate) when 'September' then (N1.outqty-N1.inqty) else 0 end) as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug ,n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode
union all

--2
select N1.Cardcode,N1.CardName,

0 as Sep,sum(Case DATENAME(month,N1.Docdate) when 'October' then (N1.outqty-N1.inqty) else 0 end) Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug ,n3.Itmsgrpnam as [ItemGroup] 
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode

union all

--3
select N1.Cardcode,N1.CardName,

0 as Sep,
0 as Oct,
sum(Case DATENAME(month,N1.Docdate) when 'November' then (N1.outqty-N1.inqty) else 0 end) as Nov,
0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug ,n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam ,N1.ItemCode

union all

--4
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,sum(Case DATENAME(month,N1.Docdate) when 'December' then (N1.outqty-N1.inqty) else 0 end) as Dec,0 as Jan,
0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug ,n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode
union all

--5
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,0 as Dec,sum(Case DATENAME(month,N1.Docdate) when 'January' then (N1.outqty-N1.inqty)
 else 0 end) as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug ,n3.Itmsgrpnam as [ItemGroup] 
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode

union all

--6
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,sum(Case DATENAME(month,N1.Docdate) when 'February' then 
(N1.outqty-N1.inqty) else 0 end) as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug,n3.Itmsgrpnam as [ItemGroup] 
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode
union all

--7
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,sum(Case DATENAME(month,N1.Docdate) when 'March' then
 (N1.outqty-N1.inqty) else 0 end) as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug ,n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam ,N1.ItemCode
union all

--8
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,sum(Case DATENAME(month,N1.Docdate) when 'April' 
then (N1.outqty-N1.inqty) else 0 end) as Apr,0 as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode
union all

--9
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,sum(Case DATENAME(month,N1.Docdate) when
 'May' then (N1.outqty-N1.inqty) else 0 end) as May,0 as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode
union all

--10
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,sum(Case DATENAME(month,N1.Docdate)
 when 'June' then (N1.outqty-N1.inqty) else 0 end) as Jun,0 as Jul,0 as Aug  ,n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode
union all

--11
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,
sum(Case DATENAME(month,N1.Docdate) when 'July' then (N1.outqty-N1.inqty) else 0 end) as Jul,
0 as Aug  ,n3.Itmsgrpnam as [ItemGroup]
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode

union all

--12
select N1.Cardcode,N1.CardName,

0 as Sep,0 as Oct,
0 as Nov,0 as Dec,0 as Jan,0 as Feb,0 as Mar,0 as Apr,0 as May,0 as Jun,0 as Jul,
sum(Case DATENAME(month,N1.Docdate) when 'August' then (N1.outqty-N1.inqty) else 0 end) as Aug,n3.Itmsgrpnam as [ItemGroup]  
From dbo.OINM N1, dbo.OITM N2,OITB N3 where  N1.DocDate between  @Fromdate and @Todate
and N1.TransType in (15,14) and  N1.Itemcode=N2.Itemcode
 and N2.Itmsgrpcod=N3.Itmsgrpcod and N3.Itmsgrpnam=@Groupnam AND N1.ItemCode=@ItemCode
group by N1.Cardcode,N1.CardName,n3.Itmsgrpnam,N1.ItemCode

)
a 
ON a.cardcode=I1.cardcode 

Group By a.cardcode ,I1.cardcode
Order By a.cardcode

delete from Temp_Consolidate_Monthly_Sales_ItemWise where [Sep] =0 and [Oct]=0 and [Nov]=0 and [Dec] =0 and 
[Jan] =0 and [Feb] =0 and [Mar] =0 and [Apr] =0 and [May] =0 and [Jun] =0 and [Jul] =0 and [Aug] =0 

SELECT   [CardName],
[Sep], [Oct], [Nov], [Dec],[Jan] , [Feb] , 
[Mar], [Apr], [May] ,[Jun] , [Jul] , [Aug],
([Sep]+ [Oct]+ [Nov]+[Dec]+[Jan] + [Feb]+ 
[Mar]+ [Apr]+ [May] +[Jun] + [Jul]+ [Aug]) [Total],[ItemGroup]

FROM Temp_Consolidate_Monthly_Sales_ItemWise 

order by [ItemGroup],[CardName]

END
GO
