USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Parent_Cullet]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Mizan>
-- Create date: 	<12 sep 2013>
-- =============================================

CREATE PROCEDURE [dbo].[@BGW_Parent_Cullet]
	(@Fromdate DATETIME,@todate DateTime)
AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Parent_Cullet')
 Drop table Temp_Parent_Cullet

update [@PARENT_CULLET_ROWS] set [U_Date] = (select U_date from [@PARENT_CULLET]
 where docentry=[@PARENT_CULLET_ROWS].docentry)

CREATE TABLE Temp_Parent_Cullet (Itemcode Varchar (8),Dscription varchar(100),
Opening numeric(10,0), Received numeric(10,0),Issued numeric(10,0),Closing numeric(10,0))
--Insert data into Temporary table
INSERT INTO Temp_Parent_Cullet

select 
o.U_ItemCode [Itemcode], o.U_Itemname [ItemDesc],
sum(isnull(O.U_Received,0)) -sum(isnull(O.U_Issued,0)) as [Opening],
0 as Received,0 as Issued, 0 as Closing from 
[dbo].[@PARENT_CULLET_ROWS] O where O.U_date < @Fromdate 

group by o.U_ItemCode, o.U_Itemname
--order by O.lineID
union all

select 
o.U_ItemCode [Itemcode], o.U_Itemname [ItemDesc],
0 as OP,
 sum(isnull(O.U_Received,0)) as Received,sum(isnull(O.U_Issued,0)) as Issued, 

0 as Closing from 
[dbo].[@PARENT_CULLET_ROWS] O where O.U_date between @Fromdate and @Todate

group by o.U_ItemCode, o.U_Itemname 

--   End Insertion----------

--delete from Temp_Parent_Cullet where [Opening] =0 and [received]=0 and [Issued]=0  

Select Itemcode,[Dscription]ItemName,sum(Opening) Opening,Sum(Received) Received,
Sum(Issued) Issued ,(sum(Opening)+Sum(Received)- Sum(Issued)) Closing from Temp_Parent_Cullet
group by Itemcode,[Dscription] order by Itemcode

end







GO
