USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Quarter_Prod_Sales_Stock_Analysis_By_Item]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Quarter_Prod_Sales_Stock_Analysis_By_Item]
(@FromDate DATETIME,@ToDate DATETIME,@ItmsGCode VARCHAR(10),@ItemsCode VARCHAR(20))
AS
BEGIN
DECLARE @QuarterTable TABLE
(
	QuarterNo INT,
	QuarterName VARCHAR(10),
	QuarterStart DATETIME,
	QuarterEnd DATETIME,
	LastDate DATETIME
)
;WITH Quarters AS
(
    SELECT 
        DATEFROMPARTS(YEAR(@FromDate), 
                      ((DATEPART(QUARTER, @FromDate)-1) * 3) + 1, 
                      1) AS QuarterStart
    UNION ALL
    SELECT DATEADD(QUARTER, 1, QuarterStart)
    FROM Quarters
    WHERE DATEADD(QUARTER, 1, QuarterStart) <= @ToDate
)
INSERT INTO @QuarterTable
SELECT DATEPART(QUARTER,QuarterStart)[QuaterNo],'Q'+CAST(DATEPART(QUARTER,QuarterStart) AS VARCHAR)[QuaterName],
    QuarterStart,
    DATEADD(DAY, -1, DATEADD(QUARTER, 1, QuarterStart)) AS QuarterEnd,
	CASE WHEN DATEADD(DAY, -1, DATEADD(QUARTER, 1, QuarterStart))> @ToDate THEN @ToDate ELSE DATEADD(DAY, -1, DATEADD(QUARTER, 1, QuarterStart)) END AS [LastDate]
FROM Quarters
OPTION (MAXRECURSION 100);


DECLARE @FGTable TABLE
(
	ItemCode VARCHAR(20),
	ItemName VARCHAR(50),
	ItmsGCode VARCHAR(20),
	ItmsGname VARCHAR(50),
	QuarterNo INT,
	QuarterName VARCHAR(10),
	QuarterStart DATETIME,
	QuarterEnd DATETIME,
	LastDate DATETIME
)

INSERT INTO @FGTable
SELECT T1.ItemCode,T1.ItemName,T2.ItmsGrpCod,T2.ItmsGrpNam,T0.QuarterNo,T0.QuarterName,T0.QuarterStart,T0.QuarterEnd,T0.LastDate FROM @QuarterTable T0
CROSS JOIN OITM T1
INNER JOIN OITB T2 ON T2.ItmsGrpCod=T1.ItmsGrpCod
WHERE T1.ItemCode LIKE '16%' AND T1.ItmsGrpCod=@ItmsGCode AND T1.ItemCode=@ItemsCode
ORDER BY ItemCode,QuarterNo



DECLARE @FGStockStatus TABLE
(
	SI INT,
	ItmsGrpCode VARCHAR(20),
	ItmsGrpName VARCHAR(50),
	ItemCode VARCHAR(20),
	ItemName VARCHAR(50),
	YearName INT,
	QuarterNo INT,
	QuarterName VARCHAR(5),
	QuarterStart DATETIME,
	QuarterEnd DATETIME,
	LastDate DATETIME,
	NoOfDays INT,
	NoOfMonth INT,
	SalesVol DECIMAL(18,2),
	ClosingStock DECIMAL(18,2),
	IssueToOtherItem DECIMAL(18,2)
)

DECLARE	@ItemCode VARCHAR(20),
	@ItemName VARCHAR(50),
	@ItmsGCode1 VARCHAR(20),
	@ItmsGname VARCHAR(50),
	@QuarterNo INT,
	@QuarterName VARCHAR(10),
	@QuarterStart DATETIME,
	@QuarterEnd DATETIME,
	@LastDate DATETIME,
	@SI INT=1

DECLARE Stock_Cur CURSOR
FOR SELECT ItemCode,ItemName,ItmsGCode,ItmsGname,QuarterNo,QuarterName,QuarterStart,QuarterEnd,LastDate FROM @FGTable
OPEN Stock_Cur
FETCH NEXT FROM Stock_Cur INTO @ItemCode,@ItemName,@ItmsGCode1,@ItmsGname,@QuarterNo,@QuarterName,@QuarterStart,@QuarterEnd,@LastDate
WHILE @@FETCH_STATUS=0
BEGIN
	DECLARE @SalesVol DECIMAL(18,2),@ClosingStock DECIMAL(18,2),@IssueToOtherItem DECIMAL(18,2)
	SELECT @SalesVol=SUM(OutQty) FROM OINM WHERE ItemCode=@ItemCode AND DocDate BETWEEN @QuarterStart AND @QuarterEnd AND TransType=15
	SELECT @ClosingStock=SUM(InQty-OutQty) FROM OINM WHERE ItemCode=@ItemCode AND DocDate<=@QuarterEnd
	SELECT @IssueToOtherItem=SUM(OutQty) FROM OINM WHERE ItemCode=@ItemCode AND DocDate BETWEEN @QuarterStart AND @QuarterEnd AND TransType=60 AND JrnlMemo LIKE '%Goods Issue'
	INSERT INTO @FGStockStatus
	SELECT @SI,@ItmsGCode1,@ItmsGname,@ItemCode,@ItemName,YEAR(@QuarterStart),@QuarterNo,@QuarterName,@QuarterStart,@QuarterEnd,@LastDate,DATEDIFF(d,@QuarterStart,@LastDate)+1,DATEDIFF(M,@QuarterStart,@LastDate)+1,@SalesVol,@ClosingStock,@IssueToOtherItem

	SET @SI=@SI+1

	FETCH NEXT FROM Stock_Cur INTO @ItemCode,@ItemName,@ItmsGCode1,@ItmsGname,@QuarterNo,@QuarterName,@QuarterStart,@QuarterEnd,@LastDate
END
CLOSE Stock_Cur
DEALLOCATE Stock_Cur


SELECT T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.QuarterNo,T0.QuarterName,T1.QuarterStart,T1.QuarterEnd,ISNULL(T2.OB,0)OB,SUM(T0.ProdQty)ProdQty,SUM(T0.TimesOfProd)TimesOfProd,
ISNULL(T3.SalesVol,0)SalesVol,ISNULL(T3.IssueToOtherItem,0)IssueToOtherItem,ISNULL(T3.ClosingStock,0)ClosingStock  FROM
(
	SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,DATENAME(QUARTER,T0.DocDate)QuarterNo,'Q'+CAST(DATENAME(QUARTER,T0.DocDate) AS VARCHAR) QuarterName,SUM(T0.InQty)ProdQty,COUNT(T0.DocDate)TimesOfProd 
	FROM OINM T0, OITM T1, OITB T2 
	WHERE T0.DocDate BETWEEN @FromDate AND @ToDate 
	AND T0.TransType=59 
	AND T0.ItemCode=T1.ItemCode 
	AND T1.ItmsGrpCod=T2.ItmsGrpCod 
	AND T1.ItmsGrpCod=@ItmsGCode 
	AND T1.ItemCode=@ItemsCode
	----AND JrnlMemo LIKE '%Receipt from Production'
	GROUP BY T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,DATENAME(QUARTER,T0.DocDate)
	UNION ALL
	SELECT T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,DATENAME(QUARTER,T0.DocDate)QuarterNo,'Q'+CAST(DATENAME(QUARTER,T0.DocDate) AS VARCHAR) QuarterName,-SUM(T0.OutQty)ProdQty,-COUNT(T0.DocDate)TimesOfProd 
	FROM OINM T0, OITM T1, OITB T2 
	WHERE T0.DocDate BETWEEN @FromDate AND @ToDate 
	AND T0.TransType=60 
	AND T0.ItemCode=T1.ItemCode 
	AND T1.ItmsGrpCod=T2.ItmsGrpCod 
	AND T1.ItmsGrpCod=@ItmsGCode 
	AND T1.ItemCode=@ItemsCode
	----AND JrnlMemo LIKE '%Issue for Production'
	GROUP BY T0.ItemCode,T1.ItemName,T1.ItmsGrpCod,T2.ItmsGrpNam,DATENAME(QUARTER,T0.DocDate)
)T0
LEFT JOIN @FGTable T1 ON T1.ItemCode=T0.ItemCode AND T0.QuarterNo=T1.QuarterNo AND T0.ItmsGrpCod=T1.ItmsGCode
LEFT JOIN (SELECT T0.ItemCode,SUM(T0.InQty-T0.OutQty)OB,@FromDate OBdate FROM OINM T0,OITM T1 WHERE T0.ItemCode=T1.ItemCode AND T1.ItmsGrpCod=@ItmsGCode AND DocDate<@FromDate AND T0.ItemCode=@ItemsCode GROUP BY T0.ItemCode)T2 ON T2.ItemCode=T0.ItemCode
LEFT JOIN @FGStockStatus T3 ON T3.ItemCode=T0.ItemCode AND T0.QuarterNo=T3.QuarterNo AND T3.QuarterStart=T1.QuarterStart AND T3.QuarterEnd=T1.QuarterEnd
GROUP BY T0.ItemCode,T0.ItemName,T0.ItmsGrpCod,T0.ItmsGrpNam,T0.QuarterNo,T0.QuarterName,T1.QuarterStart,T1.QuarterEnd,T2.OB,T3.SalesVol,T3.ClosingStock,T3.IssueToOtherItem
ORDER BY ItemCode,QuarterNo
END

--SELECT * FROM OITB

GO
