USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Bank_Ledger]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[@BGWL_Bank_Ledger]
	(@FromDATE DATETIME, @TODATE datetime, @ACCname varchar(100))
AS
BEGIN

DECLARE @ID INT

DECLARE @Debit FLOAT
DECLARE @Credit FLOAT
DECLARE @BALANCE  FLOAT
DECLARE @LASTCLOSINGBALANCE FLOAT


	SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Bank_Ledger')
BEGIN
 Drop table Bank_Ledger
END
--******************************Last update 12/04/2016 add two column [User Check No],[Transaction Id] according to user requirement******************************
CREATE TABLE Bank_Ledger (ID INT,POSTDATE DATETIME,Narration varchar(150),Checkno varchar(50),
Debit Float, Credit FLOAT, Balance Float,[User Check No] NVARCHAR(50),[Transaction Id] VARCHAR(20),[Pay to order of] VARCHAR(100) )

INSERT INTO Bank_Ledger 

SELECT ROW_NUMBER() OVER (ORDER BY A.[Posting Date],A.[GL Account / Vendor Code]) ,A.* FROM (

Select @Fromdate as [Posting Date]

,'*Balance as on' as [GL Account / Vendor Code]
,0 as [Check No]
,0 as Debit, 0 as Credit
,sum(t1.Debit-t1.Credit) as Balance,'0' AS [User Check No],'0' AS [Transaction Id],'' [Pay to Order of]

from JDT1 t1,OACT T2 where  
    
t1.RefDate < @fromdate
and T2.acctname=@Accname and T2.Acctcode=T1.account

union all


Select t1.RefDate as [Posting Date]

,t3.Cardname as [GL Account / Vendor Code]
,0 as [Check No]
,t1.Debit
,0 as Credit,0 as balance,'0' AS [User Check No],'0' AS [Transaction Id],'' [Pay to Order of]
from JDT1 t1,OCRD T3,OACT T2 where  T1.ContraAct=T3.cardcode and   
t1.RefDate between @Fromdate and @todate and T2.Acctcode=T1.account
and T2.acctname=@AccName 


 
Union all
 
select T1.duedate as [Posting Date],(isnull(T4.Cardcode,T4.CardName) +' - '+ isnull(t4.Cardname,T4.cardcode))
 as [GL Account / Vendor Code],T2.checknum as [Check No],0 as Debit,
T1.Credit ,0 as Balance,T2.U_CheckNo AS [User Check No],T4.TransId AS [Transaction Id],''[Pay to Order of]
from JDT1 T1, VPM1 T2,OACT T3,OVPM T4
 where   t1.baseref=T2.docnum and
t1.dueDate between @Fromdate and @Todate and T3.Acctcode=T1.account
and T3.acctname=@AccName


 and T1.duedate=T2.duedate 
and T4.docnum=T2.docnum

)a
ORDER BY A.[Posting Date],[GL Account / Vendor Code]
--===================================

DECLARE CUR_CURREG CURSOR
	FOR SELECT [ID],[DEBIT],[CREDIT],[BALANCE] FROM Bank_Ledger
	OPEN CUR_CURREG
	FETCH NEXT FROM CUR_CURREG INTO @ID,@Debit,@CREDIT,@BALANCE 
	
	WHILE @@FETCH_STATUS=0
	BEGIN
		
		IF @ID>1 
		BEGIN
			UPDATE Bank_Ledger SET [BALANCE]=(@LASTCLOSINGBALANCE+@Debit-@CREDIT)
			WHERE ID=@ID
		END
		SET @LASTCLOSINGBALANCE= (SELECT [BALANCE] FROM Bank_Ledger WHERE ID=@ID)
		FETCH NEXT FROM CUR_CURREG INTO @ID,@Debit,@CREDIT,@BALANCE 
	END
	CLOSE CUR_CURREG
	DEALLOCATE CUR_CURREG 


--====================================



delete from Bank_Ledger where Debit=0 and Credit=0 and narration!='*Balance as on'

--delete from Bank_ledger where narration='NULL'
select *,(SELECT VendorName FROM OCHO WHERE TransRef=(SELECT DISTINCT DocNum FROM OVPM WHERE TransId=Bank_Ledger.[Transaction Id]))VendorName from Bank_Ledger 
--order by POSTDATE,balance desc 

--SELECT ROW_NUMBER() OVER (ORDER BY Docdate )ID,* FROM Bank_Ledger



end
GO
