USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_Customer_Trade_Ledger_V2]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_Customer_Trade_Ledger_V2]
(@FromDate DATETIME, @ToDate DATETIME,@Custname VARCHAR(30))
AS
BEGIN

DECLARE @ID INT

DECLARE @Debit FLOAT
DECLARE @Credit FLOAT
DECLARE @BALANCE  FLOAT
DECLARE @LASTCLOSINGBALANCE FLOAT



DECLARE @temExtraJournal TABLE
(
	PostDate DATETIME,
	AccCode VARCHAR(20),
	Balance DECIMAL(18,2)
)

---===============================Rejected at 23 Oct 2019
INSERT INTO @temExtraJournal
SELECT T.PostDate,T.AccCode,T.Balance FROM
(
SELECT '20130831' PostDate,'CT00000243' AccCode,-4354.88 Balance
--UNION ALL
--SELECT '20130831' PostDate,'CT00000318' AccCode,1441.62 Balance
UNION ALL
SELECT '20130831'PostDate,'CT00000383' AccCode,103.58 Balance
UNION ALL		 					   
SELECT '20130831'PostDate,'CT00000410' AccCode,1079.04 Balance
UNION ALL		 					  
SELECT '20130831'PostDate,'CT00000455' AccCode,1481.65 Balance
UNION ALL		 					   
SELECT '20130831'PostDate,'CT00000463' AccCode,16.94 Balance
UNION ALL		 					   
SELECT '20130831'PostDate,'CT00000468' AccCode,232.05 Balance	
)T

---=======================================
--===========================================OB updated date: 20190908==============================
SELECT * INTO #temTradeOB FROM
(
---=================update date:20190909================
select T0.RefDate as date,T0.ContraAct,T1.CardName,(LineMemo+' '+ T0.ContraAct)Narration,SUM(T0.Credit)as [Debit],
SUM(T0.Debit)[Credit],0 [Balance] from JDT1 T0,OCRD T1 WHERE LineMemo='Business Partners Opening Balance' AND ContraAct LIKE 'CT%'
AND T0.ContraAct=T1.CardCode AND T0.ContraAct=@Custname
GROUP BY T0.RefDate,T0.ContraAct,T1.CardName,LineMemo

UNION ALL
select T0.RefDate as date,T0.ContraAct,T1.CardName,(LineMemo+' '+ T0.ContraAct)Narration,SUM(T0.Credit)as [Debit],
SUM(T0.Debit)[Credit],0 [Balance] from JDT1 T0,OCRD T1 WHERE LineMemo LIKE 'Business Partners Opening Balance(Reversal)%' AND ContraAct LIKE 'CT%'
AND T0.ContraAct=T1.CardCode AND T0.ContraAct=@Custname
GROUP BY T0.RefDate,T0.ContraAct,T1.CardName,LineMemo

UNION ALL

Select  N1.refdate  as date,N1.Contraact, N2.cardname,('AR Invoice '+ CONVert(varchar,N1.Ref1)) as Narration,
 Sum(N1.Credit) as [Debit],
0 as [Credit],
------===update on 26022016
 --Sum((N1.Credit )-N1.Debit) as  [Balance]
 0 as  [Balance]
-- 0 as  [Balance]
 ------== End=====
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate < @fromdate
 and N1.Contraact=N2.cardcode  and N2.CardCode=@Custname AND N1.TransType=13--N1.TransType NOT IN (-2)
Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N1.Ref1

UNION ALL

Select  N1.refdate  as date,N1.Contraact, N2.cardname,
('Incoming Payment- '+ CONVert(varchar,N1.Ref1)  )as Narration, 0 as [Debit],
N1.Debit as [Credit], 0 as  [Balance]
From dbo.JDT1 N1 , dbo.OCRD N2--,RCT1 N3
Where N1.RefDate < @fromdate --update 10062012---check --and N3.docnum=N1.sourceid
 and N1.Contraact=N2.cardcode  and N2.CardCode=@Custname and N1.Account<>'102003017' ------------------
and N1.Account<>'102003028' 
--================update 01122012 for discount value==
--and N1.Ref1!='' 
AND TransType=24
--===========================
--Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N1.Ref1,N1.Line_id,N1.debit

UNION ALL


Select  N1.Trsfrdate  as date,N2.cardcode, N2.cardname,('Incoming Payment  AIT -  ' +CONVert(varchar,N3.BaseRef)) as Narration, 0 as [Debit],
/*sum(N1.Trsfrsum)*/SUM(N3.Debit) as [Credit], 0 as  [Balance]
From ORCT N1, Ocrd N2,JDT1 N3
Where N1.TrsfrDate < @fromdate and N1.canceled='N' AND N1.TransId=N3.TransId AND N1.TrsfrAcct=N3.Account
 and N2.CardCode=@Custname and N1.trsfracct='102003017' and N2.CardCode =N1.cardcode -------------------
Group By N2.Cardname,N1.Trsfrdate,N2.cardcode,N3.BaseRef

UNION ALL

----=================== Added date 20220829--Arup --===========  A mistake is happened due to issue a cheque instead of transfer in AIT payment.
Select  N1.DocDate  as date,N2.cardcode, N2.cardname,('Incoming Payment  AIT -  '  +CONVert(varchar,N3.BaseRef)) as Narration, 0 as [Debit],
/*sum(N1.Trsfrsum)*/SUM(N3.Debit) as [Credit], 0 as  [Balance]
From ORCT N1, Ocrd N2,JDT1 N3
Where N1.DocDate < @fromdate and N1.canceled='N' AND N1.TransId=N3.TransId AND N1.CheckAcct=N3.Account
 and N2.CardCode=@Custname and N1.CheckAcct='102003017' and N2.CardCode =N1.cardcode AND N1.trsfracct NOT IN ('102003017')-------------------
Group By N2.Cardname,N1.DocDate,N2.cardcode,N3.BaseRef
---========================================
Union All


Select  N1.refdate  as date,N1.Contraact, N2.cardname,'VAT' as Narration, 0 as [Debit],
sum(N1.Debit) as [Credit], 0 as  [Balance]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate < @fromdate
 and N1.Contraact=N2.cardcode  and N2.CardCode=@Custname and N1.Account='102003028' -------------------
Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact

Union All

Select  N1.refdate  as date,N1.shortname, N2.cardname,
('Adjustment Payment   '+ CONVert(varchar,N1.linememo)) as Narration,N1.Debit as [Dedit], 
 (N1.Credit) as [Credit], 0 as  [Balance]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate < @fromdate and N1.transtype=30
 and N1.shortname=N2.cardcode
 --AND N1.ContraAct=N2.CardCode  
 and N2.CardCode=@Custname -----------------------

 UNION ALL
  --=================================Credit memo 20190912============
 Select  N1.refdate  as date,N1.ShortName, N2.cardname,('AR Credit Memo '+ CONVert(varchar,N1.Ref1)) as Narration,
 0 as [Debit],
-SUM(N1.Debit) as [Credit],
------===update on 26022016
 --Sum((N1.Credit )-N1.Debit) as  [Balance]
 0 as  [Balance]
-- 0 as  [Balance]
 ------== End=====
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate < @fromdate
 and N1.ShortName=N2.cardcode  and N2.CardCode=@Custname AND N1.TransType=14 AND N1.ContraAct IN ('3101','3102','3103','3104') --N1.TransType NOT IN (-2)
Group By N2.Cardname,N1.refdate,n1.linememo,N1.ShortName,N1.Ref1


UNION ALL
Select  N1.refdate  as date,N1.ContraAct shortname, N2.cardname,
('Payment return   '+ CONVert(varchar,N1.linememo)) as Narration,N1.Credit as [Dedit], 
 (N1.Debit) as [Credit], 0 as  [Balance]
From dbo.JDT1 N1 , dbo.OCRD N2
Where N1.RefDate < @fromdate and N1.transtype=46
 and N1.ContraAct=N2.cardcode
 --AND N1.ContraAct=N2.CardCode  
 and N2.CardCode=@Custname
 --AND N1.ContraAct=@Custname


 )T
---========================================================================




SET NOCOUNT ON;
	

IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Trade')
BEGIN
 Drop table Temp_Trade
END

CREATE TABLE Temp_Trade (SLNO int,DOCDATE DATETIME,Cardcode varchar(25),Cardname varchar(100),
Narration varchar(500),Debit Numeric(10,2), Credit Numeric(10,2),Balance Numeric(10,2) )


SELECT ROW_NUMBER() OVER (ORDER BY A.DATE,A.CreateTime,Narration)SLNO, A.date DOCDATE,A.ContraAct Cardcode,A.CardName Cardname,A.Narration,A.Debit,A.Credit,A.Balance,A.DocNum,A.VatSum,A.DiscSum,A.PONO INTO #Temp_Trade FROM
(
SELECT date,Contraact,cardname,Narration,Debit,Credit,SUM(Balance)Balance,CreateTime,'' DocNum,0 VatSum,0 DiscSum,'' [PONO] FROM 
(
	SELECT @FromDATE as date,T0.ContraAct,T0.CardName,'**Balance as on' as Narration,
	convert(char,0.00) as [Debit],convert(char,0.00) as [Credit],(sum(T0.Debit)-sum(T0.Credit)) as  [Balance],0 CreateTime FROM #temTradeOB T0
	GROUP BY T0.ContraAct,T0.CardName

 )H
 GROUP BY date,Contraact,cardname,Narration,Debit,Credit,CreateTime

Union All

Select  N1.refdate  as date,N1.Contraact, N2.cardname,('AR Invoice '+ CONVert(varchar,N1.Ref1)) as Narration,
 SUM(N1.Credit) as [Debit],
0 as [Credit],
------===update on 26022016
 --Sum((N1.Credit )-N1.Debit) as  [Balance]
 0 as  [Balance],N3.CreateTime,N3.BaseRef DocNum,MAX(T4.VatSum)VatSum,MAX(T4.DiscSum)DiscSum,[dbo].[fn_Concate_PO_String](N3.BaseRef)[PONO]
-- 0 as  [Balance]
 ------== End=====
From dbo.JDT1 N1 , dbo.OCRD N2,OJDT N3,(SELECT T0.DocNum,T0.CardCode,T0.VatSum,T0.DiscSum FROM OINV T0
WHERE T0.CardCode=@Custname AND T0.DocDate BETWEEN @FromDate AND @ToDate) T4
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate
 and N1.Contraact=N2.cardcode  and N2.CardCode=@Custname AND N1.TransType=13 AND N1.TransId=N3.TransId AND N3.BaseRef=T4.DocNum
Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N1.Ref1,N3.CreateTime,N3.BaseRef



Union All
--Updated 21-03-12

Select  N1.refdate  as date,N1.Contraact, N2.cardname,
('Incoming Payment- '+ CONVert(varchar(500),N1.Ref1)  )as Narration, 0 as [Debit],
N1.Debit as [Credit], 0 as  [Balance],N3.CreateTime,N3.BaseRef DocNum,0 VatSum,0 DiscSum,[dbo].[GetFirstNumericChunk](T4.U_SORef) [PONO]
From dbo.JDT1 N1 , dbo.OCRD N2,OJDT N3,(SELECT T0.DocNum,T0.CardCode,T0.Comments,T0.VatSum,T0.U_SORef FROM ORCT T0 WHERE CardCode=@Custname AND T0.DocDate BETWEEN @FromDate AND @ToDate) T4
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate AND N1.TransId=N3.TransId  AND N3.BaseRef=T4.DocNum --update 10062012---check --and N3.docnum=N1.sourceid
 and N1.Contraact=N2.cardcode  and N2.CardCode=@Custname and N1.Account<>'102003017' ------------------
and N1.Account<>'102003028' 
--================update 01122012 for discount value==
and N1.Ref1!='' AND N1.TransType=24
--===========================
--Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N1.Ref1,N1.Line_id,N1.debit

Union All


---============================================= This portion added at 21 Nov 2023 to show reverse and regular entry for AIT payment.
Select  N1.Trsfrdate  as date,N2.cardcode, N2.cardname,CASE WHEN N3.Debit<0 THEN ('Reverse Entry Incoming Payment  AIT - '+CONVert(varchar,N3.BaseRef)) ELSE ('Incoming Payment  AIT -  ' +CONVert(varchar,N3.BaseRef) )END as Narration, 0 as [Debit],
/*sum(N1.Trsfrsum)*/N3.Debit as [Credit], 0 as  [Balance],N4.CreateTime,N4.BaseRef DocNum,0 VatSum,0 DiscSum,[dbo].[GetFirstNumericChunk](N1.U_SORef)[PONO]
From ORCT N1, Ocrd N2,JDT1 N3,OJDT N4
Where N1.TrsfrDate >= @fromdate and N1.TrsfrDate <= @Todate AND N1.DocNum=N4.BaseRef AND N3.TransId=N4.TransId
----AND  N1.TransId=N3.TransId 
AND N1.TrsfrAcct=N3.Account
 and N2.CardCode=@Custname and N1.trsfracct='102003017' and N2.CardCode =N1.cardcode AND N4.TransType=24-------------------


UNION ALL
----=================== Added date 20220829--Arup --===========  A mistake is happened due to issue a cheque instead of transfer in AIT payment.
Select  N1.DocDate  as date,N2.cardcode, N2.cardname,('Incoming Payment  AIT -  ' +CONVert(varchar,N3.BaseRef) ) as Narration, 0 as [Debit],
/*sum(N1.Trsfrsum)*/SUM(N3.Debit) as [Credit], 0 as  [Balance],N4.CreateTime,N4.BaseRef DocNum,0 VatSum,0 DiscSum,[dbo].[GetFirstNumericChunk](N1.U_SORef) [PONO]
From ORCT N1, Ocrd N2,JDT1 N3,OJDT N4
Where N1.DocDate >= @fromdate and N1.DocDate <= @Todate and N1.canceled='N' AND  N1.TransId=N3.TransId AND N1.CheckAcct=N3.Account AND N3.TransId=N4.TransId
 and N2.CardCode=@Custname and N1.CheckAcct='102003017' and N2.CardCode =N1.cardcode  AND (N1.trsfracct NOT IN ('102003017') OR N1.trsfracct  IS NULL)-------------------
Group By N2.Cardname,N1.DocDate,N2.cardcode,N3.BaseRef,N4.CreateTime,N4.BaseRef,[dbo].[GetFirstNumericChunk](N1.U_SORef)
-----=============================================

Union All


Select  N1.refdate  as date,N1.Contraact, N2.cardname,'VAT' as Narration, 0 as [Debit],
sum(N1.Debit) as [Credit], 0 as  [Balance],N3.CreateTime,N3.BaseRef DocNum,0 VatSum,0 DiscSum,'' [PONO]
From dbo.JDT1 N1 , dbo.OCRD N2,OJDT N3
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate AND N1.TransId=N3.TransId
 and N1.Contraact=N2.cardcode  and N2.CardCode=@Custname and N1.Account='102003028' -------------------
Group By N2.Cardname,N1.refdate,n1.linememo,N1.Contraact,N3.CreateTime,N3.BaseRef
Union All

Select  N1.refdate  as date,N1.shortname, N2.cardname,
('Adjustment Payment   '+ CONVert(varchar(500),N1.linememo)) as Narration,N1.Debit as [Dedit], 
 (N1.Credit) as [Credit], 0 as  [Balance],N3.CreateTime,N3.BaseRef DocNum,0 VatSum,0 DiscSum,'' [PONO]
From dbo.JDT1 N1 , dbo.OCRD N2,OJDT N3
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate  and N1.transtype=30 AND N1.TransId=N3.TransId
and N1.shortname=N2.cardcode  
 --AND N1.ContraAct=N2.CardCode 
 and N2.CardCode=@Custname -----------------------


 UNION ALL
 --=================================Credit memo 20190912============
 Select  N1.refdate  as date,N1.ShortName, N2.cardname,('AR Credit Memo '+ CONVert(varchar,N1.Ref1)) as Narration,
 0 as [Debit],
-SUM(N1.Debit) as [Credit],
------===update on 26022016
 --Sum((N1.Credit )-N1.Debit) as  [Balance]
 0 as  [Balance],N3.CreateTime,N3.BaseRef DocNum,0 VatSum,0 DiscSum,'' [PONO]
-- 0 as  [Balance]
 ------== End=====
From dbo.JDT1 N1 , dbo.OCRD N2,OJDT N3
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate AND N1.TransId=N3.TransId
 and N1.ShortName=N2.cardcode  and N2.CardCode=@Custname AND N1.TransType=14 AND N1.ContraAct IN ('3101','3102','3103','3104') --N1.TransType NOT IN (-2)
Group By N2.Cardname,N1.refdate,n1.linememo,N1.ShortName,N1.Ref1,N3.CreateTime,N3.BaseRef


Union All

Select  N1.refdate  as date,N1.ContraAct ShortName, N2.cardname,
('Return Payment   '+ CONVert(varchar(500),N1.linememo)) as Narration,N1.Credit as [Dedit], 
 (N1.Debit) as [Credit], 0 as  [Balance],N3.CreateTime,N3.BaseRef DocNum,0 VatSum,0 DiscSum,'' [PONO]
From dbo.JDT1 N1 , dbo.OCRD N2,OJDT N3
Where N1.RefDate >= @fromdate and N1.RefDate <= @Todate  and N1.transtype=46 AND N1.TransId=N3.TransId
and N1.ContraAct=N2.cardcode  
 --AND N1.ContraAct=N2.CardCode 
 and N2.CardCode=@Custname

 
)
A 
order by A.date,A.CreateTime,Narration

DECLARE CUR_CURREG CURSOR
	FOR SELECT [SLNO],[DEBIT],[CREDIT],[BALANCE] FROM #Temp_Trade
	OPEN CUR_CURREG
	FETCH NEXT FROM CUR_CURREG INTO @ID,@Debit,@CREDIT,@BALANCE 	
	WHILE @@FETCH_STATUS=0
	BEGIN		
		IF @ID>1 
		BEGIN
			UPDATE #Temp_Trade SET [BALANCE]=(@LASTCLOSINGBALANCE+@Debit-@CREDIT)
			WHERE SLNO=@ID
		END
		ELSE
		BEGIN
			UPDATE #Temp_Trade SET [Balance]=([Balance]+@Debit-@Credit)
		END 
		SET @LASTCLOSINGBALANCE= (SELECT [Balance] FROM #Temp_Trade WHERE SLNO=@ID)
		FETCH NEXT FROM CUR_CURREG INTO @ID,@Debit,@CREDIT,@BALANCE 
	END
	CLOSE CUR_CURREG
	DEALLOCATE CUR_CURREG 
--=============================================


delete from #Temp_Trade where Debit=0 and Credit=0  and Narration!='**Balance as on'

--select * from Temp_Trade 

--SELECT ROW_NUMBER() OVER (ORDER BY Docdate)ID,SLNO,DOCDATE,Cardcode ,Cardname ,Narration ,Debit ,Credit ,(Debit-Credit ) Balance FROM Temp_Trade 
SELECT ROW_NUMBER() OVER (ORDER BY Docdate)ID,* FROM #Temp_Trade 

END

GO
