USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_PurchaseBook_Musak-16]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_PurchaseBook_Musak-16] 
@FromDate DATETIME,
@ToDate DATETIME,
@GroupCode VARCHAR(20),
@ItemCode VARCHAR(30)
AS
BEGIN
---SET @FromDate='09/01/2018'
--SET @ToDate='09/30/2018'

DECLARE @ItemName VARCHAR(100)
SELECT @ItemName=ItemName FROM OITM WHERE ItemCode=@ItemCode
DECLARE @OpeningDate DATETIME='08/31/2011',@OpeningStartDate DATETIME='08/31/2010'


DECLARE 
@OBStock INT=1,
@OBIssue INT=2,
@OBWrongStock INT=3,
@OBPurchase INT=4,
@OBReturn INT=5,
@OBAPCreditMemo INT=6,
@CurrntPurchase INT=7,
@GoodsReturnCurrent INT=8,
@APCreditMemoCurrent INT=9,
@IssueCurrent INT=10,
@WrongStockCurrent INT=11

-- Opening Balance---
SELECT * INTO #temOB FROM
(
--SELECT DocDate,ISNULL(InQty,0) OBqty,ISNULL(TransValue,0) OBVal,0 ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
--'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
--'Upload OB:- '+JrnlMemo Remark,@OBStock DocType FROM OINM 
--WHERE JrnlMemo IN('Opening Stock on 31/08/10%','Goods Receipt') AND ItemCode =@ItemCode AND DocDate<@FromDate ---BETWEEN @OpeningStartDate AND @OpeningDate

SELECT DocDate,ISNULL(InQty,0)-ISNULL(OutQty,0) OBqty,ISNULL(TransValue,0) OBVal,0 ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
'' BIN,'' Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Upload OB:- '+JrnlMemo Remark,1 DocType FROM OINM 
WHERE ItemCode =@ItemCode AND DocDate < @FromDate
/*
UNION ALL
SELECT DISTINCT T0.DocDate,-T1.Quantity OBqty,T2.TransValue OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Goods Issue for Production OB:- '+T0.JrnlMemo Remark,@OBIssue DocType  
FROM OIGE T0,IGE1 T1,OINM T2 
WHERE
T0.DocNum=T2.BASE_REF
AND T1.ItemCode=T2.ItemCode
AND T1.ItemCode=@ItemCode 
AND T0.DocEntry=T1.DocEntry 
AND T0.DocDate <@FromDate-->@OpeningDate AND T0.DocDate<@FromDate

UNION ALL

--SELECT DocDate,ISNULL(InQty,0) OBqty,ISNULL(TransValue,0) OBVal,0 ChallanId,'' PurDate,'' VendorName,'' Address,
--'' BIN,Dscription Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
--'Goods receipt due to wrong entry OB:- '+JrnlMemo Remark FROM OINM 
--WHERE JrnlMemo IN('Goods Receipt') AND ItemCode =0701001 AND DocDate>'08/31/2010' AND DocDate<@FromDate
SELECT DISTINCT T0.DocDate,T1.Quantity OBqty,T2.TransValue OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Goods Receipt for Wrong Entry OB:- '+T0.JrnlMemo Remark,@OBWrongStock DocType  
FROM OIGN T0,IGN1 T1 ,OINM T2 
WHERE
T0.DocNum=T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T1.ItemCode=@ItemCode 
AND T0.DocEntry=T1.DocEntry 
--AND T0.DocDate>@OpeningDate 
AND T0.DocDate<@FromDate

UNION ALL

SELECT DISTINCT T1.DocDate DocDate,Quantity OBQty,T2.TransValue OBVal,
T1.DocNum ChallanId,CAST(T1.DocDate AS VARCHAR) PurDate,BaseCard VendorName,'' Address,'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,
0 AdditionalVat,T0.VatSum Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,'Purchase OB:-' Remark,@OBPurchase DocType 
FROM PCH1 T0,
(	
	SELECT DISTINCT T0.DocEntry,T0.DocNum,T0.DocDate FROM OPDN T0,PDN1 T1 WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate>@OpeningDate AND T0.DocDate<@FromDate
)T1 ,OINM T2 
WHERE
T1.DocNum=T2.BASE_REF
AND T0.ItemCode=T2.ItemCode 
AND T0.BaseEntry=T1.DocEntry 
AND T0.ItemCode=@ItemCode
---AND T0.DocDate>@OpeningDate 
AND T0.DocDate<@FromDate

UNION ALL

SELECT DISTINCT T0.DocDate,ISNULL(-T1.Quantity,0)OBqty,ISNULL(T2.TransValue,0)OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,T0.CardCode VendorName,
T0.Address,T0.VATRegNum BIN,@ItemName Dscription,0 PurQty,0 PurPrice,0 AdditionalVat,ISNULL(T1.VatSum,0) Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Goods Return OB:- '+T2.JrnlMemo Remark,@OBReturn DocType 
FROM ORPD T0,RPD1 T1 ,OINM T2 
WHERE
T0.DocNum=T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T0.DocEntry=T1.DocEntry 
---AND T0.DocDate>@OpeningDate 
AND T0.DocDate<@FromDate 
AND T1.ItemCode =@ItemCode

UNION ALL

SELECT DISTINCT T0.DocDate,ISNULL(-T1.Quantity,0)OBqty,ISNULL(T2.TransValue,0)OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,T0.CardCode VendorName,
T0.Address,T0.VATRegNum BIN,@ItemName Dscription,0 PurQty,0 PurPrice,0 AdditionalVat,ISNULL(T1.VatSum,0) Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
'A/P Credit Memo OB:- '+T2.JrnlMemo Remark,@OBAPCreditMemo DocType 
FROM ORPC T0,RPC1 T1 ,OINM T2 
WHERE
T0.DocNum=T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T0.DocEntry=T1.DocEntry 
--AND T0.DocDate>@OpeningDate 
AND T0.DocDate<@FromDate 
AND T1.ItemCode =@ItemCode
*/
)
OB
ORDER BY OB.DocDate

----- Purchase and return current------------------

SELECT * INTO #temCurrent FROM
(
	SELECT DISTINCT T1.DocDate DocDate,0 OBQty,0 OBVal,
	T1.DocNum ChallanId,T1.DocDate PurDate,BaseCard VendorName,'' Address,'' BIN,@ItemName Discription,CAST(T0.Quantity AS VARCHAR) PurQty,T2.TransValue PurPrice,
	0 AdditionalVat,T0.VatSum Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,'Purchase Current:-' Remark,@CurrntPurchase DocType FROM PCH1 T0,
	(	
		SELECT DISTINCT T0.DocEntry,T0.DocNum,T0.DocDate FROM OPDN T0,PDN1 T1 WHERE T0.DocEntry=T1.DocEntry AND T0.DocDate BETWEEN @FromDate AND @ToDate
	)T1	,OINM T2 
WHERE
T1.DocNum=T2.BASE_REF
AND T0.ItemCode=T2.ItemCode 
AND T0.BaseEntry=T1.DocEntry 
AND	T0.ItemCode=@ItemCode
AND T1.DocDate BETWEEN @FromDate AND @ToDate

UNION ALL

	SELECT DISTINCT T0.DocDate,0 OBqty,0 OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,T0.CardCode VendorName,
	T0.Address,T0.VATRegNum BIN,@ItemName Dscription,ISNULL(-T1.Quantity,0) PurQty,ISNULL(T2.TransValue,0) PurPrice,0 AdditionalVat,ISNULL(T1.VatSum,0)Musak,
	0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,'Goods Return Current:- '+T2.JrnlMemo Remark,@GoodsReturnCurrent DocType 
	FROM ORPD T0,RPD1 T1 ,OINM T2 
WHERE
T0.DocNum=T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T0.DocEntry=T1.DocEntry 
AND T0.DocDate BETWEEN @FromDate AND @ToDate 
AND T1.ItemCode =@ItemCode

UNION ALL

	SELECT DISTINCT T0.DocDate,0 OBqty,0 OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,T0.CardCode VendorName,
	T0.Address,T0.VATRegNum BIN,@ItemName Dscription,ISNULL(-T1.Quantity,0) PurQty,ISNULL(T2.TransValue,0) PurPrice,0 AdditionalVat,ISNULL(T1.VatSum,0)Musak,
	0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,'A/P Credit Memo Current:- '+T2.JrnlMemo Remark,@APCreditMemoCurrent DocType 
	FROM ORPC T0,RPC1 T1 ,OINM T2 
WHERE
T0.DocNum =T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T0.DocEntry=T1.DocEntry 
AND T0.DocDate BETWEEN @FromDate AND @ToDate 
AND T1.ItemCode =@ItemCode

-----Consumption and return from production
/*
UNION ALL

SELECT DocDate,0 OBqty,0 OBVal,0 ChallanId,'' PurDate,'' VendorName,'' Address,
'' BIN,Dscription Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,-ISNULL(OutQty,0) ConsumptionQty,ISNULL(TransValue,0) ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Goods Issue:- '+JrnlMemo Remark FROM OINM 
WHERE TransType IN (59,60) AND ItemCode =0701001 AND DocDate BETWEEN @FromDate AND @ToDate

UNION ALL

SELECT DocDate,0 OBqty,0 OBVal,0 ChallanId,'' PurDate,'' VendorName,'' Address,
'' BIN,Dscription Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,ISNULL(InQty,0) ConsumptionQty,ISNULL(TransValue,0) ConsumptionVal,0 ClosingQty,0 ClosingVal,
'Goods Return from Production:- '+JrnlMemo Remark FROM OINM 
WHERE TransType IN(60) AND ItemCode =0701001 AND DocDate BETWEEN @FromDate AND @ToDate
*/
UNION ALL

	SELECT DISTINCT T0.DocDate,0 OBqty,0 OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
	'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,ISNULL(-T1.Quantity,0) ConsumptionQty,
	ISNULL(T2.TransValue,0) ConsumptionVal,0 ClosingQty,0 ClosingVal,
	'Goods Issue for Production Current:- '+T0.JrnlMemo Remark,@IssueCurrent DocType  
	FROM OIGE T0,IGE1 T1 ,OINM T2 
WHERE
T0.DocNum =T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T1.ItemCode=@ItemCode 
AND T0.DocEntry=T1.DocEntry 
AND T0.DocDate BETWEEN @FromDate AND @ToDate

UNION ALL

	SELECT DISTINCT T0.DocDate,0 OBqty,0 OBVal,T0.DocNum ChallanId,CAST(''AS VARCHAR) PurDate,'' VendorName,'' Address,
	'' BIN,@ItemName Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak,-T1.Quantity ConsumptionQty,T2.TransValue ConsumptionVal,0 ClosingQty,0 ClosingVal,
	'Goods Receipt for Wrong Entry Current:- '+T0.JrnlMemo Remark,@WrongStockCurrent DocType  
	FROM OIGN T0,IGN1 T1 ,OINM T2 
WHERE
T0.DocNum=T2.BASE_REF
AND T1.ItemCode=T2.ItemCode 
AND T1.ItemCode=@ItemCode 
AND T0.DocEntry=T1.DocEntry 
AND T0.DocDate BETWEEN @FromDate AND @ToDate
--- 0701001
)CUR
ORDER BY CUR.DocDate


IF NOT EXISTS(SELECT * FROM #temOB)
BEGIN
	--INSERT INTO #temOB
	SELECT '' DocDate,CAST(0 AS DECIMAL(18,6)) OBqty,CAST(0 AS DECIMAL(18,6)) OBVal,0 ChallanId,'' PurDate,'' VendorName,''Address,
	''BIN,'' Discription,CAST(0 AS DECIMAL(18,6)) PurQty,CAST(0 AS DECIMAL(18,6)) PurPrice,CAST(0 AS DECIMAL(18,6)) AdditionalVat,0 Musak, CAST(0 AS DECIMAL(18,6)) ConsumptionQty,CAST(0 AS DECIMAL(18,6)) ConsumptionVal,
	CAST(0 AS DECIMAL(18,6)) ClosingQty,CAST(0 AS DECIMAL(18,6)) ClosingVal INTO #temOBB 
END
ELSE
BEGIN	
	TRUNCATE TABLE #temOBB
END

SELECT ROW_NUMBER()OVER(ORDER BY XY.DocDate)SI,XY.* INTO #tempReg FROM
(
	SELECT * FROM #temOBB
	UNION ALL	
	SELECT '' DocDate,SUM(T0.OBqty+T0.PurQty+T0.ConsumptionQty)OBqty,SUM(T0.OBVal+T0.PurPrice+T0.ConsumptionVal)OBVal,0 ChallanId,'' PurDate,'' VendorName,''Address,
	''BIN,T0.Discription,0 PurQty,0 PurPrice,0 AdditionalVat,0 Musak, 0 ConsumptionQty,0 ConsumptionVal,
	CAST(0 AS DECIMAL(18,6)) ClosingQty,CAST(0 AS DECIMAL(18,6)) ClosingVal FROM #temOB T0
	GROUP BY T0.Discription
	UNION ALL
	SELECT T0.DocDate,0 OBqty,0 OBVal,T0.ChallanId ChallanId,T0.PurDate PurDate,T0.VendorName VendorName,T0.Address,
	T0.BIN,T0.Discription,SUM(T0.PurQty) PurQty,SUM(T0.PurPrice) PurPrice,SUM(T0.AdditionalVat)AdditionalVat,SUM(T0.Musak)Musak, 
	SUM(T0.ConsumptionQty)ConsumptionQty,SUM(T0.ConsumptionVal)ConsumptionVal,
	CAST(0 AS DECIMAL(18,6)) ClosingQty,CAST(0 AS DECIMAL(18,6)) ClosingVal FROM #temCurrent T0
	GROUP BY T0.DocDate,T0.ChallanId,T0.PurDate,T0.VendorName,T0.Address,T0.BIN,T0.Discription
)XY


DECLARE @SI INT,
@DocDate VARCHAR(12),
@OBqty DECIMAL(18,6),
@OBVal DECIMAL(18,6),
@ChallanId VARCHAR(20),
@PurDate VARCHAR(12),
@VendorName VARCHAR(100),
@Address VARCHAR(100),
@BIN VARCHAR(100),
@Discription VARCHAR(100),
@PurQty DECIMAL(18,6),
@PurPrice DECIMAL(18,6),
@AdditionalVat DECIMAL(18,6),
@Musak DECIMAL(18,6),
@ConsumptionQty DECIMAL(18,6),
@ConsumptionVal DECIMAL(18,6),
@ClosingQty DECIMAL(18,6),
@ClosingVal DECIMAL(18,6)




DECLARE Cur_reg CURSOR
FOR SELECT * FROM #tempReg
OPEN Cur_reg 
FETCH NEXT FROM Cur_reg INTO @SI,@DocDate,@OBqty,@OBVal,@ChallanId,
								@PurDate,@VendorName,@Address,@BIN,@Discription,@PurQty,@PurPrice,
								@AdditionalVat,@Musak,@ConsumptionQty,@ConsumptionVal,@ClosingQty,@ClosingVal
WHILE @@FETCH_STATUS=0
BEGIN
	UPDATE #tempReg
	SET ClosingQty=@OBqty+@PurQty+@ConsumptionQty,
		ClosingVal=@OBVal+@PurPrice+@ConsumptionVal
	WHERE SI=@SI
	
	UPDATE #tempReg
	SET OBqty=@OBqty+@PurQty+@ConsumptionQty,
		OBVal=@OBVal+@PurPrice+@ConsumptionVal
	WHERE SI=@SI+1

	FETCH NEXT FROM Cur_reg INTO @SI,@DocDate,@OBqty,@OBVal,@ChallanId,
								@PurDate,@VendorName,@Address,@BIN,@Discription,@PurQty,@PurPrice,
								@AdditionalVat,@Musak,@ConsumptionQty,@ConsumptionVal,@ClosingQty,@ClosingVal
END
CLOSE Cur_reg
DEALLOCATE Cur_reg

SELECT * FROM #tempReg
END
GO
