USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Mushak_16]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- [dbo].[@BGW_Mushak_16] '20220701','20220731','0701002'
CREATE PROC [dbo].[@BGW_Mushak_16]
@FromDate DATETIME,
@ToDate DATETIME,
@ItemCode VARCHAR(50)
AS
BEGIN

--SELECT SUM(InQty-OutQty)QTY,SUM(TransValue)VAL,TransType FROM OINM WHERE DocDate<'20120101' AND ItemCode='0702008'
--GROUP BY TransType

IF EXISTS(SELECT * FROM sys.tables WHERE name='TempPurchaseBook')
BEGIN
	DROP TABLE TempPurchaseBook
END

CREATE TABLE TempPurchaseBook
(
	SI INT,
	DocDate VARCHAR(12),
	OBqty DECIMAL(18,6),
	OBVal DECIMAL(18,6),
	ChallanId VARCHAR(500),
	PurDate VARCHAR(12),
	CardName VARCHAR(100),
	Address VARCHAR(500),
	BIN VARCHAR(100),
	Dscription VARCHAR(100),
	PurQty DECIMAL(18,6),
	PurPrice DECIMAL(18,6),
	AdditionalVat DECIMAL(18,6),
	Musak DECIMAL(18,6),
	ConsumptionQty DECIMAL(18,6),
	ConsumptionVal DECIMAL(18,6),
	ClosingQty DECIMAL(18,6),
	ClosingVal DECIMAL(18,6),
	Remark VARCHAR(500),
	PurAcVal DECIMAL(18,2),
	LCToTal DECIMAL(18,2),
	U_AssV DECIMAL(18,2),
	ItemCode VARCHAR(20)
	
)

--IF @ItemName='Spareparts'
--BEGIN
--	EXEC [@BGW_Musak_16_Spareparts] @FromDate,@ToDate,@ItemName
--END
IF EXISTS(SELECT * FROM [@SERVICEINFO] WHERE Code=@ItemCode)
BEGIN
	EXEC [@BGW_Musak_16_Service] @FromDate,@ToDate,@ItemCode
END
ELSE IF EXISTS(SELECT * FROM [@SERVICEITEM] WHERE Code=@ItemCode)
BEGIN
	EXEC [@BGW_Purchase_Reg_Service_FOHO] @FromDate,@ToDate,@ItemCode
END
ELSE
BEGIN
	---EXEC [@BGW_Musak_16_Item] @FromDate,@ToDate,@ItemCode
	EXEC [dbo].[@BGW_Musak_6.1_Test]@FromDate,@ToDate,@ItemCode
END
SELECT SI,DocDate,OBqty,OBVal,ChallanId,PurDate,CardName,Address,ISNULL(BIN,'')BIN,Dscription,PurQty,PurPrice,AdditionalVat,Musak,
-ConsumptionQty ConsumptionQty,-ConsumptionVal ConsumptionVal,ClosingQty,ClosingVal,Remark,PurAcVal,LCToTal,U_AssV,ItemCode FROM TempPurchaseBook
ORDER BY SI

END


GO
