USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@Item_Ranking__Invoice]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Mizan>
-- Create date: 	<15 SEP 2010>

-- =============================================


CREATE PROCEDURE [dbo].[@Item_Ranking__Invoice]
	(@FromDATE DATETIME,@ToDATE DATETIME)
AS
BEGIN
--DECLARE @Cardcode varchar(12)
--DECLARE @Cardname	varchar(50)
--DECLARE @CardFName	varchar(100)
--DECLARE @Itemcode	Varchar (8)
--DECLARE @Dscription	varchar(100)
--DECLARE @Quantity	FLOAT
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='Temp_Item_Ranking_INV')
 Drop table Temp_Item_Ranking_INV
 	
CREATE TABLE Temp_Item_Ranking_INV (Itemcode varchar(10),Itemname varchar(50),

 Del_QTY Float, Amount FLOAT,VAT Float, Total Float  )

INSERT INTO Temp_Item_Ranking_INV 


SELECT T1.[ItemCode], T1.[Dscription], sum(T1.[Quantity]) as Del_QTY, 
sum(T1.[LineTotal]) AS AMOUNT,sum(T1.[LineTotal]*0.15) AS VAT,
 ( select  sum(T1.[LineTotal])   FROM OINV T0  INNER JOIN INV1 T1 ON
 T0.DocEntry = T1.DocEntry WHERE T0.[DocDate] between @Fromdate  and @Todate and T1.openqty<>0 )
 as Total  FROM OINV T0  INNER JOIN INV1 T1 ON T0.DocEntry = T1.DocEntry WHERE T0.[DocDate]
 between @Fromdate  and @Todate and T1.openqty<>0 GROUP BY T1.[ItemCode], T1.[Dscription] 

union all

SELECT T1.[ItemCode], T1.[Dscription], -sum(T1.[Quantity]) as Del_QTY, -sum(T1.[LineTotal]) 
AS AMOUNT,-sum(T1.[LineTotal]*0.15) AS VAT, ( select  -sum(T1.[LineTotal])   FROM ORIN T0 
 INNER JOIN RIN1 T1 ON T0.DocEntry = T1.DocEntry WHERE T0.[DocDate] between @Fromdate 
 and @Todate and T1.openqty<>0 ) as Total  FROM ORIN T0  INNER JOIN RIN1 T1 ON 
T0.DocEntry = T1.DocEntry WHERE T0.[DocDate] between @Fromdate  and @Todate and T1.openqty<>0 
GROUP BY T1.[ItemCode], T1.[Dscription] 



--delete from Temp_Cust_Sale where Del_QTY=0
SELECT  Itemcode,Itemname, sum(Del_QTY) [Delivery Qty] ,Sum(Amount) Amount,sum(VAT) Vat,Total
  FROM Temp_Item_Ranking_INV 
group by Itemcode,Itemname,Total order by Amount desc




END























GO
