USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_SalesRegister_Arup]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- [dbo].[@BGWL_SalesRegister_Arup] '01/01/2017', '04/30/2017','250ml Round Amber Glass Bottles'
CREATE PROC [dbo].[@BGWL_SalesRegister_Arup]
@FromDate DATETIME,
@ToDate DATETIME,
@Itemname VARCHAR(50)
AS
BEGIN
--DECLARE @FromDate DATETIME,@ToDate DATETIME,@Itemname VARCHAR(50)

--SET @FromDate='01/01/2017'
--SET @ToDate='04/30/2017'
--SET @Itemname='250ml Round Amber Glass Bottles'

DECLARE  @Temp_OP_PRod1 TABLE 
(
	DOCDATE DATETIME,
	Itemcode VARCHAR(10),
	Itemname VARCHAR(100),
	Price FLOAT,
	Opening FLOAT, 
	Production FLOAT,  
	Delivery FLOAT,
	Closing FLOAT 
)


---******************************************Step 1--******************************
SET NOCOUNT ON
INSERT INTO @Temp_OP_PRod1 

Select  a.date as DocDate,a.Itemcode,
 max(a.ItemName) as [Itemname],max(a.price)as Price,
 sum(a.[Opening]) as [Opening],

 sum(a.[Production]) as [Production],

  sum(a.[Delivery]) as [Delivery],

((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a. [Delivery]) )
 as Closing
from dbo.OITM I1 
JOIN (
Select @FromDate as date, N2.Itemcode, N2.ItemName,
(

---------update on 02022016 

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate <@Fromdate)=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15
--and  OINM.DocDate <=@Fromdate 
----for Item A 55 wrong entry for price 30420
--and OINM.TransSeq not in (69005)-- for 
 ----- end wrong--
 -- update on 26042016
 case
 when --(select count(price) from dln1 where dln1.itemcode=N2.itemcode  and dln1.DocDate between '20160801' and '20160801' )=0
 --and 
 /*
  ----============= Updated on 30082016================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801' 
(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15

*/



  ----============= Updated on 10312017================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

WHEN 

(select COUNT(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15)=0
THEN
--------------------------Update 20180204---------------------
	CASE
	WHEN

	(select COUNT(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))>0
	THEN
	(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
	--------------------------------------------------------------------
	ELSE
	(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	END
--------------------------End---------------------

---==========================Updated by Arup (20180225_1228PM)
WHEN
N2.ItemCode = 1679001 AND @FromDate <='12/31/2017' THEN 3.50
---==========================END-=================================


---WHEN 
else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801'
 
-- (select MAX(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
--(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15

 (select MAX(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
CONVERT(datetime, @Fromdate, 103) and OINM.TransType =15



--(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) )
 -----===========end update================
 --case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
---- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @ToDATE, 101)
 

 --- end close
 )
end
) as
 Price,0 as transvalue,

(sum(N1.inqty)-sum(n1.outqty)) as [Opening], 0 as [Production],
0 as [Delivery]
From dbo.OINM N1 , dbo.OITM N2
Where N1.DocDate < @FromDate   
 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N2.ItemName=@Itemname
Group By N2.Itemcode, N2.ItemName,N1.Price,n1.transvalue,N2.ItemCode

Union All

select N1.DocDate, N2.Itemcode, N2.ItemName,
(
---------update on 02022016 

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate <@Fromdate)=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15
--and  OINM.DocDate <=@Fromdate 
----for Item A 55 wrong entry for price 30420
--and OINM.TransSeq not in (69005)-- for 
 ----- end wrong--
  ------ update on 26042016
 case
 when --(select count(price) from dln1 where dln1.itemcode=N2.itemcode  and dln1.DocDate between '20160801' and '20160801' )=0
 --and 
 ----============= Updated on 30082016================----
/* (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801' 
(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
--(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) )
 -----===========end update================
 --- close on 02022016

 */


 ----============= Updated on 10312017================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

WHEN 

(select COUNT(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15)=0
THEN
	--(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
	--	and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))

	--------------------------Update 20180204---------------------
	CASE
	WHEN

	(select COUNT(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))>0
	THEN
	(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))
	--------------------------------------------------------------------
	ELSE
	(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
	END
--------------------------End---------------------

---==========================Updated by Arup (20180225_1228PM)
WHEN
N2.ItemCode = 1679001 AND @FromDate <='12/31/2017' THEN 3.50
---==========================END-=================================


else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801'
 
 (select MAX(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
CONVERT(datetime, @Fromdate, 103) and OINM.TransType =15










--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
---- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @ToDATE, 101)
 

 --- end close

 )
end
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Receipt from Production'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode

union all

--==== upadte on 090413 for reverse entry of production
select N1.DocDate, N2.Itemcode, N2.ItemName,
(
---------update on 02022016 

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate <@Fromdate)=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15
--and  OINM.DocDate <=@Fromdate 
----for Item A 55 wrong entry for price 30420
--and OINM.TransSeq not in (69005)-- for 
 ----- end wrong--
  ----- update on 26042016
case
 when --(select count(price) from dln1 where dln1.itemcode=N2.itemcode  and dln1.DocDate between '20160801' and '20160801' )=0
 --and 
 /*
----============= Updated on 30082016================----

 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801' 
(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
--(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) )
 -----===========end update================
 --- close on 02022016

 */

 ----============= Updated on 10312017================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

WHEN 

(select COUNT(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15)=0
THEN
	(select MIN(price) from DLN1 where DLN1.itemcode=N2.itemcode
		and DLN1.DocDate >= CONVERT(datetime, @Fromdate, 103))


---==========================Updated by Arup (20180225_1228PM)
WHEN
N2.ItemCode = 1679001 AND @FromDate <='12/31/2017' THEN 3.50
---==========================END-=================================


else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801'
 
 (select MAX(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <=
CONVERT(datetime, @Fromdate, 103) and OINM.TransType =15









--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
---- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @ToDATE, 101)
 

 --- end close

 )
end
) as

 Price,n1.transvalue, 0 as [Opening], 
(-N1.outqty) as [Production],0 as [Delivery]

From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.outqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemName=@Itemname and N1.jrnlmemo='Issue for Production'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.outqty,N2.ItemCode

union all
------============== update AR Credit Memo
--select N1.DocDate, N2.Itemcode, N2.ItemName,
--(
--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), '20130922', 101)  and CONVERT(VARCHAR(10), '20130922', 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- -- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)
-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), '20130922', 101)  and CONVERT(VARCHAR(10), '20130922', 101)
 
-- )
--end
--) as

-- Price,n1.transvalue, 0 as [Opening], 
--(N1.Inqty) as [Production],0 as [Delivery]

--From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
--and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
--N2.ItemName=@Itemname and N1.TransType =14

--Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.Inqty,N2.ItemCode

----Select * from OINM where DocDate='20130922'


------======================

--Union All

select  N1.DocDate,N2.Itemcode, N2.ItemName,
(
---------update on 02022016 

--case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate <@Fromdate)=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )

--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15
--and  OINM.DocDate <=@Fromdate 
----for Item A 55 wrong entry for price 30420
--and OINM.TransSeq not in (69005)-- for 
 ----- end wrong--
  ---- update on 26042016
case
 when --(select count(price) from dln1 where dln1.itemcode=N2.itemcode  and dln1.DocDate between '20160801' and '20160801' )=0
 --and 
 ----============= Updated on 30082016================----
 (select UpdateDate  from OITM where OITM.itemcode=N2.itemcode )<=@Fromdate
then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )



---==========================Updated by Arup (20180225_1228PM)
WHEN
N2.ItemCode = 1679001 AND @FromDate <='12/31/2017' THEN 3.50
---==========================END-=================================



else
--( select Max(price) from dln1 where dln1.itemcode=N2.itemcode and  dln1.DocDate between '20160801' and '20160801' 
(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) and OINM.DocDate <
(select UpdateDate  from OITM where OITM.itemcode=N2.itemcode ) and OINM.TransType =15
--(select max(price) from OINM where OINM.itemcode=N2.itemcode and Oinm.TransNum not in (69005,69012) )
 -----===========end update================
 --case
-- when (select count(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @Todate, 101))=0
--then
--(select max(price) from ITM1 where ITM1.itemcode=N2.itemcode )
--else
--( select Max(price) from OINM where OINM.itemcode=N2.itemcode and OINM.Transtype=15 
---- update max price 12052015
-- --and OINM.DocDate >= CONVERT(VARCHAR(10), @Fromdate, 101)  and OINM.DocDate <= CONVERT(VARCHAR(10), @Todate, 101)

-- --update on 26-01-2016
-- and OINM.DocDate between CONVERT(VARCHAR(10), @Fromdate, 101)  and CONVERT(VARCHAR(10), @ToDATE, 101)
  --- end close
  
 )
end
) as
 Price,n1.transvalue, 
0 as [Opening], 0 as [Production],(N1.outqty) as 
[Delivery]
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @FromDate  and 
N1.DocDate <=@ToDate and N1.OutQty > 0 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N1.dscription=@Itemname
Group By N2.Itemcode, N2.ItemName,N1.price, n1.transvalue,N1.DocDate,N1.outqty,N2.ItemCode
)
a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode,a.date
Order By a.Itemcode
SET NOCOUNT OFF
--*********************************************************************************




--*********************************-- Step 2--*****************************************
DECLARE  @Temp_DelCustomer1 TABLE 
(
	DOCDATE DATETIME,
	Itemcode varchar(10),
	Itemname varchar(50),
	carcode Varchar (10),
	Cardname varchar(100),
	Address varchar(150),
	RegNo varchar(20),
	DocNum int, 
	Del_QTY Float, 
	Del_Val FLOAT,
	VAT Float,
	DTime varchar(5), 
	Price Float 
)



SET NOCOUNT ON
INSERT INTO @Temp_DelCustomer1 
 
select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,N3.Taxid2,N1.Docnum,Sum(N2.Quantity) as QTY ,sum(N2.linetotal) 
as TotalVal, sum(N2.VatSum) as VAT, 
N1.U_rmvTime,N2.price
from ODLN N1,DLN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@Fromdate
and  N1.docdate<=@Todate and N2.Itemcode=N4.Itemcode
and N4.ItemName=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N1.Docnum,N2.price

union all
-- add 30-10-2011----- Delivery Return data ------------

select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,
N3.Taxid2,N2.Baseref,-Sum(N2.Quantity) as QTY ,-sum(N2.linetotal) 
as TotalVal, -sum(N2.VatSum) as VAT, 
N1.U_rmvTime,N2.price
from ORDN N1,RDN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@Fromdate
and  N1.docdate<=@Todate and N2.Itemcode=N4.Itemcode
and N4.ItemName=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N2.baseref,N2.price

-- add 30-10-2011----- A/P Credit Memo data ------------
union all

select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,
N3.Taxid2,N2.Baseref,-Sum(N2.Quantity) as QTY ,-sum(N2.linetotal) 
as TotalVal, -sum(N2.VatSum) as VAT, 
N1.U_rmvTime,N2.price
from ORIN N1,RIN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@Fromdate
and  N1.docdate<=@Todate and N2.Itemcode=N4.Itemcode
and N4.ItemName=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N2.baseref,N2.price
SET NOCOUNT OFF

--*************************************************************************************

--***************************************-- Final Step--**********************************

DECLARE  @TEMP_SALESREG1 TABLE 
(
	ID INT primary key,
	DOCDATE DATETIME, 
	[OB Qty] FLOAT,
	[OB VALUE] numeric(10,2),
	[PRODUCTION QTY] FLOAT,
	[PRODUCTION VALUE] numeric(10,2),
	CARDNAME VARCHAR(50),
	ADDRESS VARCHAR(150),
	[Reg. No.] VARCHAR(50),	
	[DELIVERY CHALLAN NO] FLOAT,
	[DELIVERY CHALLAN DATE] DATETIME, 
	Dtime varchar(5), 
	[DELIVERED ITEM] VARCHAR(50),
	[DELIVERED QUANTITY]  FLOAT,
	[DELIVERED AMOUNT]  numeric(10,2),
	SD VARCHAR(30),VAT  FLOAT,
	[Closing Balance Quantity] FLOAT, 
	[Closing Balance Amount] numeric(10,2) 
)



-----------------------------------------------------------------------------------


SET NOCOUNT ON
INSERT INTO @TEMP_SALESREG1 

SELECT ROW_NUMBER() OVER (ORDER BY A.DATE,a.Chalanno ), A.* FROM 
(
select


 N1.docdate as date,sum(N2.OPening) As OP,
 sum(N2.OPening) * n2.price As OPVAL ,
0 as Production, 
0 as ProductVal,
N1.[cardname],N1.Address,N1.RegNO,N1.Docnum as Chalanno,
N1.Docdate as Chalandate,N1.Dtime, N1.Itemname ,
isnull(N1.Del_Qty,0) DelQty,isnull(N1.Del_Val,0) DelVal,'' as SD, N1.VAT 
,(Sum(n2.Opening)+ sum(N2.Production)-isnull(N1.Del_Qty,0)) as Closing,
(Sum(n2.Opening)+ sum(N2.Production)-isnull(N1.Del_Qty,0)) * n2.price as ClosingVal
 
from @Temp_OP_Prod1 N2,@Temp_DelCustomer1 N1

where N1.docdate between @FromDate and @ToDate 
and N2.itemcode=N1.Itemcode
Group by N1.cardname,N1.Address,N1.RegNO,N1.Docnum,
N1.Del_Qty,N1.Del_Val,N1.VAT, N1.Itemname,
N1.Docdate,N1.Dtime,N2.price

union all

select   N2.docdate as date,(N2.OPening) As OP,
 (N2.OPening) * N2.Price As OPVAL ,
(N2.Production) as Production, 
(N2.Production)* N2.Price

 as ProductVal,
'--' CardName,'--'Address,'--' RegNo,'' Chalanno,
replace(convert(varchar,N2.docdate,120),'','--') as Chalandate,'' Dtime, N2.Itemname ,
0 Del_Qty,0 Del_Val,'' as SD, 0 VaT 
,((n2.Opening)+ (N2.Production)) as Closing,
((n2.Opening)+ (N2.Production)) * N2.Price

 as ClosingVal
 
from @Temp_OP_Prod1 N2 --',Temp_DelCustomer1 N1 'update 16022014

where  N2.docdate between @FromDate and @ToDate
--and N2.itemcode=N1.Itemcode 'update 16022014
--and  N2.Production<>0


Group by N2.docdate,N2.price,N2.Itemname,N2.OPening,N2.Production,N2.OPening,N2.Price

)A

ORDER BY A.Date,a.Chalanno
SET NOCOUNT OFF
-----------------------------------------------------------------------------------


	DECLARE @ID INT
	DECLARE @Docdate Datetime
	DECLARE @CHALLAN  INt
	DECLARE @OBQty	FLOAT
	DECLARE @OBVALUE	FLOAT
	DECLARE @cardname	Varchar(100)
	DECLARE @PRODUCTIONQTY	FLOAT
	DECLARE @PRODUCTIONVALUE	FLOAT
	DECLARE @DELIVEREDQUANTITY	FLOAT
	DECLARE @DELIVEREDAMOUNT	FLOAT
	DECLARE @VAT	FLOAT
	DECLARE @ClosingBalanceQuantity	FLOAT
	DECLARE @ClosingBalanceAmount 	FLOAT

SET NOCOUNT ON
DECLARE CUR_SALES1 CURSOR
FOR SELECT ID,[docdate],[OB Qty],[OB VALUE],[PRODUCTION QTY],[PRODUCTION VALUE],
[cardname],[DELIVERY CHALLAN NO] ,[DELIVERED QUANTITY],[DELIVERED AMOUNT],[VAT],[Closing Balance Quantity],
[Closing Balance Amount] FROM @TEMP_SALESREG1 
	
OPEN CUR_SALES1
FETCH NEXT FROM CUR_SALES1 INTO @ID,@docdate,@OBQty,@OBVALUE,@PRODUCTIONQTY,@PRODUCTIONVALUE,
@cardname,@Challan,@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 
WHILE @@FETCH_STATUS=0
BEGIN 
	--print @ID
	--UPDATEING CURRENT CLOSING BALANCE QTY & AMOUNT COLUMN
	UPDATE	@TEMP_SALESREG1	SET [Closing Balance Quantity]=((Isnull(@OBQty,0)+Isnull(@PRODUCTIONQTY,0))-Isnull(@DELIVEREDQUANTITY,0)),
	[Closing Balance Amount]=Isnull(@OBVALUE,0)+Isnull(@PRODUCTIONVALUE,0)-Isnull(@DELIVEREDAMOUNT,0) 		
	WHERE ID=@ID
		
	UPDATE	@TEMP_SALESREG1	SET [OB Qty]=((@OBQty+@PRODUCTIONQTY)-@DELIVEREDQUANTITY),
	[OB VALUE]=@OBVALUE+@PRODUCTIONVALUE-@DELIVEREDAMOUNT 
	WHERE ID=@ID+1
FETCH NEXT FROM CUR_SALES1 INTO @ID,@docdate,@OBQty,@OBVALUE,@PRODUCTIONQTY,@PRODUCTIONVALUE,@cardname,
@Challan,@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 	
END
CLOSE CUR_SALES1
DEALLOCATE CUR_SALES1

SET NOCOUNT OFF
 --delete  from TEMP_SALESREG1 where [PRODUCTION QTY]=0 and [Delivered Quantity]=0 
SET NOCOUNT ON
SELECT [DOCDATE][Docdate],[OB Qty],[OB VALUE][OB Value],[PRODUCTION QTY][Production Qty],[PRODUCTION VALUE][Production Value],[CARDNAME][Customer Name],
[ADDRESS][Address],[REG. No.],[DELIVERY CHALLAN NO][Challan No] ,[DELIVERY CHALLAN DATE][Challan Date],
right(replace(right([Dtime],4),right([Dtime],2),':'+ right([Dtime],2)),5) 
[D.Time],[DELIVERED ITEM][Delivery Item],[DELIVERED QUANTITY][Delivery Qty],[DELIVERED AMOUNT][Delivery Value],[SD],[VAT],CAST([OB Qty] AS INT)+CAST([PRODUCTION QTY] AS INT)[Total Qty],
[Closing Balance Quantity][Closing Quantity],
[Closing Balance Amount]
[Closing Value] FROM @TEMP_SALESREG1  order by [Docdate],[DELIVERY CHALLAN NO]
SET NOCOUNT OFF
END


GO
