USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_rpt_SalesGraterThan200000]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_rpt_SalesGraterThan200000]
@IsueDate DATETIME,
@EndDate DATETIME
AS
BEGIN
	SELECT T0.DocNum,T0.DocDate,SUM(T1.LineTotal)Price,SUM(T1.VatSum)Vat,T0.CardCode,T0.CardName,T0.Address,(SELECT TaxId2 FROM CRD7 WHERE AddrType='S' AND Address ='' AND CardCode=T0.CardCode)TaxId2/*T2.TaxId2*/ FROM ODLN T0,DLN1 T1,DLN12 T2
	WHERE T0.DocEntry=T1.DocEntry AND T0.DocEntry=T2.DocEntry
	AND T0.DocDate BETWEEN @IsueDate AND @EndDate AND T0.CANCELED='N'
	GROUP BY T0.DocNum,T0.DocDate,T0.CardCode,T0.CardName,T0.Address,T2.TaxId2
	HAVING SUM(T1.LineTotal)>200000
END
GO
