USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGWL_sp_Musak_6.2_Auto]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGWL_sp_Musak_6.2_Auto]
(
@FROMDATE DATETIME,@TODATE DATETIME,@Itemname varchar(50)
)
AS
BEGIN
SELECT ROW_NUMBER()OVER (ORDER BY T0.ItemCode ASC,T0.UpdateDate)SI,
T0.ItemCode,T1.ItemName,T0.Price,T0.UpdateDate,T0.LogInstanc,
ROW_NUMBER()OVER (PARTITION BY T0.ItemCode ORDER BY T0.ItemCode ASC,T0.UpdateDate)LogInstance_2,
CASE WHEN T0.LogInstanc=0 THEN 'Current Price' ELSE 'Old Price' END PriceStatus INTO #temPriceHist FROM
(
SELECT T0.ItemCode,T1.PriceList,T1.Currency,ISNULL(T1.Price,0.00000)Price,T0.UpdateDate,T1.LogInstanc FROM AITM T0, AIT1 T1
WHERE T0.ItemCode=T1.ItemCode AND T0.LogInstanc=T1.LogInstanc AND T1.Price<>0
AND T0.ItemCode LIKE '16%' AND PriceList=1

UNION ALL

select t0.itemcode, t0.pricelist,T0.Currency, ISNULL(T0.Price,0.00000)Price,
CASE WHEN T2.UpdateDate IS NULL THEN T2.CreateDate ELSE T2.UpdateDate END UpdateDate, T0.LogInstanc
from
OITM T2
Inner Join ITM1 T0 on T0.Itemcode = T2.itemcode
LEFT join OPLN T7 on T0.PriceList = T7.ListNum
Where
T0.PriceList=1 AND
T0.ItemCode LIKE '16%'
AND Price>0
)T0
INNER JOIN OITM T1 ON T0.ItemCode=T1.ItemCode
WHERE T0.ItemCode=@Itemname
ORDER BY T0.ItemCode
----==============================================


DECLARE @Price DECIMAL(18,5)
IF EXISTS(SELECT * FROM #temPriceHist WHERE UpdateDate BETWEEN @FROMDATE AND @TODATE)
BEGIN
	SET @Price=(SELECT MAX(Price) FROM #temPriceHist WHERE UpdateDate BETWEEN @FROMDATE AND @TODATE)
END
ELSE
BEGIN
	SET @Price=(SELECT MAX(Price) FROM #temPriceHist WHERE UpdateDate<=@FROMDATE)
END
---SELECT @Price

SET NOCOUNT ON;

DECLARE  @Temp_OP_PRod1 TABLE(DOCDATE DATETIME,Itemcode Varchar (10),Itemname varchar(100),Price DECIMAL(18,5),
Opening DECIMAL(18,5), Production FLOAT,  Delivery DECIMAL(18,5),Closing Float )

DECLARE @Temp_DelCustomer1 TABLE(DOCDATE DATETIME,Itemcode varchar(10),Itemname varchar(50),carcode Varchar (10),Cardname varchar(100),
Address varchar(250),RegNo varchar(20),DocNum int, Del_QTY Float, Del_Val DECIMAL(18,5),VAT Float,
DTime varchar(5), Price DECIMAL(18,5) )


INSERT INTO @Temp_OP_PRod1
Select  a.date as DocDate,a.Itemcode,
 max(a.ItemName) as [Itemname],max(ISNULL(a.price,0.00000))as Price,
 sum(a.[Opening]) as [Opening],

 sum(a.[Production]) as [Production],

  sum(a.[Delivery]) as [Delivery],

((sum(a.[Opening]) + sum(a.[Production]))) - (Sum(a. [Delivery]) )
 as Closing
from dbo.OITM I1 
JOIN (
Select @FromDate as date, N2.Itemcode, N2.ItemName,
---=================================== Blocked date 20210109
(
@Price
) Price, 
 0 as transvalue,

(sum(ISNULL(N1.inqty,0))-sum(ISNULL(n1.outqty,0))) as [Opening], 0 as [Production],
0 as [Delivery]
From dbo.OINM N1 , dbo.OITM N2
Where N1.DocDate < @FromDate   
 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N2.ItemCode=@Itemname
Group By N2.Itemcode, N2.ItemName,N1.Price,n1.transvalue,N2.ItemCode

Union All



---=====================================  Updated date 20210109
select N1.DocDate, N2.Itemcode, N2.ItemName,
@Price
as
 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty>0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemCode=@Itemname and N1.jrnlmemo='Receipt from Production'
Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode

union all

--==== upadte on 090413 for reverse entry of production
select N1.DocDate, N2.Itemcode, N2.ItemName,
(

@Price
) as

 Price,n1.transvalue, 0 as [Opening], 
SUM(-N1.outqty) as [Production],0 as [Delivery]

From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.outqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemCode=@Itemname and N1.jrnlmemo='Issue for Production'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.outqty,N2.ItemCode



UNION ALL
----==============================Alanya Tubler (corp) Adjustment for transfer issue================================
select N1.DocDate, N2.Itemcode, N2.ItemName,
(

@Price
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(N1.inqty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.Inqty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemCode=@Itemname and N1.jrnlmemo='Goods Receipt' ------Updated at 20211116--  AND N2.ItemName IN ('Alanya Glass Tumbler(Corp.)','Alanya Glass Tumbler (Single Pack)','Long Cool Glass Tumbler (Corp.)') --AND N1.DocDate='20200319'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode

----=================================end==============================
---==========================Alanya Glass Tumbler Adjustment for transfer issue=====================================

UNION ALL

select N1.DocDate, N2.Itemcode, N2.ItemName,
(

@Price
) as

 Price,n1.transvalue, 0 as [Opening], 
--update sum command in (N1.inqty)
sum(-N1.OutQty) as [Production],0 as [Delivery]
--    End  -------
From dbo.OINM N1,dbo.OITM N2 Where N1.DocDate >= @FromDate  and N1.DocDate <= @ToDate 
and N1.OutQty >0   and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and 
N2.ItemCode=@Itemname and N1.jrnlmemo='Goods Issue' ----Updated at 20211116-AND N2.ItemName IN ('Alanya Glass Tumbler','Long Cool Glass Tumbler (Corp.)') --AND N1.DocDate='20200319'

Group By N2.Itemcode, N2.ItemName,N1.price ,n1.transvalue,N1.DocDate,N1.inqty,N2.ItemCode


union all
------============== update AR Credit Memo

select  N1.DocDate,N2.Itemcode, N2.ItemName,
(

@Price
) as
 Price,n1.transvalue, 
0 as [Opening], 0 as [Production],(N1.outqty) as 
[Delivery]
From dbo.OINM N1, dbo.OITM N2 Where N1.DocDate >= @FromDate  and 
N1.DocDate <=@ToDate and N1.OutQty > 0 and N1.Itemcode=N2.Itemcode  and N1.Itemcode like '16%' and N1.ItemCode=@Itemname
Group By N2.Itemcode, N2.ItemName,N1.price, n1.transvalue,N1.DocDate,N1.outqty,N2.ItemCode

)
a 
ON a.ItemCode=I1.ItemCode 

Group By a.Itemcode ,I1.ItemCode,a.date
Order By a.Itemcode





----==================================



SET NOCOUNT ON;

INSERT INTO @Temp_DelCustomer1 
select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,N3.Taxid2,N1.Docnum,Sum(N2.Quantity) as QTY ,
/*sum(N2.linetotal)as*/
---- Total value was changed 20230304
sum(N2.Quantity)*(SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N4.Itemcode AND UpdateDate<=N1.DocDate 
AND LogInstance_2=(SELECT MAX(LogInstance_2) FROM #temPriceHist WHERE ItemCode=N4.Itemcode AND UpdateDate<=N1.DocDate)) TotalVal, sum(N2.VatSum) as VAT, 
N1.U_rmvTime,---N2.price
(SELECT MAX(Price) FROM #temPriceHist WHERE ItemCode=N4.Itemcode AND UpdateDate<=N1.DocDate 
AND LogInstance_2=(SELECT MAX(LogInstance_2) FROM #temPriceHist WHERE ItemCode=N4.Itemcode AND UpdateDate<=N1.DocDate))Price 
from ODLN N1,DLN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@FROMDATE
and  N1.docdate<=@TODATE and N2.Itemcode=N4.Itemcode
and N4.ItemCode=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N1.Docnum,N2.price

union all
-- add 30-10-2011----- Delivery Return data ------------

select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,
N3.Taxid2,N2.Baseref,-Sum(N2.Quantity) as QTY ,-sum(N2.linetotal) 
as TotalVal, -sum(N2.VatSum) as VAT, 
N1.U_rmvTime,N2.price
from ORDN N1,RDN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@FROMDATE
and  N1.docdate<=@TODATE and N2.Itemcode=N4.Itemcode
and N4.ItemCode=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N2.baseref,N2.price

-- add 30-10-2011----- A/P Credit Memo data ------------
union all

select N1.Docdate,N4.Itemcode,N4.ItemName,N1.cardcode,N1.Cardname,N1.address,
N3.Taxid2,N2.Baseref,-Sum(N2.Quantity) as QTY ,-sum(N2.linetotal) 
as TotalVal, -sum(N2.VatSum) as VAT, 
N1.U_rmvTime,N2.price
from ORIN N1,RIN1 N2, DLN12 N3, OITM N4
where N1.docentry=N2.docentry and N1.docentry=N3.docentry  and  N1.docdate>=@FROMDATE
and  N1.docdate<=@TODATE and N2.Itemcode=N4.Itemcode
and N4.ItemCode=@itemname
group by N1.Docdate,N4.Itemcode,N4.ItemName,
N1.cardcode,N1.Cardname,N1.address,N1.U_rmvTime,N3.Taxid2,N2.baseref,N2.price




DECLARE @ID INT
DECLARE @Docdate Datetime
  DECLARE @CHALLAN  INt
DECLARE @OBQty	FLOAT
DECLARE @OBVALUE	FLOAT
DECLARE @cardname	Varchar(200)
DECLARE @PRODUCTIONQTY	FLOAT
DECLARE @PRODUCTIONVALUE	FLOAT
DECLARE @DELIVEREDQUANTITY	FLOAT
DECLARE @DELIVEREDAMOUNT	FLOAT
DECLARE @VAT	FLOAT
DECLARE @ClosingBalanceQuantity	FLOAT
DECLARE @ClosingBalanceAmount 	FLOAT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



DECLARE @TEMP_SALESREG1 TABLE  (ID INT primary key,DOCDATE DATETIME, [OB Qty] FLOAT,
[OB VALUE] numeric(18,5),[PRODUCTION QTY] numeric(18,0),[PRODUCTION VALUE] numeric(18,5),CARDNAME VARCHAR(200),
ADDRESS VARCHAR(250),[Reg. No.] VARCHAR(200),	[DELIVERY CHALLAN NO] numeric(18,0),
[DELIVERY CHALLAN DATE] DATETIME, Dtime varchar(5), [DELIVERED ITEM] VARCHAR(200),
[DELIVERED QUANTITY]  numeric(18,0), [DELIVERED AMOUNT]  numeric(18,5),SD VARCHAR(100),VAT  FLOAT,
[Closing Balance Quantity] FLOAT, [Closing Balance Amount] numeric(18,5) )

---------==================================================================
INSERT INTO @TEMP_SALESREG1 
SELECT ROW_NUMBER() OVER (ORDER BY A.DATE,a.Chalanno ), A.date,SUM(A.OP)OP,SUM(A.OPVAL)OPVAL,SUM(A.Production)Production,SUM(A.ProductVal)ProductVal,
A.CardName,A.Address,A.RegNo,A.Chalanno,A.Chalandate,A.Dtime,A.Itemname,SUM(A.Del_Qty)Del_Qty,SUM(A.Del_Val)Del_Val,A.SD,SUM(A.VaT)VaT,SUM(A.Closing)Closing,
SUM(A.ClosingVal)ClosingVal FROM 
(
select   N2.docdate as date,(N2.OPening) As OP,
 (N2.OPening) * N2.Price As OPVAL ,
(N2.Production) as Production, 
(N2.Production)* N2.Price

 as ProductVal,
'--' CardName,'--'Address,'--' RegNo,'' Chalanno,
replace(convert(varchar,N2.docdate,120),'','--') as Chalandate,'' Dtime, N2.Itemname ,
0 Del_Qty,0 Del_Val,'' as SD, 0 VaT 
,((n2.Opening)+ (N2.Production)) as Closing,
((n2.Opening)+ (N2.Production)) * N2.Price
 as ClosingVal
 from @Temp_OP_Prod1 N2 --',Temp_DelCustomer1 N1 'update 16022014

where  N2.docdate between @FROMDATE and @TODATE
---AND N2.Opening>0
--and N2.itemcode=N1.Itemcode 'update 16022014
--and  N2.Production<>0

Group by N2.docdate,N2.price,N2.Itemname,N2.OPening,N2.Production,N2.OPening,N2.Price

UNION ALL 

select
N1.docdate as date,0 As OP,
0 OPVAL ,
0 as Production, 
0 as ProductVal,
N1.[cardname],N1.Address,N1.RegNO,N1.Docnum as Chalanno,
N1.Docdate as Chalandate,N1.Dtime, N1.Itemname ,
isnull(N1.Del_Qty,0) DelQty,isnull(N1.Del_Val,0) DelVal,'' as SD, N1.VAT 
,0 as Closing,
0 as ClosingVal
 
from @Temp_DelCustomer1 N1
where N1.docdate between @FROMDATE and @TODATE
Group by N1.cardname,N1.Address,N1.RegNO,N1.Docnum,
N1.Del_Qty,N1.Del_Val,N1.VAT, N1.Itemname,
N1.Docdate,N1.Dtime,N1.price
)A
GROUP BY  A.date,A.CardName,A.Address,A.RegNo,A.Chalanno,A.Chalandate,A.Dtime,A.Itemname,A.SD

--delete  from TEMP_SALESREG1 where [PRODUCTION QTY]=0 and [Delivered Quantity]=0 

DECLARE CUR_SALES1 CURSOR
FOR SELECT ID,[docdate],[OB Qty],[OB VALUE],[PRODUCTION QTY],[PRODUCTION VALUE],
[cardname],[DELIVERY CHALLAN NO] ,[DELIVERED QUANTITY],[DELIVERED AMOUNT],[VAT],[Closing Balance Quantity],
[Closing Balance Amount] FROM @TEMP_SALESREG1 
	
OPEN CUR_SALES1
	FETCH NEXT FROM CUR_SALES1 INTO @ID,@docdate,@OBQty,@OBVALUE,@PRODUCTIONQTY,@PRODUCTIONVALUE,
@cardname,@Challan,@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 
	WHILE @@FETCH_STATUS=0
	BEGIN
		--print @ID
		--UPDATEING CURRENT CLOSING BALANCE QTY & AMOUNT COLUMN
		UPDATE	@TEMP_SALESREG1	SET [Closing Balance Quantity]=((Isnull(@OBQty,0)+Isnull(@PRODUCTIONQTY,0))-Isnull(@DELIVEREDQUANTITY,0)),
[Closing Balance Amount]=Isnull(@OBVALUE,0)+Isnull(@PRODUCTIONVALUE,0)-Isnull(@DELIVEREDAMOUNT,0) 		
WHERE ID=@ID
		--UPDATING NEXT OPENING BALANCE QTY & VALUE COLUMN
 		UPDATE	@TEMP_SALESREG1	SET [OB Qty]=((@OBQty+@PRODUCTIONQTY)-@DELIVEREDQUANTITY),
[OB VALUE]=@OBVALUE+@PRODUCTIONVALUE-@DELIVEREDAMOUNT 
WHERE ID=@ID+1
FETCH NEXT FROM CUR_SALES1 INTO @ID,@docdate,@OBQty,@OBVALUE,@PRODUCTIONQTY,@PRODUCTIONVALUE,@cardname,
@Challan,@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 	
	END 
	CLOSE CUR_SALES1
	DEALLOCATE CUR_SALES1
--delete  from TEMP_SALESREG1 where [PRODUCTION QTY]=0 and [Delivered Quantity]=0 

SELECT [DOCDATE][Docdate],[OB Qty],[OB VALUE][OB Value],[PRODUCTION QTY][Production Qty],[PRODUCTION VALUE][Production Value],[CARDNAME][Customer Name],
[ADDRESS][Address],[REG. No.],[DELIVERY CHALLAN NO][Challan No] ,[DELIVERY CHALLAN DATE][Challan Date],
right(replace(right([Dtime],4),right([Dtime],2),':'+ right([Dtime],2)),5) 
[D.Time],
[DELIVERED ITEM][Delivery Item],[DELIVERED QUANTITY][Delivery Qty],[DELIVERED AMOUNT][Delivery Value],[SD],[VAT],[Closing Balance Quantity][Closing Quantity],
[Closing Balance Amount][Closing Value] FROM @TEMP_SALESREG1  order by [Docdate],[DELIVERY CHALLAN NO]

END
GO
