USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_Musak_16_Service]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[@BGW_Musak_16_Service]
@FromDate DATETIME,
@ToDate DATETIME,
@ItemName VARCHAR(50)
AS
BEGIN


DECLARE @ServiceCode INT ----=(SELECT Code FROM [@SERVICEINFO] WHERE Name=@ItemName)
SET @ServiceCode=CAST(@ItemName AS INT)


--IF EXISTS(SELECT * FROM sys.tables WHERE name='TempPurchaseBook')
--BEGIN
--	DROP TABLE TempPurchaseBook
--END

--CREATE TABLE TempPurchaseBook
--(
--	SI INT,
--	DocDate VARCHAR(12),
--	OBqty DECIMAL(18,6),
--	OBVal DECIMAL(18,6),
--	ChallanId VARCHAR(500),
--	PurDate VARCHAR(12),
--	CardName VARCHAR(100),
--	Address VARCHAR(500),
--	BIN VARCHAR(100),
--	Dscription VARCHAR(100),
--	PurQty DECIMAL(18,6),
--	PurPrice DECIMAL(18,6),
--	AdditionalVat DECIMAL(18,6),
--	Musak DECIMAL(18,6),
--	ConsumptionQty DECIMAL(18,6),
--	ConsumptionVal DECIMAL(18,6),
--	ClosingQty DECIMAL(18,6),
--	ClosingVal DECIMAL(18,6),
--	Remark VARCHAR(500),
--	PurAcVal DECIMAL(18,2),
--	LCToTal DECIMAL(18,2),
--	U_AssV DECIMAL(18,2)
--)

INSERT INTO TempPurchaseBook
SELECT ROW_NUMBER() OVER (ORDER BY T.DocDate)SI,T.*,@ServiceCode FROM
(
SELECT @FromDate DocDate,0 OBqty,0 OBVal,'' ChallanId,NULL  PurDate,'' CardName,'' Address,
'' BIN,'' Dscription,0 PurQty,0 PurPrice,
0 AdditionalVat,0 Musak,0 ConsumptionQty,0 ConsumptionVal,0 ClosingQty,0 ClosingVal,
/*'Opening Balance:- '*/'' Remark,0 PurAcVal,0 LCToTal,0 U_AssV
UNION ALL

SELECT T0.DueDate DocDate,0 OBqty,0 OBVal,T0.U_BE ChallanId,/*T0.DueDate*/T0.U_C_Date  PurDate,
CASE WHEN (SELECT BankName FROM ODSC WHERE BankCode=T0.U_BPCode)IS NULL THEN (SELECT CardName FROM OCRD WHERE CardCode=T0.U_BPCode) 
ELSE (SELECT BankName FROM ODSC WHERE BankCode=T0.U_BPCode) END CardName,
(SELECT Building FROM CRD1 WHERE CardCode=T0.U_BPCode) Address,
CASE WHEN T0.U_NID IS NULL THEN (SELECT TaxId2 FROM CRD7 WHERE CardCode=T0.U_BPCode) ELSE T0.U_NID END BIN,(SELECT Name FROM [@SERVICEINFO] WHERE Code=T0.U_Service) Dscription,0 PurQty,/*ROUND((((T1.Debit*100)/T1.U_Reb)*100)/(T1.U_Vat),2)*//*CAST(U_PurPrice AS DECIMAL(18,2))*/CASE WHEN T1.U_PurPrice IS NULL OR T1.U_PurPrice='' THEN ISNULL(T1.Debit,0)/(CAST(T1.U_Vat AS DECIMAL(18,2))/100) ELSE CAST(T1.U_PurPrice AS DECIMAL(18,2)) END PurPrice,
0 AdditionalVat,/*CASE WHEN T1.U_Reb=100 THEN T1.Debit ELSE ROUND(((T1.Debit*100)/T1.U_Reb),2) END*/T1.Debit Musak,0 ConsumptionQty,/*-ROUND((((T1.Debit*100)/T1.U_Reb)*100)/(T1.U_Vat),2)*//*-CAST(U_PurPrice AS DECIMAL(18,2))*/ CASE WHEN T1.U_PurPrice IS NULL OR T1.U_PurPrice='' THEN -ISNULL(T1.Debit,0)/(CAST(T1.U_Vat AS DECIMAL(18,2))/100)ELSE -CAST(T1.U_PurPrice AS DECIMAL(18,2)) END ConsumptionVal,0 ClosingQty,0 ClosingVal,
/*'Rebate: '+CAST(CAST(T1.Debit AS DECIMAL(18,2)) AS VARCHAR(30))*/'' Remark,0 PurAcVal,CASE WHEN T1.U_PurPrice IS NULL OR T1.U_PurPrice='' THEN ISNULL(T1.Debit,0)/(CAST(T1.U_Vat AS DECIMAL(18,2))/100) ELSE CAST(T1.U_PurPrice AS DECIMAL(18,2))END LCToTal,0 U_AssV FROM OJDT T0,JDT1 T1
WHERE T0.U_Service IN (SELECT Code FROM [@SERVICEINFO]) AND T0.TransId=T1.TransId
AND T1.Account='102003012' AND T0.U_Service IS NOT NULL AND T0.U_Service=@ServiceCode
AND T0.RefDate BETWEEN @FromDate AND @ToDate
)T
END 

--SELECT * FROM TempPurchaseBook
--  truncate table TempPurchaseBook

--SELECT CASE WHEN ISNULL((SELECT CardName FROM OCRD WHERE CardCode=T0.U_BPCode),NULL)IS NULL THEN (SELECT BankName FROM ODSC WHERE BankCode=T0.U_BPCode)END CardName FROM OJDT T0


--SELECT CASE WHEN (SELECT CardName FROM OCRD WHERE CardCode=T0.U_BPCode) IS NULL THEN 'Hello' ELSE (SELECT CardName FROM OCRD WHERE CardCode=T0.U_BPCode) END CardName FROM OJDT T0
--WHERE T0.U_BPCode IS NULL

---[dbo].[@BGW_Musak_16_Service] '20231101','20231130','1'

GO
