USE [BGW_SAP_PROD]
GO
/****** Object:  StoredProcedure [dbo].[@BGW_SalesRegister_SQL]    Script Date: 10/8/2025 12:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mizan>
-- Create date: 	<05 May 2010>
-- =============================================
 --EXEC [@BGW_SalesRegister]'2009-09-01','125ml Round Amber Bottles'
CREATE PROCEDURE [dbo].[@BGW_SalesRegister_SQL]
	-- Add the parameters for the stored procedure here
	(@FROMDATE DATETIME,@TODATE DATETIME)
	with RECOMPILE
AS
BEGIN
DECLARE @ID INT
DECLARE @Docdate Datetime
  DECLARE @CHALLAN  INt
DECLARE @OBQty	FLOAT
DECLARE @OBVALUE	FLOAT
DECLARE @cardname	Varchar(200)
DECLARE @PRODUCTIONQTY	FLOAT
DECLARE @PRODUCTIONVALUE	FLOAT
DECLARE @DELIVEREDQUANTITY	FLOAT
DECLARE @DELIVEREDAMOUNT	FLOAT
DECLARE @VAT	FLOAT
DECLARE @ClosingBalanceQuantity	FLOAT
DECLARE @ClosingBalanceAmount 	FLOAT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--set identity_insert on;
    -- Insert statements for procedure here
	IF EXISTS (SELECT * FROM SYS.OBJECTS WHERE NAME ='TEMP_SALESREG1')
	BEGIN
		Drop table TEMP_SALESREG1
	END

--- update this on 03-07-13 change data float to numeric of all values
--	CREATE TABLE TEMP_SALESREG1 (ID INT primary key,DOCDATE DATETIME, [OB Qty] FLOAT,
--[OB VALUE] numeric(10,2),[PRODUCTION QTY] FLOAT,[PRODUCTION VALUE] numeric(10,2),CARDNAME VARCHAR(50),
--ADDRESS VARCHAR(150),[Reg. No.] VARCHAR(50),	[DELIVERY CHALLAN NO] FLOAT,
--[DELIVERY CHALLAN DATE] DATETIME, Dtime varchar(5), [DELIVERED ITEM] VARCHAR(50),
--[DELIVERED QUANTITY]  FLOAT, [DELIVERED AMOUNT]  numeric(10,2),SD VARCHAR(30),VAT  FLOAT,
--[Closing Balance Quantity] FLOAT, [Closing Balance Amount] numeric(10,2) )

/*CREATE TABLE TEMP_SALESREG1 (ID INT primary key,DOCDATE DATETIME, [OB Qty] FLOAT,
[OB VALUE] numeric(10,2),[PRODUCTION QTY] FLOAT,[PRODUCTION VALUE] numeric(10,2),CARDNAME VARCHAR(200),
ADDRESS VARCHAR(250),[Reg. No.] VARCHAR(250),	[DELIVERY CHALLAN NO] FLOAT,
[DELIVERY CHALLAN DATE] DATETIME, Dtime varchar(5), [DELIVERED ITEM] VARCHAR(200),
[DELIVERED QUANTITY]  FLOAT, [DELIVERED AMOUNT]  numeric(10,2),SD VARCHAR(150),VAT  FLOAT,
[Closing Balance Quantity] FLOAT, [Closing Balance Amount] numeric(10,2) )*/


CREATE TABLE TEMP_SALESREG1 (ID INT primary key,DOCDATE DATETIME, [OB Qty] FLOAT,
[OB VALUE] numeric(18,5),[PRODUCTION QTY] numeric(18,0),[PRODUCTION VALUE] numeric(18,5),CARDNAME VARCHAR(200),
ADDRESS VARCHAR(250),[Reg. No.] VARCHAR(200),	[DELIVERY CHALLAN NO] numeric(18,0),
[DELIVERY CHALLAN DATE] DATETIME, Dtime varchar(5), [DELIVERED ITEM] VARCHAR(200),
[DELIVERED QUANTITY]  numeric(18,0), [DELIVERED AMOUNT]  numeric(18,5),SD VARCHAR(100),VAT  FLOAT,
[Closing Balance Quantity] FLOAT, [Closing Balance Amount] numeric(18,5) )



/*

	INSERT INTO TEMP_SALESREG1 

SELECT ROW_NUMBER() OVER (ORDER BY A.DATE,a.Chalanno ), A.* FROM 
(
select
 N1.docdate as date,sum(N2.OPening) As OP,
 sum(N2.OPening) * n2.price As OPVAL ,
0 as Production, 
0 as ProductVal,
N1.[cardname],N1.Address,N1.RegNO,N1.Docnum as Chalanno,
N1.Docdate as Chalandate,N1.Dtime, N1.Itemname ,
isnull(N1.Del_Qty,0) DelQty,isnull(N1.Del_Val,0) DelVal,'' as SD, N1.VAT 
,(Sum(n2.Opening)+ sum(N2.Production)-isnull(N1.Del_Qty,0)) as Closing,
(Sum(n2.Opening)+ sum(N2.Production)-isnull(N1.Del_Qty,0)) * n2.price as ClosingVal
 
from Temp_OP_Prod1 N2,Temp_DelCustomer1 N1

where N1.docdate between @FROMDATE and @TODATE 
and N2.itemcode=N1.Itemcode
Group by N1.cardname,N1.Address,N1.RegNO,N1.Docnum,
N1.Del_Qty,N1.Del_Val,N1.VAT, N1.Itemname,
N1.Docdate,N1.Dtime,N2.price

union all

select   N2.docdate as date,(N2.OPening) As OP,
 (N2.OPening) * N2.Price As OPVAL ,
(N2.Production) as Production, 
(N2.Production)* N2.Price

 as ProductVal,
'--' CardName,'--'Address,'--' RegNo,'' Chalanno,
replace(convert(varchar,N2.docdate,120),'','--') as Chalandate,'' Dtime, N2.Itemname ,
0 Del_Qty,0 Del_Val,'' as SD, 0 VaT 
,((n2.Opening)+ (N2.Production)) as Closing,
((n2.Opening)+ (N2.Production)) * N2.Price
 as ClosingVal
 from Temp_OP_Prod1 N2 --',Temp_DelCustomer1 N1 'update 16022014

where  N2.docdate between @FROMDATE and @TODATE
--and N2.itemcode=N1.Itemcode 'update 16022014
--and  N2.Production<>0

Group by N2.docdate,N2.price,N2.Itemname,N2.OPening,N2.Production,N2.OPening,N2.Price

)A

ORDER BY A.Date,a.Chalanno

*/
---------==================================================================
INSERT INTO TEMP_SALESREG1 
SELECT ROW_NUMBER() OVER (ORDER BY A.DATE,a.Chalanno ), A.date,SUM(A.OP)OP,SUM(A.OPVAL)OPVAL,SUM(A.Production)Production,SUM(A.ProductVal)ProductVal,
A.CardName,A.Address,A.RegNo,A.Chalanno,A.Chalandate,A.Dtime,A.Itemname,SUM(A.Del_Qty)Del_Qty,SUM(A.Del_Val)Del_Val,A.SD,SUM(A.VaT)VaT,SUM(A.Closing)Closing,
SUM(A.ClosingVal)ClosingVal FROM 
(
select   N2.docdate as date,(N2.OPening) As OP,
 (N2.OPening) * N2.Price As OPVAL ,
(N2.Production) as Production, 
(N2.Production)* N2.Price

 as ProductVal,
'--' CardName,'--'Address,'--' RegNo,'' Chalanno,
replace(convert(varchar,N2.docdate,120),'','--') as Chalandate,'' Dtime, N2.Itemname ,
0 Del_Qty,0 Del_Val,'' as SD, 0 VaT 
,((n2.Opening)+ (N2.Production)) as Closing,
((n2.Opening)+ (N2.Production)) * N2.Price
 as ClosingVal
 from Temp_OP_Prod1 N2 --',Temp_DelCustomer1 N1 'update 16022014

where  N2.docdate between @FROMDATE and @TODATE
---AND N2.Opening>0
--and N2.itemcode=N1.Itemcode 'update 16022014
--and  N2.Production<>0

Group by N2.docdate,N2.price,N2.Itemname,N2.OPening,N2.Production,N2.OPening,N2.Price

UNION ALL 

select
N1.docdate as date,0 As OP,
0 OPVAL ,
0 as Production, 
0 as ProductVal,
N1.[cardname],N1.Address,N1.RegNO,N1.Docnum as Chalanno,
N1.Docdate as Chalandate,N1.Dtime, N1.Itemname ,
isnull(N1.Del_Qty,0) DelQty,isnull(N1.Del_Val,0) DelVal,'' as SD, N1.VAT 
,0 as Closing,
0 as ClosingVal
 
from Temp_DelCustomer1 N1
where N1.docdate between @FROMDATE and @TODATE 

Group by N1.cardname,N1.Address,N1.RegNO,N1.Docnum,
N1.Del_Qty,N1.Del_Val,N1.VAT, N1.Itemname,
N1.Docdate,N1.Dtime,N1.price
)A
GROUP BY  A.date,A.CardName,A.Address,A.RegNo,A.Chalanno,A.Chalandate,A.Dtime,A.Itemname,A.SD






--delete  from TEMP_SALESREG1 where [PRODUCTION QTY]=0 and [Delivered Quantity]=0 

DECLARE CUR_SALES1 CURSOR
	FOR SELECT ID,[docdate],[OB Qty],[OB VALUE],[PRODUCTION QTY],[PRODUCTION VALUE],
[cardname],[DELIVERY CHALLAN NO] ,[DELIVERED QUANTITY],[DELIVERED AMOUNT],[VAT],[Closing Balance Quantity],
[Closing Balance Amount] FROM TEMP_SALESREG1 
	
OPEN CUR_SALES1
	FETCH NEXT FROM CUR_SALES1 INTO @ID,@docdate,@OBQty,@OBVALUE,@PRODUCTIONQTY,@PRODUCTIONVALUE,
@cardname,@Challan,@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 
	WHILE @@FETCH_STATUS=0
	BEGIN
		--print @ID
		--UPDATEING CURRENT CLOSING BALANCE QTY & AMOUNT COLUMN
		UPDATE	TEMP_SALESREG1	SET [Closing Balance Quantity]=((Isnull(@OBQty,0)+Isnull(@PRODUCTIONQTY,0))-Isnull(@DELIVEREDQUANTITY,0)),
[Closing Balance Amount]=Isnull(@OBVALUE,0)+Isnull(@PRODUCTIONVALUE,0)-Isnull(@DELIVEREDAMOUNT,0) 		
WHERE ID=@ID
		--UPDATING NEXT OPENING BALANCE QTY & VALUE COLUMN
 		UPDATE	TEMP_SALESREG1	SET [OB Qty]=((@OBQty+@PRODUCTIONQTY)-@DELIVEREDQUANTITY),
[OB VALUE]=@OBVALUE+@PRODUCTIONVALUE-@DELIVEREDAMOUNT 
WHERE ID=@ID+1
FETCH NEXT FROM CUR_SALES1 INTO @ID,@docdate,@OBQty,@OBVALUE,@PRODUCTIONQTY,@PRODUCTIONVALUE,@cardname,
@Challan,@DELIVEREDQUANTITY,@DELIVEREDAMOUNT,@VAT,@ClosingBalanceQuantity,@ClosingBalanceAmount 	
	END 
	CLOSE CUR_SALES1
	DEALLOCATE CUR_SALES1
--delete  from TEMP_SALESREG1 where [PRODUCTION QTY]=0 and [Delivered Quantity]=0 
		SELECT [DOCDATE][Docdate],[OB Qty],[OB VALUE][OB Value],[PRODUCTION QTY][Production Qty],[PRODUCTION VALUE][Production Value],[CARDNAME][Customer Name],
[ADDRESS][Address],[REG. No.],[DELIVERY CHALLAN NO][Challan No] ,[DELIVERY CHALLAN DATE][Challan Date],
right(replace(right([Dtime],4),right([Dtime],2),':'+ right([Dtime],2)),5) 
[D.Time],
[DELIVERED ITEM][Delivery Item],[DELIVERED QUANTITY][Delivery Qty],[DELIVERED AMOUNT][Delivery Value],[SD],[VAT],[Closing Balance Quantity][Closing Quantity],
[Closing Balance Amount][Closing Value] FROM TEMP_SALESREG1  order by [Docdate],[DELIVERY CHALLAN NO]

END
GO
